// helpers/_mixins.scss

/// Creates the page-break properties for the given location, applying the
/// properties from both the CSS 2.1 and CSS3 specifications.
///
/// @param {String} $location - The suffix added to the page-break- and break-
/// properties to create the full property names (page-break-after, break-inside,
/// etc).
/// @param {Keyword} $value - The value for the properties.
/// @param {Keyword} $page-break-value [null] - Only pass a value here if the
/// chosen $value parameter is a keyword that is not available for the
/// page-break-inside/after/before properties. If no value is passed, it will
/// be the same as $value.
///
/// @group Utilities
/// @throw Invalid $value keyword
/// @throw Invalid $page-break-value keyword
/// @throw Invalid $location value
@mixin page-break($location, $value, $page-break-value: null) {
  $pg-brk-val: if(($page-break-value == null), $value, $page-break-value);

  @if ($value == 'page' or $value == 'avoid-page' or $value == 'all'
      or $value == 'column' or $value == 'avoid-column'
      or $value == 'region' or $value == 'avoid-region') {
    @if ($value == $pg-brk-val) {
      @error 'You have set a value for the `page-break` mixin that comes from ' +
          'the new specification for break-#{$location} and cannot be applied ' +
          'to the the page-break-#{$location} property. To avoid this, pass an' +
          ' extra parameter to the mixin for page-break-#{$location}\'s value.';
    } @else if ($pg-brk-val != 'auto' and $pg-brk-val != 'always'
        and $pg-brk-val != 'avoid' and $pg-brk-val != 'left'
        and $pg-brk-val != 'right' and $pg-brk-val != 'recto'
        and $pg-brk-val != 'verso' and $pg-brk-val != 'inherit'
        and $pg-brk-val != 'initial' and $pg-brk-val != 'unset') {
      @error 'You have entered an invalid $page-break-value for the ' +
          '`page-break` mixin. You must enter a valid keyword for the ' +
          'page-break-#{$location} property.';
    }
  } @else if ($value != 'auto' and $value != 'always' and $value != 'avoid'
      and $value != 'left' and $value != 'right' and $value != 'recto'
      and $value != 'verso' and $value != 'inherit' and $value != 'initial'
      and $value != 'unset') {
    @error 'You have entered an invalid $value for the `page-break` mixin. ' +
          'You must enter a valid keyword for the break-#{$location} property.';
  }

  @if ($location == 'after' or $location == 'aft' or $location == 'a') {
    $location: 'after';
  } @else if ($location == 'before' or $location == 'bef' or $location == 'b') {
    $location: 'before';
  } @else if ($location == 'inside' or $location == 'ins' or $location == 'i') {
    $location: 'inside';
  } @else {
    @error 'The $location parameter for the `page-break` mixin is invalid. ' +
        'You must choose either `after`, `before`, or `inside`.';
  }
  -webkit-column-break-#{$location}: $value;
  page-break-#{$location}: $pg-brk-val;
  -webkit-break-#{$location}: $value;
          break-#{$location}: $value;
}
