// helpers/_variables.scss

$g-font-primary:
  Roboto, 'Source Sans Pro', 'Helvetica Neue', HelveticaNeue, Arial,
  'Segoe UI', -apple-system, BlinkMacSystemFont, sans-serif,
  'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

$g-font-headings:
  Lato, Oxygen, 'Open Sans', 'Lucida Grande',
  'Lucida Sans Unicode', Tahoma, Verdana, sans-serif;

$g-font-sizes: (
  xxxlg: 1.875rem, // 30px
  xxlg : 1.625rem, // 26px
  xlg  : 1.5rem,   // 24px
  lg   : 1.25rem,  // 20px
  md   : 1.125rem, // 18px
  base : 1rem,     // 16px
  sm   : .875rem,  // 14px
  xsm  : .75rem,   // 12px
  xxsm : .625rem   // 10px
);

$g-color-black        : #000;
$g-color-off-black    : #414042; // Non-colored heading text and panel bg's
$g-color-text-primary : #6d6e71; // Paragraph text and panel bg's
$g-color-bg-gray      : #6d6e71;
$g-color-brand        : #a11d27; // Colored backgrounds and heading text
$g-color-brand-light  : #d51f27;
$g-color-brand-tinted : #e75a60;
$g-color-brand-shading: #f1dddf;
$g-color-off-white    : #f1f2f2;
$g-color-white        : #fff;

// Expaded color palette variables - use sparingly
$g-color-error           : #d43045;
$g-color-pink            : #f3c1c8;
$g-color-purple          : #5d3b97;
$g-color-yellow          : #f7c01c;
$g-color-yellow-tinted   : #fce6a3;
$g-color-cream           : #ecd8c0;
$g-color-confirm         : #366952;
$g-color-green-tinted    : #b0ccbf;
$g-color-lime            : #96cb69;
$g-color-lime-tinted     : #d5eac3;
$g-color-blue-tinted     : #d8eff5;
$g-color-table-footers   : #a29490;
$g-color-tan             : #d4d0c8;
$g-color-white-silver    : #c8ccd4;
$g-color-panel-shading   : #c4c6c8;
$g-color-borders         : #bcbec0;
$g-color-row-shading     : #ededf6;
$g-color-eggshell        : #fbf4ec;
$g-color-off-white-shaded: #f8f9f9;
$g-color-hover-shade     : rgba($g-color-blue-tinted, .5);
$g-color-bg-modal        : rgba(216, 79, 79, .45);

$white: $g-color-white;
$black: $g-color-black;

$l-tile-gutters: (
  'xlg': 1.6%,
  'lg': 1.4%,
  'md': 1%,
  'sm': .75%
);

// Query Screen Sizes
$l-bp-monitor-uhd     : 240em; // 3840 x 2160 Screen
$l-bp-monitor-uw      : 215em; // 3440 x 1440 Screen
$l-bp-monitor-qhd     : 160em; // 2560 x 1440 Screen
$l-bp-monitor-hd      : 120em; // 1920 x 1080 Screen (#1 monitor resolution)
$l-bp-monitor-xlg     : 105em; // 1680 x 1050 Screen
$l-bp-monitor-lg      : 100em; // 1600 x 900 Screen (#5 monitor resolution)
$l-bp-monitor-md      : 90em;  // 1440 x 900 Screen (#3 monitor resolution)
$l-bp-monitor-sm      : 85.375em; // 1366 x 768 Screen (#2 monitor resolution)
$l-bp-tablet-landscape: 64em;  // 1024 x 768 Screen
$l-bp-tablet          : 48em;  // 768 x 1024 Screen (#1 tablet resolution)

$c-accordion-transition-defaults: .23s ease-out .15s;
$c-accordion-slide-top-height: 5.5em;
$c-accordion-slide-text-margins: 1rem;
