<div class="tile bav-tile" id="bav_tile">
	<header class="tile-header">
		<h2 class="tile-header-title">Location Heatmap</h2>
	</header>
	<div class="tile-content">
		<div class="map-wrap-full">
			<iframe class="map-iframe map-iframe--full js-map" id="map_iframe_bav"
							src="https://pinpoint.alexanderbabbage.com/mappp3/heatmap.htm?centers={CenterID}"
							width="960"
							height="660"
							allowfullscreen>
			</iframe>
		</div>
		<div class="map-label">
			<small class="small-label">{LOC_Centername} Location Heatmap</small>
		</div>
	</div>
</div>
