<div class="tile def-tile" id="def_tile">
	<header class="tile-header">
		<h3 class="tile-header-title">Definitions</h3>
	</header>
	<div class="accordion-wrap">
		<ul class="accordion">
			<li class="accordion__slide accordion__slide--01">
				<div class="accordion__slide-content">
					<header class="accordion__slide-top">
						<h3 class="accordion__slide-heading">Visitor Origin</h3>
					</header>
					<div class="accordion__slide-body">
						<div class="accordion__slide-img accordion__slide-img--visorig"></div>
						<p>Map of the top 75% block groups that sent visits to the
						location specified. This metric is calculated by calculating the
						number of trips from each block group to the location, sorting the
						list in descending order, and identifying those with a cumulative
						sum of less than 75%.</p>
					</div>
					<p class="accordion__slide-instruct">See more</p>
				</div>
			</li>
			<li class="accordion__slide accordion__slide--02">
				<div class="accordion__slide-content">
					<header class="accordion__slide-top">
						<h3 class="accordion__slide-heading">Visitor Origin Overlap</h3>
					</header>
					<div class="accordion__slide-body">
						<div class="accordion__slide-img accordion__slide-img--visorigolap"></div>
						<p>The visitor origin map for each of the two locations selected
						are overlaid on top of each other. Any shared block groups are
						shown in light blue and represent areas that send visitors to both
						locations. Any geography in orange sends visits to the first
						location but not the second and any geography in dark blue sends
						visits to the second location but not the first.</p>
					</div>
					<p class="accordion__slide-instruct">See more</p>
				</div>
			</li>
			<li class="accordion__slide accordion__slide--03">
				<div class="accordion__slide-content">
					<header class="accordion__slide-top">
						<h3 class="accordion__slide-heading">Key Performance Indicators</h3>
					</header>
					<div class="accordion__slide-body">
						<div class="accordion__slide-img accordion__slide-img--kpi"></div>
						<p>Summary of key indicators for each location selected along with
						the benchmark (if selected). The index compares the first location
						selected to the respective MSA to identify areas where the
						location performs better or worse than the MSA (an index of 100
						means the location get&#8217;s it&#8217;s &#8220;fair share&#8221; compared to
						the MSA, above 100 they get more than their fair share and lower
						than 100 they get less than their fair share). Demographics are
						appended to each device from that devices home block group and
						then summarized for each location.</p>
					</div>
					<p class="accordion__slide-instruct">See more</p>
				</div>
			</li>
			<li class="accordion__slide accordion__slide--04">
				<div class="accordion__slide-content">
					<header class="accordion__slide-top">
						<h3 class="accordion__slide-heading">Actual vs. Potential Visitors</h3>
					</header>
					<div class="accordion__slide-body">
						<div class="accordion__slide-img accordion__slide-img--avpv"></div>
						<p>Potential visitor columns are a summary of the demographics of
						those who live within each respective radius or MSA from the
						location selected. Actual visitors are calculated based on the
						devices seen at the selected location. The index compares the
						visitors to the location against those who live within three miles
						to identify areas where the location performs better or worse than
						the immediate geographic area (an index of 100 means the location
						gets its &#8220;fair share&#8221; compared to the MSA, above 100
						means they get <em>more</em> than their fair share, and lower than
						100 means they get <em>less</em> than their fair share).</p>
					</div>
					<p class="accordion__slide-instruct">See more</p>
				</div>
			</li>
			<li class="accordion__slide accordion__slide--05">
				<div class="accordion__slide-content">
					<header class="accordion__slide-top">
						<h3 class="accordion__slide-heading">Top Ten ZIP Codes</h3>
					</header>
					<div class="accordion__slide-body">
						<div class="accordion__slide-img accordion__slide-img--ttzc"></div>
						<p>A count of visits to the location selected is calculated for
						every ZIP Code and sorted in descending order. The top ten ZIP
						Codes, along with some relevant demographics for those ZIP Codes,
						are shown for the location selected.</p>
					</div>
					<p class="accordion__slide-instruct">See more</p>
				</div>
			</li>
			<li class="accordion__slide accordion__slide--06">
				<div class="accordion__slide-content">
					<header class="accordion__slide-top">
						<h3 class="accordion__slide-heading">Heat Map</h3>
					</header>
					<div class="accordion__slide-body">
						<div class="accordion__slide-img accordion__slide-img--hm"></div>
						<p>A visual of the &#8220;hot&#8221; and &#8220;cold&#8221; spots
						of the locations selected based on traffic. All observations to
						the location selected from devices seen at that location are
						analyzed to create weighted clusters (e.g. areas with more people
						are weighted higher while those with fewer people, e.g. a parking
						lot, are weighted lower). This data is then visualized so that
						areas with higher weights (e.g. areas with more
						people/concentration) are shown in red and areas with lower
						weights are shown in light blue. The &#8220;Heat Radius&#8221;
						slider can be adjusted, if needed, to change the setting to show
						more or fewer &#8220;hot&#8221; spots on the property.</p>
					</div>
					<p class="accordion__slide-instruct">See more</p>
				</div>
			</li>
			<li class="accordion__slide accordion__slide--07">
				<div class="accordion__slide-content">
					<header class="accordion__slide-top">
						<h3 class="accordion__slide-heading">Visitor Penetration</h3>
					</header>
					<div class="accordion__slide-body">
						<div class="accordion__slide-img accordion__slide-img--vispen"></div>
						<p>A map of the top 75% block groups, grouped and shaded into six
						categories. The darkest green block groups are those that send the
						most visitors to the location selected while those in the lightest
						green send the fewest visitors to the location selected. Count of
						visits by block group to the location selected are sorted high to
						low and then split into six even categories.</p>
					</div>
					<p class="accordion__slide-instruct">See more</p>
				</div>
			</li>
		</ul> <!-- /.accordion -->
	</div> <!-- /.accordion-wrap -->
</div> <!-- /.tile -->
