<div class="tile kpi-tile" id="kpi_tile">
	<div class="kpi-tile-content">
		<header class="tile-header">
			<h2 class="tile-header-title">Key Performance Indicators</h2>
		</header>
		<div class="kpi-table-wrap">
			<table class="kpi-table" id="kpi_table">
				<thead class="kpi-thead">
					<tr class="kpi-row">
						<th class="kpi-header"></th>
						<th class="kpi-header" scope="col">
							<div class="limit-width">{MSA_Name}</div>
						</th>
						<th class="kpi-header" scope="col">
							<div class="limit-width">{LOC_Name}</div>
						</th>
						<th class="kpi-header kpi-index" scope="col">Index vs. MSA</th>
						<th class="kpi-header" scope="col">
							<div class="limit-width">{BMK_Name}</div>
						</th>
						<th class="kpi-header comp-col" scope="col">
							<div class="comp-val limit-width">{CMP_Name}</div>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr class="kpi-row">
						<th class="kpi-cell" scope="row">
							<div class="icon-container">
								<div class="kpi-icon-pop"></div>
							</div>
							<div class="kpi-row-header">PinPoint Population</div>
						</th>
						<td class="kpi-cell js-csv">{MSA_PopulationIndex}</td>
						<td class="kpi-cell js-csv">{LOC_PopulationIndex}</td>
						<td class="kpi-cell kpi-index"><span class="js-csv" title="PinPoint Population Index">{IDX_PopulationIndex}</span></td>
						<td class="kpi-cell js-csv">{BMK_PopulationIndex}</td>
						<td class="kpi-cell comp-col"><span class="comp-val js-csv">{CMP_PopulationIndex}</span></td>
					</tr>
					<tr class="kpi-row">
						<th class="kpi-cell" scope="row">
							<div class="icon-container">
								<div class="kpi-icon-dwell"></div>
							</div>
							<div class="kpi-row-header">Average Dwell Time</div>
						</th>
						<td class="kpi-cell not-app"><span id="col1_val1" title="Value not applicable">n/a</span></td>
						<td class="kpi-cell" id="col2_val1">{LOC_AverageDwellTime}</td>
						<td class="kpi-cell kpi-index"><span title="Value not applicable">n/a</span></td>
						<td class="kpi-cell" id="col4_val1">{BMK_AverageDwellTime}</td>
						<td class="kpi-cell comp-col">
							<div class="comp-val" id="col5_val1">{CMP_AverageDwellTime}</div>
						</td>
					</tr>
					<tr class="kpi-row">
						<th class="kpi-cell" scope="row">
							<div class="icon-container">
								<div class="kpi-icon-college"></div>
							</div>
							<div class="kpi-row-header">College Degree<br>or Higher</div>
						</th>
						<td class="kpi-cell" id="col1_val2">{MSA_CollegeDegreeOrHigher}</td>
						<td class="kpi-cell" id="col2_val2">{LOC_CollegeDegreeOrHigher}</td>
						<td class="kpi-cell kpi-index"><span title="College Degree Index">{IDX_CollegeDegreeOrHigher}</span></td>
						<td class="kpi-cell" id="col4_val2">{BMK_CollegeDegreeOrHigher}</td>
						<td class="kpi-cell comp-col">
							<div class="comp-val" id="col5_val2">{CMP_CollegeDegreeOrHigher}</div>
						</td>
					</tr>
					<tr class="kpi-row">
						<th class="kpi-cell" scope="row">
							<div class="icon-container">
								<div class="kpi-icon-income"></div>
							</div>
							<div class="kpi-row-header">Income $100k<br>or Higher</div>
						</th>
						<td class="kpi-cell" id="col1_val3">{MSA_Percent100K}</td>
						<td class="kpi-cell" id="col2_val3">{LOC_Percent100K}</td>
						<td class="kpi-cell kpi-index"><span title="Income $100k+ Index">{IDX_Percent100K}</span></td>
						<td class="kpi-cell" id="col4_val3">{BMK_Percent100K}</td>
						<td class="kpi-cell comp-col">
							<div class="comp-val" id="col5_val3">{CMP_Percent100K}</div>
						</td>
					</tr>
					<tr class="kpi-row">
						<th class="kpi-cell" scope="row">
							<div class="icon-container">
								<div class="kpi-icon-income"></div>
							</div>
							<div class="kpi-row-header">Avg Household<br>Income</div>
						</th>
						<td class="kpi-cell js-usd">{MSA_AverageHouseholdIncome}</td>
						<td class="kpi-cell js-usd">{LOC_AverageHouseholdIncome}</td>
						<td class="kpi-cell kpi-index"><span class="js-csv" title="Average Household Income Index">{IDX_AverageHouseholdIncome}</span></td>
						<td class="kpi-cell js-usd">{BMK_AverageHouseholdIncome}</td>
						<td class="kpi-cell comp-col"><span class="comp-val js-usd">{CMP_AverageHouseholdIncome}</span></td>
					</tr>
					<tr class="kpi-row age-row">
						<th class="kpi-cell age-groups" scope="row">
							<div class="icon-container">
								<div class="kpi-icon-age"></div>
							</div>
							<div class="div-cell title-col millennials">Millennials</div>
							<div class="div-cell title-col genx">Generation X</div>
							<div class="div-cell title-col babyboomers">Baby Booomers</div>
							<div class="div-cell title-col avg-age">Average Age</div>
						</th>
						<td class="kpi-cell age-groups">
							<div class="div-cell millennials" id="col1_val4">{MSA_MIllennials}</div>
							<div class="div-cell genx" id="col1_val5">{MSA_GenerationX}</div>
							<div class="div-cell babyboomers" id="col1_val6">{MSA_BabyBoomers}</div>
							<div class="div-cell avg-age">{MSA_AverageAge}</div>
						</td>
						<td class="kpi-cell age-groups">
							<div class="div-cell millennials" id="col2_val4">{LOC_MIllennials}</div>
							<div class="div-cell genx" id="col2_val5">{LOC_GenerationX}</div>
							<div class="div-cell babyboomers" id="col2_val6">{LOC_BabyBoomers}</div>
							<div class="div-cell avg-age">{LOC_AverageAge}</div>
						</td>
						<td class="kpi-cell age-groups kpi-index">
							<div class="div-cell millennials">
								<div class="h-bar-fill-outer">
									<div class="h-bar-fill-inner">
										<span title="Millennials Index">{IDX_Millennials}</span>
									</div>
								</div>
							</div>
							<div class="div-cell genx">
								<div class="h-bar-fill-outer">
									<div class="h-bar-fill-inner">
										<span title="Generation X Index">{IDX_GenerationX}</span>
									</div>
								</div>
							</div>
							<div class="div-cell babyboomers">
								<div class="h-bar-fill-outer">
									<div class="h-bar-fill-inner">
										<span title="Baby Boomer Index">{IDX_BabyBoomers}</span>
									</div>
								</div>
							</div>
							<div class="div-cell avg-age">
								<span title="Average Age Index">{IDX_AverageAge}</span>
							</div>
						</td>
						<td class="kpi-cell age-groups">
							<div class="div-cell millennials" id="col4_val4">{BMK_MIllennials}</div>
							<div class="div-cell genx" id="col4_val5">{BMK_GenerationX}</div>
							<div class="div-cell babyboomers" id="col4_val6">{BMK_BabyBoomers}</div>
							<div class="div-cell avg-age">{BMK_AverageAge}</div>
						</td>
						<td class="kpi-cell comp-col age-groups">
							<div class="comp-val">
								<div class="div-cell millennials" id="col5_val4">{CMP_MIllennials}</div>
								<div class="div-cell genx" id="col5_val5">{CMP_GenerationX}</div>
								<div class="div-cell babyboomers" id="col5_val6">{CMP_BabyBoomers}</div>
								<div class="div-cell avg-age">{CMP_AverageAge}</div>
							</div>
						</td>
					</tr>
					<tr class="kpi-row">
						<th class="kpi-cell" scope="row">
							<div class="icon-container">
								<div class="kpi-icon-diversity"></div>
							</div>
							<div class="kpi-row-header">Racial/Ethnic<br>Diversity</div>
						</th>
						<td class="kpi-cell" id="col1_val7">{MSA_Diversity}</td>
						<td class="kpi-cell" id="col2_val7">{LOC_Diversity}</td>
						<td class="kpi-cell kpi-index"><span title="Diversity Index">{IDX_Diversity}</span></td>
						<td class="kpi-cell" id="col4_val7">{BMK_Diversity}</td>
						<td class="kpi-cell comp-col">
							<div class="comp-val" id="col5_val7">{CMP_Diversity}</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
