<div class="tile vo-tile-top vo-nc-layout" id="vo_tile">
	<header class="tile-header">
		<h2 class="tile-header-title">Visitor Origin</h2>
	</header>
	<div class="tile-content">
		<div class="map-wrap no-comp-width">
			<iframe class="map-iframe js-map" id="map_iframe_vo_left" src="https://pinpoint.alexanderbabbage.com/mappp3/overviewmap.html?centers={CenterID}&layerid=2" width="627" height="660" allowfullscreen></iframe>
		</div>
		<div class="table-vo-wrap" id="no_comp_charts">
				<div class="table-vo-top-text">See where actual visitors live rather than relying on potential visitors who live in the immediate vicinity</div>
				<table class="table-vo">
					<thead class="thead-vo">
						<tr class="row-vo">
							<th class="cell-vo cell-vo-header chart-heading" colspan="2" scope="colgroup">Visitor Origin Population</th>
						</tr>
					</thead>
					<tbody class="tbody-vo">
						<tr class="row-vo">
							<td class="cell-vo bar-vo-data" id="vo_col1_val1">{LOC_PopulationIndex}</td>
							<td class="cell-vo bar-vo-data" id="vo_col2_val1">{BMK_PopulationIndex}</td>
						</tr>
						<tr class="row-vo">
							<td class="cell-vo"><hr class="cell-vo-hr"></td>
							<td class="cell-vo"><hr class="cell-vo-hr"></td>
						</tr>
						<tr class="row-vo">
							<td class="cell-vo bar-vo-title">
								<div class="chart-label">{LOC_Name}</div>
							</td>
							<td class="cell-vo bar-vo-title">
								<div class="chart-label">{BMK_Name}</div>
							</td>
						</tr>
						<tr>
							<th class="cell-vo cell-vo-header chart-heading" colspan="2" scope="colgroup">
								Visitors Within 10 Miles
							</th>
						</tr>
						<tr class="row-vo">
							<td class="cell-vo rad-vo-data" id="vo_col1_val2">{Location10}</td>
							<td class="cell-vo rad-vo-data" id="vo_col2_val2">{Benchmark10}</td>
						</tr>
						<tr class="row-vo">
							<td class="cell-vo"><hr class="cell-vo-hr"></td>
							<td class="cell-vo"><hr class="cell-vo-hr"></td>
						</tr>
						<tr class="row-vo">
							<td class="cell-vo bar-vo-title">
								<div class="chart-label">{LOC_Name}</div>
							</td>
							<td class="cell-vo bar-vo-title">
								<div class="chart-label">{BMK_Name}</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		<div class="map-label-left no-comp-width">
			<small class="small-label">{LOC_Name} Visitor Origin</small>
		</div>
	</div>
</div>
