<div class="tile vo-tile-top" id="vo_tile">
	<header class="tile-header">
		<h2 class="tile-header-title">Visitor Origin</h2>
	</header>
	<div class="tile-content">
		<div class="map-wrap map-wrap--vo-left">
			<iframe class="map-iframe map-iframe--vo-left js-map" id="map_iframe_vo_left" src="https://pinpoint.alexanderbabbage.com/mappp3/overviewmap.html?centers={CenterID}&layerid=2" width="470" height="660" allowfullscreen></iframe>
		</div>
		<div class="map-wrap-right">
			<iframe class="map-iframe map-iframe--vo-right js-map" id="map_iframe_vo_right" src="https://pinpoint.alexanderbabbage.com/mappp3/overviewmap.html?centers={CenterID2}&layerid=3" width="470" height="660" allowfullscreen></iframe>
		</div>
		<div class="map-label-left">
			<small class="small-label">{LOC_Name} Visitor Origin</small>
		</div>
		<div class="map-label-right">
			<small class="small-label">{CMP_Name} Visitor Origin</small>
		</div>
	</div>
</div>
<div class="tile vo-tile-sub">
	<div class="tile-sub-wrap">
		<header class="tile-header">
			<h2 class="tile-header-title">Visitor Origin Overlap</h2>
		</header>
		<div class="tile-content">
			<div class="map-wrap-full">
				<iframe class="map-iframe map-iframe--full js-map" id="map_iframe_vo_full" src="https://pinpoint.alexanderbabbage.com/mappp3/compoverlay.html?centerid={CenterID}&compid={CenterID2}&layerid3=3&layerid2=2&layerid4=4" width="960" height="660" allowfullscreen></iframe>
			</div>
			<div class="map-label">
				<small class="small-label">Visitor Origin Overlap between {LOC_Name} and {CMP_Name}</small>
			</div>
		</div>
	</div>
</div>
