<style>
	body{font:100%/1.2 Roboto,'Helvetica Neue',HelveticaNeue,Helvetica-Neue,Arial,Helvetica,-apple-system,BlinkMacSystemFont,sans-serif}
	.heading{font-size:2em;padding-left:25px}
	.sub-heading{font-size:1.375em;font-weight:400;font-style:italic;padding-left:25px;}
	.field{font-size:1.25em}
	.field b {color:#2A3C68}
</style>
<h1 class="heading">TruTrade Access Request | Automatic Messaging Service</h1>
<h2 class="sub-heading">A request for additional access has been submitted from TruTrade</h2>
<ul>
	<li class="field"><b>Email Address:</b> {EmailAddress}</li>
	<li class="field"><b>Location(s):</b> {Location}</li>
	<li class="field"><b>Additional Detail:</b> {AdditionalDetail}</li>
</ul>
