.title {
    color: #4fa2d9;
}

.locations {
    text-align: center;
    font-family: Roboto;
    border-collapse: collapse;
    border: 1px solid #bcbec0;
    width: 50%;
}

.locations td, .locations th {
    border-top: 1px solid #bcbec0;
    border-bottom: 1px solid #bcbec0;
    padding: 8px;
}

.locations tr:nth-child(even){
    background-color: #ededf6;;
}

.locations th {
    background-color: #2a3c68;
    color: white;
}

.headers {
    text-align: left;
}

.locations td:first-child {
    text-align: left;
}