// helpers/_placeholders.scss

%header-columns {
  font-size: 20px;
  font-weight: 400;
  height: 85px;
  padding: 10px 0;
}

%map-wrap {
  @include border-radius(10px);
  @include depth-level(2);
  background: {
    image: url(https://cdn-images-1.medium.com/max/2600/1*8HYrKM5hCxXsSS-FYV6rsQ.png);
    size: cover;
  }
  border: 1px solid $g-color-borders;
  display: inline-block;
  height: 90%;
}

%map-wrap-iframe {
  @include depth-level(2);
  border: 1px solid $g-color-borders;
  display: inline-block;
  height: 90%;
}
