// helpers/_variables.scss

@charset 'UTF-8';

$g-font-primary:
  Roboto,
  'Source Sans Pro',
  Cantarell,
  Arial,
  -apple-system,
  BlinkMacSystemFont,
  'Segoe UI',
  sans-serif;

$g-font-heading:
  Lato, Oxygen, 'Open Sans', 'Lucida Grande', Tahoma, Verdana,
  BlinkMacSystemFont, 'Segoe UI', sans-serif;

$g-color-brand       : #2a3c68;
$g-color-brand-light : #4fa2d9;
$g-color-brand-tinted: #8ed8f8;
$g-color-light-purple: #ededf6;
$g-color-light-yellow: #fce6a3;
$g-color-black       : #000;
$g-color-rich-black  : #010203;
$g-color-off-black   : #414042;
$g-color-dark-gray   : #3e3e3e;
$g-color-gray        : #6d6e71;
$g-color-border      : #aaa;
$g-color-silver      : #bcbec0;
$g-color-light-silver: #ccc;
$g-color-off-white   : #f1f2f2;
$g-color-white       : #fff;
$g-color-brown       : #a29490;
$g-color-bg-modal    : rgba($g-color-brand-light, 0.45);
$g-color-chart-trail : rgba($g-color-brand-light, 0.15);

$g-gutters: (
  'xlg': 1.6%,
  'lg' : 1.4%,
  'md' : 1%,
  'sm' : 0.75%
);

$c-footer-height: 4.25rem;
$c-iframe-height: 495pt;

$c-btn-transition-all: all 0.5s, color 0.65s, box-shadow 50ms linear;
