<section class="tile avpv-tile" id="avpv_tile">
	<header class="tile-header">
		<h2 class="tile-header-title">Actual Vs. Potential Visitors</h2>
	</header>
	<div class="avpv-table-wrap">
		<table class="avpv-table avpv-table--less-one-layout">
			<thead class="avpv-thead">
				<tr class="avpv-row">
					<th class="avpv-header avpv-header-top"></th>
					<th class="avpv-header avpv-header-top" colspan="4" scope="colgroup">Potential Visitor</th>
					<th class="avpv-header avpv-header-top" colspan="2" scope="colgroup">Actual Visitor</th>
					<th class="avpv-header avpv-header-top" scope="col">Competitor</th>
				</tr>
				<tr class="avpv-row">
					<th class="avpv-header avpv-header-sub" scope="col">Demographic</th>
					<th class="avpv-header avpv-header-sub" scope="col">1 mi</th>
					<th class="avpv-header avpv-header-sub" scope="col">3 mi</th>
					<th class="avpv-header avpv-header-sub" scope="col">5 mi</th>
					<th class="avpv-header avpv-header-sub" scope="col">{Name_MSA}</th>
					<th class="avpv-header avpv-header-sub" scope="col">PinPoint</th>
					<th class="avpv-header avpv-header-sub" scope="col">Index vs. MSA</th>
					<th class="avpv-header avpv-header-sub">
						<div class="comp-name">{Name_CMP}</div>
					</th>
				</tr>
			</thead>
			<tbody class="avpv-tbody">
				<tr class="avpv-row">
					<th class="avpv-cell" scope="row">PinPoint Population</th>
					<td class="avpv-cell">{Population_1}</td>
					<td class="avpv-cell">{Population_3}</td>
					<td class="avpv-cell">{Population_5}</td>
					<td class="avpv-cell">{Population_MSA}</td>
					<td class="avpv-cell">{Population_LOC}</td>
					<td class="avpv-cell graph-cell">
						<div class="av-bar-wrap" id="col0_val1">{Population_idx}</div>
					</td>
					<td class="avpv-cell">{Population_CMP}</td>
				</tr>
				<tr class="avpv-row">
					<th class="avpv-cell" scope="row">Age</th>
					<td class="avpv-cell cell-empty" colspan="4"></td>
					<td class="avpv-cell cell-empty" colspan="2"></td>
					<td class="avpv-cell cell-empty"></td>
				</tr>
				<tr class="avpv-row">
					<th class="avpv-cell indent" scope="row">18 - 24</th>
					<td class="avpv-cell">{AGE18_24PCT_1}%</td>
					<td class="avpv-cell">{AGE18_24PCT_3}%</td>
					<td class="avpv-cell">{AGE18_24PCT_5}%</td>
					<td class="avpv-cell">{AGE18_24PCT_MSA}%</td>
					<td class="avpv-cell">{AGE18_24PCT_LOC}%</td>
					<td class="avpv-cell graph-cell">
						<div class="av-bar-wrap" id="col0_val2">{AGE18_24PCT_idx}</div>
					</td>
					<td class="avpv-cell">{AGE18_24PCT_CMP}%</td>
				</tr>
				<tr class="avpv-row">
					<th class="avpv-cell indent" scope="row">25 - 34</th>
					<td class="avpv-cell">{AGE25_34PCT_1}%</td>
					<td class="avpv-cell">{AGE25_34PCT_3}%</td>
					<td class="avpv-cell">{AGE25_34PCT_5}%</td>
					<td class="avpv-cell">{AGE25_34PCT_MSA}%</td>
					<td class="avpv-cell">{AGE25_34PCT_LOC}%</td>
					<td class="avpv-cell graph-cell">
						<div class="av-bar-wrap" id="col0_val3">{AGE25_34PCT_idx}</div>
					</td>
					<td class="avpv-cell">{AGE25_34PCT_CMP}%</td>
				</tr>
				<tr class="avpv-row">
					<th class="avpv-cell indent" scope="row">35 - 44</th>
					<td class="avpv-cell">{AGE35_44PCT_1}%</td>
					<td class="avpv-cell">{AGE35_44PCT_3}%</td>
					<td class="avpv-cell">{AGE35_44PCT_5}%</td>
					<td class="avpv-cell">{AGE35_44PCT_MSA}%</td>
					<td class="avpv-cell">{AGE35_44PCT_LOC}%</td>
					<td class="avpv-cell graph-cell">
						<div class="av-bar-wrap" id="col0_val4">{AGE35_44PCT_idx}</div>
					</td>
					<td class="avpv-cell">{AGE35_44PCT_CMP}%</td>
				</tr>
				<tr class="avpv-row">
					<th class="avpv-cell indent" scope="row">45 - 54</th>
					<td class="avpv-cell">{AGE45_54PCT_1}%</td>
					<td class="avpv-cell">{AGE45_54PCT_3}%</td>
					<td class="avpv-cell">{AGE45_54PCT_5}%</td>
					<td class="avpv-cell">{AGE45_54PCT_MSA}%</td>
					<td class="avpv-cell">{AGE45_54PCT_LOC}%</td>
					<td class="avpv-cell graph-cell">
						<div class="av-bar-wrap" id="col0_val5">{AGE45_54PCT_idx}</div>
					</td>
					<td class="avpv-cell">{AGE45_54PCT_CMP}%</td>
				</tr>
				<tr class="avpv-row">
					<th class="avpv-cell indent" scope="row">55 - 64</th>
					<td class="avpv-cell">{AGE55_64PCT_1}%</td>
					<td class="avpv-cell">{AGE55_64PCT_3}%</td>
					<td class="avpv-cell">{AGE55_64PCT_5}%</td>
					<td class="avpv-cell">{AGE55_64PCT_MSA}%</td>
					<td class="avpv-cell">{AGE55_64PCT_LOC}%</td>
					<td class="avpv-cell graph-cell">
						<div class="av-bar-wrap" id="col0_val6">{AGE55_64PCT_idx}</div>
					</td>
					<td class="avpv-cell">{AGE55_64PCT_CMP}%</td>
				</tr>
				<tr class="avpv-row">
					<th class="avpv-cell indent" scope="row">65 and up</th>
					<td class="avpv-cell">{AGE65UPPCT_1}%</td>
					<td class="avpv-cell">{AGE65UPPCT_3}%</td>
					<td class="avpv-cell">{AGE65UPPCT_5}%</td>
					<td class="avpv-cell">{AGE65UPPCT_MSA}%</td>
					<td class="avpv-cell">{AGE65UPPCT_LOC}%</td>
					<td class="avpv-cell graph-cell">
						<div class="av-bar-wrap" id="col0_val7">{AGE65UPPCT_idx}</div>
					</td>
					<td class="avpv-cell">{AGE65UPPCT_CMP}%</td>
				</tr>
				<tr class="avpv-row">
					<th class="avpv-cell indent" scope="row">Average Age</th>
					<td class="avpv-cell">{AverageAge_1}</td>
					<td class="avpv-cell">{AverageAge_3}</td>
					<td class="avpv-cell">{AverageAge_5}</td>
					<td class="avpv-cell">{AverageAge_MSA}</td>
					<td class="avpv-cell">{AverageAge_LOC}</td>
					<td class="avpv-cell graph-cell">
						<div class="av-bar-wrap" id="col0_val8">{AverageAge_idx}</div>
					</td>
					<td class="avpv-cell">{AverageAge_CMP}</td>
				</tr>
				<tr class="avpv-row">
					<th class="avpv-cell" scope="row">Household Income</th>
					<td class="avpv-cell cell-empty" colspan="4"></td>
					<td class="avpv-cell cell-empty" colspan="2"></td>
					<td class="avpv-cell cell-empty"></td>
				</tr>
				<tr class="avpv-row">
					<th class="avpv-cell indent" scope="row">Less than $50,000</th>
					<td class="avpv-cell">{HHI25_50PCT_1}%</td>
					<td class="avpv-cell">{HHI25_50PCT_3}%</td>
					<td class="avpv-cell">{HHI25_50PCT_5}%</td>
					<td class="avpv-cell">{HHI25_50PCT_MSA}%</td>
					<td class="avpv-cell">{HHI25_50PCT_LOC}%</td>
					<td class="avpv-cell graph-cell">
						<div class="av-bar-wrap" id="col0_val9">{HHI25_50PCT_idx}</div>
					</td>
					<td class="avpv-cell">{HHI25_50PCT_CMP}%</td>
				</tr>
				<tr class="avpv-row">
					<th class="avpv-cell indent" scope="row">$50,000 - $74,999</th>
					<td class="avpv-cell">{HINC50PCT_1}%</td>
					<td class="avpv-cell">{HINC50PCT_1}%</td>
					<td class="avpv-cell">{HINC50PCT_1}%</td>
					<td class="avpv-cell">{HINC50PCT_MSA}%</td>
					<td class="avpv-cell">{HINC50PCT_LOC}%</td>
					<td class="avpv-cell graph-cell">
						<div class="av-bar-wrap" id="col0_val10">{HINC50PCT_idx}</div>
					</td>
					<td class="avpv-cell">{HINC50PCT_CMP}%</td>
				</tr>
				<tr class="avpv-row">
					<th class="avpv-cell indent" scope="row">$75,000 - $99,999</th>
					<td class="avpv-cell">{HINC75PCT_1}%</td>
					<td class="avpv-cell">{HINC75PCT_3}%</td>
					<td class="avpv-cell">{HINC75PCT_5}%</td>
					<td class="avpv-cell">{HINC75PCT_MSA}%</td>
					<td class="avpv-cell">{HINC75PCT_LOC}%</td>
					<td class="avpv-cell graph-cell">
						<div class="av-bar-wrap" id="col0_val11">{HINC75PCT_idx}</div>
					</td>
					<td class="avpv-cell">{HINC75PCT_CMP}%</td>
				</tr>
				<tr class="avpv-row">
					<th class="avpv-cell indent" scope="row">$100,000 - $149,999</th>
					<td class="avpv-cell">{HINC100PCT_1}%</td>
					<td class="avpv-cell">{HINC100PCT_3}%</td>
					<td class="avpv-cell">{HINC100PCT_5}%</td>
					<td class="avpv-cell">{HINC100PCT_MSA}%</td>
					<td class="avpv-cell">{HINC100PCT_LOC}%</td>
					<td class="avpv-cell graph-cell">
						<div class="av-bar-wrap" id="col0_val12">{HINC100PCT_idx}</div>
					</td>
					<td class="avpv-cell">{HINC100PCT_CMP}%</td>
				</tr>
				<tr class="avpv-row">
					<th class="avpv-cell indent" scope="row">$150,000 or more</th>
					<td class="avpv-cell">{HHI_150UPPCT_1}%</td>
					<td class="avpv-cell">{HHI_150UPPCT_3}%</td>
					<td class="avpv-cell">{HHI_150UPPCT_5}%</td>
					<td class="avpv-cell">{HHI_150UPPCT_MSA}%</td>
					<td class="avpv-cell">{HHI_150UPPCT_LOC}%</td>
					<td class="avpv-cell graph-cell">
						<div class="av-bar-wrap" id="col0_val13">{HHI_150UPPCT_idx}</div>
					</td>
					<td class="avpv-cell">{HHI_150UPPCT_CMP}%</td>
				</tr>
				<tr class="avpv-row">
					<th class="avpv-cell indent" scope="row">Avg Household Income</th>
					<td class="avpv-cell">${AverageIncome_1}</td>
					<td class="avpv-cell">${AverageIncome_3}</td>
					<td class="avpv-cell">${AverageIncome_5}</td>
					<td class="avpv-cell">${AverageIncome_MSA}</td>
					<td class="avpv-cell">${AverageIncome_LOC}</td>
					<td class="avpv-cell graph-cell">
						<div class="av-bar-wrap" id="col0_val14">{AverageIncome_idx}</div>
					</td>
					<td class="avpv-cell">${AverageIncome_CMP}</td>
				</tr>
				<tr class="avpv-row">
					<th class="avpv-cell" scope="row">Education</th>
					<td class="avpv-cell cell-empty" colspan="4"></td>
					<td class="avpv-cell cell-empty" colspan="2"></td>
					<td class="avpv-cell cell-empty"></td>
				</tr>
				<tr class="avpv-row">
					<th class="avpv-cell indent" scope="row">No College Degree</th>
					<td class="avpv-cell">{LESSCOLL_PCT_1}%</td>
					<td class="avpv-cell">{LESSCOLL_PCT_3}%</td>
					<td class="avpv-cell">{LESSCOLL_PCT_5}%</td>
					<td class="avpv-cell">{LESSCOLL_PCT_MSA}%</td>
					<td class="avpv-cell">{LESSCOLL_PCT_LOC}%</td>
					<td class="avpv-cell graph-cell">
						<div class="av-bar-wrap" id="col0_val15">{LESSCOLL_PCT_idx}</div>
					</td>
					<td class="avpv-cell">{LESSCOLL_PCT_CMP}%</td>
				</tr>
				<tr class="avpv-row">
					<th class="avpv-cell indent" scope="row">Some College</th>
					<td class="avpv-cell">{SMCOLL_CY_PCT_1}%</td>
					<td class="avpv-cell">{SMCOLL_CY_PCT_3}%</td>
					<td class="avpv-cell">{SMCOLL_CY_PCT_5}%</td>
					<td class="avpv-cell">{SMCOLL_CY_PCT_MSA}%</td>
					<td class="avpv-cell">{SMCOLL_CY_PCT_LOC}%</td>
					<td class="avpv-cell graph-cell">
						<div class="av-bar-wrap" id="col0_val16">{SMCOLL_CY_PCT_idx}</div>
					</td>
					<td class="avpv-cell">{SMCOLL_CY_PCT_CMP}%</td>
				</tr>
				<tr class="avpv-row">
					<th class="avpv-cell indent" scope="row">College Degree</th>
					<td class="avpv-cell">{DEGREE_PCT_1}%</td>
					<td class="avpv-cell">{DEGREE_PCT_3}%</td>
					<td class="avpv-cell">{DEGREE_PCT_5}%</td>
					<td class="avpv-cell">{DEGREE_PCT_MSA}%</td>
					<td class="avpv-cell">{DEGREE_PCT_LOC}%</td>
					<td class="avpv-cell graph-cell">
						<div class="av-bar-wrap" id="col0_val17">{DEGREE_PCT_idx}</div>
					</td>
					<td class="avpv-cell">{DEGREE_PCT_CMP}%</td>
				</tr>
				<tr class="avpv-row">
					<th class="avpv-cell indent" scope="row">Post-Graduate Degree</th>
					<td class="avpv-cell">{GRADDEG_PCT_1}%</td>
					<td class="avpv-cell">{GRADDEG_PCT_3}%</td>
					<td class="avpv-cell">{GRADDEG_PCT_5}%</td>
					<td class="avpv-cell">{GRADDEG_PCT_MSA}%</td>
					<td class="avpv-cell">{GRADDEG_PCT_LOC}%</td>
					<td class="avpv-cell graph-cell">
						<div class="av-bar-wrap" id="col0_val18">{GRADDEG_PCT_idx}</div>
					</td>
					<td class="avpv-cell">{GRADDEG_PCT_CMP}%</td>
				</tr>
				<tr class="avpv-row">
					<th class="avpv-cell" scope="row">Ethnicity</th>
					<td class="avpv-cell cell-empty" colspan="4"></td>
					<td class="avpv-cell cell-empty" colspan="2"></td>
					<td class="avpv-cell cell-empty"></td>
				</tr>
				<tr class="avpv-row">
					<th class="avpv-cell indent" scope="row">Caucasian/White</th>
					<td class="avpv-cell">{NHSPWHT_PCT_1}%</td>
					<td class="avpv-cell">{NHSPWHT_PCT_3}%</td>
					<td class="avpv-cell">{NHSPWHT_PCT_5}%</td>
					<td class="avpv-cell">{NHSPWHT_PCT_MSA}%</td>
					<td class="avpv-cell">{NHSPWHT_PCT_LOC}%</td>
					<td class="avpv-cell graph-cell">
						<div class="av-bar-wrap" id="col0_val19">{NHSPWHT_PCT_idx}</div>
					</td>
					<td class="avpv-cell">{NHSPWHT_PCT_CMP}%</td>
				</tr>
				<tr class="avpv-row">
					<th class="avpv-cell indent" scope="row">African-American/Black</th>
					<td class="avpv-cell">{NHSPBLK_PCT_1}%</td>
					<td class="avpv-cell">{NHSPBLK_PCT_3}%</td>
					<td class="avpv-cell">{NHSPBLK_PCT_5}%</td>
					<td class="avpv-cell">{NHSPBLK_PCT_MSA}%</td>
					<td class="avpv-cell">{NHSPBLK_PCT_LOC}%</td>
					<td class="avpv-cell graph-cell">
						<div class="av-bar-wrap" id="col0_val20">{NHSPBLK_PCT_idx}</div>
					</td>
					<td class="avpv-cell">{NHSPBLK_PCT_CMP}%</td>
				</tr>
				<tr class="avpv-row">
					<th class="avpv-cell indent" scope="row">Hispanic/Latino</th>
					<td class="avpv-cell">{HISPPOP_PCT_1}%</td>
					<td class="avpv-cell">{HISPPOP_PCT_3}%</td>
					<td class="avpv-cell">{HISPPOP_PCT_5}%</td>
					<td class="avpv-cell">{HISPPOP_PCT_MSA}%</td>
					<td class="avpv-cell">{HISPPOP_PCT_LOC}%</td>
					<td class="avpv-cell graph-cell">
						<div class="av-bar-wrap" id="col0_val21">{HISPPOP_PCT_idx}</div>
					</td>
					<td class="avpv-cell">{HISPPOP_PCT_CMP}%</td>
				</tr>
				<tr class="avpv-row">
					<th class="avpv-cell indent" scope="row">Asian</th>
					<td class="avpv-cell">{ASIAN_PCT_1}%</td>
					<td class="avpv-cell">{ASIAN_PCT_3}%</td>
					<td class="avpv-cell">{ASIAN_PCT_5}%</td>
					<td class="avpv-cell">{ASIAN_PCT_MSA}%</td>
					<td class="avpv-cell">{ASIAN_PCT_LOC}%</td>
					<td class="avpv-cell graph-cell">
						<div class="av-bar-wrap" id="col0_val22">{ASIAN_PCT_idx}</div>
					</td>
					<td class="avpv-cell">{ASIAN_PCT_CMP}%</td>
				</tr>
				<tr class="avpv-row">
					<th class="avpv-cell indent" scope="row">Other</th>
					<td class="avpv-cell">{OTHER_PCT_1}%</td>
					<td class="avpv-cell">{OTHER_PCT_3}%</td>
					<td class="avpv-cell">{OTHER_PCT_5}%</td>
					<td class="avpv-cell">{OTHER_PCT_MSA}%</td>
					<td class="avpv-cell">{OTHER_PCT_LOC}%</td>
					<td class="avpv-cell graph-cell">
						<div class="av-bar-wrap" id="col0_val23">{OTHER_PCT_idx}</div>
					</td>
					<td class="avpv-cell">{OTHER_PCT_CMP}%</td>
				</tr>
			</tbody>
		</table>
	</div>
</section>
