<div class="login-tile">
  <form id="UX_PP_SecureLogin" name="UX_PP_SecureLogin" method="post">
    <input id="UX_PP_SecureLogin_forminfo" name="UX_PP_SecureLogin_forminfo" type="hidden"
      value="aG56XvNpsXHZCzflza4J%2bjQYIH4QyCaPMaBK8s0x2%2b6P00JXq3FD0Mf3%2bHL7AlnJ">
    <div class="login-img-head"></div>
    <div class="inner-wrapper">
      <div class="form-group">
        <label for="Userid" class="labels">Email Address:</label>
        <input class="login-email" id="Userid" name="Userid"
          title="Please enter the email address used for your PinPoint Dashboard login"
          tabindex="0" autocomplete="username" autofocus required>
      </div>
      <div class="form-group">
        <label for="Password" class="labels">Password:</label>
        <input class="login-pw" id="Password" name="Password" type="password"
          title="Please enter your PinPoint Dashboard password" tabindex="0"
          autocomplete="current-password" required>
      </div>
      <div class="form-group">
        <input id="logged" type="checkbox" tabindex="0" checked>
        <label for="logged" class="keep-logged-txt">Keep me logged in</label>
        <span class="checkmark"></span>
      </div>
    </div>
    <p>By clicking "SIGN IN" and entering this site, you confirm that you have
      read the
      <a class="sm-link" href="cookie-policy.html" target="_blank" rel="noopener noreferrer"
        title="The PinPoint Cookie Policy">Cookie Policy</a>,
      <a class="sm-link" href="privacy-policy.html" target="_blank" rel="noopener noreferrer"
        title="The PinPoint Privacy Policy">Privacy Policy</a>, and
      <a class="sm-link" href="terms-of-use.html" target="_blank" rel="noopener noreferrer"
        title="The PinPoint Terms of Use">Terms of Use</a>, that you understand
      them, and that you agree to be bound by them.
    </p>
    <div class="form-group">
      <input class="buttonTT" id="UX_PP_SecureLogin_submitbutton" name="submitbutton"
        type="submit" value="SIGN IN" tabindex="0">
      <input id="linkaction" name="linkaction" type="hidden">
      <a class="sm-link pw-link" href="#" title="Recover a forgotten password"
        onclick="return linkSubmit(' lostpass '),!1">Forgot your password?</a>
    </div>
  </form>
  <table style="margin:35px 0 0 14px;text-align:center;width:504px">
    <tr>
      <td class="login-img-foot"></td>
      <td class="cr-text">Copyright &#169; <time datetime="2020">2020</time>,
        Alexander Babbage, Inc. All rights reserved.</td>
      <td style="width:13.4%"></td>
    </tr>
  </table>
</div>
