<section class="tile vp-tile" id="vp_tile">
	<header class="tile-header">
		<h2 class="tile-header-title">Visitor Penetration</h2>
	</header>
	<div class="tile-content">
		<div class="map-wrap-left">
			<iframe class="map-iframe map-iframe--vp js-map"
							src="https://pinpoint.alexanderbabbage.com/mappp3/overviewmap.html?centers={CenterID}&layerid=4"
							width="627" height="660" allowfullscreen>
			</iframe>
		</div>
		<div class="table-vo-wrap">
				<div class="table-vo-top-text">
					Darker green areas indicate geographies with more actual visitors to
					the location than areas in light green
				</div>
				<table class="table-vo" id="vp_table">
					<thead class="thead-vo">
						<tr class="row-vo">
							<th class="cell-vo cell-vo-header chart-heading"
									colspan="2" scope="colgroup">Visitor Penetration Population
							</th>
						</tr>
					</thead>
					<tbody class="tbody-vo">
						<tr class="row-vo">
							<td class="cell-vo bar-vp-data" id="vp_col1_val1">{LOC_PopulationIndex}</td>
							<td class="cell-vo bar-vp-data" id="vp_col2_val1">{BMK_PopulationIndex}</td>
						</tr>
						<tr class="row-vo">
							<td class="cell-vo"><hr class="cell-vo-hr"></td>
							<td class="cell-vo"><hr class="cell-vo-hr"></td>
						</tr>
						<tr class="row-vo">
							<td class="cell-vo bar-vo-title">
								<div class="chart-label">{LOC_Centername}</div>
							</td>
							<td class="cell-vo bar-vo-title">
								<div class="chart-label">{BMK_Centername}</div>
							</td>
						</tr>
						<tr>
							<th class="cell-vo cell-vo-header chart-heading" colspan="2" scope="colgroup">
								Visitors Within 10 Miles
							</th>
						</tr>
						<tr class="row-vo">
							<td class="cell-vo rad-vo-data" id="vp_col1_val2">{Location10}</td>
							<td class="cell-vo rad-vo-data" id="vp_col2_val2">{Benchmark10}</td>
						</tr>
						<tr class="row-vo">
							<td class="cell-vo"><hr class="cell-vo-hr"></td>
							<td class="cell-vo"><hr class="cell-vo-hr"></td>
						</tr>
						<tr class="row-vo">
							<td class="cell-vo bar-vo-title">
								<div class="chart-label">{LOC_Centername}</div>
							</td>
							<td class="cell-vo bar-vo-title">
								<div class="chart-label">{BMK_Centername}</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		<div class="map-label-vp">
			<small class="small-label">{LOC_Centername} Penetration Map</small>
		</div>
	</div>
</section>
