.table-vo-wrap:after, .map-label-vp:after,
.map-label-right:after, .tile-content:after, .clearfix:after {
  clear: both;
  content: "";
  display: table;
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Roboto"), local("Roboto-Regular"), url(fonts/Roboto%20Regular%20V2.woff2) format("woff2"), url(fonts/Roboto%20Regular%20V2.woff) format("woff"), url(fonts/Roboto%20Regular%20V2.ttf) format("truetype");
  unicode-range: u+000-5ff;
}
@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local("Roboto Italic"), local("Roboto-Italic"), url(fonts/Roboto%20Italic%20V2.woff2) format("woff2"), url(fonts/Roboto%20Italic%20V2.woff) format("woff"), url(fonts/Roboto%20Italic%20V2.ttf) format("truetype");
  unicode-range: u+000-5ff;
}
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Roboto Bold"), local("Roboto-Bold"), url(fonts/Roboto%20Bold%20V2.woff2) format("woff2"), url(fonts/Roboto%20Bold%20V2.woff) format("woff"), url(fonts/Roboto%20Bold%20V2.ttf) format("truetype");
  unicode-range: u+000-5ff;
}
@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Lato Regular"), local("Lato-Regular"), url(fonts/Lato%20Regular.woff2) format("woff2"), url(fonts/Lato%20Regular.woff) format("woff"), url(fonts/Lato%20Regular.ttf) format("truetype");
  unicode-range: u+000-5ff;
}
@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Lato Bold"), local("Lato-Bold"), url(fonts/Lato%20Bold.woff2) format("woff2"), url(fonts/Lato%20Bold.woff) format("woff"), url(fonts/Lato%20Bold.ttf) format("truetype");
  unicode-range: u+000-5ff;
}
@font-face {
  font-family: "A5_iOS7Icons";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(icons/A5_iOS7Icons.eot?#iefix) format("embedded-opentype"), url(icons/A5_iOS7Icons.woff) format("woff"), url(icons/A5_iOS7Icons.ttf) format("truetype");
}
html {
  font: 100%/1.2 sans-serif;
  scroll-behavior: smooth;
}
@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

body {
  color: #414042;
  font-family: Roboto, "Source Sans Pro", "Helvetica Neue", HelveticaNeue, Arial, "Segoe UI", -apple-system, BlinkMacSystemFont, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-rendering: optimizeSpeed;
}

p,
li > span,
.iOS7LocalText,
.small-label {
  color: #6d6e71;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.2;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0.35em 0.75em 0.625em;
}

iframe,
img,
svg,
video {
  vertical-align: middle;
}

main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
th {
  font-family: Lato, Oxygen, "Open Sans", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Verdana, sans-serif;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

.iOS7LocalLink, a, a:link, a:visited, a:hover, a:focus, a:active, a.iOS7LocalLink {
  color: #4fa2d9;
  cursor: pointer;
  text-decoration: none !important;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

small {
  color: #fff;
  font-size: 80%;
}

table {
  border-collapse: collapse;
  font-size: 0.875rem;
}

th {
  background: #2a3c68;
  border-left: 0;
  border-right: 0;
  color: #fff;
  font-weight: 400;
  padding: 1.5rem 2px 1.5rem 0;
}

td {
  padding: 0.25rem 2px 0.25rem 0;
}

textarea {
  background: padding-box #f1f2f2;
  border: 1px solid #bcbec0;
  border-radius: 10px;
  color: #414042;
  overflow-y: auto;
  padding: 0.5rem 0.75rem !important;
  resize: none;
  vertical-align: top;
}
textarea:focus {
  border-color: #4fa2d9;
}

img {
  border-style: none;
}

b,
strong {
  font-weight: bolder;
}

svg:not(:root) {
  overflow: hidden;
}

svg:not([fill]) {
  fill: currentColor;
}

ul {
  color: #4fa2d9;
  list-style: disc inside;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=search] {
  -webkit-appearance: textfield;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

select {
  outline: 0;
  overflow: hidden;
  text-indent: 0.01px;
  text-overflow: "";
}
select option {
  background: #f1f2f2;
  padding: 0 0.75rem 1px;
}
select::-ms-expand {
  display: none;
}
select[multiple] {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
  color: inherit;
}
select:not([multiple]) > option {
  font-size: 0.875em;
}

input::-webkit-input-placeholder {
  font-style: italic;
}

input:-ms-input-placeholder {
  font-style: italic;
}

input::-ms-input-placeholder {
  font-style: italic;
}

input::placeholder {
  font-style: italic;
}

textarea::-webkit-input-placeholder {
  font-style: italic;
}

textarea:-ms-input-placeholder {
  font-style: italic;
}

textarea::-ms-input-placeholder {
  font-style: italic;
}

textarea::placeholder {
  font-style: italic;
}

a:focus,
button:focus,
input:not([type=checkbox]):focus,
select:focus,
textarea:focus {
  outline-color: transparent;
  outline-style: none;
}

.table-vo-wrap:after, .map-label-vp:after,
.map-label-right:after, .tile-content:after, .clearfix:after {
  clear: both;
  content: "";
  display: table;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.margin-centered {
  margin-left: auto !important;
  margin-right: auto !important;
}

.margin-top-20 {
  margin-top: 20px !important;
}

.reset {
  font: inherit;
  margin: 0;
  padding: 0;
}

[hidden],
.is-hidden {
  display: none !important;
}

.th2,
.td2 {
  color: transparent !important;
}

.welcome-txt-wrapper {
  display: inline-block;
  margin-top: 1.5625rem;
}

.iOS7LocalPage {
  background: #f1f2f2;
  color: #6d6e71;
}

.iOS7LocalHeading {
  font: 700 1rem/1.2 Lato, Oxygen, "Open Sans", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Verdana, sans-serif;
}

.iOS7LocalGroup {
  border: 1px solid #141d32;
  border-radius: 0;
  font-size: 0.875rem;
  margin-bottom: 2px;
  margin-top: 2px;
  padding: 0.5rem;
}

.iOS7LocalGroupLabel {
  background: #2a3c68;
  border: 1px solid #141d32;
  color: #fff;
  font-size: 0.875rem;
  margin-left: -0.5625rem;
  margin-right: -0.5625rem;
  padding: 0.5rem;
  width: 100%;
}

.iOS7LocalUILock {
  background: #000;
  opacity: 0.5;
}

.iOS7LocalGrid {
  border: 2px solid #bcbec0;
  box-shadow: 4px 3px 10px #6d6e71;
  margin-bottom: 1rem;
  max-width: 100% !important;
}

span .iOS7LocalGridNav {
  font-size: 0.875rem;
  padding: 0;
}

.iOS7LocalGridHeader {
  height: 3.5rem !important;
  max-height: 3.5rem !important;
  min-height: 3.5rem !important;
  background: #2a3c68;
  color: #fff;
  font-size: 0.875rem;
  padding: 0 0.875rem;
  text-align: right;
}
.iOS7LocalGridHeader span,
.iOS7LocalGridHeader .iOS7LocalLink {
  color: #fff;
  display: inline-block;
  font-size: 1em;
  padding: 0;
}
.iOS7LocalGridHeader table {
  border: 0 !important;
  margin: 0;
  padding: 0;
}
.iOS7LocalGridHeader table td {
  border: 0 !important;
  padding: 2px;
  text-align: right;
}

.iOS7LocalGridFooter {
  background: #fff;
  border: 0 !important;
  color: #6d6e71;
  padding: 0 0.875rem;
  text-align: right;
}

.iOS7LocalGridFooter .iOS7LocalLink,
.iOS7LocalGridFooter span {
  font-size: 0.875rem;
}

.iOS7LocalGridSummaryData,
.iOS7LocalGridSummaryLabel {
  background: #fff;
  cursor: default;
  padding-bottom: 1rem;
}

.iOS7LocalGridSummaryLabel {
  color: #6d6e71;
  font-weight: 700;
  text-align: left !important;
}

.iOS7LocalGridQBE {
  background: #2a3c68;
  border-bottom: 1px solid #141d32;
  cursor: default;
  font-size: 1rem;
  padding: 0.875rem;
}

.iOS7LocalGridDataHeader {
  background: #2a3c68;
  color: #fff;
  font-weight: 700;
  padding: 0.5rem 0.875rem;
}

.iOS7LocalGridDataError {
  color: #d43045;
  font: 700 1.125em Lato, Oxygen, "Open Sans", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Verdana, sans-serif;
  user-select: none;
}

.iOS7LocalGridData,
.iOS7LocalGridRowHeader {
  background: #fff;
  cursor: default;
  padding: 0.875rem;
}

.iOS7LocalGridDataAlt {
  background: #ededf6;
  cursor: default;
  padding: 0.875rem;
}

.iOS7LocalGridRowSelected .iOS7LocalGridData,
.iOS7LocalGridRowSelected .iOS7LocalGridDataAlt {
  background: #223053;
  color: #f1f2f2;
}

.iOS7LocalGridFormData,
.iOS7LocalGridFormLabel {
  border-top: 1px solid #141d32;
  padding: 0.375rem;
}

.iOS7LocalGridFormLabel {
  font-size: 0.875rem;
  font-weight: 700;
}

tr:nth-child(1) > .iOS7LocalGridFormData,
tr:nth-child(1) > .iOS7LocalGridFormDataError,
tr:nth-child(1) > .iOS7LocalGridFormLabel {
  border-top: 0;
}

.iOS7LocalGridForm .iOS7LocalEdit,
.iOS7LocalGridForm .iOS7LocalEditBG {
  background: transparent;
  border: 0;
  margin: 0;
}

.iOS7LocalDialogLabel {
  color: #6d6e71;
  font-size: 0.875rem;
  font-weight: 700;
  padding: 0.375rem;
}

.iOS7LocalDialogRSSeparator {
  border-top: 1px solid #0d121f;
  line-height: 0.375rem;
  margin-top: 0.375rem;
}

.buttonTT2, .buttonTT {
  box-shadow: 1px 5px 5px #6d6e71;
  box-sizing: border-box;
  cursor: pointer;
  letter-spacing: 0.08em;
  margin: 0.5rem;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
  transform: translateZ(0);
  transition: all 0.9s, color 1.2s, box-shadow 50ms linear;
  vertical-align: middle;
}

.buttonTT {
  background: #fff;
  border: 2px solid #2a3c68;
  border-radius: 14px;
  color: #2a3c68;
  font: 700 1rem/1.2 Lato, Oxygen, "Open Sans", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Verdana, sans-serif;
  padding: 0.5rem 0.875rem;
  text-transform: uppercase;
}
.buttonTT:focus, .buttonTTHover {
  background: #4fa2d9;
  border-color: #4fa2d9;
  color: #fff;
  text-shadow: none;
}
.buttonTTPressed {
  background: #2473a8;
  border-color: #2473a8;
  box-shadow: inset 0 0 5px #a3ceeb, 1px 1px 3px 1px #6d6e71;
  color: #fff;
  top: 2px;
}
.buttonTTDisabled {
  background: rgba(160, 161, 163, 0.5);
  border-color: #db5263;
  color: #2a3c68;
  opacity: 0.6;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.2), 0 1px 0 rgba(255, 255, 255, 0.2);
}

.buttonTT2 {
  background: #def3fd;
  border: 2px solid #4fa2d9;
  border-radius: 20px;
  color: #4fa2d9;
  font: 700 0.8125rem/1.2 Lato, Oxygen, "Open Sans", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Verdana, sans-serif;
  padding: 0.5rem 1rem;
}

.buttonTT2:focus,
.buttonTTHover2 {
  background: #4fa2d9;
  color: #fff;
}

.buttonTTPressed2 {
  background: #2c8bc9;
  border-color: #2c8bc9;
  box-shadow: inset 0 0 5px #a3ceeb, 1px 1px 3px 1px #6d6e71;
  color: #fff;
  top: 2px;
}

.buttonTTDisabled2 {
  background: #b1bec5;
  border-color: #64adde;
  color: #354670;
  opacity: 0.7;
}

.iOS7LocalButton {
  background: #fff;
  border: 2px solid #2a3c68;
  border-radius: 14px;
  color: #2a3c68;
  cursor: pointer;
  font: 700 1rem/1.2 Lato, Oxygen, "Open Sans", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Verdana, sans-serif;
  margin: 2px;
  padding: 0.5rem 0.875rem;
  text-transform: uppercase;
  transition: background-color 0.4s ease-out, border-color 0.4s ease-out, color 0.4s ease-out;
  vertical-align: middle;
}

.iOS7LocalPanelHeader .A5ControlBarHorz .A5ControlBarItem > .iOS7LocalButton {
  border-color: #4fa2d9;
  border-radius: 12px;
  color: #fff;
  font-size: 1.125rem;
  margin-top: 1.25rem;
}
.iOS7LocalPanelHeader .A5ControlBarHorz .A5ControlBarItem > .iOS7LocalButton:hover, .iOS7LocalPanelHeader .A5ControlBarHorz .A5ControlBarItem > .iOS7LocalButton:focus {
  border-color: #fce6a3 !important;
  color: #8ed8f8 !important;
}
.iOS7LocalPanelHeader .A5ControlBarHorz .A5ControlBarItem > .iOS7LocalButton.active-nav {
  border-color: #fce6a3 !important;
  color: #8ad2f1 !important;
}
.iOS7LocalPanelHeader .A5ControlBarHorz .A5ControlBarItem > .iOS7LocalButton.active-nav:hover, .iOS7LocalPanelHeader .A5ControlBarHorz .A5ControlBarItem > .iOS7LocalButton.active-nav:focus {
  color: #4fa2d9 !important;
  cursor: default;
}

.nav-btn-hover {
  color: #fff !important;
}

.nav-btn-inner-hover {
  border-color: #f7c01c !important;
  box-shadow: inset 1px 1px 3px rgba(113, 112, 113, 0.4);
  color: #8ed8f8 !important;
}

.nav-btn-inner-active {
  border-color: #d2a318 !important;
  box-shadow: inset 2px 2px 5px rgba(113, 112, 113, 0.5);
  color: #4fa2d9 !important;
}

.iOS7LocalButtonCopy {
  background: padding-box #fff;
  border: 1px solid #6d6e71;
  border-radius: 8px;
  color: #bcbec0;
  font: 1rem/1.2 Lato, Oxygen, "Open Sans", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Verdana, sans-serif;
  text-transform: uppercase;
}

.iOS7LocalButtonPressed {
  border: 1px solid rgba(79, 162, 217, 0.2);
  color: rgba(79, 162, 217, 0.2);
}

.iOS7LocalButtonLeft,
.iOS7LocalButtonRight {
  background: transparent;
  border: 0;
  color: #4fa2d9;
  font-size: 1rem;
  margin: 2px;
  padding: 0.375rem 0.625rem;
  position: relative;
  vertical-align: middle;
}

.iOS7LocalButtonLeft {
  padding-left: 2rem;
}

.iOS7LocalButtonRight {
  padding-right: 2rem;
}

.iOS7LocalButtonLeftPressed,
.iOS7LocalButtonRightPressed {
  color: rgba(79, 162, 217, 0.2);
}

.iOS7LocalMenuItemCascade:after, .iOS7LocalButtonRight:after, .iOS7LocalButtonLeft:after {
  display: block;
  font-family: "A5_iOS7Icons", "Segoe MDL2 Assets", "Segoe UI Symbol";
  font-size: 1.5rem;
  margin-top: -0.875rem;
  position: absolute;
  top: 50%;
}

.iOS7LocalButtonLeft:after {
  content: "a";
  left: 0.25rem;
}

.iOS7LocalButtonRight:after {
  content: "b";
  right: 0.25rem;
}

.iOS7LocalButtonDisabled {
  border-color: rgba(109, 110, 113, 0.25);
  color: rgba(109, 110, 113, 0.25);
}

.iOS7LocalEdit {
  background: padding-box #f1f2f2;
  border: 1px solid #bcbec0;
  border-radius: 10px;
  color: #6d6e71;
  font-size: 1.125rem;
  padding: 0 0.75rem;
}

input.iOS7LocalEditError,
select.iOS7LocalEditError,
textarea.iOS7LocalEditError {
  border-color: #d43045;
  color: #d43045;
}

input.iOS7LocalEditWatermark,
select.iOS7LocalEditWatermark,
textarea.iOS7LocalEditWatermark {
  color: #a7a8aa;
  font-style: italic;
}

input.iOS7LocalEditWatermark.iOS7LocalEditError,
select.iOS7LocalEditWatermark.iOS7LocalEditError,
textarea.iOS7LocalEditWatermark.iOS7LocalEditError {
  color: #da4f61;
}

.iOS7LocalEditRound {
  background-clip: padding-box;
  border-radius: 24px;
  padding: 0.375rem 0.8125rem;
}

.iOS7LocalList {
  background-clip: padding-box;
  border-radius: 3px;
  border: 1px solid #0d121f;
}
.iOS7LocalListItem {
  background: #2a3c68;
  border-bottom: 1px solid #0d121f;
  color: #fff;
  cursor: default;
  font-size: 1rem;
  padding: 0.875rem;
}
.iOS7LocalListItem:hover, .iOS7LocalListItem:focus {
  background: #4fa2d9;
  cursor: pointer;
}
.iOS7LocalListItemSelected, .iOS7LocalListItem:active {
  background: #0d121f;
  box-shadow: inset 0 0 5px #405b9e;
}

.iOS7LocalListHeader, .iOS7LocalListTitle {
  background: #2a3c68;
  border-bottom: 1px solid #141d32;
  font-size: 0.75rem;
  font-weight: 700;
}

.iOS7LocalListTitle {
  color: #6d6e71;
  padding: 0.5rem 0.875rem;
}

.iOS7LocalListSeparator {
  background: #2a3c68;
  border-bottom: 1px solid #141d32;
  height: 0.5rem;
}

.iOS7LocalListHeader {
  color: #a0a1a3;
  padding: 0 0.875rem;
  position: relative;
}

.iOS7LocalListHeader:not([style*="display:none"]) ~ div:before, .iOS7LocalListHeader:not([style*="display:none"]) ~ div:after {
  content: "";
  display: block;
  left: 0;
  width: 100%;
  z-index: 4;
}

.iOS7LocalListHeader:not([style*="display:none"]) ~ div:after {
  background: rgba(0, 0, 0, 0.05);
  height: 1px;
  position: absolute;
  top: 0;
}

.iOS7LocalListHeader:not([style*="display:none"]) ~ div:before {
  background: rgba(0, 0, 0, 0.025);
  height: 2px;
  position: absolute;
  top: 1px;
}

.iOS7LocalListHeaderItem {
  color: #fff;
  cursor: default;
  display: inline-block;
  font-size: 0.75rem;
  font-weight: 700;
  padding: 0.875rem;
  text-decoration: none;
}

.iOS7LocalListHeaderItemResizeOverlay {
  background: rgba(109, 110, 113, 0.3);
}

.iOS7LocalListGroupNav {
  background: padding-box rgba(109, 110, 113, 0.3);
  border-radius: 4px;
  color: #414042;
  cursor: default;
  opacity: 0.5;
  padding: 0.25rem;
}

.iOS7LocalListGroupNavFocus {
  opacity: 1;
}

.iOS7LocalListItemLabelMain {
  font-weight: 700;
}

.iOS7LocalListItemLabelSub {
  font-size: 0.875rem;
}

.iOS7LocalListItemLabelContext {
  color: #4fa2d9;
  font-size: 0.875rem;
}

.iOS7LocalListItemLabelDetail {
  background: padding-box #ededf6;
  border-radius: 4px;
  color: #2a3c68;
  font-size: 0.875rem;
  padding: 0.125rem 0.625rem;
}

.iOS7LocalListItemContent {
  color: #babbbc;
  font-size: 0.875rem;
}

.iOS7LocalListNavPrev {
  background: rgba(42, 60, 104, 0.9);
  border-bottom: 1px solid #141d32;
  cursor: default;
  font-weight: 700;
  padding: 0.875rem;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 4;
}

.iOS7LocalListNavPrev:after {
  background: rgba(0, 0, 0, 0.05);
  bottom: -0.1875rem;
  content: "";
  display: block;
  height: 0.1875rem;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 4;
}

.iOS7LocalListNavNext {
  background: rgba(42, 60, 104, 0.9);
  border-top: 1px solid #141d32;
  bottom: 0;
  cursor: default;
  font-weight: 700;
  padding: 0.875rem;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 4;
}

.iOS7LocalListNavNext:after {
  background: rgba(0, 0, 0, 0.05);
  content: "";
  display: block;
  height: 0.1875rem;
  left: 0;
  position: absolute;
  top: -0.1875rem;
  width: 100%;
  z-index: 4;
}

.iOS7LocalListNavPressed {
  color: #4fa2d9;
}

.iOS7LocalControlGroupRow {
  border-top: 1px solid #141d32;
  padding: 0.375rem;
}

.iOS7LocalControlGroupRowFirst {
  border-top: 0;
}

.iOS7LocalControlGroup .iOS7LocalDialogLabel {
  padding: 1rem;
}

.iOS7LocalControlGroup .iOS7LocalEdit,
.iOS7LocalControlGroup .iOS7LocalEditBG {
  background: transparent;
  border: 0;
  margin: 0;
}

.iOS7LocalWin {
  background: padding-box rgba(241, 242, 242, 0.9);
  border: 2px solid #2a3c68;
  border-radius: 6px;
  font: 1rem/1.2 Roboto, "Source Sans Pro", "Helvetica Neue", HelveticaNeue, Arial, "Segoe UI", -apple-system, BlinkMacSystemFont, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.iOS7LocalWinInner {
  background-clip: padding-box;
  border-radius: 6px;
  overflow: hidden;
}

.iOS7LocalWinBBar,
.iOS7LocalWinBody,
.iOS7LocalWinFooter,
.iOS7LocalWinHeader,
.iOS7LocalWinTBar,
.iOS7LocalWinTitle,
.iOS7LocalDDWinBBar,
.iOS7LocalDDWinBody,
.iOS7LocalDDWinFooter,
.iOS7LocalDDWinHeader,
.iOS7LocalDDWinTBar,
.iOS7LocalDDWinTitle {
  padding: 0.375rem;
}

.iOS7LocalWinButtons {
  border-top: 1px solid #05080d;
  font-size: 0;
  text-align: center;
}

.iOS7LocalWinResizer {
  color: #000;
}

.iOS7LocalWinButtons .iOS7LocalButton {
  border: 0;
  border-radius: 0;
  border-right: 1px solid #05080d;
  margin: 0;
  padding: 0.625rem;
}

.iOS7LocalWinButtons .iOS7LocalButton:first-child {
  border-left: 1px solid #05080d;
}

.iOS7LocalWinButtons .iOS7LocalButtonPressed {
  background: #3e3d3f;
  color: #4fa2d9;
}

.iOS7LocalWinPointerUp {
  border-color: transparent transparent rgba(42, 60, 104, 0.85);
  border-style: solid;
  border-width: 0 10px 10px;
  height: 0;
  left: 50%;
  margin-left: -0.625rem;
  top: -0.625rem;
  width: 0;
}

.iOS7LocalDDWin {
  background: padding-box #2a3c68;
  border: 1px solid #141d32;
  border-radius: 6px;
}

.iOS7LocalDDWinInner {
  background-clip: padding-box;
  border-radius: 6px;
  overflow: hidden;
}

.iOS7LocalDDWinButtons {
  border-top: 1px solid #141d32;
  text-align: center;
}

.iOS7LocalDDWinResizer {
  color: #05080d;
}

.iOS7LocalDDWinButtons .iOS7LocalButton {
  border: 0;
  border-radius: 0;
  border-right: 1px solid #141d32;
  margin: 0;
  padding: 0.625rem;
}

.iOS7LocalDDWinButtons .iOS7LocalButton:first-child {
  border-left: 1px solid #141d32;
}

.iOS7LocalDDWinButtons .iOS7LocalButtonPressed {
  color: rgba(79, 162, 217, 0.5);
}

.iOS7LocalDDWinPointerRight,
.iOS7LocalMenuPointerRight, .iOS7LocalDDWinPointerLeft,
.iOS7LocalMenuPointerLeft, .iOS7LocalDDWinPointerUp,
.iOS7LocalMenuPointerUp, .iOS7LocalDDWinPointerDown,
.iOS7LocalMenuPointerDown {
  height: 0;
  width: 0;
  border-style: solid;
}

.iOS7LocalDDWinPointerRight:after,
.iOS7LocalMenuPointerRight:after, .iOS7LocalDDWinPointerLeft:after,
.iOS7LocalMenuPointerLeft:after, .iOS7LocalDDWinPointerUp:after,
.iOS7LocalMenuPointerUp:after, .iOS7LocalDDWinPointerDown:after,
.iOS7LocalMenuPointerDown:after {
  height: 0;
  width: 0;
  border-style: solid;
  content: "";
  display: block;
  position: absolute;
}

.iOS7LocalDDWinPointerDown,
.iOS7LocalMenuPointerDown {
  border-color: #141d32 transparent;
  border-width: 10px 10px 0;
  bottom: -0.625rem;
  left: 50%;
  margin-left: -0.625rem;
}
.iOS7LocalDDWinPointerDown:after,
.iOS7LocalMenuPointerDown:after {
  border-color: #2a3c68 transparent;
  border-width: 10px 10px 0;
  bottom: 1px;
  left: 50%;
  margin-left: -0.625rem;
}

.iOS7LocalDDWinPointerUp,
.iOS7LocalMenuPointerUp {
  border-color: #141d32 transparent;
  border-width: 0 10px 10px;
  left: 50%;
  margin-left: -0.625rem;
  top: -0.625rem;
}
.iOS7LocalDDWinPointerUp:after,
.iOS7LocalMenuPointerUp:after {
  border-color: #2a3c68 transparent;
  border-width: 0 10px 10px;
  left: 50%;
  margin-left: -0.625rem;
  top: 1px;
}

.iOS7LocalDDWinPointerLeft,
.iOS7LocalMenuPointerLeft {
  border-color: transparent #141d32;
  border-width: 10px 10px 10px 0;
  left: -0.625rem;
  margin-top: -0.625rem;
  top: 50%;
}
.iOS7LocalDDWinPointerLeft:after,
.iOS7LocalMenuPointerLeft:after {
  border-color: transparent #2a3c68;
  border-width: 10px 10px 10px 0;
  left: 1px;
  margin-top: -0.625rem;
  top: 50%;
}

.iOS7LocalDDWinPointerRight,
.iOS7LocalMenuPointerRight {
  border-color: transparent #141d32;
  border-width: 10px 0 10px 10px;
  margin-top: -0.625rem;
  right: -0.625rem;
  top: 50%;
}
.iOS7LocalDDWinPointerRight:after,
.iOS7LocalMenuPointerRight:after {
  border-color: transparent #2a3c68;
  border-width: 10px 0 10px 10px;
  margin-top: -0.625rem;
  right: 1px;
  top: 50%;
}

.iOS7LocalMenu {
  background: padding-box #2a3c68;
  border: 1px solid #bcbec0;
  border-radius: 6px;
  font-size: 1rem;
}

.iOS7LocalMenuInner {
  border-radius: 6px;
  overflow: hidden;
  padding: 0.5em;
}

.iOS7LocalMenuItem {
  border-bottom: 1px solid #bcbec0;
  color: #4fa2d9;
  cursor: default;
  font-size: 1rem;
  padding: 0 0.5em 0 0;
  white-space: nowrap;
}

.iOS7LocalMenuItem > span {
  padding: 0.875em;
}

.iOS7LocalMenuItemSelected {
  background: #4fa2d9;
  color: rgba(42, 60, 104, 0.5);
}

.iOS7LocalMenuItemDisabled {
  color: rgba(200, 204, 212, 0.6);
}

.iOS7LocalMenuItemCascade {
  padding-right: 1.875rem;
  position: relative;
}
.iOS7LocalMenuItemCascade:after {
  content: "b";
  right: 0;
}

.iOS7LocalMenuTitle {
  border-bottom: 1px solid #141d32;
  color: #d4d5d5;
  font: 700 0.75rem/1.2 Lato, Oxygen, "Open Sans", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Verdana, sans-serif;
  padding: 0.5rem 0.875rem;
}

.iOS7LocalMenuSeparator {
  height: 2px;
}

.iOS7LocalCtrlBarSepH {
  border-left: 1px solid #141d32;
  width: 0;
}

.iOS7LocalCtrlBarSepV {
  border-top: 1px solid #141d32;
  height: 0;
}

.iOS7LocalCtrlBarDis {
  background: rgba(42, 60, 104, 0.9);
  margin: -1px;
  padding: 8px;
}

.iOS7LocalPanelCard {
  background: #fff;
  border-right: 1px solid #000;
  color: #6d6e71;
}

.iOS7LocalPanelHeader {
  background: #414042;
  border-bottom: 1px solid #000;
  font-size: 1.125rem;
  font-weight: 400;
}
.iOS7LocalPanelHeader:last-of-type {
  border-bottom: 1px solid #2a3c68;
}

.iOS7LocalPanelBody .iOS7LocalPanelHeader {
  border-color: #2a3c68;
}

.iOS7LocalPanelFooter {
  background: #000;
  border-top: 2px solid #414042;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0.5rem;
}

.iOS7LocalPanelFooter .iOS7LocalHeading,
.iOS7LocalPanelHeader .iOS7LocalHeading {
  font: 1.125rem/1.2 Lato, Oxygen, "Open Sans", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Verdana, sans-serif;
  padding: 0.125rem;
}

.iOS7LocalPanelFooter .iOS7LocalText,
.iOS7LocalPanelHeader .iOS7LocalText {
  font-size: 1rem;
  font-weight: 700;
  padding: 0.375rem;
}

.iOS7LocalPanelNavInd {
  font-size: 0;
  padding: 0.125rem;
}

.iOS7LocalPanelNavIndButton {
  height: 0.625rem;
  width: 0.625rem;
  background: padding-box #000;
  border-radius: 5px;
  display: inline-block;
  margin: 2px;
}

.iOS7LocalPanelNavIndButtonSelected {
  background: #4fa2d9;
}

.iOS7LocalCtrlBarDis .iOS7LocalButton,
.iOS7LocalCtrlBarDis .iOS7LocalButtonLeft,
.iOS7LocalCtrlBarDis .iOS7LocalButtonRight,
.iOS7LocalPanelFooter .iOS7LocalButton,
.iOS7LocalPanelFooter .iOS7LocalButtonLeft,
.iOS7LocalPanelFooter .iOS7LocalButtonRight,
.iOS7LocalPanelHeader .iOS7LocalButton,
.iOS7LocalPanelHeader .iOS7LocalButtonLeft,
.iOS7LocalPanelHeader .iOS7LocalButtonRight {
  background: transparent;
  border: 0;
  font-size: 0.75rem;
  margin: 0;
}

.iOS7LocalPanelCard > .iOS7LocalPanelBody {
  position: relative;
}

#OVERVIEW_BUILD\.R1\.PANEL\.0\.PANEL\.0\.BODY {
  overflow-x: hidden !important;
}

#CHARTS_BUILD\.R1\.PANEL\.0\.PANEL\.0\.BODY {
  overflow: hidden !important;
  position: fixed;
}

.iOS7LocalPanelCard > .iOS7LocalPanelBody:before, .iOS7LocalPanelCard > .iOS7LocalPanelBody:after {
  content: "";
  display: block;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 4;
}

.iOS7LocalPanelCard > .iOS7LocalPanelBody:after {
  background: rgba(0, 0, 0, 0.05);
  height: 1px;
  top: 0;
}

.iOS7LocalPanelCard > .iOS7LocalPanelBody:before {
  background: rgba(0, 0, 0, 0.025);
  height: 2px;
  top: 1px;
}

.iOS7LocalAppBar {
  padding: 0;
  text-align: center;
}
.iOS7LocalAppBar .iOS7LocalButton {
  border: 0;
  border-radius: 0;
  color: rgba(109, 110, 113, 0.5);
  padding: 0.875rem;
}
.iOS7LocalAppBar .iOS7LocalButtonPressed {
  color: #4fa2d9;
}

.chartButtonList {
  border: 2px solid #bcbec0;
  color: #bcbec0;
}

.iOS7LocalIcon,
.iOS7LocalIconBtn,
.iOS7LocalIconSm {
  height: 24px;
  width: 24px;
  cursor: default;
  display: inline-block;
  font-family: "A5_iOS7Icons", "Segoe MDL2 Assets", "Segoe UI Symbol";
  font-size: 22px;
  font-style: normal;
  position: relative;
  text-transform: none;
}

.iOS7LocalIconSm {
  height: 18px;
  width: 18px;
  color: #fff;
  font-size: 16px;
}

.iOS7LocalIconBtn {
  padding: 0.625rem;
}

.iOS7LocalIconDisabled {
  opacity: 0.5;
}

.iOS7LocalIconLeft:after {
  content: "a";
  display: block;
  position: absolute;
}

.iOS7LocalIconRight:after {
  content: "b";
  display: block;
  position: absolute;
}

.iOS7Local:after {
  content: "d";
  display: block;
  position: absolute;
}

.iOS7LocalIconDown:after {
  content: "c";
  display: block;
  position: absolute;
}

.iOS7LocalIconClose:after {
  content: "e";
  display: block;
  position: absolute;
}

.iOS7LocalIconResizeThumb:after {
  content: "f";
  display: block;
  position: absolute;
}

.iOS7LocalIconRadio:after {
  content: "g";
  display: block;
  position: absolute;
}

.iOS7LocalIconCheck:after {
  content: "h";
  display: block;
  position: absolute;
}

.iOS7LocalIconAdd:after {
  content: "i";
  display: block;
  position: absolute;
}

.iOS7LocalIconRemove:after {
  content: "j";
  display: block;
  position: absolute;
}

.iOS7LocalIconUndo:after {
  content: "k";
  display: block;
  position: absolute;
}

.iOS7LocalIconRedo:after {
  content: "l";
  display: block;
  position: absolute;
}

.iOS7LocalIconEdit:after {
  content: "m";
  display: block;
  position: absolute;
}

.iOS7LocalIconCancel:after {
  content: "n";
  display: block;
  position: absolute;
}

.iOS7LocalIconDelete:after {
  content: "o";
  display: block;
  position: absolute;
}

.iOS7LocalIconCancelEdit:after {
  content: "p";
  display: block;
  position: absolute;
}

.iOS7LocalIconNew:after {
  content: "q";
  display: block;
  position: absolute;
}

.iOS7LocalIconCancelNew:after {
  content: "r";
  display: block;
  position: absolute;
}

.iOS7LocalIconSave:after {
  content: "s";
  display: block;
  position: absolute;
}

.iOS7LocalIconLoad:after {
  content: "t";
  display: block;
  position: absolute;
}

.iOS7LocalIconSaveAndEnter:after {
  content: "u";
  display: block;
  position: absolute;
}

.iOS7LocalIconRefresh:after {
  content: "v";
  display: block;
  position: absolute;
}

.iOS7LocalIconSearch:after {
  content: "w";
  display: block;
  position: absolute;
}

.iOS7LocalIconFilter:after {
  content: "x";
  display: block;
  position: absolute;
}

.iOS7LocalIconFirst:after {
  content: "y";
  display: block;
  position: absolute;
}

.iOS7LocalIconLast:after {
  content: "z";
  display: block;
  position: absolute;
}

.iOS7LocalIconInfo:after {
  content: "A";
  display: block;
  position: absolute;
}

.iOS7LocalIconHelp:after {
  content: "B";
  display: block;
  position: absolute;
}

.iOS7LocalIconError:after {
  content: "C";
  display: block;
  position: absolute;
}

.iOS7LocalIconWarning:after {
  content: "D";
  display: block;
  position: absolute;
}

.iOS7LocalIconMenu:after {
  content: "E";
  display: block;
  position: absolute;
}

.icon-excel, .icon-print {
  height: 60px !important;
  width: 60px !important;
  cursor: pointer;
}
.icon-excel .fg, .icon-print .fg {
  fill: #4fa2d9;
}
.icon-excel .bg, .icon-print .bg {
  fill: #2a3c68;
}
.icon-excel:hover .fg, .icon-print:hover .fg {
  fill: #2a3c68;
}
.icon-excel:hover .bg, .icon-print:hover .bg {
  fill: #4fa2d9;
}

.tile, .grid-wrapper, .login-tile, .profile-tile,
.chart-tile, .help-tile {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19);
  background: padding-box #fff;
  border: 2px solid #bcbec0;
  border-radius: 15px;
}

.help-tile {
  margin: 0 auto;
}

.profile-tile,
.chart-tile {
  margin: 25px;
}

.login-tile {
  height: 550px;
  left: 50%;
  position: absolute;
  text-align: center;
  top: 45%;
  transform: translate(-50%, -50%);
  width: 500px;
}

.help-btn-wrapper {
  display: flex;
  justify-content: center;
  margin: 0 25px;
}

.primary-dropdown,
.advanced-dropdown,
.competitors-dropdown {
  color: #6d6e71;
  margin-top: 0.875rem;
}

.primary-dropdown,
.competitors-dropdown,
.nav-dropdown {
  background: url(img/icon-form-dropdown-show.png) right no-repeat padding-box #f1f2f2;
}
.primary-dropdown.is-open,
.competitors-dropdown.is-open,
.nav-dropdown.is-open {
  background-image: url(img/icon-form-dropdown-hide.png) !important;
}

.advanced-dropdown {
  background: url(img/icon-form-show.png) right no-repeat padding-box #f1f2f2;
  cursor: pointer;
}
.advanced-dropdown.is-open {
  background-image: url(img/icon-form-hide.png) !important;
}

.nav-dropdown,
.search-dropdown {
  box-shadow: inset 0 0 2px rgba(109, 110, 113, 0.2);
  color: #414042;
  word-spacing: -1.25px;
}

.search-dropdown {
  background: url(img/icon-form-dropdown-search.png) right no-repeat padding-box #f1f2f2;
  cursor: text;
}

.primary-dropdown,
.competitors-dropdown,
.search-dropdown,
.nav-dropdown {
  margin: 0 auto;
  min-width: 18.25rem;
}

.primary-dropdown,
.advanced-dropdown,
.competitors-dropdown,
.search-dropdown,
.nav-dropdown {
  max-width: 100%;
  overflow: hidden !important;
  text-overflow: ellipsis;
  white-space: nowrap !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid #bcbec0;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.125rem;
  height: 1.875rem;
  line-height: 1.875rem;
  padding: 0 2.25rem 0 0.75rem;
  text-align: left;
}
@-moz-document url-prefix() {
  .primary-dropdown,
.advanced-dropdown,
.competitors-dropdown,
.search-dropdown,
.nav-dropdown {
    line-height: 1.75rem;
  }
}
.primary-dropdown:focus,
.advanced-dropdown:focus,
.competitors-dropdown:focus,
.search-dropdown:focus,
.nav-dropdown:focus {
  background-clip: border-box;
  border-color: #4fa2d9;
}

.advanced-dropdown,
.competitors-dropdown {
  max-width: 295px;
  min-width: 295px;
  width: 295px;
}

.nav-dropdown-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 1.5rem;
  max-width: 28%;
  min-width: 26.875rem;
}
@media only screen and (min-width: 200em) {
  .nav-dropdown-wrapper {
    max-width: 20%;
    min-width: 38.75rem;
  }
}

.date-dropdown-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  max-width: 28.125rem;
  min-width: 26.5rem;
}
@media only screen and (min-width: 200em) {
  .date-dropdown-wrapper {
    max-width: 30rem;
    min-width: 30rem;
  }
}

.cbx {
  border-radius: 6px;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
  padding: 0.375rem 0.5rem;
  text-rendering: optimizeLegibility;
  transition: all 0.2s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@media only screen and (max-width: 40em) {
  .cbx {
    display: inline-block;
    margin-bottom: 0.25rem;
    width: 100%;
  }
}
.cbx:hover {
  background: rgba(252, 230, 163, 0.18);
}
.cbx:hover > span:first-child {
  border-color: #2a3c68;
}
.cbx > span {
  box-sizing: border-box;
  float: left;
  transform: translate3d(0, 0, 0);
  vertical-align: middle;
}
.cbx > span:first-child {
  border: 2px solid #c8ccd4;
  border-radius: 4px;
  height: 1.125rem;
  position: relative;
  transform: scale(1);
  transition: all 0.2s ease;
  width: 1.125rem;
}
.cbx > span:first-child > svg {
  box-sizing: border-box;
  fill: none;
  left: 0.1rem;
  position: absolute;
  stroke: #fff;
  stroke-dasharray: 1rem;
  stroke-dashoffset: 1rem;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2.5;
  top: 0.13rem;
  transform: translate3d(0, 0, 0);
  transition: all 0.3s ease 0.1s;
}
.cbx > span:last-child {
  color: #223254;
  line-height: 1.125rem;
  padding-left: 0.5rem;
}

.inp-cbx:checked + .cbx span:first-child {
  animation: wave 0.4s ease;
  background: #4fa2d9;
  border-color: #4fa2d9;
  box-sizing: border-box;
}
.inp-cbx:checked + .cbx span:first-child svg {
  stroke-dashoffset: 0;
}

.inline-svg {
  box-sizing: border-box;
  height: 0;
  pointer-events: none;
  position: absolute;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 0;
}

.radio-no-comp-label {
  cursor: pointer;
  display: inline-block;
  height: 1.875rem;
  left: -2.375rem;
  line-height: 1.875rem;
  position: relative;
}

.dashboard-heading {
  background: #c4c6c8;
  border-bottom: 1px solid #000;
  color: #4fa2d9;
  display: inline-block;
  font: 700 1.25rem/3.125rem Lato, Oxygen, "Open Sans", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Verdana, sans-serif;
  height: 3.125rem;
  text-align: center;
  width: 19.3125rem;
}

label[for$=FOCUSONELOCATION]:before {
  bottom: -3px !important;
  left: -20px !important;
  position: relative !important;
}

.sidebar-control-list {
  background-clip: padding-box;
  border-radius: 10px 5px 5px 10px;
  border: 1px solid #bcbec0;
  font-size: 1.125rem;
  margin-right: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
  text-indent: 0.5rem;
}
@-moz-document url-prefix() {
  .sidebar-control-list {
    border-radius: 10px 0 0 10px;
  }
}
.sidebar-control-list option {
  max-width: 100%;
  overflow: hidden !important;
  text-overflow: ellipsis;
  white-space: nowrap !important;
  padding-left: 0.5625rem;
  padding-right: 0.375rem !important;
}

.sidebar-control-radios {
  background: #6d6e71;
  border: 0;
  color: #fff;
  font-size: 1rem;
  margin-left: 0.75rem;
  overflow-x: hidden;
  text-align: left;
}

.sidebar-control-radio-wrapper,
.sidebar-control-radio-wrapper-chart-adv {
  margin-left: 0.375rem;
}
.sidebar-control-radio-wrapper input,
.sidebar-control-radio-wrapper-chart-adv input {
  margin-left: 0.4375rem;
}

.sidebar-control-radio-wrapper-chart-adv {
  padding: 0.625rem 0 0 0.375rem;
}

.sidebar-control-dd-wrapper {
  margin: 1.25rem 0 0 0.375rem;
  max-width: 295px;
  width: 100% !important;
}

.name-and-download-text {
  color: #4fa2d9;
  font-size: 1.1875rem;
  font-weight: 700;
  margin-top: 0.9375rem;
  white-space: nowrap;
}

.account-form-headers {
  color: #6d6e71;
  font-size: 1.375rem;
  font-weight: 700;
}

.primary-input, .account-form-data, .account-pw-field {
  background: padding-box #f1f2f2;
  border-radius: 10px;
  border: 1px solid #bcbec0;
  color: #6d6e71;
  font-size: 1.125rem;
  height: 1.875rem;
  line-height: 1.875rem;
  padding: 0 0.75rem;
}
@-moz-document url-prefix() {
  .primary-input, .account-form-data, .account-pw-field {
    line-height: 1.75rem;
  }
}
.primary-input:focus, .account-form-data:focus, .account-pw-field:focus {
  border-color: #4fa2d9;
}
.primary-input::selection, .account-form-data::selection, .account-pw-field::selection {
  background: rgba(79, 162, 217, 0.5);
  color: #000;
}
.primary-input::-moz-selection, .account-form-data::-moz-selection, .account-pw-field::-moz-selection {
  background: rgba(79, 162, 217, 0.5);
  color: #000;
}

.account-form-data {
  width: 100%;
}

.primary-input {
  margin: 0 25px;
  width: 100%;
}

.dashboard-note {
  color: #6d6e71;
  font-size: 0.875rem;
  font-style: italic;
  text-align: center;
  text-transform: uppercase;
}

.popup-headers {
  color: #4fa2d9;
}

.header-nav-logo {
  background: url(../../img/logo-down-sprite.png) -1px -93px no-repeat;
  height: 70px;
  margin-left: 50px;
  width: 250px;
}

.footer-nav-logo {
  background: url(../../img/logo-down-sprite.png) -88px -165px no-repeat;
  height: 30px;
  margin-left: 50px;
  width: 79px;
}

.report-loading-wrapper {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.report-loading-text {
  color: #4fa2d9;
  font-weight: 700;
  padding: 0.625rem;
}

.chart-header > span, .report-header > span {
  font-size: 0.95em;
  font-variant: small-caps;
  font-weight: 400;
}

.report-header {
  color: #414042;
  font: 700 1.375rem/1.2 Lato, Oxygen, "Open Sans", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Verdana, sans-serif;
  margin-top: 0.9375rem;
}
.report-header > span {
  color: #343335;
}
.report-header > span > span {
  font-size: 0.75em;
}

.chart-header {
  color: #4fa2d9;
  font: 700 1.375rem/1.2 Lato, Oxygen, "Open Sans", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Verdana, sans-serif;
  padding: 0.3125rem 0 0 1.25rem;
  text-align: left;
}
.chart-header > span {
  color: #2c8bc9;
}
.chart-header > span > span {
  font-size: 0.75em;
}

.grid-wrapper {
  box-sizing: border-box;
  margin: 3.125rem 5%;
  overflow-x: auto;
  padding: 0 1.25rem 1.25rem;
}

.record-count-chart, .record-count {
  color: #6d6e71;
  font-size: 1.125rem;
  font-style: italic;
}

.record-count-chart {
  margin-top: 0;
  text-indent: 0.5rem;
}

textarea,
.sidebar-control-list,
.grid-wrapper,
.chart-grid-wrapper > div {
  scrollbar-color: #2a3c68 #4fa2d9;
  scrollbar-face-color: #2a3c68;
  scrollbar-shadow-color: #28516d;
  scrollbar-track-color: #4fa2d9;
  scrollbar-width: thin;
}
textarea::-webkit-scrollbar,
.sidebar-control-list::-webkit-scrollbar,
.grid-wrapper::-webkit-scrollbar,
.chart-grid-wrapper > div::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}
textarea::-webkit-scrollbar-track,
.sidebar-control-list::-webkit-scrollbar-track,
.grid-wrapper::-webkit-scrollbar-track,
.chart-grid-wrapper > div::-webkit-scrollbar-track {
  background: padding-box #2a3c68;
  border: 1px solid #bcbec0;
  border-radius: 8px;
}
textarea::-webkit-scrollbar-thumb,
.sidebar-control-list::-webkit-scrollbar-thumb,
.grid-wrapper::-webkit-scrollbar-thumb,
.chart-grid-wrapper > div::-webkit-scrollbar-thumb {
  background: padding-box linear-gradient(to bottom, #4fa2d9, #8ed8f8);
  border-radius: 8px;
  box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.25), inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}
textarea::-webkit-scrollbar-thumb:hover,
.sidebar-control-list::-webkit-scrollbar-thumb:hover,
.grid-wrapper::-webkit-scrollbar-thumb:hover,
.chart-grid-wrapper > div::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, #fce6a3, #f1dddf);
}
textarea::-webkit-scrollbar-thumb:active,
.sidebar-control-list::-webkit-scrollbar-thumb:active,
.grid-wrapper::-webkit-scrollbar-thumb:active,
.chart-grid-wrapper > div::-webkit-scrollbar-thumb:active {
  background: linear-gradient(to bottom, #f7c01c, #f90);
}

.iOS7LocalGrid th,
.iOS7LocalGrid td {
  border-top: 1px solid #bcbec0 !important;
  padding: 0.75rem 1rem;
  text-align: right;
}

.iOS7LocalGrid tbody + tbody {
  border-top: 2px solid #bcbec0;
}

.iOS7LocalGrid td:first-child,
.iOS7LocalGrid th:first-child {
  padding-left: 1rem !important;
  padding-right: 0 !important;
  text-align: left;
}

.iOS7LocalGridSummaryData {
  padding: 0;
  text-align: right !important;
}

table tbody tr:hover {
  color: #6d6e71 !important;
  font-weight: 400 !important;
}

.iOS7LocalGrid tbody tr:not(.iOS7LocalGridFooter):hover {
  color: #4fa2d9 !important;
}

.iOS7LocalGridData:hover,
.iOS7LocalGridDataAlt:hover,
.iOS7LocalGridSummaryData:hover,
.iOS7LocalGridNav .iOS7LocalLink:hover,
.iOS7LocalGridFooter .iOS7LocalLink:hover {
  font-weight: 700 !important;
}

.iOS7LocalGridNav .iOS7LocalLink,
.iOS7LocalGridFooter .iOS7LocalLink {
  color: #4fa2d9 !important;
  text-decoration: none !important;
}

.iOS7LocalGridFooter,
.iOS7LocalGridNav,
.iOS7LocalGridSummaryData {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.iOS7LocalGrid th:last-child,
.iOS7LocalGrid td:last-child,
.iOS7LocalGridSummaryData td:last-child,
.iOS7LocalGridSummaryData:last-child {
  padding-right: 1rem !important;
}

.sm-link, .sm-link:link, .sm-link:visited {
  color: #4fa2d9;
  font: 1em/1.2 Roboto, "Source Sans Pro", "Helvetica Neue", HelveticaNeue, Arial, "Segoe UI", -apple-system, BlinkMacSystemFont, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.sm-link:focus, .sm-link:hover {
  color: #3b7aa3;
}
.sm-link:active {
  color: #2f6182;
}

.lg-link {
  font: 700 1.5em/1.2 Lato, Oxygen, "Open Sans", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Verdana, sans-serif;
  transition: color 0.25s ease-out;
}
.lg-link, .lg-link:link, .lg-link:visited {
  color: #2a3c68;
}
.lg-link:focus, .lg-link:hover {
  color: #4fa2d9;
}
.lg-link:active {
  color: #3b7aa3;
}

.overview-table-col-wrappers {
  overflow: visible !important;
  position: relative;
  top: -1.875rem;
}

.icon-dbl-down {
  height: 64px;
  width: 64px;
  background: url(../../img/logo-down-sprite.png) -253px -93px;
  cursor: pointer;
  display: block;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.25), only screen and (min-device-pixel-ratio: 1.25), only screen and (min-resolution: 200dpi), only screen and (min-resolution: 1.25dppx) {
  .icon-dbl-down {
    background: url(../../img/icon-double-down@2x.png) 0% 0%/64px 64px;
  }
}

.top-nav {
  align-items: center;
  display: flex;
  justify-content: center;
  background: #fff;
  box-shadow: inset 4px 4px 8px 0 rgba(65, 64, 66, 0.3);
  box-sizing: border-box;
  border-color: #2a3c68;
  border-style: solid;
  border-width: 0 0 2px;
  height: 7vh;
  max-height: 4.5rem;
  min-height: 3.5rem;
  overflow: hidden;
  padding: 0 0 0 2.25rem;
  white-space: nowrap;
  width: 100%;
  z-index: 9;
}

.data-msg {
  color: #6d6e71;
  font-family: Lato, Oxygen, "Open Sans", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Verdana, sans-serif;
  text-align: center;
  text-transform: uppercase;
}

.swal-overlay {
  background: rgba(79, 162, 217, 0.45);
}

.swal-modal {
  border: 3px solid #2a3c68;
  border-radius: 15px;
}

.swal-title {
  font: 700 2rem Lato, Oxygen, "Open Sans", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Verdana, sans-serif;
}

.swal-text {
  text-align: justify;
}

.swal-button {
  background-color: #4fa2d9;
  box-shadow: 1px 5px 5px #6d6e71;
  color: #fff;
  font: 700 1rem Lato, Oxygen, "Open Sans", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Verdana, sans-serif;
  position: relative;
  transition: all 0.9s, color 1.2s, box-shadow 50ms linear;
}
.swal-button:active {
  background-color: #233257;
  box-shadow: inset 0 0 5px #6a7795, 1px 1px 3px 1px #6d6e71;
  top: 2px;
}
.swal-button:not([disabled]):hover {
  background-color: #2a3c68;
}

.login-img-head {
  background: url(../../img/logo-down-sprite.png) -1px -1px;
  height: 90px;
  margin: 2em auto;
  width: 320px;
}

.login-img-foot {
  background: url(../../img/logo-down-sprite.png) -1px -165px;
  height: 30px;
  width: 17%;
}

.login-pw, .login-email {
  -moz-appearance: none;
  -webkit-appearance: none;
  background: right no-repeat padding-box #f1f2f2;
  border-radius: 12px;
  border: 1px solid #bcbec0;
  box-sizing: border-box;
  color: #414042;
  font-size: 1.25rem;
  height: 1.875rem;
  line-height: 1.875rem;
  margin-left: 25px;
  padding: 0 2.25rem 0 0.75rem;
  text-overflow: "";
  white-space: nowrap;
  width: 450px;
}
.login-pw:focus, .login-email:focus {
  border-color: #4fa2d9;
}

.login-email {
  background-image: url(img/icon-form-user.png);
}

.login-pw {
  background-image: url(img/icon-form-password.png);
}

.tile {
  box-sizing: border-box;
  margin: 2.125rem auto;
  overflow: hidden;
  padding: 0.75% 1.6%;
  scrollbar-face-color: #2a3c68;
  scrollbar-shadow-color: #28516d;
  scrollbar-track-color: #4fa2d9;
  scrollbar-color: #2a3c68 #4fa2d9;
  scrollbar-width: thin;
  width: 88vw;
}
@media only screen and (min-width: 215em) {
  .tile {
    width: 60vw;
  }
}
@media only screen and (max-width: 40.625em) {
  .tile {
    overflow-x: auto;
  }
}
.tile::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}
.tile::-webkit-scrollbar-track {
  background: rgba(79, 162, 217, 0.5);
  border-radius: 5px;
  box-shadow: inset 0 0 5px #efeff7;
}
.tile::-webkit-scrollbar-thumb {
  background: rgba(42, 60, 104, 0.5);
  border-radius: 5px;
}
.tile::-webkit-scrollbar-thumb:hover {
  background: rgba(35, 50, 86, 0.8);
}
.tile::-webkit-scrollbar-thumb:active {
  background: rgba(27, 39, 68, 0.9);
  box-shadow: inset 0 0 5px #efeff7;
}
.tile-header {
  color: #2a3c68;
  font-family: Lato, Oxygen, "Open Sans", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Verdana, sans-serif;
  margin-bottom: 15px;
}
.tile-header-title {
  font-size: 2.5em;
  margin: 0;
  padding: 0;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
}
@media only screen and (min-width: 215em) {
  .tile-header-title {
    text-align: center;
  }
}
.tile-content {
  height: 99%;
  margin: 0 auto;
}
@media only screen and (max-width: 66.5625em) {
  .tile-content {
    max-height: 42.25rem;
    overflow: hidden;
  }
}
.tile-sub-wrap {
  height: 100%;
  width: 100%;
  border: 0;
  margin: 0;
  padding: 0;
}

.kpi-table,
.avpv-table,
.ttzc-table {
  border: 2px solid #bcbec0;
  box-sizing: border-box;
  cursor: default;
  margin: 0 auto;
  max-width: 125rem;
  width: 100%;
}
.kpi-table-wrap,
.avpv-table-wrap,
.ttzc-table-wrap {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.avpv-thead,
.kpi-thead,
.ttzc-thead {
  border-bottom: 2px solid #bcbec0;
  color: #fff;
}

.kpi-cell,
.avpv-cell,
.ttzc-cell {
  color: #414042;
  font-variant-numeric: tabular-nums;
  text-align: center;
}

.cell-empty {
  color: transparent;
}

.map-wrap,
.map-wrap-left,
.map-wrap-right,
.map-wrap-full {
  border: 1px solid #bcbec0;
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  height: 42rem;
  position: relative;
}

.map-wrap-left,
.map-label-vp {
  float: left;
  width: 70%;
}

.map-wrap-right {
  float: right;
  margin-left: 1.6%;
  width: 49%;
}

.map-wrap,
.map-label-left,
.map-label-right {
  display: inline-block;
  width: 49%;
}

.map-label-right {
  float: right;
}

.map-iframe {
  height: 97.8%;
  width: 98.2%;
  border: 2px solid #bcbec0;
  box-sizing: border-box;
  left: 0;
  margin: 0.9%;
  position: absolute;
  top: 0;
}
.map-iframe--vp {
  height: 97%;
}
.map-iframe--full {
  height: 96.5%;
  margin: 0.75% 0.9%;
}

@media only screen and (max-width: 73em) {
  .map-wrap,
.map-wrap-right {
    width: 47%;
  }
}
.map-label,
.map-label-left,
.map-label-right,
.map-label-vp {
  font-variant: small-caps;
  margin: 0 auto;
  text-align: center;
}

.bench-name,
.comp-name {
  margin: 0 auto;
  max-width: 10rem;
}

.indent {
  color: #5b595c;
  padding-left: 1.25rem !important;
}

.nav-label {
  align-items: center;
  display: flex;
  justify-content: center;
  max-width: 100%;
  overflow: hidden !important;
  text-overflow: ellipsis;
  white-space: nowrap !important;
  background: #4fa2d9;
  background-clip: padding-box;
  border-radius: 4px 0 0 4px;
  -webkit-clip-path: polygon(95% 0, 95% 35%, 100% 50%, 95% 65%, 95% 100%, 0 100%, 0 0);
  clip-path: polygon(95% 0, 95% 35%, 100% 50%, 95% 65%, 95% 100%, 0 100%, 0 0);
  color: #fff;
  height: 25px;
  width: 116px;
  cursor: help;
  margin: 0 0.3125rem 0 0;
  min-width: 6.875rem;
  text-align: center;
}
@media only screen and (max-width: 90em) {
  .nav-label {
    display: none;
  }
}

.label-inner-txt {
  font-size: 17px;
  margin-left: -3px;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .dropdown-select {
    background: #f1f2f2;
    border-radius: 5px 0 0 5px;
    padding: 0 0 0 0.5rem;
  }

  .nav-label {
    border-radius: 10px;
    margin: 0 0.5rem 0 0;
    padding: 0 0.625rem 0 0.9375rem;
    width: auto;
  }

  .label-inner-txt {
    margin: 0;
  }
}
@supports (not (clip-path: polygon(0 0, 0 0, 0 0))) and (not (-webkit-clip-path: polygon(0 0, 0 0, 0 0))) {
  .nav-label {
    border-radius: 10px;
    margin: 0 0.5rem 0 0;
    padding: 0 0.625rem 0 0.9375rem;
    width: auto;
  }

  .label-inner-txt {
    margin: 0;
  }
}
.ttzc-header, .kpi-header {
  font-size: 1.25rem;
  font-weight: 400;
  text-align: center;
}

.kpi-header {
  padding: 1.5em 0;
}
.ttzc-rank, .ttzc-header:first-child, .avpv-header:first-child,
.avpv-cell:first-child, .kpi-header:first-child {
  padding-left: 0.875rem;
  text-align: left;
}

.kpi-tile {
  padding: 0.75% 1.6% 1.4%;
}
@media only screen and (max-width: 119.9375em) {
  .kpi-tile {
    min-height: 56.5625rem;
    overflow-x: auto;
  }
}
@media only screen and (min-width: 160em) {
  .kpi-tile {
    min-height: 57.5rem;
  }
}
.kpi-tile-content {
  margin: 0 auto;
  max-width: 125rem;
}

.kpi-table {
  min-width: 55.9375rem;
}

.age-row {
  vertical-align: top;
}

.avg-age {
  margin-top: 0.625rem;
}

.title-col {
  height: 1.5625rem;
  line-height: 1.5625rem;
  margin-top: 0.625rem;
  padding: 0;
}

.div-cell {
  margin-bottom: 0.3125rem;
  padding: 0;
}

.kpi-cell {
  border: 1px solid #bcbec0;
  box-sizing: border-box;
  font-size: 1.5em;
  font-weight: 700;
  max-width: 18.5rem;
  min-width: 17rem;
  padding: 0;
  transform: translateZ(0);
  vertical-align: middle;
}
.kpi-cell:first-child {
  box-shadow: inset 15px 0 23px -15px rgba(42, 60, 104, 0.25);
  background: #ededf6;
  color: #2a3c68;
  font: 700 1rem/1.2 Lato, Oxygen, "Open Sans", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Verdana, sans-serif;
  padding-left: 0.5rem;
  text-align: left;
}

.kpi-index {
  min-width: 5.75rem;
  width: 9%;
}

.kpi-header:first-child,
.kpi-cell:first-child {
  min-width: 8.875rem;
}

.kpi-row:first-child > .kpi-cell,
.kpi-row:nth-child(5) > .kpi-cell {
  height: 4.25rem;
}

.kpi-row:nth-child(3) > .kpi-cell,
.kpi-row:nth-child(4) > .kpi-cell,
.kpi-row:nth-child(7) > .kpi-cell {
  height: 6.25rem;
}

.kpi-row:nth-child(2) > .kpi-cell {
  height: 7.25rem;
}

.age-row > .kpi-cell {
  height: 9.125rem;
}

.icon-container {
  float: left;
  height: 100%;
  margin-right: 0.5rem;
  position: relative;
  vertical-align: middle;
  width: 25px;
}

.kpi-icon-diversity, .kpi-icon-college, .kpi-icon-dwell, .kpi-icon-income, .kpi-icon-age, .kpi-icon-car, .kpi-icon-pop {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  height: 25px;
  vertical-align: middle;
  width: 25px;
}

.kpi-icon-pop {
  background: url(../../img/kpi-sprite.png) -55px -1px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.25), only screen and (min-device-pixel-ratio: 1.25), only screen and (min-resolution: 200dpi), only screen and (min-resolution: 1.25dppx) {
  .kpi-icon-pop {
    background: url(../../img/icon-population@2x.png) 0% 0%/25px 25px;
  }
}

.kpi-icon-car {
  background: url(../../img/kpi-sprite.png) -109px -1px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.25), only screen and (min-device-pixel-ratio: 1.25), only screen and (min-resolution: 200dpi), only screen and (min-resolution: 1.25dppx) {
  .kpi-icon-car {
    background: url(../../img/icon-car@2x.png) 0% 0%/25px 25px;
  }
}

.kpi-icon-age {
  background: url(../../img/kpi-sprite.png) -82px -1px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.25), only screen and (min-device-pixel-ratio: 1.25), only screen and (min-resolution: 200dpi), only screen and (min-resolution: 1.25dppx) {
  .kpi-icon-age {
    background: url(../../img/icon-age@2x.png) 0% 0%/25px 25px;
  }
}

.kpi-icon-income {
  background: url(../../img/kpi-sprite.png) -28px -1px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.25), only screen and (min-device-pixel-ratio: 1.25), only screen and (min-resolution: 200dpi), only screen and (min-resolution: 1.25dppx) {
  .kpi-icon-income {
    background: url(../../img/icon-income@2x.png) 0% 0%/25px 25px;
  }
}

.kpi-icon-dwell {
  background: url(../../img/kpi-sprite.png) -1px -1px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.25), only screen and (min-device-pixel-ratio: 1.25), only screen and (min-resolution: 200dpi), only screen and (min-resolution: 1.25dppx) {
  .kpi-icon-dwell {
    background: url(../../img/icon-dwell@2x.png) 0% 0%/25px 25px;
  }
}

.kpi-icon-college {
  background: url(../../img/kpi-sprite.png) -136px -1px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.25), only screen and (min-device-pixel-ratio: 1.25), only screen and (min-resolution: 200dpi), only screen and (min-resolution: 1.25dppx) {
  .kpi-icon-college {
    background: url(../../img/icon-college@2x.png) 0% 0%/25px 25px;
  }
}

.kpi-icon-diversity {
  background: url(../../img/kpi-sprite.png) -163px -1px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.25), only screen and (min-device-pixel-ratio: 1.25), only screen and (min-resolution: 200dpi), only screen and (min-resolution: 1.25dppx) {
  .kpi-icon-diversity {
    background: url(../../img/icon-diversity@2x.png) 0% 0%/25px 25px;
  }
}

.kpi-row-header {
  align-items: center;
  display: flex;
  height: 100%;
  padding: 0;
}

.avpv-tile {
  overflow-x: auto;
  padding: 0.75% 1.6% 1.4%;
}

.avpv-table {
  font-size: 1em;
  min-width: 56rem;
}

.avpv-header {
  border: 0;
}
.avpv-header-top {
  font-size: 1.875rem;
  font-weight: 700;
  padding: 1rem 0 0.5rem;
}
.avpv-header-sub {
  font-size: 1.0625rem;
  padding: 0 0 0.625rem;
}
.avpv-header-sub:nth-child(7) {
  padding-right: 2.3%;
  text-align: right;
}

.avpv-tbody .avpv-row:nth-child(even) {
  background: #ededf6;
}

.avpv-cell {
  padding: 0.25em 0.8125rem;
  width: auto;
}
.avpv-cell:first-child {
  background: inherit;
  font: inherit;
}
.avpv-cell:first-child[scope=row]:not(.indent) {
  font-weight: 700;
}

.avpv-header:nth-child(7),
.graph-cell {
  box-sizing: border-box;
  min-width: 13rem;
}

.graph-cell {
  padding: 0;
}

.avpv-header:first-child,
.avpv-cell:first-child {
  width: 11.25rem;
}

.avpv-header-top:nth-child(2),
.avpv-header-top:nth-child(3),
.avpv-header-top:nth-child(4),
.avpv-header-sub:nth-child(2),
.avpv-header-sub:nth-child(6),
.avpv-header-sub:nth-child(8),
.avpv-header:last-child,
.avpv-cell:nth-child(2),
.avpv-cell:nth-child(6),
.avpv-cell:nth-child(8),
.avpv-cell:last-child {
  border-left: 1px solid #bcbec0;
}

.avpv-header-sub:nth-child(5),
.avpv-cell:nth-child(5) {
  max-width: 8.5rem;
  min-width: 6.875rem;
}

.avpv-table .cell-empty {
  border-right: 1px solid #bcbec0;
}

.ttzc-tile {
  padding-bottom: 25px;
}
@media only screen and (max-width: 80em) {
  .ttzc-tile {
    overflow-x: auto;
  }
}

.ttzc-table {
  font-size: 1em;
  min-width: 53.1875rem;
}

.ttzc-header,
.ttzc-cell {
  box-sizing: border-box;
  max-width: 17.25em;
  min-width: 6em;
}

.ttzc-cell {
  padding: 0.625rem;
}

.ttzc-tbody > .ttzc-row:nth-child(even) {
  background: #ededf6;
}
.ttzc-tbody > .ttzc-row:not(:last-child) {
  border-bottom: 1px solid #bcbec0;
}
.ttzc-tbody .ttzc-row:hover {
  background: #4fa2d9;
}
.ttzc-tbody .ttzc-row:hover > .ttzc-cell {
  color: #fff;
}

.ttzc-header {
  padding: 1em 0;
  position: relative;
  white-space: nowrap;
}
.ttzc-rank {
  padding-right: 0;
  width: 60px;
}

.ttzc-popgrow {
  padding-left: 0;
  padding-right: 0.875rem;
  text-align: right;
}

.table-sort-header {
  cursor: pointer;
  transition: background-color 0.4s ease-out;
}
.table-sort-header:not(:last-child):after, .table-sort-header:last-child:before {
  border-color: #fff transparent;
  border-style: solid;
  border-width: 0 0.4em 0.4em;
  content: "";
  opacity: 0.5;
  position: absolute;
  top: 45%;
  visibility: hidden;
}
.table-sort-header:not(:last-child):after {
  float: right;
  right: 2%;
  transform: rotate(-90deg);
}
.table-sort-header:last-child:before {
  float: left;
  left: 2%;
  transform: rotate(90deg);
}
.table-sort-header:hover {
  background: #33446e;
}
.table-sort-header:hover:after, .table-sort-header:hover:before {
  visibility: visible;
}
.table-sort-header:active {
  background: #26375f;
}

.table-sort-asc:hover:after,
.table-sort-asc:hover:before,
.table-sort-desc:hover:after,
.table-sort-desc:hover:before {
  opacity: 1;
  transform: rotate(0);
}

.table-sort-asc:not(:last-child):after,
.table-sort-asc:last-child:before {
  border-width: 0 0.4em 0.4em;
}

.table-sort-desc:not(:last-child):after,
.table-sort-desc:last-child:before {
  border-width: 0.4em 0.4em 0;
}

.vo-tile-top {
  margin-bottom: 3.5rem;
}
@media only screen and (max-width: 74em) {
  .vo-tile-top {
    overflow-x: auto;
  }
}

.vo-nc-layout {
  margin-bottom: 0.375rem;
}

@media only screen and (max-width: 67em) {
  .vp-tile {
    overflow-x: auto;
  }
}

.table-vo {
  border: 0;
  text-align: center;
  width: 100%;
}
.table-vo-wrap {
  float: right;
  margin: 0 auto;
  overflow: visible;
  padding: 0;
  transition: transform 0.25s;
  vertical-align: top;
  width: 29.5%;
}
@media only screen and (max-width: 90.5625em) {
  .table-vo-wrap {
    position: relative;
  }
}
@media only screen and (max-width: 90.5625em) and (min-width: 73.4375em) {
  .table-vo-wrap {
    left: -15px;
    top: -35px;
    transform: scale(0.8);
  }
}
@media only screen and (max-width: 73.375em) and (min-width: 66.5em) {
  .table-vo-wrap {
    left: -22px;
    top: -45px;
    transform: scale(0.7);
  }
}
@media only screen and (max-width: 66.49em) and (min-width: 62.8125em) {
  .table-vo-wrap {
    left: -25px;
    top: -55px;
    transform: scale(0.65);
  }
}
@media only screen and (max-width: 62.75em) and (min-width: 45em) {
  .table-vo-wrap {
    left: -28px;
    top: -65px;
    transform: scale(0.6);
  }
}
@media only screen and (max-width: 45em) and (min-width: 40.625em) {
  .table-vo-wrap {
    left: -30px;
    top: -100px;
    transform: scale(0.55);
  }
}
@media only screen and (max-width: 40.5625em) {
  .table-vo-wrap {
    left: -33px;
    top: -115px;
    transform: scale(0.5);
  }
}
.table-vo-top-text {
  box-sizing: border-box;
  font-size: 1.25rem;
  font-weight: 700;
  margin: -3px 0 0;
  min-height: 4.875rem;
  padding-left: 0.625rem;
  width: 100%;
}
@media only screen and (max-width: 73.375em) {
  .table-vo-top-text {
    position: relative;
    right: -25px;
    text-align: center !important;
  }
}

.chart-heading {
  background: inherit;
  color: #2a3c68;
  font-size: 1.75em;
  font-weight: 700;
  padding: 0.75rem 0.5rem;
}

.chart-label {
  margin: 0 auto;
  width: 7rem;
}

.no-comp-width {
  width: 70% !important;
}

.rad-vo-data,
.bar-vo-data,
.bar-vp-data {
  height: 9.6875rem;
}

.bar-vo-title {
  font-size: 1.25em;
  font-weight: 700;
}

.row-vo:nth-child(2) {
  height: 0.5rem;
}

.cell-vo-hr {
  border-top-color: #bcbec0;
  margin: 0 auto;
  padding: 0;
  width: 55%;
}

.accordion-wrap {
  margin-bottom: 0.625rem;
}

.accordion__slide, .accordion {
  border: 2px solid #2a3c68;
  box-sizing: border-box;
}

.accordion {
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16);
  background: padding-box #2a3c68;
  border: 2px solid #2a3c68;
  border-radius: 15px;
  box-sizing: border-box;
  height: 32em;
  line-height: 1.3;
  list-style: none;
  margin: 0 0 0.75rem;
  padding: 0;
  width: 100%;
}
.accordion__slide {
  background: padding-box #f1f2f2;
  border: 2px solid #2a3c68;
  box-sizing: border-box;
  cursor: pointer;
  float: left;
  height: 100%;
  overflow: hidden;
  transition: width 0.23s ease-out 0.15s;
  width: 14.2857%;
}
.accordion__slide-content {
  height: 100%;
  position: relative;
}
.accordion__slide-top {
  height: 5.5em;
  margin: 0 auto;
  padding: 0 0 0.75rem;
  position: relative;
  width: 96%;
}
.accordion__slide-heading {
  color: #2a3c68;
  font-size: 1.5em;
  margin: 0;
  padding: 0;
  position: absolute;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  width: 100%;
}
.accordion__slide-body {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 12;
  font-size: 1.25rem;
  overflow: hidden;
  overflow-wrap: break-word;
  padding: 0 1rem;
  text-align: left;
  text-overflow: ellipsis;
}
.accordion__slide-body > p {
  margin: 0;
}
.accordion__slide-instruct {
  bottom: 1.875rem;
  color: #4fa2d9;
  font-size: 1.125rem;
  font-variant: small-caps;
  letter-spacing: 0.15ch;
  position: absolute;
  right: 1rem;
  text-align: right;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .accordion__slide-instruct {
    display: none;
    transition: none;
  }
}
.accordion__slide-img {
  height: 0;
  width: 0;
  background: center/contain no-repeat;
  border: 1px solid #2a3c68;
  clip-path: inset(100%);
  float: right;
  margin: 0;
  opacity: 0;
  transition: all 0s ease-out;
}
.accordion__slide-img--visorig {
  background-image: url(../../img/def-visorig.png);
}
.accordion__slide-img--visorigolap {
  background-image: url(../../img/def-visorig.png);
}
.accordion__slide-img--kpi {
  background-image: url(../../img/def-kpi.png);
}
.accordion__slide-img--avpv {
  background-image: url(../../img/def-avpv.png);
}
.accordion__slide-img--ttzc {
  background-image: url(../../img/def-ttzc.png);
}
.accordion__slide-img--hm {
  background-image: url(../../img/def-heatmap.png);
}
.accordion__slide-img--vispen {
  background-image: url(../../img/def-vispen.png);
}
.accordion__slide:hover {
  -webkit-filter: blur(0) !important;
  filter: blur(0) !important;
  width: 34% !important;
}
.accordion__slide:hover .accordion__slide-body {
  display: block;
}
.accordion__slide:hover .accordion__slide-instruct {
  display: none;
}
.accordion__slide:hover .accordion__slide-img {
  height: 152px;
  width: 228px;
  clip-path: none;
  float: right;
  margin: 0 0.625rem 0.625rem;
  opacity: 1;
  transition-delay: 90ms;
  transition-duration: 0.31s;
}
.accordion__slide:first-child {
  border-radius: 15px 0 0 15px;
}
.accordion__slide:last-child {
  border-radius: 0 15px 15px 0;
}
.accordion:hover .accordion__slide {
  width: 11%;
  -webkit-filter: blur(1px);
  filter: blur(1px);
}

@media only screen and (max-width: 105em) {
  .accordion {
    line-height: 1.2;
  }
  .accordion__slide-top {
    height: 5em;
    padding: 0 0 0.5rem;
    margin-top: 1em;
    transition: height 0.23s ease-out 0.15s, margin 0.23s ease-out 0.15s;
  }
  .accordion__slide-heading {
    font-size: 1.25em;
  }
  .accordion__slide-body {
    -webkit-line-clamp: 13;
    font-size: 1rem;
    padding: 0 0.75rem;
  }
  .accordion__slide-instruct {
    font-size: 1rem;
  }
  .accordion__slide:hover .accordion__slide-top {
    height: 3.5em;
    margin: 0;
  }
  .accordion__slide:hover .accordion__slide-img {
    height: 114px;
    width: 171px;
    background-size: contain;
  }
}
@media only screen and (max-width: 64em) {
  .accordion__slide-top {
    height: 3.25em;
    padding: 0.25rem 0 0.5rem;
    line-height: 1.1;
  }
  .accordion__slide-heading {
    font-size: 1.0625em;
  }
  .accordion__slide-body {
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    padding: 0 0.5rem;
  }
  .accordion__slide-instruct {
    font-size: 0.875rem;
    left: 0;
    right: auto;
    text-align: center;
    width: 100%;
  }
  .accordion__slide:hover {
    border-right-width: 1px;
    overflow: auto;
    scrollbar-face-color: rgba(42, 60, 104, 0.3);
    scrollbar-track-color: rgba(42, 60, 104, 0.2);
    scrollbar-color: rgba(42, 60, 104, 0.3) rgba(42, 60, 104, 0.2);
    scrollbar-width: thin;
  }
  .accordion__slide:hover::-webkit-scrollbar {
    height: 4px;
    width: 4px;
  }
  .accordion__slide:hover::-webkit-scrollbar-track {
    background: rgba(42, 60, 104, 0.5);
  }
  .accordion__slide:hover::-webkit-scrollbar-thumb {
    background: rgba(42, 60, 104, 0.6);
  }
  .accordion__slide:hover::-webkit-scrollbar-thumb:hover {
    background: rgba(35, 50, 86, 0.67);
  }
  .accordion__slide:hover::-webkit-scrollbar-thumb:active {
    background: rgba(29, 42, 73, 0.75);
  }
  .accordion__slide:hover .accordion__slide-top {
    height: 2.875em;
  }
  .accordion__slide:hover .accordion__slide-img {
    height: 76px;
    width: 114px;
    background-size: contain;
  }
}
.bav-tile {
  height: auto;
  min-height: 700px;
}

.bar-wrap, .rad-wrap-lg, .rad-wrap {
  margin: 0 auto;
  position: absolute;
}

.h-bar-mc-wrap, .h-bar-wrap, .rad-wrap-lg, .rad-wrap {
  padding: 0;
  transform: translateZ(0);
}

.rad-wrap {
  height: 85px;
  width: 85px;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .rad-wrap {
    left: 50%;
    top: 50%;
    transform: translateZ(0) translateX(-50%) translateY(-50%);
  }
}

.rad-wrap-lg {
  height: 120px;
  width: 120px;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .rad-wrap-lg {
    left: 17px;
    top: 25px;
  }
}

.bar-wrap {
  height: 115px;
  max-height: 115px;
  max-width: 82.6%;
  padding: 0;
  position: relative;
  transform: translateZ(0) rotate(-90deg);
  width: 95px;
}

.h-bar-wrap {
  height: 25px;
  max-height: 24%;
  max-width: 100%;
  width: 100px;
}

.h-bar-mc-wrap {
  cursor: default;
  height: 20px;
  margin: 0;
  width: 120px;
}
.avpv-table--default-layout .h-bar-mc-wrap {
  margin-left: 20%;
}
.avpv-table--no-comp-layout .h-bar-mc-wrap {
  margin-left: 30%;
}

@media only screen and (max-width: 105em) {
  .avpv-table--default-layout .h-bar-mc-wrap {
    margin-left: 18%;
  }

  .avpv-table--no-comp-layout .h-bar-mc-wrap {
    margin-left: 25%;
  }
}
@media only screen and (max-width: 90em) {
  .avpv-table--default-layout .h-bar-mc-wrap {
    margin-left: 13%;
  }

  .avpv-table--no-comp-layout .h-bar-mc-wrap {
    margin-left: 18%;
  }
}
.chart-container {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .chart-container {
    justify-content: flex-start;
    position: relative;
  }
}

.h-bar-container,
.h-bar-mc-container {
  height: 100%;
  width: 100%;
  padding: 0;
}

.h-bar-container {
  margin: 10px 0 5px 26.5%;
}

.h-bar-fill-outer {
  height: 100%;
  width: 100%;
  margin: 10px auto 5px;
  padding: 0;
}

.h-bar-fill-inner {
  height: 25px;
  line-height: 25px;
  margin: 0 auto;
  padding: 0;
  width: 85px;
}

.unavail-msg {
  font-size: 0.9em;
  font-variant: small-caps;
  margin: 0 auto;
}
.unavail-msg--sm {
  font-size: 0.7em;
}
.unavail-msg--mc-bars {
  font-size: 0.75em;
  padding-right: 8%;
  text-align: right;
}

@keyframes bounce-in {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
    transform: translateY(-500px);
  }
  38% {
    animation-timing-function: ease-out;
    opacity: 0.8;
    transform: translateY(0);
  }
  55% {
    animation-timing-function: ease-in;
    opacity: 1;
    transform: translateY(-65px);
  }
  72%, 90%, 100% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }
  81% {
    animation-timing-function: ease-in;
    transform: translateY(-28px);
  }
  95% {
    animation-timing-function: ease-in;
    transform: translateY(-8px);
  }
}
@keyframes wave {
  50% {
    transform: scale(0.9);
  }
}
@keyframes color-spinner {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media only screen and (max-width: 64em) {
  .iOS7LocalPanelHeader .A5ControlBarHorz .A5ControlBarItem > .iOS7LocalButton {
    font-size: 0.8125rem !important;
  }

  #OVERVIEW_BUILD\.V\.R1\.FOOTER_NAV\.CR {
    display: none;
  }
}
#clear_search,
#clear_search:hover {
  font-weight: 400 !important;
}

#IFRAME_states,
#IFRAME_compmarketshare {
  height: 100% !important;
  overflow: hidden !important;
  width: auto;
}
@media only screen and (min-width: 160.0625em) {
  #IFRAME_states,
#IFRAME_compmarketshare {
    max-width: 125rem !important;
    min-width: 121.875rem !important;
  }
}
@media only screen and (max-width: 160em) and (min-width: 120.0625em) {
  #IFRAME_states,
#IFRAME_compmarketshare {
    max-width: 106.25rem !important;
    min-width: 98.75rem !important;
  }
}
@media only screen and (max-width: 120em) and (min-width: 105.0625em) {
  #IFRAME_states,
#IFRAME_compmarketshare {
    max-width: 88.75rem !important;
    min-width: 86.875rem !important;
  }
}
@media only screen and (max-width: 105em) and (min-width: 100.0625em) {
  #IFRAME_states,
#IFRAME_compmarketshare {
    max-width: 81.25rem !important;
    min-width: 75rem !important;
  }
}
@media only screen and (max-width: 100em) and (min-width: 90.0625em) {
  #IFRAME_states,
#IFRAME_compmarketshare {
    max-width: 68.75rem !important;
    min-width: 65.625rem !important;
  }
}
@media only screen and (max-width: 90em) and (min-width: 85.4375em) {
  #IFRAME_states,
#IFRAME_compmarketshare {
    max-width: 62.5rem !important;
    min-width: 61.875rem !important;
  }
}
@media only screen and (max-width: 85.375em) and (min-width: 64.0625em) {
  #IFRAME_states,
#IFRAME_compmarketshare {
    max-width: 57.5rem !important;
    min-width: 56.25rem !important;
  }
}
@media only screen and (max-width: 64em) {
  #IFRAME_states,
#IFRAME_compmarketshare {
    max-width: 40.625rem !important;
    min-width: 38.4375rem !important;
  }
}

@media only screen and (min-width: 121.875em) {
  .wrapper > .table-wrapper {
    max-width: 106.25rem !important;
    min-width: 103.125rem !important;
  }
}
@media only screen and (max-width: 121.8125em) and (min-width: 98.75em) {
  .wrapper > .table-wrapper {
    max-width: 100rem !important;
    min-width: 93.75rem !important;
  }
}
@media only screen and (max-width: 98.6875em) and (min-width: 86.875em) {
  .wrapper > .table-wrapper {
    max-width: 83.75rem !important;
    min-width: 83.0625rem !important;
  }
}
@media only screen and (max-width: 86.8125em) and (min-width: 75em) {
  .wrapper > .table-wrapper {
    max-width: 75rem !important;
    min-width: 70rem !important;
  }
}
@media only screen and (max-width: 74.9375em) and (min-width: 65.625em) {
  .wrapper > .table-wrapper {
    max-width: 65rem !important;
    min-width: 61.25rem !important;
  }
}
@media only screen and (max-width: 65.5625em) and (min-width: 61.875em) {
  .wrapper > .table-wrapper {
    max-width: 61.25rem !important;
    min-width: 58.125rem !important;
  }
}
@media only screen and (max-width: 61.8125em) and (min-width: 56.25em) {
  .wrapper > .table-wrapper {
    max-width: 55.625rem !important;
    min-width: 54.375rem !important;
  }
}
@media only screen and (max-width: 56.1875em) {
  .wrapper > .table-wrapper {
    max-width: 38.125rem !important;
    min-width: 37.1875rem !important;
  }
}

#IFRAME_states {
  max-height: 168.75rem !important;
  min-height: 151.25rem !important;
}

#IFRAME_compmarketshare {
  max-height: 171.875rem !important;
  min-height: 152.5rem !important;
}

@media only screen and (max-width: 105em) {
  .nav-dropdown-wrapper {
    min-width: 18.75rem !important;
  }

  .top-nav {
    padding-left: 0.625rem;
  }
}
@media only screen and (max-width: 99em) {
  .nav-dropdown-wrapper {
    max-width: 25%;
    min-width: 12.5rem !important;
  }
  .nav-dropdown-wrapper .primary-dropdown {
    min-width: 15.375rem;
  }
}
@media only screen and (max-width: 90.75em) {
  .welcome-txt-wrapper {
    display: none;
  }

  .top-nav {
    justify-content: center !important;
    width: 100% !important;
  }

  .nav-dropdown-wrapper {
    max-width: 24%;
  }
}
@media only screen and (max-width: 85em) {
  .top-nav {
    justify-content: space-around !important;
    width: 100% !important;
  }
}
@media only screen and (max-width: 82.5em) {
  .download-charts {
    display: none !important;
  }

  .nav-dropdown-wrapper .primary-dropdown,
.nav-dropdown-wrapper .nav-dropdown {
    width: 15.3125rem !important;
  }
}
@media only screen and (max-width: 77.5em) {
  .name-and-download-text {
    display: none !important;
  }
}
.loading-screen {
  height: 100%;
  width: 100%;
  background: rgba(42, 60, 104, 0.8);
  cursor: wait;
  left: 0;
  overflow: visible;
  padding-top: 23vh;
  position: fixed;
  top: 0;
  z-index: 99;
}
.loading-screen__display-area {
  background: rgba(17, 17, 17, 0.7);
  margin: 0 auto;
  padding: 1.875rem 0;
  text-align: center;
  width: 100%;
}
.loading-screen__logo {
  background: url(../../img/logo-down-sprite.png) -1px -93px;
  display: inline-block;
  height: 70px;
  width: 250px;
}
.loading-screen__msg {
  color: #4fa2d9;
  font: small-caps 1.25em/1.2 Lato, Oxygen, "Open Sans", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Verdana, sans-serif;
  letter-spacing: 1.2px;
  text-align: center;
}
.loading-screen__spinner {
  height: 125px;
  width: 125px;
  animation: bounce-in 1.3s ease-in, color-spinner 1.6s linear 1.3s infinite;
  background-clip: padding-box;
  border-color: #2a3c68 #4fa2d9;
  border-radius: 50%;
  border-style: solid;
  border-width: 16px;
  margin: 2px auto;
  transform: translateZ(0);
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .loading-screen__spinner {
    animation: color-spinner 1.7s linear 0.2s infinite !important;
  }
}
@media (prefers-reduced-motion: reduce) {
  .loading-screen__spinner {
    animation: none;
  }
}

.stop-anim {
  animation-play-state: paused;
}

.accordion-wrap {
  margin-bottom: 0.625rem;
}

.accordion, .accordion__slide {
  border: 2px solid #2a3c68;
  box-sizing: border-box;
}

.accordion {
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16);
  background: padding-box #2a3c68;
  border: 2px solid #2a3c68;
  border-radius: 15px;
  box-sizing: border-box;
  height: 33.25em;
  line-height: 1.3;
  list-style: none;
  margin: 0 0 0.75rem;
  padding: 0;
  width: 100%;
}
.accordion__slide {
  background: padding-box #f1f2f2;
  border: 2px solid #2a3c68;
  box-sizing: border-box;
  cursor: pointer;
  float: left;
  height: 100%;
  overflow: hidden;
  transition: width 0.23s ease-out 0.15s;
  width: 14.2857%;
}
.accordion__slide-content {
  height: 100%;
  position: relative;
}
.accordion__slide-top {
  height: 5.5em;
  margin: 0 auto;
  padding: 0 0 0.75rem;
  position: relative;
  width: 96%;
}
.accordion__slide-heading {
  color: #2a3c68;
  font-size: 1.5em;
  margin: 0;
  padding: 0;
  position: absolute;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  width: 100%;
}
.accordion__slide-body {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 12;
  font-size: 1.25rem;
  overflow: hidden;
  overflow-wrap: break-word;
  padding: 0 1rem;
  text-align: left;
  text-overflow: ellipsis;
}
@media only screen and (max-width: 119.9375em) and (min-width: 105.0625em) {
  .accordion__slide-body {
    font-size: 1.1875rem;
  }
}
.accordion__slide-body > p {
  margin: 0;
}
.accordion__slide-instruct {
  bottom: 1.875rem;
  color: #4fa2d9;
  font-size: 1.125rem;
  font-variant: small-caps;
  letter-spacing: 0.15ch;
  position: absolute;
  right: 1rem;
  text-align: right;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .accordion__slide-instruct {
    display: none;
    transition: none;
  }
}
.accordion__slide-img {
  height: 0;
  width: 0;
  background: center/contain no-repeat;
  border: 1px solid #2a3c68;
  clip-path: inset(100%);
  float: right;
  margin: 0;
  opacity: 0;
  transition: all 0s ease-out;
}
.accordion__slide-img--visorig {
  background-image: url(../../img/def-visorig.png);
}
.accordion__slide-img--visorigolap {
  background-image: url(../../img/def-visorig.png);
}
.accordion__slide-img--kpi {
  background-image: url(../../img/def-kpi.png);
}
.accordion__slide-img--avpv {
  background-image: url(../../img/def-avpv.png);
}
.accordion__slide-img--ttzc {
  background-image: url(../../img/def-ttzc.png);
}
.accordion__slide-img--hm {
  background-image: url(../../img/def-heatmap.png);
}
.accordion__slide-img--vispen {
  background-image: url(../../img/def-vispen.png);
}
.accordion__slide:hover {
  -webkit-filter: blur(0) !important;
  filter: blur(0) !important;
  width: 34% !important;
}
.accordion__slide:hover .accordion__slide-body {
  display: block;
}
.accordion__slide:hover .accordion__slide-instruct {
  display: none;
}
.accordion__slide:hover .accordion__slide-img {
  height: 150px;
  width: 262px;
  clip-path: none;
  float: right;
  margin: 0 0.625rem 0.625rem;
  opacity: 1;
  transition-delay: 90ms;
  transition-duration: 0.31s;
}
.accordion__slide:first-child {
  border-radius: 15px 0 0 15px;
}
.accordion__slide:last-child {
  border-radius: 0 15px 15px 0;
}
.accordion:hover .accordion__slide {
  width: 11%;
  -webkit-filter: blur(1px);
  filter: blur(1px);
}

@media only screen and (max-width: 105em) {
  .accordion {
    line-height: 1.2;
  }
  .accordion__slide-top {
    height: 5em;
    padding: 0 0 0.5rem;
    margin-top: 1em;
    transition: height 0.23s ease-out 0.15s, margin 0.23s ease-out 0.15s;
  }
  .accordion__slide-heading {
    font-size: 1.25em;
  }
  .accordion__slide-body {
    -webkit-line-clamp: 13;
    font-size: 1rem;
    padding: 0 0.75rem;
  }
  .accordion__slide-instruct {
    font-size: 1rem;
  }
  .accordion__slide:hover .accordion__slide-top {
    height: 4.5em;
    margin: 0;
  }
  .accordion__slide:hover .accordion__slide-img {
    height: 113px;
    width: 197px;
    background-size: contain;
  }
}
@media only screen and (max-width: 64em) {
  .accordion__slide-top {
    height: 3.75em;
    padding: 0.25rem 0 0.5rem;
    line-height: 1.1;
  }
  .accordion__slide-heading {
    font-size: 1.0625em;
  }
  .accordion__slide-body {
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    padding: 0 0.5rem;
  }
  .accordion__slide-instruct {
    font-size: 0.875rem;
    left: 0;
    right: auto;
    text-align: center;
    width: 100%;
  }
  .accordion__slide:hover {
    border-right-width: 1px;
    overflow: auto;
    scrollbar-face-color: rgba(42, 60, 104, 0.3);
    scrollbar-track-color: rgba(42, 60, 104, 0.2);
    scrollbar-color: rgba(42, 60, 104, 0.3) rgba(42, 60, 104, 0.2);
    scrollbar-width: thin;
  }
  .accordion__slide:hover::-webkit-scrollbar {
    height: 4px;
    width: 4px;
  }
  .accordion__slide:hover::-webkit-scrollbar-track {
    background: rgba(42, 60, 104, 0.5);
  }
  .accordion__slide:hover::-webkit-scrollbar-thumb {
    background: rgba(42, 60, 104, 0.6);
  }
  .accordion__slide:hover::-webkit-scrollbar-thumb:hover {
    background: rgba(35, 50, 86, 0.67);
  }
  .accordion__slide:hover::-webkit-scrollbar-thumb:active {
    background: rgba(29, 42, 73, 0.75);
  }
  .accordion__slide:hover .accordion__slide-top {
    height: 3.375em;
  }
  .accordion__slide:hover .accordion__slide-img {
    height: 75px;
    width: 131px;
    background-size: contain;
  }
}

/*# sourceMappingURL=def.css.map */
