@import 'helpers/variables';
@import 'helpers/functions';
@import 'helpers/mixins';
@import 'helpers/placeholders';

*,
*:before,
*:after {
  box-sizing: border-box;
}

*:focus {
  outline: 0;
  border: 1px solid $lightRed;
  box-shadow: inset 0 0 3px $offBlack;
}

html {
  font-family: sans-serif;
  font-size: 100%;
}

body {
  color: $offBlack;
  font-family: $fontFamily;
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
}

.mockup-header {
  margin-top: 100px;
  text-align: center;
}

.kpi-table-wrap,
.avpv-table-wrap,
.ttzc-table-wrap {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.age-row {
  vertical-align: top;
}

.avg-age {
  margin-top: 10px;
}

.div-cell {
  padding: 0;
  margin-bottom: 5px;
}

.kpi-table,
.avpv-table,
.ttzc-table {
  border: 2px solid $silver;
  cursor: default;
  margin: 0 auto;
  max-width: 2000px;
  width: 100%;
}

.kpi-table,
.avpv-table {
  min-width: 890px;
}

.ttzc-table {
  min-width: 851px;
}

.kpi-table .kpi-header,
.avpv-table .avpv-header,
.ttzc-table .ttzc-header {
  border-bottom: 2px solid $silver;
  background-color: $darkRed;
  color: $white;
  font-size: 16px;
  font-weight: 400;
}

.kpi-table .kpi-header,
.ttzc-table .ttzc-header {
  height: 85px;
  font-size: 20px;
  padding: 10px 0;
}

.ttzc-table .ttzc-header {
  cursor: pointer;
}

.kpi-table .kpi-cell,
.avpv-table .avpv-cell,
.ttzc-table .ttzc-cell{
  color: $offBlack;
  text-align: center;
  width: 120px;
}

.kpi-table .kpi-cell {
  border: 1px solid $silver;
  height: 100px;
  min-width: 208px;
  padding: 5px;
  transition: min-width .7s ease-in-out;

  &:nth-child(4) {
    font-size: 18px;
    font-weight: 700;
    min-width: 65px;
    max-width: 100px;
    width: 85px
  }
}

.ttzc-table .ttzc-cell {
  padding: 10px;

  &:hover {
    font-weight: 700;
  }
}

.ttzc-table .ttzc-row:not(:last-child) {
  border-bottom: 1px solid $silver;
}

.cell-empty {
  color: transparent;
}

.avpv-table .avpv-cell {
  padding: 8px 14px;
}

.avpv-table .avpv-header-top {
  font: 700 30px $latoFamily;
  border-bottom: 0;
  height: 40px;
}

.avpv-table .avpv-header-sub {
  border-top: 0;
  height: 64px;
  font: 17px $latoFamily;
  padding-bottom: 20px;
}

.bench-name,
.comp-name {
  width: 120px;
  margin: 0 auto;
  word-wrap: normal;
}


.avpv-header-top:nth-child(2),
.avpv-header-top:nth-child(3),
.avpv-header-top:nth-child(4),
.avpv-header-sub:nth-child(2),
.avpv-header-sub:nth-child(6),
.avpv-header-sub:nth-child(8),
.avpv-header:last-child,
.avpv-cell:nth-child(2),
.avpv-cell:nth-child(6),
.avpv-cell:nth-child(8),
.avpv-cell:last-child {
  border-left: 1px solid $silver;
}

.avpv-table .avpv-header-sub:nth-child(5),
.avpv-table .avpv-cell:nth-child(5) {
  min-width: 110px;
}

.avpv-table .cell-empty{
  border-right: 1px solid $silver;
}

.avpv-table .avpv-header-sub:nth-child(7),
.avpv-table .graph-cell {
  min-width: 200px;
}

.avpv-table .avpv-header-sub:nth-child(7) {
  padding-left: 20px;
}

.avpv-table .avpv-cell:nth-child(7) {
  padding-left: 50px;

  @include max-width(1649px) {
    padding-left: 10px;
  }
}

.avpv-table .avpv-cell:first-child,
.avpv-table .avpv-header:first-child {
  min-width: 180px;
  width: 180px;
}

.kpi-table .kpi-cell:first-child,
.kpi-table .kpi-header:first-child {
  min-width: 142px;
}

.kpi-table .kpi-cell:first-child,
.avpv-table .avpv-cell:first-child,
.ttzc-table .ttzc-cell:first-child,
.ttzc-table .ttzc-header:first-child {
  text-align: left;
  padding-left: 14px;
}

.ttzc-zip {
  @include fixed-length(120px, w);
}

.ttzc-city {
  text-align: right !important;
  padding-right: 5px !important;
}

.ttzc-popgrow {
  text-align: right !important;
  padding-right: 14px !important;
}

.kpi-table .kpi-cell:first-child,
.avpv-table .avpv-row:nth-child(even),
.ttzc-table .ttzc-row:nth-child(even) {
  background-color: $offWhite;
}

.kpi-table .kpi-row:first-child .kpi-cell,
.kpi-table .kpi-row:nth-child(5) .kpi-cell {
  height: 60px;
}

.kpi-table .kpi-row:first-child .kpi-cell:not(:first-child),
.kpi-table .kpi-row:nth-child(5) .kpi-cell:not(:first-child) {
  font-size: 2em;
  font-weight: 700;
}

.countup-wrap {
  min-width: 130px;
}

.kpi-table .kpi-thead,
.ttzc-table .ttzc-thead {
  background-color: $darkRed;
}

.comp-col {
  transition: width .6s linear;
}

.avpv-table .indent {
  color: lighten($offBlack, 10%);
  text-indent: 18px;
}

.rowhead {
  font-weight: 700;
}

.nav {
  @include opacity(80);
  background-color: $darkRed;
  margin: 0;
  min-height: 50px;
  padding: 0;
  position: fixed;
  text-align: center;
  top: 0;
  white-space: nowrap;
  width: 100%;
  z-index: 999;
}

.nav-rest {
  background-color: $darkRed;
  height: 50px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 998;
}

select {
  border: 1px solid #000;
  height: 30px;
  max-width: 400px;
  min-width: 100px;
  text-indent: 12px;
  width: 300px;
}

select:invalid {
  color: gray
}

.dropdown {
  display: inline-block;
  margin: 10px;
  max-width: 33.33%;
}

.dropdown-select {
  @include border-radius(12px);
  background-color: $white;
  color: $offBlack;
  max-width: 100%;
}

.chart-container {
  @include align-items;
  @include flex-direction(row);
  @include flex-wrapper;
  @include justify-content;
  @include prefix(flex-wrap, wrap, ms webkit);
  @include size(100%);
  margin: 0;
  padding: 0;
}

.h-bar-container,
.h-bar-mc-container {
  @include size(100%);
  padding: 0;
  transition: margin-left .08s ease-in-out 20ms;
}

.h-bar-container {
  margin: 10px 0 5px 26.5%;
}

.h-bar-fill-outer {
  @include size(100%);
  margin: 10px auto 5px;
  padding: 0;
}

.h-bar-fill-inner {
  height: 25px;
  line-height: 25px;
  padding: 0;
  margin: 0 auto;
  width: 85px;
}

.title-col {
  height: 25px;
  line-height: 25px;
  margin-top: 10px;
  padding: 0;
}

.rad-wrap {
  @include size(85px); // This is the size of the radial
  margin: 0 auto;
  padding: 0;
  position: relative;
}

.rad-wrap-lg {
  @include size(120px);
  margin: 0 auto;
  padding: 0;
  position: relative;
}

.bar-wrap {
  height: 115px; // This is the width of the bar due to rotation
  max-height: 115px;
  margin: 0 auto;
  padding: 0;
  position: relative;
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0, M12=1, M21=-1, M22=0, sizingMethod='auto expand')";
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=0, M12=1, M21=-1, M22=0,sizingMethod='auto expand');
  -moz-transform: matrix(0, -1, 1, 0, 0, 0);
  -webkit-transform: matrix(0, -1, 1, 0, 0, 0);
  -o-transform: matrix(0, -1, 1, 0, 0, 0);
  transform: rotate(-90deg);
  width: 95px; // This is the height of the bar due to rotation
  max-width: 82.6%; // This is the max-height of the bar. 95/115 = 82.6%
}

.h-bar-wrap {
  height: 25px; // This is the height of the horizontal bar graph
  max-height: 24%;
  max-width: 100%;
  padding: 0;
  width: 100px; // This is the width of the horizontal bar graph
}

.h-bar-mc-wrap {
  height: 20px; // This is the height of the horizontal, multicolored bar graphs
  margin: 0;
  max-height: 50%;
  padding: 0;
  width: 120px; // This is the width of the horizontal, multicolored bar graphs
}

// Visitor Origin Styles Start

.vo-body {
  background-color: $offWhite;
}

.tile {
  @include border-radius(15px);
  background-color: $white;
  border: 1px solid $silver;
  box-shadow: 4px 3px 20px $gray;
  height: 800px;
  margin: 30px auto;
  padding: get-value($gutters, sm) get-value($gutters, lg);
  scrollbar-face-color: $darkRed;
  scrollbar-track-color: $red;
  width: 85vw;

  &::-webkit-scrollbar {
    height: 8px;
    width: 8px;

    &-track {
      background: rgba($red, .5);
      border-radius: 5px;
      box-shadow: inset 0 0 5px lighten($lightPurple, 10%);
    }

    &-thumb {
      background: rgba($darkRed, .5);
      border-radius: 5px;

      &:hover { background: darken(rgba($darkRed, .8), 5%); }

      &:active {
        background: darken(rgba($darkRed, .9), 10%);
        box-shadow: inset 0 0 5px lighten($lightRed, 10%);
      }
    }
  }

  @include min-width(3800px) { width: 60vw; }

  &-header {
    color: $darkRed;
    font-family: $latoFamily;
    margin-bottom: 15px;
    text-transform: uppercase;

    @include min-width(3800px) {
      text-align: center;
    }


    &-title {
      font-size: 2.5em;
      margin: 0;
      padding: 0;
    }
  }

  &-content {
    @extend %clearfix;
    height: 99%;
    margin: 0 auto;
  }

  &-sub-wrap {
    border: 0;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
  }
}

.avp-tile{
  height: auto;
  overflow-x: auto;
  padding: get-value($gutters, sm) get-value($gutters, lg) 1.4%;
}

.kpi-tile {
  height: 890px;
  max-height: 950px;
  padding: get-value($gutters, sm) get-value($gutters, lg) 1.4%;

  @include max-width(1919px) {
    height: 905px;
    overflow-x: auto;
  }

  @include min-width(2560px) { height: 915px; }
}

.ttzc-tile {
  height: auto;
  padding-bottom: 25px;

  @include max-width(1279px) {
    overflow-x: auto;
  }
}

.ttzc-tbody {

  .ttzc-cell {
    &:nth-child(2) {
      text-align: right;
    }
  }

  .ttzc-row:hover {
    background-color: $red;

    .ttzc-cell {
      color: $white;
    }
  }
}

.ttzc-tfoot {
  background-color: $brown;
  font-weight: 700;

  &:hover {
    background-color: $darkRed;

    .ttzc-cell {
      color: $white;

      &:not(.ttzc-avgs):hover {
        color: $almond;
      }
    }
  }
}

.ttzc-avgs {
  letter-spacing: 1px;
  font: {
    size: 1.05em;
    variant: small-caps;
  }
}

%map-wrap {
  @include border-radius(10px);
  background: {
    image: url(https://cdn-images-1.medium.com/max/2600/1*8HYrKM5hCxXsSS-FYV6rsQ.png);
    size: cover;
  }
  border: 1px solid $silver;
  display: inline-block;
  height: 90%;
}

.map {
  &-wrap {
    @extend %map-wrap;
    transition: width .8s ease-out;
    width: 49%; // 70% with no comp;

    &-right {
      @extend %map-wrap;
      display: block;
      float: right;
      margin-left: get-value($gutters, lg);
      width: 49%;
    }

    &-left {
      @extend %map-wrap;
      width: 70%;
    }

    &-full {
      @include border-radius(10px);
      border: 1px solid $silver;
      height: 90%;
      background: url(http://i.imgur.com/KvTSexI.png);
      width: 100%;
    }
  }

  &-label {
    font-variant: small-caps;
    margin: 0 auto;
    text-align: center;

    &-left {
      @extend .map-label;
      display: inline-block;
      width: 49%;
    }

    &-right {
      @extend .map-label-left;
      @extend %clearfix;
      float: right;
    }

    &-vp {
      @extend .map-label;
      @extend %clearfix;
      float: left;
      width: 70%;
    }
  }
}

.chart-heading {
  font-size: 1.5em; // When default is 16px
  font-weight: 700;
  padding: 35px 5px 10px;
}

.chart-label {
  display: inline-block;
  width: 115px;
}

.table {
  border: 0;
  -webkit-border-vertical-spacing: 0;
  -webkit-border-horizontal-spacing: 0;

  &-vo {
    @extend .table;
    text-align: center;
    width: 100%;

    &-wrap {
      @extend %clearfix;
      float: right;
      margin: 0 auto;
      overflow: visible;
      padding: 0;
      vertical-align: top;
      width: 29.5%;
      transition: transform .3s ease-in-out;

      @include min-to-max-width(903px, 1165px) {
        @include transform(scale(.8));
        left: -15px;
        margin-top: -30px;
        position: relative;
      }

      @include min-to-max-width(721px, 902px) {
        @include transform(scale(.7));
        left: -20px;
        margin-top: -35px;
        position: relative;
      }

      @include max-width(720px) {
        @include transform(scale(.55));
        left: -25px;
        margin-top: -40px;
        position: relative;
      }

      @include max-width(650px) {
        @include transform(scale(.5));
        left: -27px;
        margin-top: -56px;
        position: relative;
        @at-root {
          .tile {
            overflow-x: auto;
          }
        }
      }
    }

    &-top-text {
      font: {
        size: 1.25rem;
        weight: 700;
      }
      margin: -3px 0 20px;
      min-height: conv-to-rem(80px);
      text-align: justify;
      padding-left: 10px;
      vertical-align: top;
      width: 100%;
    }
  }
}

.bar-vo-data,
.bar-vp-data {
  height: conv-to-rem(155px);
}

.bar-vo-title {
  font: {
    size: 1.25em;
    weight: 700;
  }
}

.rad {
  &-vo {
    &-data {
      @extend .bar-vo-data;
    }
  }
}

.row {
  &-vo {

    &:nth-child(2) {
      height: 8px;
    }
  }
}

.cell {
  &-vo {

    &-hr {
      border-top-color: $silver;
      margin: 0 auto;
      padding: 0;
      width: 55%;
    }
  }
}
