.avpv-header:first-child, .avpv-cell:first-child {
  text-align: left;
  padding-left: 14px;
}

.avp-tile {
  height: auto;
  overflow-x: auto;
  padding: 0.75% 1.6% 1.4%;
}

.avpv-table {
  border: 2px solid #BCBEC0;
  cursor: default;
  margin: 0 auto;
  max-width: 2000px;
  min-width: 895px;
  width: 100%;
}

.avpv-table-wrap {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.avpv-thead {
  background-color: #2A3C68;
  border-bottom: 2px solid #BCBEC0;
  color: #FFF;
}

.avpv-header-top {
  font: 700 30px "Lato", Verdana, Geneva, -apple-system, BlinkMacSystemFont, sans-serif;
  border-bottom: 0;
  height: 40px;
}

.avpv-header-sub {
  border-top: 0;
  height: 64px;
  font: 400 17px "Lato", Verdana, Geneva, -apple-system, BlinkMacSystemFont, sans-serif;
  padding-bottom: 10px;
}

.avpv-tbody .avpv-row:nth-child(even) {
  background-color: #EDEDF6;
}

.avpv-cell {
  color: #414042;
  padding: 8px 13px;
  text-align: center;
  width: 120px;
}

.avpv-header-top:nth-child(2),
.avpv-header-top:nth-child(3),
.avpv-header-top:nth-child(4),
.avpv-header-sub:nth-child(2),
.avpv-header-sub:nth-child(6),
.avpv-header-sub:nth-child(8),
.avpv-header:last-child,
.avpv-cell:nth-child(2),
.avpv-cell:nth-child(6),
.avpv-cell:nth-child(8),
.avpv-cell:last-child {
  border-left: 1px solid #BCBEC0;
}

.avpv-header-sub:nth-child(5),
.avpv-cell:nth-child(5) {
  min-width: 110px;
}

.avpv-table .cell-empty {
  border-right: 1px solid #BCBEC0;
}

.avpv-header-sub:nth-child(7),
.graph-cell {
  min-width: 200px;
}

.avpv-header-sub:nth-child(7) {
  padding-left: 20px;
}

.avpv-cell:nth-child(7) {
  padding-left: 50px;
}

@media only screen and (max-width: 1649px) {
  .avpv-cell:nth-child(7) {
    padding-left: 10px;
  }
}

.avpv-cell:first-child,
.avpv-header:first-child {
  min-width: 180px;
  width: 180px;
}
