.tile-content:before, .tile-content:after {
  content: ' ';
  display: table;
}

.tile-content:after {
  clear: both;
}

.avpv-header:first-child, .avpv-cell:first-child {
  text-align: left;
  padding-left: 14px;
}

.tile {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.22), 0 14px 56px rgba(0, 0, 0, 0.25);
  background: padding-box #FFF;
  border-radius: 15px;
  border: 1px solid #BCBEC0;
  height: 800px;
  margin: 30px auto;
  padding: 0.75% 1.6%;
  scrollbar-face-color: #A11D27;
  scrollbar-track-color: #d9353d;
  -webkit-transition: width 85ms;
  transition: width 85ms;
  width: 85vw;
}

@media only screen and (min-width: 3440px) {
  .tile {
    width: 60vw;
  }
}

.tile::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

.tile::-webkit-scrollbar-track {
  background: rgba(213, 31, 39, 0.5);
  border-radius: 5px;
  box-shadow: inset 0 0 5px #efeff7;
}

.tile::-webkit-scrollbar-thumb {
  background: rgba(161, 29, 39, 0.5);
  border-radius: 5px;
}

.tile::-webkit-scrollbar-thumb:hover {
  background: rgba(139, 25, 34, 0.8);
}

.tile::-webkit-scrollbar-thumb:active {
  background: rgba(118, 21, 29, 0.9);
  box-shadow: inset 0 0 5px #e96a70;
}

.tile-header {
  color: #A11D27;
  font-family: "Lato", Verdana, Geneva, -apple-system, BlinkMacSystemFont, sans-serif;
  margin-bottom: 15px;
  text-transform: uppercase;
}

@media only screen and (min-width: 3440px) {
  .tile-header {
    text-align: center;
  }
}

.tile-header-title {
  font-size: 2.5em;
  margin: 0;
  padding: 0;
  text-shadow: 6px 6px 18px rgba(0, 0, 0, 0.35);
}

.tile-content {
  height: 99%;
  margin: 0 auto;
}

.tile-sub-wrap {
  border: 0;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.cell-empty {
  color: transparent;
}

.bench-name,
.comp-name {
  width: 120px;
  margin: 0 auto;
  word-wrap: normal;
}

.comp-col {
  -webkit-transition: width .5s;
  transition: width .5s;
}

.rowhead {
  font-weight: 700;
}

.indent {
  color: #5b595c;
  padding-left: 20px !important;
}

.avp-tile {
  height: auto;
  overflow-x: auto;
  padding: 0.75% 1.6% 1.4%;
}

.avpv-table {
  border: 2px solid #BCBEC0;
  cursor: default;
  margin: 0 auto;
  max-width: 2000px;
  min-width: 895px;
  width: 100%;
}

.avpv-table-wrap {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.avpv-thead {
  background-color: #A11D27;
  border-bottom: 2px solid #BCBEC0;
  color: #FFF;
}

.avpv-header-top {
  font: 700 30px "Lato", Verdana, Geneva, -apple-system, BlinkMacSystemFont, sans-serif;
  border-bottom: 0;
  height: 40px;
}

.avpv-header-sub {
  border-top: 0;
  height: 64px;
  font: 400 17px "Lato", Verdana, Geneva, -apple-system, BlinkMacSystemFont, sans-serif;
  padding-bottom: 10px;
}

.avpv-tbody .avpv-row:nth-child(even) {
  background-color: #F1F2F2;
}

.avpv-cell {
  color: #414042;
  padding: 8px 13px;
  text-align: center;
  width: 120px;
}

.avpv-header-top:nth-child(2),
.avpv-header-top:nth-child(3),
.avpv-header-top:nth-child(4),
.avpv-header-sub:nth-child(2),
.avpv-header-sub:nth-child(6),
.avpv-header-sub:nth-child(8),
.avpv-header:last-child,
.avpv-cell:nth-child(2),
.avpv-cell:nth-child(6),
.avpv-cell:nth-child(8),
.avpv-cell:last-child {
  border-left: 1px solid #BCBEC0;
}

.avpv-header-sub:nth-child(5),
.avpv-cell:nth-child(5) {
  min-width: 110px;
}

.avpv-table .cell-empty {
  border-right: 1px solid #BCBEC0;
}

.avpv-header-sub:nth-child(7),
.graph-cell {
  min-width: 200px;
}

.avpv-header-sub:nth-child(7) {
  padding-left: 20px;
}

.avpv-cell:nth-child(7) {
  padding-left: 50px;
}

@media only screen and (max-width: 1649px) {
  .avpv-cell:nth-child(7) {
    padding-left: 10px;
  }
}

.avpv-cell:first-child,
.avpv-header:first-child {
  min-width: 180px;
  width: 180px;
}

.h-bar-mc-wrap {
  cursor: default;
  height: 20px;
  margin: 0;
  max-height: 50%;
  padding: 0;
  width: 120px;
}

.h-bar-mc-container {
  height: 100%;
  width: 100%;
  padding: 0;
  -webkit-transition: margin-left 80ms ease-in-out 20ms;
  transition: margin-left 80ms ease-in-out 20ms;
}

.h-bar-container {
  margin: 10px 0 5px 26.5%;
}

.h-bar-fill-outer {
  height: 100%;
  width: 100%;
  margin: 10px auto 5px;
  padding: 0;
}

.h-bar-fill-inner {
  height: 25px;
  line-height: 25px;
  padding: 0;
  margin: 0 auto;
  width: 85px;
}
