.tile-content {
  height: 690px;
}

.bav-tile {
  height: auto;
  min-height: 700px;
}

.map-wrap-full {
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
  border: 1px solid #BCBEC0;
  height: 97%;
  width: 100%;
}

.map-iframe-full {
  border: 2px solid #BCBEC0;
  height: 95.75%;
  margin: .75% .7%;
  width: 98.2%;
}
