.tile-content:before, .tile-content:after {
  content: ' ';
  display: table;
}

.tile-content:after {
  clear: both;
}

.tile {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.22), 0 14px 56px rgba(0, 0, 0, 0.25);
  background: padding-box #FFF;
  border-radius: 15px;
  border: 1px solid #BCBEC0;
  height: 800px;
  margin: 30px auto;
  padding: 0.75% 1.6%;
  scrollbar-face-color: #A11D27;
  scrollbar-track-color: #d9353d;
  -webkit-transition: width 85ms;
  transition: width 85ms;
  width: 85vw;
}

@media only screen and (min-width: 3440px) {
  .tile {
    width: 60vw;
  }
}

.tile::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

.tile::-webkit-scrollbar-track {
  background: rgba(213, 31, 39, 0.5);
  border-radius: 5px;
  box-shadow: inset 0 0 5px #efeff7;
}

.tile::-webkit-scrollbar-thumb {
  background: rgba(161, 29, 39, 0.5);
  border-radius: 5px;
}

.tile::-webkit-scrollbar-thumb:hover {
  background: rgba(139, 25, 34, 0.8);
}

.tile::-webkit-scrollbar-thumb:active {
  background: rgba(118, 21, 29, 0.9);
  box-shadow: inset 0 0 5px #e96a70;
}

.tile-header {
  color: #A11D27;
  font-family: "Lato", Verdana, Geneva, -apple-system, BlinkMacSystemFont, sans-serif;
  margin-bottom: 15px;
  text-transform: uppercase;
}

@media only screen and (min-width: 3440px) {
  .tile-header {
    text-align: center;
  }
}

.tile-header-title {
  font-size: 2.5em;
  margin: 0;
  padding: 0;
  text-shadow: 6px 6px 18px rgba(0, 0, 0, 0.35);
}

.tile-content {
  height: 680px;
  margin: 0 auto;
}

.bav-tile {
  height: auto;
  min-height: 700px;
}

.map-wrap-full {
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
  border: 1px solid #BCBEC0;
  height: 90%;
  width: 100%;
}

.map-iframe-full {
  border: 2px solid #BCBEC0;
  height: 95.75%;
  margin: .75% .7%;
  width: 98.2%;
}
