.kpi-header:first-child, .kpi-cell:first-child {
  text-align: left;
  padding-left: 14px;
}

.kpi-header {
  font-size: 20px;
  font-weight: 400;
  height: 85px;
  padding: 10px 0;
}

.kpi-table {
  border: 2px solid #BCBEC0;
  cursor: default;
  margin: 0 auto 9px;
  max-width: 2000px;
  min-width: 895px;
  width: 100%;
}

.kpi-table-wrap {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.kpi-thead {
  background-color: #2A3C68;
  border-bottom: 2px solid #BCBEC0;
  color: #FFF;
}

.cell-empty {
  color: transparent;
}

.bench-name,
.comp-name {
  width: 120px;
  margin: 0 auto;
  word-wrap: normal;
}

.comp-col {
  -webkit-transition: width .5s;
  transition: width .5s;
}

.rowhead {
  font-weight: 700;
}

.indent {
  color: #5b595c;
  padding-left: 22px;
}

.kpi-tile {
  max-height: 965px;
  padding: 0.75% 1.6% 1.4%;
}

@media only screen and (max-width: 1919px) {
  .kpi-tile {
    overflow-x: auto;
  }
}

@media only screen and (min-width: 2560px) {
  .kpi-tile {
    height: 920px;
  }
}

.kpi-tile-content {
  margin: 0 auto;
  max-width: 2000px;
}

.age-row {
  vertical-align: top;
}

.avg-age {
  margin-top: 10px;
}

.title-col {
  height: 25px;
  line-height: 25px;
  margin-top: 10px;
  padding: 0;
}

.div-cell {
  padding: 0;
  margin-bottom: 5px;
}

.kpi-cell {
  border: 1px solid #BCBEC0;
  color: #414042;
  height: 100px;
  min-width: 208px;
  padding: 5px;
  text-align: center;
  -webkit-transition: min-width .6s ease-in-out;
  transition: min-width .6s ease-in-out;
}

.kpi-cell:first-child {
  background-color: #EDEDF6;
}

.kpi-cell:nth-child(4) {
  font-size: 18px;
  font-weight: 700;
  min-width: 65px;
  max-width: 100px;
  width: 85px;
}

.kpi-header:first-child,
.kpi-cell:first-child {
  min-width: 142px;
}

.kpi-row:first-child .kpi-cell,
.kpi-row:nth-child(5) .kpi-cell {
  height: 60px;
}

.not-app,
.kpi-row .kpi-index,
.kpi-row:first-child .kpi-cell:not(:first-child),
.kpi-row:nth-child(5) .kpi-cell:not(:first-child) {
  font-size: 2em;
  font-weight: 700;
}

.countup-wrap {
  min-width: 130px;
}

.rad-wrap {
  height: 85px;
  width: 85px;
  margin: 0 auto;
  padding: 0;
  position: relative;
}

.bar-wrap {
  height: 115px;
  max-height: 115px;
  margin: 0 auto;
  padding: 0;
  position: relative;
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0, M12=1, M21=-1, M22=0, sizingMethod='auto expand')";
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=0, M12=1, M21=-1, M22=0,sizingMethod='auto expand');
  -moz-transform: matrix(0, -1, 1, 0, 0, 0);
  -webkit-transform: matrix(0, -1, 1, 0, 0, 0);
  transform: rotate(-90deg);
  width: 95px;
  max-width: 82.6%;
}

.h-bar-wrap {
  height: 25px;
  max-height: 24%;
  max-width: 100%;
  padding: 0;
  width: 100px;
}

.chart-container {
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.h-bar-container {
  height: 100%;
  width: 100%;
  margin: 10px 0 5px 26.5%;
  padding: 0;
  -webkit-transition: margin-left 80ms ease-in-out 20ms;
  transition: margin-left 80ms ease-in-out 20ms;
}

.h-bar-fill-outer {
  height: 100%;
  width: 100%;
  margin: 10px auto 5px;
  padding: 0;
}

.h-bar-fill-inner {
  height: 25px;
  line-height: 25px;
  padding: 0;
  margin: 0 auto;
  width: 85px;
}
