.map-label-vp:before, .map-label-right:before, .table-vo-wrap:before, .tile-content:before, .map-label-vp:after, .map-label-right:after, .table-vo-wrap:after, .tile-content:after {
  content: "";
  display: table;
}
.map-label-vp:after, .map-label-right:after, .table-vo-wrap:after, .tile-content:after {
  clear: both;
}

.ttzc-header:first-child, .ttzc-cell:first-child, .kpi-header:first-child, .avpv-cell:first-child, .avpv-header:first-child {
  text-align: left;
  padding-left: 14px;
}

.ttzc-header, .kpi-header {
  font-size: 20px;
  font-weight: 400;
  height: 85px;
  padding: 10px 0;
}

.map-wrap-left, .map-wrap-right, .map-wrap {
  background-clip: padding-box;
  border-radius: 10px;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16);
  background-image: url(https://cdn-images-1.medium.com/max/2600/1*8HYrKM5hCxXsSS-FYV6rsQ.png);
  background-size: cover;
  border: 1px solid #bcbec0;
  display: inline-block;
  height: 90%;
}

.map-wrap-iframe-half-right, .map-wrap-iframe-half-left, .map-wrap-iframe-70, .map-wrap-iframe-full, .map-wrap-iframe {
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16);
  border: 1px solid #bcbec0;
  display: inline-block;
  height: 90%;
}

.kpi-icon-diversity, .kpi-icon-college, .kpi-icon-dwell, .kpi-icon-income, .kpi-icon-age, .kpi-icon-car, .kpi-icon-pop {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  display: inline-block;
  height: 25px;
  vertical-align: middle;
  width: 25px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

*:focus {
  outline: 0;
  border: 1px solid #8ed8f8;
  box-shadow: inset 0 0 3px #414042;
}

html {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font: 100%/1.2 sans-serif;
}

body {
  background-color: #f1f2f2;
  color: #414042;
  font-family: "Roboto", "Helvetica Neue", HelveticaNeue, Helvetica-Neue, Helvetica, -apple-system, BlinkMacSystemFont, BBAlpha Sans, "Segoe UI", Arial, "Noto Sans", sans-serif;
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
}

.mockup-header {
  margin-top: 100px;
  text-align: center;
}

.nav {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  background: #fff;
  border-color: #2a3c68;
  border-style: solid;
  border-width: 2px 0;
  box-shadow: inset 5px 5px 10px rgba(42, 60, 104, 0.6);
  filter: alpha(opacity=95);
  height: 8vh;
  left: 0;
  margin: 0;
  min-height: 50px;
  overflow: hidden;
  opacity: 0.95;
  padding: 0;
  position: fixed;
  text-align: center;
  top: 0;
  white-space: nowrap;
  width: 100%;
  z-index: 999;
}

.nav-rest {
  background-color: #959eb4;
  min-height: 50px;
  height: 8vh;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 998;
}

select:invalid {
  color: gray;
}

.dropdown-wrapper {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  margin: 0 10px;
  max-width: 30%;
}

.dropdown-select {
  height: 30px;
  max-height: 30px;
  min-height: 30px;
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: url(img/icon-form-dropdown-show.png) right no-repeat padding-box #fff;
  border-radius: 10px;
  border: 1px solid #bcbec0;
  color: #414042;
  cursor: pointer;
  font-size: 18px;
  line-height: 30px;
  max-width: 99%;
  padding: 0 32px 0 0;
  text-align: left;
  text-indent: 12px;
  width: 350px;
}
@-moz-document url-prefix() {
  .dropdown-select {
    line-height: 28px;
    text-indent: 5px;
  }
}
.dropdown-select.open {
  background-image: url(img/icon-form-dropdown-hide.png);
}

.tile {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.22), 0 14px 56px rgba(0, 0, 0, 0.25);
  background: padding-box #fff;
  border-radius: 15px;
  border: 1px solid #bcbec0;
  height: 800px;
  margin: 1.5rem auto;
  padding: 0.75% 1.6%;
  scrollbar-face-color: #2a3c68;
  scrollbar-track-color: #4fa2d9;
  -webkit-transition: width 85ms;
  transition: width 85ms;
  width: 85vw;
}
@media only screen and (min-width: 3440px) {
  .tile {
    width: 60vw;
  }
}
.tile::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}
.tile::-webkit-scrollbar-track {
  background: rgba(79, 162, 217, 0.5);
  border-radius: 5px;
  box-shadow: inset 0 0 5px #efeff7;
}
.tile::-webkit-scrollbar-thumb {
  background: rgba(42, 60, 104, 0.5);
  border-radius: 5px;
}
.tile::-webkit-scrollbar-thumb:hover {
  background: rgba(35, 50, 86, 0.8);
}
.tile::-webkit-scrollbar-thumb:active {
  background: rgba(27, 39, 68, 0.9);
  box-shadow: inset 0 0 5px #efeff7;
}
.tile-header {
  color: #2a3c68;
  font-family: "Lato", Verdana, Geneva, -apple-system, BlinkMacSystemFont, sans-serif;
  margin-bottom: 15px;
  text-transform: uppercase;
}
@media only screen and (min-width: 3440px) {
  .tile-header {
    text-align: center;
  }
}
.tile-header-title {
  font-size: 2.5em;
  margin: 0;
  padding: 0;
  text-shadow: 6px 6px 18px rgba(0, 0, 0, 0.35);
}
.tile-content {
  height: 99%;
  margin: 0 auto;
}
@media only screen and (max-width: 1065px) {
  .tile-content {
    max-height: 675px;
    overflow: hidden;
  }
}
.tile-sub-wrap {
  border: 0;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.kpi-table,
.avpv-table,
.ttzc-table,
.def-table {
  border: 2px solid #bcbec0;
  cursor: default;
  margin: 0 auto;
  max-width: 2000px;
  width: 100%;
}
.kpi-table-wrap,
.avpv-table-wrap,
.ttzc-table-wrap,
.def-table-wrap {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.avpv-thead,
.kpi-thead,
.ttzc-thead {
  background-color: #2a3c68;
  border-bottom: 2px solid #bcbec0;
  color: #fff;
}

.kpi-cell,
.avpv-cell,
.ttzc-cell {
  color: #414042;
  text-align: center;
  width: 120px;
}

.cell-empty {
  color: transparent !important;
}

.bench-name,
.comp-name {
  width: 120px;
  margin: 0 auto;
  word-wrap: normal;
}

.comp-col {
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}

.rowhead {
  font-weight: 700;
}

.indent {
  color: #5b595c;
  padding-left: 20px !important;
}

.nav-label {
  background: #4fa2d9;
  background-clip: padding-box;
  border-radius: 4px 0 0 4px;
  -webkit-clip-path: polygon(95% 0, 95% 35%, 100% 50%, 95% 65%, 95% 100%, 0 100%, 0 0);
  clip-path: polygon(95% 0, 95% 35%, 100% 50%, 95% 65%, 95% 100%, 0 100%, 0 0);
  color: #fff;
  height: 1.5555555556rem;
  width: 7.25rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  cursor: default;
  margin: 0 5px 0 0;
  text-align: center;
}

.label-inner-txt {
  margin-left: -3px;
}

.ie-only-arrow {
  display: none;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .dropdown-select {
    background: #f1f2f2;
    border-radius: 5px 0 0 5px;
    padding: 0 0 0 8px;
  }

  .nav-label {
    border-radius: 10px;
    margin: 0 8px 0 0;
    padding: 0 10px 0 15px;
    width: auto;
  }

  .label-inner-txt {
    margin: 0;
  }

  .ie-only-arrow {
    display: inline;
    font-size: 1.5em;
    margin-top: -3px;
  }
}
@supports (not (clip-path: polygon(0 0, 0 0, 0 0))) and (not (-webkit-clip-path: polygon(0 0, 0 0, 0 0))) {
  .nav-label {
    border-radius: 10px;
    margin: 0 8px 0 0;
    padding: 0 10px 0 15px;
    width: auto;
  }

  .label-inner-txt {
    margin: 0;
  }

  .ie-only-arrow {
    display: inline;
  }
}
.nav-benchmark-name {
  height: 30px;
  max-height: 30px;
  min-height: 30px;
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: url(img/icon-form-benchmark.png) right no-repeat padding-box #fff;
  box-shadow: inset 0 0 2px rgba(109, 110, 113, 0.1);
  border: 1px solid #bcbec0;
  border-radius: 10px;
  color: #414042;
  cursor: help;
  font-size: 18px;
  line-height: 30px;
  max-width: 100%;
  padding: 0 32px 0 0;
  text-align: left;
  text-indent: 12px;
  width: 350px;
}
@-moz-document url-prefix() {
  .nav-benchmark-name {
    text-indent: 5px;
  }
}

.bench-placeholder-msg {
  color: #6d6e71;
  font-size: 0.875em;
  font-style: italic;
  position: relative;
  top: -1px;
}

.avp-tile {
  height: auto;
  overflow-x: auto;
  padding: 0.75% 1.6% 1.4%;
}

.avpv-table {
  min-width: 895px;
}

.avpv-header-top {
  font: 700 30px "Lato", Verdana, Geneva, -apple-system, BlinkMacSystemFont, sans-serif;
  border-bottom: 0;
  height: 40px;
}
.avpv-header-sub {
  border-top: 0;
  height: 64px;
  font: 400 17px "Lato", Verdana, Geneva, -apple-system, BlinkMacSystemFont, sans-serif;
  padding-bottom: 10px;
}
.avpv-tbody .avpv-row:nth-child(even) {
  background-color: #ededf6;
}

.avpv-cell {
  padding: 8px 13px;
}
.avpv-header-top:nth-child(2),
.avpv-header-top:nth-child(3),
.avpv-header-top:nth-child(4),
.avpv-header-sub:nth-child(2),
.avpv-header-sub:nth-child(6),
.avpv-header-sub:nth-child(8),
.avpv-header:last-child,
.avpv-cell:nth-child(2),
.avpv-cell:nth-child(6),
.avpv-cell:nth-child(8),
.avpv-cell:last-child {
  border-left: 1px solid #bcbec0;
}

.avpv-header-sub:nth-child(5),
.avpv-cell:nth-child(5) {
  min-width: 110px;
}

.avpv-table .cell-empty {
  border-right: 1px solid #bcbec0;
}

.avpv-header-sub:nth-child(7),
.graph-cell {
  min-width: 200px;
}

.avpv-header-sub:nth-child(7) {
  padding-left: 20px;
}

.avpv-cell:nth-child(7) {
  padding-left: 50px;
}
@media only screen and (max-width: 1649px) {
  .avpv-cell:nth-child(7) {
    padding-left: 10px;
  }
}

.avpv-cell:first-child,
.avpv-header:first-child {
  min-width: 180px;
  width: 180px;
}

.kpi-tile {
  height: auto;
  max-height: 965px;
  padding: 0.75% 1.6% 1.4%;
}
@media only screen and (max-width: 1919px) {
  .kpi-tile {
    height: 905px;
    overflow-x: auto;
  }
}
@media only screen and (min-width: 2560px) {
  .kpi-tile {
    height: 920px;
  }
}
.kpi-tile-content {
  margin: 0 auto;
  max-width: 2000px;
}

.kpi-table {
  min-width: 895px;
}

.age-row {
  vertical-align: top;
}

.avg-age {
  margin-top: 10px;
}

.title-col {
  height: 25px;
  line-height: 25px;
  margin-top: 10px;
  padding: 0;
}

.div-cell {
  padding: 0;
  margin-bottom: 5px;
}

.kpi-cell {
  border: 1px solid #bcbec0;
  height: 100px;
  min-width: 208px;
  padding: 5px;
  text-align: center;
  -webkit-transition: min-width 0.6s ease-in-out;
  transition: min-width 0.6s ease-in-out;
  vertical-align: middle;
}
.kpi-cell:first-child {
  background-color: #ededf6;
  padding-left: 8px;
  text-align: left;
}

.kpi-header:first-child,
.kpi-cell:first-child {
  min-width: 142px;
}

.kpi-row:first-child .kpi-cell,
.kpi-row:nth-child(5) .kpi-cell {
  height: 60px;
}

.not-app,
.kpi-index,
.kpi-row:first-child .kpi-cell:not(:first-child),
.kpi-row:nth-child(5) .kpi-cell:not(:first-child) {
  font-size: 1.5em;
  font-weight: 700;
}

.kpi-index {
  max-width: 100px;
  min-width: 65px;
  width: 85px;
}

.countup-wrap {
  min-width: 130px;
}

.icon-container {
  float: left;
  height: 100%;
  margin-right: 8px;
  position: relative;
  vertical-align: middle;
  width: 25px;
}

.kpi-icon-pop {
  background-image: url(../assets/images/icon-population.png);
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min-device-pixel-ratio: 1.3), only screen and (min-resolution: 124.8dpi), only screen and (min-resolution: 1.3dppx) {
  .kpi-icon-pop {
    background-image: url(../assets/images/icon-population@2x.png);
    background-size: 25px 25px;
  }
}

.kpi-icon-car {
  background-image: url(../assets/images/icon-car.png);
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min-device-pixel-ratio: 1.3), only screen and (min-resolution: 124.8dpi), only screen and (min-resolution: 1.3dppx) {
  .kpi-icon-car {
    background-image: url(../assets/images/icon-car@2x.png);
    background-size: 25px 25px;
  }
}

.kpi-icon-age {
  background-image: url(../assets/images/icon-age.png);
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min-device-pixel-ratio: 1.3), only screen and (min-resolution: 124.8dpi), only screen and (min-resolution: 1.3dppx) {
  .kpi-icon-age {
    background-image: url(../assets/images/icon-age@2x.png);
    background-size: 25px 25px;
  }
}

.kpi-icon-income {
  background-image: url(../assets/images/icon-income.png);
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min-device-pixel-ratio: 1.3), only screen and (min-resolution: 124.8dpi), only screen and (min-resolution: 1.3dppx) {
  .kpi-icon-income {
    background-image: url(../assets/images/icon-income@2x.png);
    background-size: 25px 25px;
  }
}

.kpi-icon-dwell {
  background-image: url(../assets/images/icon-dwell.png);
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min-device-pixel-ratio: 1.3), only screen and (min-resolution: 124.8dpi), only screen and (min-resolution: 1.3dppx) {
  .kpi-icon-dwell {
    background-image: url(../assets/images/icon-dwell@2x.png);
    background-size: 25px 25px;
  }
}

.kpi-icon-college {
  background-image: url(../assets/images/icon-college.png);
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min-device-pixel-ratio: 1.3), only screen and (min-resolution: 124.8dpi), only screen and (min-resolution: 1.3dppx) {
  .kpi-icon-college {
    background-image: url(../assets/images/icon-college@2x.png);
    background-size: 25px 25px;
  }
}

.kpi-icon-diversity {
  background-image: url(../assets/images/icon-diversity.png);
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min-device-pixel-ratio: 1.3), only screen and (min-resolution: 124.8dpi), only screen and (min-resolution: 1.3dppx) {
  .kpi-icon-diversity {
    background-image: url(../assets/images/icon-diversity@2x.png);
    background-size: 25px 25px;
  }
}

.kpi-row-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  height: 100%;
  padding: 0;
}

th.kpi-cell {
  color: #2a3c68;
  box-shadow: inset 15px 0 23px -15px rgba(42, 60, 104, 0.2);
}

.ttzc-tile {
  height: auto;
  padding-bottom: 25px;
}
@media only screen and (max-width: 1279px) {
  .ttzc-tile {
    overflow-x: auto;
  }
}

.ttzc-table {
  min-width: 851px;
  table-layout: fixed;
}

.ttzc-cell {
  padding: 10px;
}
.ttzc-cell:hover {
  font-weight: 700;
}

.ttzc-tbody .ttzc-row:nth-child(even) {
  background-color: #ededf6;
}
.ttzc-tbody .ttzc-row:not(:last-child) {
  border-bottom: 1px solid #bcbec0;
}
.ttzc-tbody .ttzc-row:hover {
  background-color: #4fa2d9;
}
.ttzc-tbody .ttzc-row:hover .ttzc-cell {
  color: #fff;
}

.ttzc-tfoot {
  background-color: #a29490;
  font-weight: 700;
}
.ttzc-tfoot:hover {
  background-color: #2a3c68;
}
.ttzc-tfoot:hover .ttzc-cell {
  color: #fff;
}
.ttzc-tfoot:hover .ttzc-cell:not(.ttzc-avgs):hover {
  color: #fce6a3;
}

.ttzc-header {
  background: #2a3c68;
  cursor: pointer;
  position: relative;
  transition: background 0.4s ease-out;
  white-space: nowrap;
}
.ttzc-header:hover {
  background: #33446e;
}
.ttzc-header:active {
  background: #26375f;
}
.ttzc-rank {
  max-width: 90px;
  width: 90px;
}

.ttzc-popgrow {
  padding-right: 14px;
  text-align: right;
}

.ttzc-avgs {
  letter-spacing: 1px;
  font-size: 1.05em;
  font-variant: small-caps;
}

.vo-tile-top {
  margin-bottom: 3.5rem;
}
@media only screen and (max-width: 1165px) {
  .vo-tile-top {
    overflow-x: auto;
  }
}

@media only screen and (max-width: 1065px) {
  .vp-tile {
    overflow-x: auto;
  }
}

.table, .table-vo {
  border: 0;
  -webkit-border-vertical-spacing: 0;
  -webkit-border-horizontal-spacing: 0;
}
.table-vo {
  text-align: center;
  width: 100%;
}
.table-vo-wrap {
  float: right;
  margin: 0 auto;
  overflow: visible;
  padding: 0;
  vertical-align: top;
  width: 29.5%;
  -webkit-transition: transform 0.25s;
  transition: transform 0.25s;
}
@media only screen and (max-width: 1449px) and (min-width: 1175px) {
  .table-vo-wrap {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    left: -15px;
    top: -35px;
    position: relative;
  }
}
@media only screen and (max-width: 1174px) and (min-width: 1064px) {
  .table-vo-wrap {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    left: -22px;
    top: -45px;
    position: relative;
  }
}
@media only screen and (max-width: 1063px) and (min-width: 1005px) {
  .table-vo-wrap {
    -webkit-transform: scale(0.65);
    transform: scale(0.65);
    left: -25px;
    top: -55px;
    position: relative;
  }
}
@media only screen and (max-width: 1004px) and (min-width: 721px) {
  .table-vo-wrap {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    left: -28px;
    top: -65px;
    position: relative;
  }
}
@media only screen and (max-width: 720px) {
  .table-vo-wrap {
    -webkit-transform: scale(0.55);
    transform: scale(0.55);
    left: -30px;
    top: -100px;
    position: relative;
  }
}
.table-vo-top-text {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -3px 0 20px;
  min-height: 5rem;
  text-align: justify;
  padding-left: 10px;
  vertical-align: top;
  width: 100%;
}
@media only screen and (max-width: 1174px) {
  .table-vo-top-text {
    text-align: center !important;
    position: relative;
    right: -25px;
  }
}

.chart-heading {
  font-size: 1.5em;
  font-weight: 700;
  padding: 35px 5px 10px;
}

.chart-label {
  display: inline-block;
  width: 115px;
}

.def-tile {
  height: auto;
}
@media only screen and (max-width: 800px) {
  .def-tile {
    overflow-x: auto;
  }
}

.def-table-wrap {
  margin-bottom: 10px;
}

.def-cell {
  min-width: 103px;
}

.def-heading {
  font-family: "Lato", Verdana, Geneva, -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 15px 20px 10px;
  text-align: left;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  width: 33.33%;
}

.def-txt {
  font-size: 1rem;
  padding: 10px 20px;
  text-align: justify;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  vertical-align: top;
  word-break: break-word;
  word-wrap: break-word;
}
@media only screen and (max-width: 1439px) and (min-width: 1024px) {
  .def-txt {
    font-size: 0.75rem;
    padding: 6px 12px;
  }
  .def-heading {
    font-size: 1.25rem;
    padding: 8px 12px 6px;
  }

  .def-img {
    padding: 6px 12px 8px;
  }
}
@media only screen and (max-width: 1023px) {
  .def-txt {
    font-size: 0.625rem;
    padding: 4px 9px;
  }
  .def-heading {
    font-size: 1rem;
    padding: 6px 9px 4px;
  }

  .def-img {
    padding: 4px 9px 6px;
  }
}

.def-img {
  padding: 10px 20px 15px;
  vertical-align: top;
}
.def-img-div {
  background-clip: padding-box;
  background-origin: padding-box;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border: 1px solid #414042;
  height: 155px;
  margin-top: 2px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 180px;
}
@media only screen and (max-width: 1440px) and (min-width: 1280px) {
  .def-img-div {
    height: 116px;
    width: 135px;
  }
}
@media only screen and (max-width: 1279px) and (min-width: 1024px) {
  .def-img-div {
    height: 93px;
    width: 108px;
  }
}
@media only screen and (max-width: 1023px) {
  .def-img-div {
    height: 47px;
    width: 54px;
    margin-top: 15%;
  }
}

.img-vispen,
.img-visorig {
  background-image: url(../img/vis-pen.png);
}

.img-ttzc {
  background-image: url(../img/ttzc.png);
}

.img-befaft {
  background-image: url(../img/bef-aft.png);
}

.img-bench {
  background-image: url(../img/benchmark.png);
}

.img-visdem {
  background-image: url(../img/vis-dem.png);
}

.bav-tile {
  min-height: 700px;
  height: auto;
}

.map-wrap {
  -webkit-transition: width 0.8s ease-out;
  transition: width 0.8s ease-out;
  width: 49%;
}
@media only screen and (max-width: 1165px) {
  .map-wrap {
    width: 47%;
  }
}
.map-wrap-right {
  display: inline-block;
  margin-left: 1.6%;
  width: 49%;
}
@media only screen and (max-width: 1165px) {
  .map-wrap-right {
    width: 47%;
  }
}
.map-wrap-left {
  width: 70%;
}
.map-wrap-iframe {
  width: 70%;
}
.map-wrap-iframe-full {
  width: 100%;
}
.map-wrap-iframe-70 {
  width: 70%;
}
.map-wrap-iframe-half-left {
  width: 49%;
}
.map-wrap-iframe-half-right {
  margin-left: 1.6%;
}
@media only screen and (max-width: 1165px) {
  .map-wrap-iframe-half-right {
    width: 47%;
  }
}
.map-wrap-full {
  background-clip: padding-box;
  border-radius: 10px;
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
  border: 1px solid #bcbec0;
  height: 90%;
  background: url(http://i.imgur.com/KvTSexI.png);
  width: 100%;
}
.map-iframe-vp {
  border: 2px solid #bcbec0;
  height: 98.5%;
  width: 99%;
  margin: 5px;
}
.map-label, .map-label-vp, .map-label-left, .map-label-right {
  font-variant: small-caps;
  margin: 0 auto;
  text-align: center;
}
.map-label-left, .map-label-right {
  display: inline-block;
  width: 49%;
}
.map-label-right {
  float: right;
}
.map-label-vp {
  float: left;
  width: 70%;
}

.bar-vo-data, .rad-vo-data,
.bar-vp-data {
  height: 9.6875rem;
}

.bar-vo-title {
  font-size: 1.25em;
  font-weight: 700;
}

.row-vo:nth-child(2) {
  height: 8px;
}

.cell-vo-hr {
  border-top-color: #bcbec0;
  margin: 0 auto;
  padding: 0;
  width: 55%;
}

.rad-wrap {
  height: 85px;
  width: 85px;
  margin: 0 auto;
  padding: 0;
  position: relative;
}

.rad-wrap-lg {
  height: 120px;
  width: 120px;
  margin: 0 auto;
  padding: 0;
  position: relative;
}

.bar-wrap {
  height: 115px;
  max-height: 115px;
  margin: 0 auto;
  padding: 0;
  position: relative;
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0, M12=1, M21=-1, M22=0, sizingMethod='auto expand')";
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=0, M12=1, M21=-1, M22=0,sizingMethod="auto expand");
  -moz-transform: matrix(0, -1, 1, 0, 0, 0);
  -webkit-transform: matrix(0, -1, 1, 0, 0, 0);
  transform: rotate(-90deg);
  width: 95px;
  max-width: 82.6%;
}

.h-bar-wrap {
  height: 25px;
  max-height: 24%;
  max-width: 100%;
  padding: 0;
  width: 100px;
}

.h-bar-mc-wrap {
  cursor: default;
  height: 20px;
  margin: 0;
  max-height: 50%;
  padding: 0;
  width: 120px;
}

.chart-container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .chart-container {
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}

.h-bar-container,
.h-bar-mc-container {
  height: 100%;
  width: 100%;
  padding: 0;
  -webkit-transition: margin-left 80ms ease-in-out 20ms;
  transition: margin-left 80ms ease-in-out 20ms;
}

.h-bar-container {
  margin: 10px 0 5px 26.5%;
}

.h-bar-fill-outer {
  height: 100%;
  width: 100%;
  margin: 10px auto 5px;
  padding: 0;
}

.h-bar-fill-inner {
  height: 25px;
  line-height: 25px;
  padding: 0;
  margin: 0 auto;
  width: 85px;
}

.table-sort-header {
  cursor: pointer;
}
.table-sort-header::-moz-selection {
  background: 0 0;
}
.table-sort-header::selection {
  background: 0 0;
}
.table-sort-header:not(:last-child):after, .table-sort-header:last-child:before {
  border-color: #fff transparent;
  border-style: solid;
  border-width: 0 0.4em 0.4em;
  content: "";
  opacity: 0.5;
  position: absolute;
  top: 45%;
  visibility: hidden;
}
.table-sort-header:not(:last-child):after {
  float: right;
  right: 2%;
  transform: rotate(-90deg);
}
.table-sort-header:last-child:before {
  float: left;
  left: 2%;
  transform: rotate(90deg);
}
.table-sort-header:hover:after, .table-sort-header:hover:before {
  visibility: visible;
}

.table-sort-asc:hover:after,
.table-sort-asc:hover:before,
.table-sort-desc:hover:after,
.table-sort-desc:hover:before {
  opacity: 1;
  transform: rotate(0);
}

.table-sort-asc:not(:last-child):after,
.table-sort-asc:last-child:before {
  border-width: 0 0.4em 0.4em;
}

.table-sort-desc:not(:last-child):after,
.table-sort-desc:last-child:before {
  border-width: 0.4em 0.4em 0;
}
