.tile-content:before, .table-vo-wrap:before, .map-label-right:before, .map-label-vp:before, .tile-content:after, .table-vo-wrap:after, .map-label-right:after, .map-label-vp:after {
  content: ' ';
  display: table;
}

.tile-content:after, .table-vo-wrap:after, .map-label-right:after, .map-label-vp:after {
  clear: both;
}

.avpv-header:first-child, .avpv-cell:first-child, .kpi-header:first-child, .kpi-cell:first-child, .ttzc-cell:first-child, .ttzc-header:first-child {
  text-align: left;
  padding-left: 14px;
}

.kpi-header, .ttzc-header {
  font-size: 20px;
  font-weight: 400;
  height: 85px;
  padding: 10px 0;
}

.map-wrap, .map-wrap-right, .map-wrap-left {
  background-clip: padding-box;
  border-radius: 10px;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16);
  background-image: url(https://cdn-images-1.medium.com/max/2600/1*8HYrKM5hCxXsSS-FYV6rsQ.png);
  background-size: cover;
  border: 1px solid #BCBEC0;
  display: inline-block;
  height: 90%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

*:focus {
  outline: 0;
  border: 1px solid #e75a60;
  box-shadow: inset 0 0 3px #414042;
}

html {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font: 100% sans-serif;
}

body {
  background-color: #F1F2F2;
  color: #414042;
  font-family: "Roboto", "Helvetica Neue", HelveticaNeue, Helvetica-Neue, Helvetica, -apple-system, BlinkMacSystemFont, BBAlpha Sans, "Segoe UI", Arial, "Noto Sans", sans-serif;
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
}

.mockup-header {
  margin-top: 100px;
  text-align: center;
}

.nav {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95);
  opacity: 0.95;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  background: #FFF;
  border-color: #A11D27;
  border-style: solid;
  border-width: 2px 0;
  box-shadow: inset 5px 5px 10px rgba(161, 29, 39, 0.5);
  height: 8vh;
  left: 0;
  margin: 0;
  min-height: 50px;
  overflow: hidden;
  padding: 0;
  position: fixed;
  text-align: center;
  top: 0;
  white-space: nowrap;
  width: 100%;
  z-index: 999;
}

.nav-rest {
  background-color: #d08e93;
  min-height: 50px;
  height: 8vh;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 998;
}

select:invalid {
  color: gray;
}

.dropdown-wrapper {
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  margin: 0 10px;
  max-width: 30%;
}

.dropdown-select {
  height: 30px;
  max-height: 30px;
  min-height: 30px;
  max-width: 100% !important;
  overflow: hidden !important;
  text-overflow: ellipsis;
  white-space: nowrap !important;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: url(img/icon-form-ddown-show.png) right no-repeat padding-box #FFF;
  border-radius: 10px;
  border: 1px solid #BCBEC0;
  color: #414042;
  cursor: pointer;
  font-size: 18px;
  line-height: 30px;
  max-width: 99%;
  padding: 0 32px 0 0;
  text-align: left;
  text-indent: 12px;
  width: 350px;
}

@-moz-document url-prefix() {
  .dropdown-select {
    text-indent: 5px;
  }
}

.dropdown-select.open {
  background-image: url(img/icon-form-ddown-hide.png);
}

.tile {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.22), 0 14px 56px rgba(0, 0, 0, 0.25);
  background: padding-box #FFF;
  border-radius: 15px;
  border: 1px solid #BCBEC0;
  height: 800px;
  margin: 30px auto;
  padding: 0.75% 1.6%;
  scrollbar-face-color: #A11D27;
  scrollbar-track-color: #d9353d;
  -webkit-transition: width 85ms;
  transition: width 85ms;
  width: 85vw;
}

@media only screen and (min-width: 3440px) {
  .tile {
    width: 60vw;
  }
}

.tile::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

.tile::-webkit-scrollbar-track {
  background: rgba(213, 31, 39, 0.5);
  border-radius: 5px;
  box-shadow: inset 0 0 5px #efeff7;
}

.tile::-webkit-scrollbar-thumb {
  background: rgba(161, 29, 39, 0.5);
  border-radius: 5px;
}

.tile::-webkit-scrollbar-thumb:hover {
  background: rgba(139, 25, 34, 0.8);
}

.tile::-webkit-scrollbar-thumb:active {
  background: rgba(118, 21, 29, 0.9);
  box-shadow: inset 0 0 5px #e96a70;
}

.tile-header {
  color: #A11D27;
  font-family: "Lato", Verdana, Geneva, -apple-system, BlinkMacSystemFont, sans-serif;
  margin-bottom: 15px;
  text-transform: uppercase;
}

@media only screen and (min-width: 3440px) {
  .tile-header {
    text-align: center;
  }
}

.tile-header-title {
  font-size: 2.5em;
  margin: 0;
  padding: 0;
  text-shadow: 6px 6px 18px rgba(0, 0, 0, 0.35);
}

.tile-content {
  height: 99%;
  margin: 0 auto;
}

@media only screen and (max-width: 1065px) {
  .tile-content {
    max-height: 675px;
    overflow: hidden;
  }
}

.tile-sub-wrap {
  border: 0;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.kpi-table,
.avpv-table,
.ttzc-table,
.def-table {
  border: 2px solid #BCBEC0;
  cursor: default;
  margin: 0 auto;
  max-width: 2000px;
  width: 100%;
}

.kpi-table-wrap,
.avpv-table-wrap,
.ttzc-table-wrap,
.def-table-wrap {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.avpv-thead,
.kpi-thead,
.ttzc-thead {
  background-color: #A11D27;
  border-bottom: 2px solid #BCBEC0;
  color: #FFF;
}

.kpi-cell,
.avpv-cell,
.ttzc-cell {
  color: #414042;
  text-align: center;
  width: 120px;
}

.cell-empty {
  color: transparent;
}

.bench-name,
.comp-name {
  width: 120px;
  margin: 0 auto;
  word-wrap: normal;
}

.comp-col {
  -webkit-transition: width .5s;
  transition: width .5s;
}

.rowhead {
  font-weight: 700;
}

.indent {
  color: #5b595c;
  padding-left: 20px !important;
}

.nav-label {
  background: #D51F27;
  background-clip: padding-box;
  border-radius: 5% 0 0 5%;
  -webkit-clip-path: polygon(95% 0, 95% 35%, 100% 50%, 95% 65%, 95% 100%, 0 100%, 0 0);
  clip-path: polygon(95% 0, 95% 35%, 100% 50%, 95% 65%, 95% 100%, 0 100%, 0 0);
  color: #FFF;
  height: 1.55556rem;
  width: 7.25rem;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  max-width: 100% !important;
  overflow: hidden !important;
  text-overflow: ellipsis;
  white-space: nowrap !important;
  cursor: default;
  margin: 0 5px 0 0;
  text-align: center;
}

.label-inner-txt {
  margin-left: -3px;
}

.ie-only-arrow {
  display: none;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .dropdown-select {
    background: #F1F2F2;
    border-radius: 5px 0 0 5px;
    padding: 0 0 0 8px;
  }
  .nav-label {
    border-radius: 10px;
    margin: 0 8px 0 0;
    padding: 0 10px 0 15px;
    width: auto;
  }
  .label-inner-txt {
    margin: 0;
  }
  .ie-only-arrow {
    display: inline;
    font-size: 1.5em;
    margin-top: -3px;
  }
}

@supports (not (clip-path: polygon(0 0, 0 0, 0 0))) and (not (-webkit-clip-path: polygon(0 0, 0 0, 0 0))) {
  .nav-label {
    border-radius: 10px;
    margin: 0 8px 0 0;
    padding: 0 10px 0 15px;
    width: auto;
  }
  .label-inner-txt {
    margin: 0;
  }
  .ie-only-arrow {
    display: inline;
  }
}

.nav-benchmark-name {
  height: 30px;
  max-height: 30px;
  min-height: 30px;
  max-width: 100% !important;
  overflow: hidden !important;
  text-overflow: ellipsis;
  white-space: nowrap !important;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: url(img/icon-form-benchmark.png) right no-repeat padding-box #FFF;
  box-shadow: inset 0 0 2px rgba(109, 110, 113, 0.1);
  border: 1px solid #BCBEC0;
  border-radius: 10px;
  color: #414042;
  cursor: help;
  font-size: 18px;
  line-height: 30px;
  max-width: 100%;
  padding: 0 32px 0 0;
  text-align: left;
  text-indent: 12px;
  width: 350px;
}

@-moz-document url-prefix() {
  .nav-benchmark-name {
    text-indent: 5px;
  }
}

.bench-placeholder-msg {
  color: #6D6E71;
  font-size: .875em;
  font-style: italic;
  position: relative;
  top: -1px;
}

.avp-tile {
  height: auto;
  overflow-x: auto;
  padding: 0.75% 1.6% 1.4%;
}

.avpv-table {
  min-width: 895px;
}

.avpv-header-top {
  font: 700 30px "Lato", Verdana, Geneva, -apple-system, BlinkMacSystemFont, sans-serif;
  border-bottom: 0;
  height: 40px;
}

.avpv-header-sub {
  border-top: 0;
  height: 64px;
  font: 400 17px "Lato", Verdana, Geneva, -apple-system, BlinkMacSystemFont, sans-serif;
  padding-bottom: 10px;
}

.avpv-tbody .avpv-row:nth-child(even) {
  background-color: #F1F2F2;
}

.avpv-cell {
  padding: 8px 13px;
}

.avpv-header-top:nth-child(2),
.avpv-header-top:nth-child(3),
.avpv-header-top:nth-child(4),
.avpv-header-sub:nth-child(2),
.avpv-header-sub:nth-child(6),
.avpv-header-sub:nth-child(8),
.avpv-header:last-child,
.avpv-cell:nth-child(2),
.avpv-cell:nth-child(6),
.avpv-cell:nth-child(8),
.avpv-cell:last-child {
  border-left: 1px solid #BCBEC0;
}

.avpv-header-sub:nth-child(5),
.avpv-cell:nth-child(5) {
  min-width: 110px;
}

.avpv-table .cell-empty {
  border-right: 1px solid #BCBEC0;
}

.avpv-header-sub:nth-child(7),
.graph-cell {
  min-width: 200px;
}

.avpv-header-sub:nth-child(7) {
  padding-left: 20px;
}

.avpv-cell:nth-child(7) {
  padding-left: 50px;
}

@media only screen and (max-width: 1649px) {
  .avpv-cell:nth-child(7) {
    padding-left: 10px;
  }
}

.avpv-cell:first-child,
.avpv-header:first-child {
  min-width: 180px;
  width: 180px;
}

.kpi-tile {
  height: auto;
  max-height: 965px;
  padding: 0.75% 1.6% 1.4%;
}

@media only screen and (max-width: 1919px) {
  .kpi-tile {
    height: 905px;
    overflow-x: auto;
  }
}

@media only screen and (min-width: 2560px) {
  .kpi-tile {
    height: 920px;
  }
}

.kpi-table {
  min-width: 895px;
}

.age-row {
  vertical-align: top;
}

.avg-age {
  margin-top: 10px;
}

.title-col {
  height: 25px;
  line-height: 25px;
  margin-top: 10px;
  padding: 0;
}

.div-cell {
  padding: 0;
  margin-bottom: 5px;
}

.kpi-cell {
  border: 1px solid #BCBEC0;
  color: #414042;
  height: 100px;
  min-width: 208px;
  padding: 5px;
  text-align: center;
  -webkit-transition: min-width .6s ease-in-out;
  transition: min-width .6s ease-in-out;
}

.kpi-cell:first-child {
  background-color: #F1F2F2;
}

.kpi-cell:nth-child(4) {
  font-size: 18px;
  font-weight: 700;
  max-width: 100px;
  min-width: 65px;
  width: 85px;
}

.kpi-header:first-child,
.kpi-cell:first-child {
  min-width: 142px;
}

.kpi-row:first-child .kpi-cell,
.kpi-row:nth-child(5) .kpi-cell {
  height: 60px;
}

.not-app,
.kpi-row .kpi-index,
.kpi-row:first-child .kpi-cell:not(:first-child),
.kpi-row:nth-child(5) .kpi-cell:not(:first-child) {
  font-size: 1.5em;
  font-weight: 700;
}

.countup-wrap {
  min-width: 130px;
}

.ttzc-tile {
  height: auto;
  padding-bottom: 25px;
}

@media only screen and (max-width: 1279px) {
  .ttzc-tile {
    overflow-x: auto;
  }
}

.ttzc-table {
  min-width: 851px;
}

.ttzc-cell {
  padding: 10px;
}

.ttzc-cell:hover {
  font-weight: 700;
}

.ttzc-tbody .ttzc-row:nth-child(even) {
  background-color: #F1F2F2;
}

.ttzc-tbody .ttzc-row:not(:last-child) {
  border-bottom: 1px solid #BCBEC0;
}

.ttzc-tbody .ttzc-row:hover {
  background-color: #D51F27;
}

.ttzc-tbody .ttzc-row:hover .ttzc-cell {
  color: #FFF;
}

.ttzc-tfoot {
  background-color: #A29490;
  font-weight: 700;
}

.ttzc-tfoot:hover {
  background-color: #A11D27;
}

.ttzc-tfoot:hover .ttzc-cell {
  color: #FFF;
}

.ttzc-tfoot:hover .ttzc-cell:not(.ttzc-avgs):hover {
  color: #ECD8C0;
}

.ttzc-header {
  cursor: pointer;
}

.ttzc-rank {
  max-width: 50px;
  min-width: 50px;
  width: 50px;
}

.ttzc-popgrow {
  padding-right: 14px;
  text-align: right;
}

.ttzc-avgs {
  letter-spacing: 1px;
  font-size: 1.05em;
  font-variant: small-caps;
}

.vo-tile-top {
  margin-bottom: 3.5rem;
}

@media only screen and (max-width: 1165px) {
  .vo-tile-top {
    overflow-x: auto;
  }
}

@media only screen and (max-width: 1065px) {
  .vp-tile {
    overflow-x: auto;
  }
}

.table, .table-vo {
  border: 0;
  -webkit-border-vertical-spacing: 0;
  -webkit-border-horizontal-spacing: 0;
}

.table-vo {
  text-align: center;
  width: 100%;
}

.table-vo-wrap {
  float: right;
  margin: 0 auto;
  overflow: visible;
  padding: 0;
  vertical-align: top;
  width: 29.5%;
  -webkit-transition: transform .25s;
  transition: transform .25s;
}

@media only screen and (max-width: 1449px) and (min-width: 1175px) {
  .table-vo-wrap {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    left: -15px;
    top: -35px;
    position: relative;
  }
}

@media only screen and (max-width: 1174px) and (min-width: 1064px) {
  .table-vo-wrap {
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    left: -22px;
    top: -45px;
    position: relative;
  }
}

@media only screen and (max-width: 1063px) and (min-width: 1005px) {
  .table-vo-wrap {
    -webkit-transform: scale(0.65);
    -ms-transform: scale(0.65);
    transform: scale(0.65);
    left: -25px;
    top: -55px;
    position: relative;
  }
}

@media only screen and (max-width: 1004px) and (min-width: 721px) {
  .table-vo-wrap {
    -webkit-transform: scale(0.6);
    -ms-transform: scale(0.6);
    transform: scale(0.6);
    left: -28px;
    top: -65px;
    position: relative;
  }
}

@media only screen and (max-width: 720px) {
  .table-vo-wrap {
    -webkit-transform: scale(0.55);
    -ms-transform: scale(0.55);
    transform: scale(0.55);
    left: -30px;
    top: -100px;
    position: relative;
  }
}

.table-vo-top-text {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -3px 0 20px;
  min-height: 5rem;
  text-align: justify;
  padding-left: 10px;
  vertical-align: top;
  width: 100%;
}

@media only screen and (max-width: 1174px) {
  .table-vo-top-text {
    text-align: center !important;
    position: relative;
    right: -25px;
  }
}

.chart-heading {
  font-size: 1.5em;
  font-weight: 700;
  padding: 35px 5px 10px;
}

.chart-label {
  display: inline-block;
  width: 115px;
}

.def-tile {
  height: auto;
}

@media only screen and (max-width: 800px) {
  .def-tile {
    overflow-x: auto;
  }
}

.def-table-wrap {
  margin-bottom: 10px;
}

.def-cell {
  min-width: 103px;
}

.def-heading {
  font-family: "Lato", Verdana, Geneva, -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 15px 20px 10px;
  text-align: left;
  -webkit-transition: all .2s;
  transition: all .2s;
  width: 33.33%;
}

.def-txt {
  font-size: 1rem;
  padding: 10px 20px;
  text-align: justify;
  -webkit-transition: all .2s;
  transition: all .2s;
  vertical-align: top;
  word-break: break-word;
  word-wrap: break-word;
}

@media only screen and (max-width: 1439px) and (min-width: 1024px) {
  .def-txt {
    font-size: .75rem;
    padding: 6px 12px;
  }
  .def-heading {
    font-size: 1.25rem;
    padding: 8px 12px 6px;
  }
  .def-img {
    padding: 6px 12px 8px;
  }
}

@media only screen and (max-width: 1023px) {
  .def-txt {
    font-size: .625rem;
    padding: 4px 9px;
  }
  .def-heading {
    font-size: 1rem;
    padding: 6px 9px 4px;
  }
  .def-img {
    padding: 4px 9px 6px;
  }
}

.def-img {
  padding: 10px 20px 15px;
  vertical-align: top;
}

.def-img-div {
  background-clip: padding-box;
  background-origin: padding-box;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border: 1px solid #414042;
  height: 155px;
  margin-top: 2px;
  -webkit-transition: all .3s;
  transition: all .3s;
  width: 180px;
}

@media only screen and (max-width: 1440px) and (min-width: 1280px) {
  .def-img-div {
    height: 116px;
    width: 135px;
  }
}

@media only screen and (max-width: 1279px) and (min-width: 1024px) {
  .def-img-div {
    height: 93px;
    width: 108px;
  }
}

@media only screen and (max-width: 1023px) {
  .def-img-div {
    height: 47px;
    width: 54px;
    margin-top: 15%;
  }
}

.img-ttzc {
  background-image: url(../img/ttzc.png);
}

.img-befaft {
  background-image: url(../img/bef-aft.png);
}

.img-bench {
  background-image: url(../img/benchmark.png);
}

.img-vispen {
  background-image: url(../img/vis-pen.png);
}

.img-visdem {
  background-image: url(../img/vis-dem.png);
}

.img-visorig {
  background-image: url(../img/vis-pen.png);
}

.bav-tile {
  min-height: 700px;
  height: auto;
}

.map-wrap {
  -webkit-transition: width .8s ease-out;
  transition: width .8s ease-out;
  width: 49%;
}

@media only screen and (max-width: 1165px) {
  .map-wrap {
    width: 47%;
  }
}

.map-wrap-right {
  display: inline-block;
  margin-left: 1.6%;
  width: 49%;
}

@media only screen and (max-width: 1165px) {
  .map-wrap-right {
    width: 47%;
  }
}

.map-wrap-left {
  width: 70%;
}

.map-wrap-iframe {
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
  border: 1px solid #BCBEC0;
  display: inline-block;
  height: 90%;
  width: 70%;
}

.map-wrap-full {
  background-clip: padding-box;
  border-radius: 10px;
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
  border: 1px solid #BCBEC0;
  height: 90%;
  background: url(http://i.imgur.com/KvTSexI.png);
  width: 100%;
}

.map-iframe-vp {
  border: 2px solid #BCBEC0;
  height: 99%;
  width: 99%;
  margin: 5px;
}

.map-label, .map-label-left, .map-label-right, .map-label-vp {
  font-variant: small-caps;
  margin: 0 auto;
  text-align: center;
}

.map-label-left, .map-label-right {
  display: inline-block;
  width: 49%;
}

.map-label-right {
  float: right;
}

.map-label-vp {
  float: left;
  width: 70%;
}

.bar-vo-data, .rad-vo-data,
.bar-vp-data {
  height: 9.6875rem;
}

.bar-vo-title {
  font-size: 1.25em;
  font-weight: 700;
}

.row-vo:nth-child(2) {
  height: 8px;
}

.cell-vo-hr {
  border-top-color: #BCBEC0;
  margin: 0 auto;
  padding: 0;
  width: 55%;
}

.rad-wrap {
  height: 85px;
  width: 85px;
  margin: 0 auto;
  padding: 0;
  position: relative;
}

.rad-wrap-lg {
  height: 120px;
  width: 120px;
  margin: 0 auto;
  padding: 0;
  position: relative;
}

.bar-wrap {
  height: 115px;
  max-height: 115px;
  margin: 0 auto;
  padding: 0;
  position: relative;
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0, M12=1, M21=-1, M22=0, sizingMethod='auto expand')";
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=0, M12=1, M21=-1, M22=0,sizingMethod='auto expand');
  -moz-transform: matrix(0, -1, 1, 0, 0, 0);
  -webkit-transform: matrix(0, -1, 1, 0, 0, 0);
  transform: rotate(-90deg);
  width: 95px;
  max-width: 82.6%;
}

.h-bar-wrap {
  height: 25px;
  max-height: 24%;
  max-width: 100%;
  padding: 0;
  width: 100px;
}

.h-bar-mc-wrap {
  cursor: default;
  height: 20px;
  margin: 0;
  max-height: 50%;
  padding: 0;
  width: 120px;
}

.chart-container {
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .chart-container {
    justify-content: flex-start;
  }
}

.h-bar-container,
.h-bar-mc-container {
  height: 100%;
  width: 100%;
  padding: 0;
  -webkit-transition: margin-left 80ms ease-in-out 20ms;
  transition: margin-left 80ms ease-in-out 20ms;
}

.h-bar-container {
  margin: 10px 0 5px 26.5%;
}

.h-bar-fill-outer {
  height: 100%;
  width: 100%;
  margin: 10px auto 5px;
  padding: 0;
}

.h-bar-fill-inner {
  height: 25px;
  line-height: 25px;
  padding: 0;
  margin: 0 auto;
  width: 85px;
}
