.tile-content:before, .tile-content:after {
  content: ' ';
  display: table;
}

.tile-content:after {
  clear: both;
}

.ttzc-cell:first-child, .ttzc-header:first-child {
  text-align: left;
  padding-left: 14px;
}

.ttzc-header {
  font-size: 20px;
  font-weight: 400;
  height: 85px;
  padding: 10px 0;
}

.tile {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.22), 0 14px 56px rgba(0, 0, 0, 0.25);
  background: padding-box #FFF;
  border-radius: 15px;
  border: 1px solid #BCBEC0;
  height: 800px;
  margin: 30px auto;
  padding: 0.75% 1.6%;
  scrollbar-face-color: #A11D27;
  scrollbar-track-color: #d9353d;
  -webkit-transition: width 85ms;
  transition: width 85ms;
  width: 85vw;
}

@media only screen and (min-width: 3440px) {
  .tile {
    width: 60vw;
  }
}

.tile::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

.tile::-webkit-scrollbar-track {
  background: rgba(213, 31, 39, 0.5);
  border-radius: 5px;
  box-shadow: inset 0 0 5px #efeff7;
}

.tile::-webkit-scrollbar-thumb {
  background: rgba(161, 29, 39, 0.5);
  border-radius: 5px;
}

.tile::-webkit-scrollbar-thumb:hover {
  background: rgba(139, 25, 34, 0.8);
}

.tile::-webkit-scrollbar-thumb:active {
  background: rgba(118, 21, 29, 0.9);
  box-shadow: inset 0 0 5px #e96a70;
}

.tile-header {
  color: #A11D27;
  font-family: "Lato", Verdana, Geneva, -apple-system, BlinkMacSystemFont, sans-serif;
  margin-bottom: 15px;
  text-transform: uppercase;
}

@media only screen and (min-width: 3440px) {
  .tile-header {
    text-align: center;
  }
}

.tile-header-title {
  font-size: 2.5em;
  margin: 0;
  padding: 0;
  text-shadow: 6px 6px 18px rgba(0, 0, 0, 0.35);
}

.tile-content {
  height: 99%;
  margin: 0 auto;
}

.tile-sub-wrap {
  border: 0;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.cell-empty {
  color: transparent;
}

.bench-name,
.comp-name {
  width: 120px;
  margin: 0 auto;
  word-wrap: normal;
}

.comp-col {
  -webkit-transition: width .5s;
  transition: width .5s;
}

.rowhead {
  font-weight: 700;
}

.indent {
  color: #5b595c;
  padding-left: 22px;
}

.ttzc-tile {
  height: auto;
  padding-bottom: 25px;
}

@media only screen and (max-width: 1279px) {
  .ttzc-tile {
    overflow-x: auto;
  }
}

.ttzc-table {
  border: 2px solid #BCBEC0;
  cursor: default;
  margin: 0 auto;
  max-width: 2000px;
  min-width: 851px;
  width: 100%;
}

.ttzc-table-wrap {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.ttzc-thead {
  background-color: #A11D27;
  border-bottom: 2px solid #BCBEC0;
  color: #FFF;
}

.ttzc-cell {
  color: #414042;
  padding: 10px;
  text-align: center;
  width: 120px;
}

.ttzc-cell:hover {
  font-weight: 700;
}

.ttzc-tbody .ttzc-row:nth-child(even) {
  background-color: #F1F2F2;
}

.ttzc-tbody .ttzc-row:not(:last-child) {
  border-bottom: 1px solid #BCBEC0;
}

.ttzc-tbody .ttzc-row:hover {
  background-color: #D51F27;
}

.ttzc-tbody .ttzc-row:hover .ttzc-cell {
  color: #FFF;
}

.ttzc-tfoot {
  background-color: #A29490;
  font-weight: 700;
}

.ttzc-tfoot:hover {
  background-color: #A11D27;
}

.ttzc-tfoot:hover .ttzc-cell {
  color: #FFF;
}

.ttzc-tfoot:hover .ttzc-cell:not(.ttzc-avgs):hover {
  color: #ECD8C0;
}

.ttzc-header {
  cursor: pointer;
}

.ttzc-rank {
  max-width: 50px;
  min-width: 50px;
  width: 50px;
}

.ttzc-popgrow {
  padding-right: 14px;
  text-align: right;
}

.ttzc-avgs {
  letter-spacing: 1px;
  font-size: 1.05em;
  font-variant: small-caps;
}
