.map-label-right:before, .map-label-vp:before, .map-label-right:after, .map-label-vp:after {
  content: ' ';
  display: table;
}

.map-label-right:after, .map-label-vp:after {
  clear: both;
}

.map-wrap-left {
  background-clip: padding-box;
  border-radius: 10px;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16);
  background-image: url(https://cdn-images-1.medium.com/max/2600/1*8HYrKM5hCxXsSS-FYV6rsQ.png);
  background-size: cover;
  border: 1px solid #BCBEC0;
  display: inline-block;
  height: 90%;
}

.map-wrap {
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
  border: 1px solid #BCBEC0;
  display: inline-block;
  height: 90%;
  -webkit-transition: width .8s ease-out;
  transition: width .8s ease-out;
  width: 49%;
}

@media only screen and (max-width: 1165px) {
  .map-wrap {
    width: 47%;
  }
}

.map-wrap-right {
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
  border: 1px solid #BCBEC0;
  display: block;
  float: right;
  height: 90%;
  margin-left: 1.6%;
  width: 49%;
}

@media only screen and (max-width: 1165px) {
  .map-wrap-right {
    width: 47%;
  }
}

.map-wrap-left {
  width: 70%;
}

.map-wrap-full {
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
  border: 1px solid #BCBEC0;
  height: 90%;
  width: 100%;
}

.map-iframe {
  border: 2px solid #BCBEC0;
  height: 97.6%;
  margin: .7%;
  width: 98.2%;
}

.map-iframe-full {
  border: 2px solid #BCBEC0;
  height: 95.75%;
  margin: .75% .7%;
  width: 98.2%;
}

.map-label, .map-label-left, .map-label-right, .map-label-vp {
  font-variant: small-caps;
  margin: 0 auto;
  text-align: center;
}

.map-label-left, .map-label-right {
  display: inline-block;
  width: 49%;
}

.map-label-right {
  float: right;
}

.map-label-vp {
  float: left;
  width: 70%;
}
