.tile-content:before, .table-vo-wrap:before, .map-label-right:before, .map-label-vp:before, .tile-content:after, .table-vo-wrap:after, .map-label-right:after, .map-label-vp:after {
  content: ' ';
  display: table;
}

.tile-content:after, .table-vo-wrap:after, .map-label-right:after, .map-label-vp:after {
  clear: both;
}

.map-wrap-left {
  background-clip: padding-box;
  border-radius: 10px;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16);
  background-image: url(https://cdn-images-1.medium.com/max/2600/1*8HYrKM5hCxXsSS-FYV6rsQ.png);
  background-size: cover;
  border: 1px solid #BCBEC0;
  display: inline-block;
  height: 90%;
}

.tile {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.22), 0 14px 56px rgba(0, 0, 0, 0.25);
  background: padding-box #FFF;
  border-radius: 15px;
  border: 1px solid #BCBEC0;
  height: 800px;
  margin: 1.5rem auto;
  padding: 0.75% 1.6%;
  scrollbar-face-color: #A11D27;
  scrollbar-track-color: #D51F27;
  -webkit-transition: width 85ms;
  transition: width 85ms;
  width: 85vw;
}

@media only screen and (min-width: 3440px) {
  .tile {
    width: 60vw;
  }
}

.tile::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

.tile::-webkit-scrollbar-track {
  background: rgba(213, 31, 39, 0.5);
  border-radius: 5px;
  box-shadow: inset 0 0 5px white;
}

.tile::-webkit-scrollbar-thumb {
  background: rgba(161, 29, 39, 0.5);
  border-radius: 5px;
}

.tile::-webkit-scrollbar-thumb:hover {
  background: rgba(139, 25, 34, 0.8);
}

.tile::-webkit-scrollbar-thumb:active {
  background: rgba(118, 21, 29, 0.9);
  box-shadow: inset 0 0 5px #e96a70;
}

.tile-header {
  color: #A11D27;
  font-family: "Lato", Verdana, Geneva, -apple-system, BlinkMacSystemFont, sans-serif;
  margin-bottom: 15px;
  text-transform: uppercase;
}

@media only screen and (min-width: 3440px) {
  .tile-header {
    text-align: center;
  }
}

.tile-header-title {
  font-size: 2.5em;
  margin: 0;
  padding: 0;
  text-shadow: 6px 6px 18px rgba(0, 0, 0, 0.35);
}

.tile-content {
  height: 99%;
  margin: 0 auto;
}

.tile-sub-wrap {
  border: 0;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.cell-empty {
  color: transparent;
}

.bench-name,
.comp-name {
  width: 120px;
  margin: 0 auto;
  word-wrap: normal;
}

.comp-col {
  -webkit-transition: width .4s;
  transition: width .4s;
}

.rowhead {
  font-weight: 700;
}

.indent {
  color: #5b595c;
  padding-left: 22px;
}

.vo-tile-top {
  margin-bottom: 3.5rem;
}

@media only screen and (max-width: 1165px) {
  .vo-tile-top {
    overflow-x: auto;
  }
}

.table, .table-vo {
  border: 0;
  -webkit-border-vertical-spacing: 0;
  -webkit-border-horizontal-spacing: 0;
}

.table-vo {
  text-align: center;
  width: 100%;
}

.table-vo-wrap {
  float: right;
  margin: 0 auto;
  overflow: visible;
  padding: 0;
  vertical-align: top;
  width: 29.5%;
  -webkit-transition: transform .25s;
  transition: transform .25s;
}

@media only screen and (max-width: 1165px) and (min-width: 903px) {
  .table-vo-wrap {
    -webkit-transform: scale(0.75);
    -ms-transform: scale(0.75);
    transform: scale(0.75);
    left: -15px;
    margin-top: -30px;
    position: relative;
  }
}

@media only screen and (max-width: 902px) and (min-width: 721px) {
  .table-vo-wrap {
    -webkit-transform: scale(0.66);
    -ms-transform: scale(0.66);
    transform: scale(0.66);
    left: -20px;
    margin-top: -35px;
    position: relative;
  }
}

@media only screen and (max-width: 720px) {
  .table-vo-wrap {
    -webkit-transform: scale(0.53);
    -ms-transform: scale(0.53);
    transform: scale(0.53);
    left: -25px;
    margin-top: -40px;
    position: relative;
  }
}

@media only screen and (max-width: 650px) {
  .table-vo-wrap {
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
    left: -27px;
    margin-top: -56px;
    position: relative;
  }
  .tile {
    overflow-x: auto;
  }
}

.table-vo-top-text {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -3px 0 0;
  min-height: 5rem;
  text-align: justify;
  padding-left: 10px;
  vertical-align: top;
  width: 100%;
}

.chart-heading {
  font-size: 1.5em;
  font-weight: 700;
  padding: 10px 5px;
}

.chart-label {
  display: inline-block;
  width: 115px;
}

.map-wrap {
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
  border: 1px solid #BCBEC0;
  display: inline-block;
  height: 90%;
  -webkit-transition: width .8s ease-out;
  transition: width .8s ease-out;
  width: 49%;
}

@media only screen and (max-width: 1165px) {
  .map-wrap {
    width: 47%;
  }
}

.map-wrap-right {
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
  border: 1px solid #BCBEC0;
  display: block;
  float: right;
  height: 90%;
  margin-left: 1.6%;
  width: 49%;
}

@media only screen and (max-width: 1165px) {
  .map-wrap-right {
    width: 47%;
  }
}

.map-wrap-left {
  width: 70%;
}

.map-wrap-full {
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
  border: 1px solid #BCBEC0;
  height: 90%;
  width: 100%;
}

.map-iframe {
  border: 2px solid #BCBEC0;
  height: 97.6%;
  margin: .7%;
  width: 98.2%;
}

.map-iframe-full {
  border: 2px solid #BCBEC0;
  height: 95.75%;
  margin: .75% .7%;
  width: 98.2%;
}

.map-label, .map-label-left, .map-label-right, .map-label-vp {
  font-variant: small-caps;
  margin: 0 auto;
  text-align: center;
}

.map-label-left, .map-label-right {
  display: inline-block;
  width: 49%;
}

.map-label-right {
  float: right;
}

.map-label-vp {
  float: left;
  width: 70%;
}

.bar-vo-data, .rad-vo-data,
.bar-vp-data {
  height: 9.6875rem;
}

.bar-vo-title {
  font-size: 1.25em;
  font-weight: 700;
}

.row-vo:nth-child(2) {
  height: 8px;
}

.cell-vo-hr {
  border-top-color: #BCBEC0;
  margin: 0 auto;
  padding: 0;
  width: 55%;
}

.rad-wrap-lg {
  height: 120px;
  width: 120px;
  margin: 0 auto;
  padding: 0;
  position: relative;
}

.bar-wrap {
  height: 115px;
  max-height: 115px;
  margin: 0 auto;
  padding: 0;
  position: relative;
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0, M12=1, M21=-1, M22=0, sizingMethod='auto expand')";
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=0, M12=1, M21=-1, M22=0,sizingMethod='auto expand');
  -moz-transform: matrix(0, -1, 1, 0, 0, 0);
  -webkit-transform: matrix(0, -1, 1, 0, 0, 0);
  transform: rotate(-90deg);
  width: 95px;
  max-width: 82.6%;
}

.chart-container {
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
