.map-label-vp:before, .map-label-vp:after {
  content: ' ';
  display: table;
}

.map-label-vp:after {
  clear: both;
}

.tile-header {
  color: #2A3C68;
  font-family: "Lato", Verdana, Geneva, -apple-system, BlinkMacSystemFont, sans-serif;
  margin-bottom: 15px;
  text-transform: uppercase;
}

@media only screen and (min-width: 3440px) {
  .tile-header {
    text-align: center;
  }
}

.tile-header-title {
  font-size: 2.5em;
  margin: 0;
  padding: 0;
  text-shadow: 6px 6px 18px rgba(0, 0, 0, 0.35);
}

.tile-content {
  height: 100%;
  margin: 0 auto;
}

.tile-sub-wrap {
  border: 0;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.cell-empty {
  color: transparent;
}

.bench-name, .comp-name {
  width: 120px;
  margin: 0 auto;
  word-wrap: normal;
}

.table, .table-vo {
  border: 0;
  -webkit-border-vertical-spacing: 0;
  -webkit-border-horizontal-spacing: 0;
}

.table-vo {
  text-align: center;
  width: 100%;
}

.table-vo-wrap {
  float: right;
  margin: 0 auto;
  overflow: visible;
  padding: 0;
  vertical-align: top;
  width: 29.5%;
  -webkit-transition: transform .25s;
  transition: transform .25s;
}

@media only screen and (max-width: 1165px) and (min-width: 903px) {
  .table-vo-wrap {
    -ms-transform: scale(0.75);
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
    left: -15px;
    margin-top: -30px;
    position: relative;
  }
}

@media only screen and (max-width: 902px) and (min-width: 721px) {
  .table-vo-wrap {
    -ms-transform: scale(0.66);
    -webkit-transform: scale(0.66);
    transform: scale(0.66);
    left: -20px;
    margin-top: -35px;
    position: relative;
  }
}

@media only screen and (max-width: 720px) {
  .table-vo-wrap {
    -ms-transform: scale(0.53);
    -webkit-transform: scale(0.53);
    transform: scale(0.53);
    left: -25px;
    margin-top: -40px;
    position: relative;
  }
}

@media only screen and (max-width: 650px) {
  .table-vo-wrap {
    -ms-transform: scale(0.5);
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    left: -27px;
    margin-top: -56px;
    position: relative;
  }
  .tile {
    overflow-x: auto;
  }
}

.table-vo-top-text {
  font-size: 1.125rem;
  font-weight: 700;
  margin: -3px 0 0;
  min-height: 4.875rem;
  text-align: justify;
  padding-left: 10px;
  vertical-align: top;
  width: 100%;
}

.chart-heading {
  font-size: 1.5em;
  font-weight: 700;
  padding: 13px 5px 10px;
}

.chart-label {
  display: inline-block;
  width: 115px;
}

.map-wrap-left {
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
  border: 1px solid #BCBEC0;
  display: inline-block;
  height: 720px;
  max-height: 95%;
  width: 70%;
}

.map-iframe-full {
  border: 2px solid #BCBEC0;
  height: 95.75%;
  margin: .75% .7%;
  width: 98.2%;
}

.map-label, .map-label-vp {
  font-variant: small-caps;
  margin: 0 auto;
  text-align: center;
}

.map-label-vp {
  float: left;
  width: 70%;
}
