@charset "UTF-8";
/**
 * overview-print.scss
 * @version 4.0.0 07/10/20
 * Designed for PinPoint
 * @author Stephen M Irving
 */
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Roboto"), local("Roboto-Regular"), url(fonts/Roboto%20Regular%20V2.woff2) format("woff2"), url(fonts/Roboto%20Regular%20V2.woff) format("woff"), url(fonts/Roboto%20Regular%20V2.ttf) format("truetype");
  unicode-range: U+000-5FF;
}
@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local("Roboto Italic"), local("Roboto-Italic"), url(fonts/Roboto%20Italic%20V2.woff2) format("woff2"), url(fonts/Roboto%20Italic%20V2.woff) format("woff"), url(fonts/Roboto%20Italic%20V2.ttf) format("truetype");
  unicode-range: U+000-5FF;
}
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Roboto Bold"), local("Roboto-Bold"), url(fonts/Roboto%20Bold%20V2.woff2) format("woff2"), url(fonts/Roboto%20Bold%20V2.woff) format("woff"), url(fonts/Roboto%20Bold%20V2.ttf) format("truetype");
  unicode-range: U+000-5FF;
}
@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Lato Regular"), local("Lato-Regular"), url(fonts/Lato%20Regular.woff2) format("woff2"), url(fonts/Lato%20Regular.woff) format("woff"), url(fonts/Lato%20Regular.ttf) format("truetype");
  unicode-range: U+000-5FF;
}
@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Lato Bold"), local("Lato-Bold"), url(fonts/Lato%20Bold.woff2) format("woff2"), url(fonts/Lato%20Bold.woff) format("woff"), url(fonts/Lato%20Bold.ttf) format("truetype");
  unicode-range: U+000-5FF;
}
@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local("Lato Black"), local("Lato-Black"), url(fonts/Lato-Black.woff2) format("woff2"), url(fonts/Lato-Black.woff) format("woff"), url(fonts/Lato-Black.ttf) format("truetype");
  unicode-range: U+000-5FF;
}
@font-face {
  font-family: "jll_hand_regular";
  font-display: block;
  src: url(fonts/JLL-Hand.eot?#ie) format("embedded-opentype"), url(fonts/JLL-Hand.woff) format("woff");
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  min-width: 0;
  padding: 0;
  text-decoration: inherit;
  vertical-align: inherit;
}

html {
  box-sizing: border-box;
  font: 12pt sans-serif;
  word-wrap: break-word;
}

body {
  color: #0a0a0a;
  font: 12pt/1.4 Roboto, -apple-system, "Source Sans Pro", "Helvetica Neue", HelveticaNeue, Helvetica-Neue, Cantarell, Arial, BlinkMacSystemFont, "Segoe UI", Ubuntu, sans-serif;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  height: 100%;
  width: 100%;
}

hr {
  border: 0;
  border-top: 1px solid #ccc;
  box-sizing: content-box;
  display: block;
  font-size: 2em;
  height: 1px;
  margin: 0.15em 0;
  overflow: visible;
  padding: 0;
}

iframe,
img,
svg {
  vertical-align: middle;
}

a {
  -webkit-text-decoration-skip: objects;
}

small {
  font-size: 80%;
}

svg:not(:root) {
  overflow: hidden;
}

svg:not([fill]) {
  fill: currentColor;
}

/* #GENERAL STYLES */
h1,
h2,
h3 {
  color: #a11d27;
  font-family: Lato, -apple-system, Oxygen, "Open Sans", Montserrat, "PT Sans", Verdana, BlinkMacSystemFont, "Segoe UI", Ubuntu, sans-serif;
  font-weight: 900;
}

h1 {
  font-size: 3.25em;
  margin: 0.5em 0;
}

h2 {
  font-size: 2em;
  margin: 0 0 0.2em;
}

h3 {
  font-size: 1.75em;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
  max-height: 100%;
  max-width: 100%;
  text-align: right;
  vertical-align: middle;
  width: 960px;
}

thead {
  display: table-header-group;
}

th {
  font-weight: 700;
}

thead th {
  font-family: Lato, -apple-system, Oxygen, "Open Sans", Montserrat, "PT Sans", Verdana, BlinkMacSystemFont, "Segoe UI", Ubuntu, sans-serif;
}

td,
.avpv-cell {
  border-bottom: 0.75pt solid #aaa;
}

tfoot {
  display: table-footer-group;
  font-style: italic;
}

.is-hidden {
  display: none !important;
}

.table-vo-wrap:after, .map-label-vp:after,
.map-label-right:after, .pg-break:after, .page__inlay:after, .page:after {
  clear: both;
  content: "";
  display: table;
}

.page {
  height: 100vh;
  width: 100vw;
}
.page--fnl {
  position: relative;
}
.page__inlay {
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 2em 3.5em;
}

.footer {
  align-items: center;
  background: #414042;
  bottom: 1em;
  color: #fff;
  display: flex;
  height: 4.25rem;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 49;
}
.footer__cr {
  font-size: 0.875em;
  font-style: italic;
  text-align: center;
  width: 100%;
}
.footer__cr:before {
  display: inline-block;
  font-style: normal;
  left: -2px;
  font-size: 1.0625em;
  position: relative;
  content: "©";
}

.img-wrapper {
  align-items: center;
  display: flex;
  height: 100%;
  left: 50pt;
  position: absolute;
}

.img-ab-white {
  display: block;
  margin: 0 auto;
  width: 65%;
}

.img-jll {
  background: url("../../img/logo-jll-reversed.svg") center/contain no-repeat;
  position: absolute;
  right: 50pt;
  top: 2em;
  height: 50%;
  width: 12%;
}

.img-jll-white {
  position: absolute;
  left: 50pt;
  width: 180pt;
}

.img-jll-white-sm {
  display: inline-block;
  height: 50%;
}

.img-pp-wrapper {
  background: padding-box rgba(17, 17, 17, 0.6);
  border: 0.25rem solid #fff;
  border-radius: 15px;
}

.img-pp-wrapper {
  height: 72%;
  padding: 1em 0;
  width: 23%;
}

.img-pp {
  height: 100%;
  width: 100%;
  background: url("../../img/logo-primary-reversed-lg.png") center/contain no-repeat;
}

.img-pp-white {
  height: 45%;
  margin: -6px 0 0 12px;
}

.pg-break {
  margin: 0.5em 0;
  text-align: center;
  width: 100%;
}
.pg-break__txt {
  font: 700 1em "Courier New", Courier, "Nimbus Sans L", Consolas, monospace;
}

.pg-divider {
  width: 100%;
}

.bleed {
  background: #414042;
  bottom: 0;
  color: #fff;
  font-family: 700 0.5em "Courier New", Courier, "Nimbus Sans L", Consolas, monospace;
  height: 1em;
  left: 0;
  position: fixed;
  text-align: center;
  width: 100%;
}

/* #COVER PAGES (#cvr & #fnl) */
.cvr-bg,
.cvr-bg-overlay,
.cvr-bg-fnl,
.cvr-content-area {
  height: calc(100% - 4.25rem - 0.6875em);
  position: absolute;
}

.cvr-bg-fnl, .cvr-bg {
  width: 100%;
  z-index: -1;
}

.cvr-bg {
  background: url("../../img/stock-center-lapse.jpg") right/contain no-repeat #fff;
}

.cvr-bg-overlay {
  background: url("../../img/paint-over-red.png") right/cover no-repeat;
  top: 0;
  width: 100%;
}

.cvr-bg-fnl {
  background: url("../../img/bg-black-paint@wide.jpg") center/cover no-repeat border-box #fff;
  width: 100%;
  z-index: -1;
}

.cvr-content-area--cvr {
  left: 36.75pt;
  padding: 4em 1em 2em;
  position: relative;
  text-align: left;
  width: 55%;
}

.cvr-header {
  margin-top: 180pt;
}

.cvr-heading {
  color: #fff;
}
.cvr-heading__main {
  display: block;
  font-size: 0.925em;
  line-height: 1.2;
}
.cvr-heading__sub {
  display: block;
  font-size: 0.625em;
  margin-top: 1em;
}
.cvr-heading__sub:after {
  content: "®";
  display: inline-block;
  font-size: 0.75em;
  font-weight: 400;
  left: -2px;
  position: relative;
  top: -10px;
}

.cvr-date {
  color: #fff;
  font-size: 1.825em;
  position: absolute;
  bottom: 36.75pt;
}

.cvr-logos {
  position: absolute;
  height: 105pt;
  width: 100%;
}
.cvr-logos--cvr {
  align-items: center;
  display: flex;
  height: 150pt;
  justify-content: center;
  top: 0;
}

.cvr-fnl-ty {
  position: absolute;
  left: 50pt;
  top: 30%;
}
.cvr-fnl-ty__txt {
  color: #fff;
  font: 15em "jll_hand_regular", Apple Chancery, Pacifico, sans-serif;
  margin: 0;
}

/*
 TODO: ADD BACK IN IF JLL DECIDES THEY WANT A CONTACT AREA ON LAST PAGE
.address-box {
  @extend %element-overlay-and-border;

  margin: -1em auto 0;
  padding: 10% 0;
  position: absolute;
  right: $g-size-off-margin-inlay-sm;
  top: 25%;
}

.address {
  color: $g-color-white;
  font-size: 1.25em;
  font-style: normal;
  line-height: 1.23;
  margin: 0 0 5em;

  &--street,
  &__name {
    font-size: 1.25em;
    font-style: normal;
    font-weight: 700;
    line-height: 1.25;
  }

  &--street {
    font-family: $g-font-heading;
    font-size: .9375em;
    line-height: 1.6;
    margin: 0;
    text-transform: uppercase;
  }

  // &__title {
  //   font-style: italic;
  // }

  &__email {
    @include on-event(true) {
      color: $g-color-brand-light;
    }
  }
}
 END OF TEMPORARILY REMOVED AREA */
/* GENERAL REPORT STYLES (#rep) */
.report-container,
.tile,
.kpi-tile-content {
  line-height: 1.2;
  width: 100%;
}

.tile-header-title {
  text-transform: uppercase;
}

.kpi-table,
.avpv-table,
.ttzc-table {
  border: 1.5pt solid #aaa;
}
.kpi-table-wrap,
.avpv-table-wrap,
.ttzc-table-wrap {
  width: 960px;
}

.kpi-table,
.avpv-table {
  text-align: center;
}

.kpi-thead,
.avpv-thead,
.ttzc-thead {
  background-color: #a11d27;
  border-bottom: 2.25pt solid #aaa;
  color: #fff;
  font: 1.125em Lato, -apple-system, Oxygen, "Open Sans", Montserrat, "PT Sans", Verdana, BlinkMacSystemFont, "Segoe UI", Ubuntu, sans-serif;
}

.avpv-tbody .avpv-row:nth-child(even),
.ttzc-row:nth-child(even) {
  background: #ededf6;
}

.cell-empty {
  color: transparent !important;
}

.rowhead {
  border-bottom: 0.75pt solid #aaa;
}

.indent {
  color: #3b3b3b;
  font-size: 0.875em;
  padding-left: 1em !important;
}

.avpv-table svg {
  opacity: 0.77;
}

/* VISITOR ORIGIN (#vo) */
.no-comp-width {
  float: left;
  width: 65% !important;
}
.no-comp-width.map-wrap {
  height: 495pt;
}

.cell-vo {
  border: 0;
}

.cell-vo-hr {
  border-top-color: #aaa;
  margin: 0 auto;
  padding: 0;
  width: 55%;
}

.map-wrap,
.map-wrap-left,
.map-wrap-right,
.map-wrap-full {
  position: relative;
  height: 495pt;
}

.map-iframe {
  border: 3pt solid #a11d27;
  left: 0;
  position: absolute;
  top: 0;
}

.map-wrap--vo-left,
.map-wrap-right,
.map-iframe--vo-left,
.map-iframe--vo-right,
.map-label-left,
.map-label-right {
  width: 470px;
}

.map-wrap-left,
.map-iframe--vp,
.map-label-vp,
.no-comp-width,
.no-comp-width > .map-iframe {
  width: 627px;
}

.map-iframe--full,
.map-wrap-full {
  width: 960px;
}

.map-label,
.map-label-left,
.map-label-right,
.map-label-vp {
  font-variant: small-caps;
  margin: 0 auto;
  text-align: center;
}

.map-wrap--vo-left,
.vo-tile-top .map-label-left {
  float: left;
}

.map-wrap-right,
.vo-tile-top .map-label-right {
  float: right;
}

.swal-overlay {
  background: rgba(216, 79, 79, 0.45);
}

.swap-modal {
  border: 3px solid #a11d27;
  border-radius: 15px;
}

.swal-title {
  font: 700 2rem Lato, -apple-system, Oxygen, "Open Sans", Montserrat, "PT Sans", Verdana, BlinkMacSystemFont, "Segoe UI", Ubuntu, sans-serif;
}

.swal-text {
  line-height: 1.4;
  text-align: center;
}

.swal-button {
  background-color: #d51f27;
  box-shadow: 1px 5px 5px #6d6e71;
  color: #fff;
  font: 700 1rem Lato, -apple-system, Oxygen, "Open Sans", Montserrat, "PT Sans", Verdana, BlinkMacSystemFont, "Segoe UI", Ubuntu, sans-serif;
  position: relative;
  transition: all 0.9s, color 1.2s, box-shadow 50ms linear;
}
.swal-button:active {
  background-color: #871821;
  box-shadow: inset 0 0 5px #bd6168, 1px 1px 3px 1px #6d6e71;
  top: 2px;
}
.swal-button:not([disabled]):hover {
  background-color: #a11d27;
}

/* KEY PERFORMANCE INDICATORS (#kpi) */
.kpi-header {
  padding: 0.675em 0;
  max-width: 120px;
}

.kpi-table .limit-width {
  max-width: 9rem;
  margin: 0 auto;
}

.age-row {
  vertical-align: top;
}

.avg-age {
  font-weight: 700;
}

.title-col {
  height: 1.5em;
  line-height: 1.5em;
}

.div-cell {
  margin-bottom: 0.3125em;
}

td.age-groups:not(.kpi-index) > .div-cell:not(.avg-age) {
  text-align: left;
}

.kpi-cell {
  border: 0.75pt solid #aaa;
  font-weight: 700;
  height: 60px;
}
.kpi-cell:first-child {
  background: #ededf6;
  box-shadow: inset 15px 0 23px -15px rgba(42, 60, 104, 0.2);
  font-family: Lato, -apple-system, Oxygen, "Open Sans", Montserrat, "PT Sans", Verdana, BlinkMacSystemFont, "Segoe UI", Ubuntu, sans-serif;
  padding-left: 0.5em;
  text-align: left;
  width: 12.25rem;
}
.kpi-cell > .chart-container {
  transform: scale(0.85);
}

.kpi-header:nth-child(4),
.kpi-index {
  width: 9%;
}

.kpi-row:nth-child(1) > .kpi-cell, .kpi-row:nth-child(2) > .kpi-cell, .kpi-row:nth-child(6) > .kpi-cell {
  height: 50px;
}
.kpi-row:nth-child(3) .kpi-cell:not(:first-child) {
  padding: 0;
}
.kpi-row:nth-child(3) .progressbar-text {
  left: -45% !important;
  top: 39% !important;
  width: 120% !important;
}
.kpi-row:nth-child(7) > .kpi-cell {
  height: 80px;
}

.age-groups {
  text-align: center;
  padding-top: 0.375em;
}

.h-bar-fill-outer {
  height: 100%;
  width: 100%;
  margin: 0.1875em auto;
  padding: 0;
}

th.age-groups .millennials,
th.age-groups .genx,
th.age-groups .babyboomers,
td.age-groups .avg-age,
.kpi-index .millennials > .h-bar-fill-outer,
.kpi-index .genx > .h-bar-fill-outer,
.kpi-index .babyboomers > .h-bar-fill-outer {
  margin-top: 0.75em;
}

.kpi-index .avg-age {
  margin-top: 0.325em;
}

.h-bar-fill-inner {
  margin: 0 auto;
}

.icon-container {
  float: left;
  height: 100%;
  margin-right: 0.5em;
  position: relative;
  vertical-align: middle;
  width: 25px;
}

.kpi-icon-diversity, .kpi-icon-college, .kpi-icon-dwell, .kpi-icon-income, .kpi-icon-age, .kpi-icon-car, .kpi-icon-traffic, .kpi-icon-pop {
  height: 25px;
  width: 25px;
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  vertical-align: middle;
}

.kpi-icon-pop {
  background: url("../../img/icon-population@2x.png") 0% 0%/25px 25px;
}

.kpi-icon-traffic {
  background: url("../../img/icon-traffic@2x.png") 0% 0%/25px 25px;
}

.kpi-icon-car {
  background: url("../../img/icon-car@2x.png") 0% 0%/25px 25px;
}

.kpi-icon-age {
  background: url("../../img/icon-age@2x.png") 0% 0%/25px 25px;
}

.kpi-icon-income {
  background: url("../../img/icon-income@2x.png") 0% 0%/25px 25px;
}

.kpi-icon-dwell {
  background: url("../../img/icon-dwell@2x.png") 0% 0%/25px 25px;
}

.kpi-icon-college {
  background: url("../../img/icon-college@2x.png") 0% 0%/25px 25px;
}

.kpi-icon-diversity {
  background: url("../../img/icon-diversity@2x.png") 0% 0%/25px 25px;
}

.kpi-row-header {
  align-items: center;
  display: flex;
  height: 100%;
}

th.kpi-cell {
  color: #a11d27;
  box-shadow: inset 15px 0 23px -15px rgba(170, 52, 61, 0.2);
}

/* ACTUAL VS POTENTIAL VISITORS (#avpv) */
.ttzc-rank, .avpv-header:first-child,
.avpv-cell:first-child {
  text-align: left;
  padding-left: 0.75em;
}

.avpv-header {
  padding: 3pt 1.5pt;
}
.avpv-header-top {
  border-bottom: 0;
  font-size: 1.125em;
  padding-bottom: 1.25pt;
}
.avpv-header-sub {
  font-size: 11pt;
}

.avpv-cell {
  padding: 1.125pt 1.5pt;
}

.avpv-header-top:nth-child(2),
.avpv-header-top:nth-child(3),
.avpv-header-top:nth-child(4),
.avpv-header-sub:nth-child(2),
.avpv-header-sub:nth-child(6),
.avpv-header-sub:nth-child(8),
.avpv-header:last-child,
.avpv-cell:nth-child(2),
.avpv-cell:nth-child(6),
.avpv-cell:nth-child(8),
.avpv-cell:last-child {
  border-left: 0.75pt solid #aaa;
}

.avpv-table .cell-empty {
  border-right: 0.75pt solid #aaa;
}

.avpv-header-sub:nth-child(5),
.avpv-cell:nth-child(5) {
  max-width: 8.5rem;
}

.avpv-header-sub:nth-child(7),
.graph-cell {
  min-width: 10rem;
}

.avpv-header-sub:nth-child(7) {
  padding-right: 2.3%;
  text-align: right;
}

.graph-cell {
  padding-right: 5%;
}

.avpv-header > .bench-name {
  max-width: 99pt;
  margin: 0 auto;
}

/* TOP TEN ZIP CODES (#ttzc) */
.ttzc-table {
  text-align: center;
}

.ttzc-popgrow {
  padding-right: 0.875em;
  text-align: right;
}

.ttzc-header,
.ttzc-cell {
  padding: 0.7em 0.625rem;
}

.ttzc-tfoot {
  background: #a29490;
  font-size: 1.0625em;
  font-weight: 700;
}

.ttzc-avgs {
  font-style: normal;
  font-variant: small-caps;
  letter-spacing: 0.6pt;
}

/* #VISITOR PENETRATION (#vp) */
.map-wrap-left,
.map-label-vp {
  float: left;
}

.table-vo {
  border: 0;
  text-align: center;
  width: 100%;
}
.table-vo-wrap {
  float: right;
  margin: 0 auto;
  overflow: visible;
  padding: 0 0 0 20px;
  vertical-align: top;
  width: 34.5%;
}
.table-vo-top-text {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -0.1875rem 0 1.25rem;
  min-height: 5rem;
  padding-left: 0.625rem;
  width: 100%;
}

/* DEFINITIONS (#def) */
.def-heading {
  text-transform: uppercase;
}

.def-ulist {
  list-style: none;
  font-size: 1.125em;
  margin-left: 0;
  padding-left: 2em;
  text-indent: -1em;
}
.def-ulist__item {
  text-align: justify;
}
.def-ulist__item:before {
  color: #891921;
  content: "›";
  display: inline-block;
  font-size: 2em;
  font-weight: 700;
  line-height: 0.875;
  position: relative;
  top: 5px;
}
.def-ulist__item > strong {
  padding-left: 1em;
}

/* DATA VISUALIZATIONS (#charts) */
svg > path:first-child {
  stroke: rgba(216, 79, 79, 0.13);
}

.rad-wrap {
  height: 68px;
  width: 68px;
  margin: 0 auto;
  padding: 0;
  position: relative;
}

.rad-wrap-lg {
  height: 95px;
  width: 95px;
  margin: 0 auto;
  padding: 0;
  position: relative;
}
.rad-wrap-lg > .progressbar-text {
  font-size: 1.625em !important;
  left: 48% !important;
}

.h-bar-wrap {
  display: inline-block;
  height: 25px;
  max-height: 24%;
  max-width: 100%;
  width: 80px;
}
.h-bar-wrap > .progressbar-text {
  font-weight: 700 !important;
  left: 5.5em !important;
  text-align: center;
  top: -1.375em !important;
}

.h-bar-mc-wrap {
  cursor: default;
  height: 1em;
  margin: -1.75pt 10% 0;
  max-height: 50%;
  width: 6.25em;
}
.h-bar-mc-wrap > .progressbar-text {
  font-size: 1em !important;
  left: 6em !important;
  top: -1.125em !important;
}

.bar-wrap {
  height: 92px;
  max-height: 92px;
  margin: 0;
  position: relative;
  transform: rotate(-90deg);
  width: 76px;
  max-width: 82.6%;
}

.cell-vo .bar-wrap > .progressbar-text {
  font-size: 1.25em !important;
  left: -170% !important;
}

.chart-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .chart-container {
    justify-content: flex-start;
  }
}

.h-bar-container,
.h-bar-mc-container {
  height: 100%;
  width: 100%;
}

.h-bar-container {
  display: flex;
  justify-content: center;
  margin-left: -10%;
}

.chart-heading {
  background: inherit;
  color: #a11d27;
  font-size: 1.5em;
  font-weight: 700;
  padding: 2.1875rem 0.3125rem 0.625rem;
}

.chart-label {
  margin: 0 auto;
  width: 7rem;
}

.bar-vo-data,
.bar-vp-data,
.rad-vo-data {
  height: 9.6875rem;
}

.bar-vo-title {
  font-size: 1.125em;
  font-weight: 700;
}

.row-vo:nth-child(2) {
  height: 0.5rem;
}

.unavail-msg {
  font-size: 0.85em;
  font-variant: small-caps;
  margin: 0 auto;
}
.unavail-msg--sm {
  font-size: 0.7em;
}
.unavail-msg--mc-bars {
  font-size: 0.75em;
  padding-right: 5%;
  text-align: right;
}

/* SCREEN ONLY STYLES (#print) */
@media only screen {
  .page:not(.page--cvr):not(.page--fnl),
.pg-break,
.report-container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .avpv-table, .avpv-table-wrap,
.kpi-table,
.kpi-table-wrap,
.ttzc-table,
.ttzc-table-wrap {
    width: 100%;
  }

  .vo-tile-top > .tile-header,
.vo-tile-top > .tile-content,
.vo-tile-sub > .tile-sub-wrap > .tile-header,
.vo-tile-sub > .tile-sub-wrap > .tile-content,
.bav-tile > .tile-header,
.bav-tile > .tile-content,
.vp-tile > .tile-header,
.vp-tile > .tile-content {
    width: 960px;
    margin: 0 auto;
  }

  .cell-vo .bar-wrap > .progressbar-text {
    left: -200% !important;
  }
}
/* PRINT ONLY STYLES (#print) */
@media print {
  html,
body {
    font-size: 10.5pt;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
    height: 100%;
    width: 100%;
  }

  header,
h1,
h2,
h3,
h4,
h5,
h6 {
    page-break-after: avoid;
    break-after: avoid;
    page-break-inside: avoid;
  }

  table {
    page-break-inside: auto;
  }

  tr,
th,
td {
    page-break-after: auto;
    page-break-inside: avoid;
  }

  iframe {
    page-break-inside: avoid;
  }

  .no-print,
.swal-overlay,
.swal-modal {
    display: none !important;
  }

  .pg-break {
    page-break-after: always;
    page-break-before: always;
  }

  .page__inlay, .page {
    page-break-after: always;
    page-break-inside: avoid;
  }

  .page--cvr {
    page-break-before: avoid;
    break-before: avoid;
    page-break-after: always;
  }
  .page--report, .page--def {
    page-break-after: always;
    page-break-before: always;
  }
  .page--fnl {
    page-break-after: avoid;
    break-after: avoid;
    page-break-before: always;
  }
  .footer__cr {
    font-size: 8.25pt;
  }

  .fnl-subheading {
    font-size: 15.75pt;
  }

  /* REPORT PRINT-ONLY STYLES */
  .kpi-thead {
    font-size: 12pt !important;
  }

  .kpi-row:nth-child(3) .progressbar-text {
    font-size: 1.095em !important;
  }

  .kpi-table-wrap {
    transform: scaleY(0.95) translateY(-16pt);
  }

  @page {
    margin: 0;
    size: landscape;
  }
}
