// helpers/_variables.scss

@charset 'UTF-8';

$g-font-primary: Roboto, -apple-system, 'Source Sans Pro', 'Helvetica Neue',
  HelveticaNeue, Helvetica-Neue, Cantarell, Arial, BlinkMacSystemFont, 'Segoe UI',
  Ubuntu, sans-serif;

$g-font-heading: Lato, -apple-system, Oxygen, 'Open Sans', Montserrat, 'PT Sans',
  Verdana, BlinkMacSystemFont, 'Segoe UI', Ubuntu, sans-serif;

$g-font-handwritten: 'jll_hand_regular', Apple Chancery, Pacifico, sans-serif;

$g-color-brand        : #a11d27;
$g-color-brand-light  : #d51f27;
$g-color-brand-tinted : #e75a60;
$g-color-light-yellow : #fce6a3;
$g-color-almond       : #ecd8c0;
$g-color-light-purple : #ededf6;
$g-color-black        : #000;
$g-color-rich-black   : #010203;
$g-color-off-black    : #414042;
$g-color-dark-gray    : #3e3e3e;
$g-color-gray         : #6d6e71;
$g-color-text-primary : #6d6e71; // Paragraph text and panel bg's
$g-color-bg-gray      : #6d6e71;
$g-color-bg-gray-light: #a7a9ac;
$g-color-border      : #aaa;
$g-color-silver       : #bcbec0;
$g-color-light-silver : #ccc;
$g-color-off-white    : #f1f2f2;
$g-color-white        : #fff;
$g-color-brown        : #a29490;
$g-color-bg-modal     : rgba(216, 79, 79, .45);
$g-color-black-overlay: rgba(17, 17, 17, .6);
$g-color-chart-trail  : rgba(216, 79, 79, .13);

$g-gutters: (
  'xlg': 1.6%,
  'lg': 1.4%,
  'md': 1%,
  'sm': .75%
);

// Report all #z-index values here
$g-z-index: (
  cvr-bg: -1
);

$g-size-off-margin-inlay: 50pt;
$g-size-off-margin-inlay-sm: $g-size-off-margin-inlay - 13.25pt;

$c-footer-height: 4.25rem;
$c-iframe-height: 495pt;

$c-btn-transition-all: all .9s, color 1.2s, box-shadow 50ms linear;
$c-btn-transition-color:
  background-color .4s ease-out,
  border-color .4s ease-out,
  color .4s ease-out;
