body {
  color: #6d6e71;
  overflow: hidden;
}

tr:nth-child(odd) { background: #f8f9f9 !important; }

td {
  cursor: default;
  padding: 14px 8px;
}

.table-wrapper {
  border-bottom: 2px solid #bcbec0;
  max-height: 41rem;
  overflow: auto;
  width: 100%;
}

.iOS7LocalGrid,
.wrapper {
  width: 100%;
}

.iOS7LocalLink { cursor: default !important; }

.btn-wrapper {
  text-align: center;
  width: 100%;
}

.fixed-head thead th {
  border: 2px solid #bcbec0;
  border-left: 0;
  border-right: 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 99;
}
