body {
  background: #f1f2f2;
}

body > table {
  width: 100%;
  text-align: center;
}

p {
  font-size: 14px;
  line-height: 1.4;
  margin-left: 25px;
  text-align: justify;
  width: 450px;
}

noscript > p {
  color: $white;
  font-size: 1.25em;
  text-align: center;
}

td { padding: 0; }

.inner-wrapper {
  text-align: left;
  width: 498px;
}

.cr-text {
  color: #6d6e71;
  font-size: 12px;
  font-style: italic;
  text-align: center;
  width: 68%;
}

.labels {
  font-size: 18px;
  font-weight: 700;
  left: 4px;
  position: relative;
  text-align: left;
  top: 8px;
}

.keep-logged-txt {
  font-size: 14px;
  text-align: left;
}

.buttonTT:hover {
  background: #a11d27;
  color: #fff;
  text-shadow: none;
}

.buttonTT:active {
  background: #871821;
  border-color: #871821;
  box-shadow:
    inset 0 0 5px #bd6168,
    1px 1px 2px #6d6e71;
  color: #fff;
  top: 2px;
}

.buttonTT:disabled {
  background: #a7a9ac;
  color: #911a23;
  opacity: 0.7;
  text-shadow:
    0 0 1px rgba(241, 242, 242, 0.2),
    0 1px 0 rgba(241, 242, 242, 0.2);
}

.pw-link {
  font-size: 1.125rem !important;
}
