@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url("/css/fonts/Roboto Regular V2.woff2") format("woff2"), url("/css/fonts/Roboto Regular V2.woff") format("woff"), url("/css/fonts/Roboto Regular V2.ttf") format("truetype");
  font-display: swap;
  unicode-range: U+0020-007F, U+00A9, U+00AB, U+00AE, U+00BB;
}
@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 400;
  src: local("Roboto Italic"), local("Roboto-Italic"), url("/css/fonts/Roboto Italic V2.woff2") format("woff2"), url("/css/fonts/Roboto Italic V2.woff") format("woff"), url("/css/fonts/Roboto Italic V2.ttf") format("truetype");
  font-display: swap;
  unicode-range: U+0020-007F;
}
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"), url("/css/fonts/Roboto Bold V2.woff2") format("woff2"), url("/css/fonts/Roboto Bold V2.woff") format("woff"), url("/css/fonts/Roboto Bold V2.ttf") format("truetype");
  font-display: swap;
  unicode-range: U+0020-007F, U+00A9, U+00AB, U+00AE, U+00BB;
}
@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"), url("/css/fonts/Lato Regular.woff2") format("woff2"), url("/css/fonts/Lato Regular.woff") format("woff"), url("/css/fonts/Lato Regular.ttf") format("truetype");
  font-display: swap;
  unicode-range: U+0020-007F, U+00A9, U+00AB, U+00AE, U+00BB;
}
@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
  src: local("Lato Bold"), local("Lato-Bold"), url("/css/fonts/Lato Bold.woff2") format("woff2"), url("/css/fonts/Lato Bold.woff") format("woff"), url("/css/fonts/Lato Bold.ttf") format("truetype");
  font-display: swap;
  unicode-range: U+0020-007F, U+00A9, U+00AB, U+00AE, U+00BB;
}
.group:after {
  clear: both;
  content: "";
  display: table;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.margin-centered {
  margin-left: auto !important;
  margin-right: auto !important;
}

.reset {
  font: inherit;
  margin: 0;
  padding: 0;
}

[hidden],
.is-hidden {
  display: none !important;
}

/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */
/* main.scss 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
*,
:before,
:after {
  background-repeat: no-repeat;
  box-sizing: inherit;
}

:before,
:after {
  text-decoration: inherit;
  vertical-align: inherit;
}

html {
  background: #f1f2f2;
  box-sizing: border-box;
  cursor: default;
  font-family: sans-serif;
  font-size: 1em;
  line-height: 1.4;
  scroll-behavior: smooth;
  -moz-tab-size: 4;
  tab-size: 4;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  word-wrap: break-word;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
body {
  color: #414042;
  font-family: Roboto, Arial, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5,
h6,
th {
  font-family: Lato, Oxygen, "Open Sans", "Lucida Grande", Tahoma, Verdana, sans-serif;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

a {
  background-color: transparent;
  cursor: pointer;
  text-decoration: none !important;
  -webkit-text-decoration-skip: objects;
}
a, a:visited {
  color: #4fa2d9;
}
a:hover, a:focus {
  color: #458ebe;
}
a:active {
  color: #3b7aa3;
}

small {
  color: #fff;
  font-size: 80%;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */
.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
*::before,
*::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
img {
    page-break-inside: avoid;
  }

  p,
h2,
h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
h3 {
    page-break-after: avoid;
  }
}
html {
  scrollbar-color: #2a3c68 #414042;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  height: 1.5em;
  width: 1.5em;
}
::-webkit-scrollbar-track {
  background: #414042;
}
::-webkit-scrollbar-thumb {
  background: #2a3c68;
}
::-webkit-scrollbar-thumb:hover {
  background: #233256;
}
::-webkit-scrollbar-thumb:active {
  background: #1b2744;
  box-shadow: inset 1px 1px 3px rgba(106, 119, 149, 0.5);
}

@media only screen and (max-width: 50em) {
  ::-webkit-scrollbar {
    height: 0.75em;
    width: 0.75em;
  }
}
header > hr {
  margin: 0 auto;
  width: 50%;
}

.site-footer, .site-header {
  box-sizing: border-box;
  left: 0;
  padding: 0 4%;
  position: fixed;
  width: 100vw;
  z-index: 9;
}

.site-footer__logo-wrapper, .site-header__logo-wrapper {
  box-sizing: border-box;
  float: left;
  height: 100%;
  min-width: 6.75rem;
  width: 15%;
}

.site-footer__logo-link, .site-header__logo-link {
  align-items: center;
  display: flex;
  height: 100%;
}

.footer-nav__doc-list {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
}
@media only screen and (max-width: 50em) {
  .footer-nav__doc-list {
    display: none;
    visibility: hidden;
  }
}

.site-header {
  background: #2a3c68;
  top: 0;
  height: 5.5rem;
}
@media only screen and (max-width: 50em) {
  .site-header {
    height: 11.25vw;
  }
}
.site-header__logo {
  width: 100%;
}

.main-nav {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  height: 100%;
  min-width: 50%;
  overflow: hidden;
  transition: min-width 125ms linear 5ms;
}
@media only screen and (min-width: 215em) {
  .main-nav {
    min-width: 40%;
  }
}
.main-nav__link {
  color: #fff;
  cursor: pointer;
  font: 700 calc(0.6875rem + 0.75vw) Lato, Oxygen, "Open Sans", "Lucida Grande", Tahoma, Verdana, sans-serif;
  letter-spacing: 0.05em;
  padding: 0 0.5vw 1px;
  padding: 0 max(2px, min(8px, 0.375vw));
  transition: color 275ms ease-out, padding 0.13s linear 5ms;
}
@media only screen and (min-width: 64em) {
  .main-nav__link {
    padding-left: 1vw;
    padding-right: 1vw;
  }
}
.main-nav__link:visited {
  color: #fff;
}
.main-nav__link:hover, .main-nav__link:focus {
  color: #8ed8f8;
}
.main-nav__link:focus {
  transition: padding 0.13s linear 5ms;
}
.main-nav__link:active {
  color: #79b8d3;
}

.content-container {
  top: 5.5rem;
}
@media only screen and (max-width: 50em) {
  .content-container {
    top: 11.25vw;
  }
}

.content-container {
  height: 100vh;
  margin: 0 4%;
  position: relative;
}

.aside-date {
  background: rgba(142, 216, 248, 0.15);
  float: left;
  height: 100vh;
  padding: 7vh 1rem 1rem;
  position: fixed;
  top: 0;
  width: 15%;
  z-index: 8;
}
.aside-date__heading {
  margin: 7vh 0 0.67em;
  font-size: 1.75em;
  font-weight: 400;
  text-align: center;
}

.date-nav__date-list {
  font-size: 1.125em;
  line-height: 1.67;
  list-style: square;
  margin: 0;
  padding: 0 1.5rem;
}
.date-nav__date-link + span {
  font-style: italic;
}

.main-content {
  float: right;
  height: 100%;
  width: 80%;
  width: -webkit-calc(85% - 2rem);
  width: calc(85% - 2rem);
}

.page-header {
  background: #f1f2f2;
  margin: 0;
  padding: 7vh 0 1.25rem;
  position: -webkit-sticky;
  position: sticky;
  top: 6.95vh;
  top: -webkit-calc(7vh - 4px);
  top: calc(7vh - 4px);
  z-index: 7;
}
.page-header__title {
  margin: 0 0 0.67em;
  font-weight: 400;
  text-align: center;
}

.changelog {
  margin: 0 3rem;
}
.changelog__post-meta .fa {
  color: #2a3c68;
}
.site-footer {
  background: #414042;
  bottom: 0;
  height: 4.125rem;
  transition: height 0.45s ease-out;
}
@media only screen and (max-width: 50em) {
  .site-footer {
    height: 1rem;
  }
}
.site-footer__logo-wrapper {
  max-width: 7.5%;
  min-width: 5.25rem;
}
@media only screen and (max-width: 50em) {
  .site-footer__logo-wrapper {
    display: none;
    visibility: hidden;
  }
}
.site-footer__logo {
  max-width: 100%;
}
.site-footer__legal-container {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  float: right;
  font: calc(0.425rem + 0.375vw) Lato, Oxygen, "Open Sans", "Lucida Grande", Tahoma, Verdana, sans-serif;
  height: 100%;
  justify-content: flex-end;
  min-width: 80%;
  overflow: hidden;
}
@media only screen and (min-width: 75em) {
  .site-footer__legal-container {
    min-width: 60%;
  }
}
.site-footer__cr-msg {
  font-size: 95%;
  margin-left: 1em;
  text-transform: uppercase;
  white-space: nowrap;
}
.site-footer__cr-msg:before {
  content: "//";
  position: relative;
  left: -4px;
}
.site-footer__company-link, .site-footer__company-link:link, .site-footer__company-link:visited {
  color: #fff;
}

.footer-nav {
  font-weight: 700;
  width: 100%;
}
@media only screen and (max-width: 50em) {
  .footer-nav {
    display: none;
  }
}
.footer-nav__doc-list {
  justify-content: space-around;
}
.footer-nav__doc-item {
  box-sizing: border-box;
  margin: 0 0.5em;
}
.footer-nav__doc-link {
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: color 275ms ease-out;
}
.footer-nav__doc-link, .footer-nav__doc-link:link, .footer-nav__doc-link:visited {
  color: #fff;
}
.footer-nav__doc-link:hover, .footer-nav__doc-link:focus {
  color: #8ed8f8;
}
.footer-nav__doc-link:active {
  color: #79b8d3;
}

/*# sourceMappingURL=style.css.map */
