@mixin first($num: 1) {
  @if $num == 1 {
    &:first-child {
      @content;
    }
  } @else {
    &:nth-child(-n + #{$num}) {
      @content;
    }
  }
}

/// Select all children from the last to `$num`.
///
/// @content [Write the style you want to apply to the children, and it will be
/// added within the @content directive]
///
/// @param {Integer} $num - All child elements counted from the last to this
/// number will be selected.
@mixin last($num: 1) {
  @if $num == 1 {
    &:last-child {
      @content;
    }
  } @else {
    &:nth-last-child(-n + #{$num}) {
      @content;
    }
  }
}

/// Select all children after the first to `$num`.
///
/// @content [Write the style you want to apply to the children, and it will be
/// added within the @content directive]
///
/// @param {Integer} $num - After the first child elements of this quantity, all
/// children are selected.
@mixin after-first($num) {
  &:nth-child(n + #{$num + 1}) {
    @content;
  }
}

/// Select all children before `$num` from the last.
///
/// @content [Write the style you want to apply to the children, and it will be
/// added within the @content directive]
///
/// @param {Integer} $num - This number back from the last child element will
/// be selected.
@mixin from-end($num) {
  &:nth-last-child(#{$num}) {
    @content;
  }
}

/// Select all children between `$first` and `$last`.
///
/// @content [Write the style you want to apply to the children, and it will be
/// added within the @content directive]
///
/// @param {Integer} $first - The first child element that will be selected,
/// counted from the start. This child element and all others up to and
/// including $last are selected.
/// @param {Integer} $last - The last child element that will be selected,
// counted from the start. This child element and all before it up to and
/// including $first are selected.
@mixin between($first, $last) {
  &:nth-child(n + #{$first}):nth-child(-n + #{$last}) {
    @content;
  }
}

/// Select all evenly numbered children between `$first` and `$last`.
///
/// @content [Write the style you want to apply to the children, and it will be
/// added within the @content directive]
///
/// @param {Integer} $first - The first child element of the selection range,
/// counted from the start. Will only be selected if it is evenly numbered.
/// @param {Integer} $last - The last child element of the selection range,
/// counted from the start. WIll only be selected if it is evenly numbered.
@mixin even-between($first, $last) {
  &:nth-child(even):nth-child(n + #{$first}):nth-child(-n + #{$last}) {
    @content;
  }
}

/// Select all odd children between `$first` and `$last`.
///
/// @content [Write the style you want to apply to the children, and it will be
/// added within the @content directive]
///
/// @param {Integer} $first - The first child element of the selection range,
/// counted from the start. Will only be selected if it is an odd number.
/// @param {Integer} $last - The last child element of the selection range,
/// counted from the start. WIll only be selected if it is an odd number.
@mixin odd-between($first, $last) {
  &:nth-child(odd):nth-child(n + #{$first}):nth-child(-n + #{$last}) {
    @content;
  }
}

/// Select all `$num` children between `$first` and `$last`.
///
/// @content [Write the style you want to apply to the children, and it will be
/// added within the @content directive]
///
/// @param {Integer} $num - Select every $num items for the range set by $first
/// and $last parameters.
/// @param {Integer} $first - The starting number for the selection range,
/// counted from the start.
/// @param {Integer} $last - The ending number for the selection range, counted
/// from the start.
@mixin n-between($num, $first, $last) {
  &:nth-child(#{$num}n):nth-child(n + #{$first}):nth-child(-n + #{$last}) {
    @content;
  }
}

/// Select all children but `$num`.
///
/// @content [Write the style you want to apply to the children, and it will be
/// added within the @content directive]
///
/// @param {Integer} $num - All child elements are selected except for $num.
@mixin all-but($num) {
  &:not(:nth-child(#{$num})) {
    @content;
  }
}

/// Select children each `$num`.
///
/// @content [Write the style you want to apply to the children, and it will be
/// added within the @content directive]
///
/// @param {Integer} $num - Every $num child elements is selected.
/// @alias every
@mixin each($num) {
  &:nth-child(#{$num}n) {
    @content;
  }
}

/// Select children each `$num`.
///
/// @content [Write the style you want to apply to the children, and it will be
/// added within the @content directive]
///
/// @param {Integer} $num - Every $num child elements is selected.
@mixin every($num) {
  &:nth-child(#{$num}n) {
    @content;
  }
}

/// Select the `$num` child from the start and the `$num` child from the last.
///
/// @content [Write the style you want to apply to the children, and it will be
/// added within the @content directive]
///
/// @param {Integer} $num - The child element that is $num from the start, as
/// well as the child element that is $num from the end, will be selected.
@mixin from-first-last($num) {
  &:nth-child(#{$num}),
  &:nth-last-child(#{$num}) {
    @content;
  }
}

/// Select the item in the middle of `$num` child. Only works with odd number
/// chain.
///
/// @content [Write the style you want to apply to the children, and it will be
/// added within the @content directive]
///
/// @param {Integer} $num - Count $num child elements from the start and the
/// middle element of that selection range will be selected.
@mixin middle($num) {
  &:nth-child(#{round($num / 2)}) {
    @content;
  }
}

/// Select all children between the `$num` first and the `$num` last.
///
/// @content [Write the style you want to apply to the children, and it will be
/// added within the @content directive]
///
/// @param {Integer} $num - Count $num children from the start and from the end
/// and all other child elements except for those will be selected.
@mixin all-but-first-last($num) {
  &:nth-child(n + #{$num}):nth-last-child(n + #{$num}) {
    @content;
  }
}

/// This quantity-query mixin will only select the first of `$limit` items. It
/// wwill not work if the quantity of child elements is different than `$limit`.
///
/// @content [Write the style you want to apply to the children, and it will be
/// added within the @content directive]
///
/// @param {Integer} $limit - If the quantity of child elements is equal to
/// limit, the first of those elements is selected.
@mixin first-of($limit) {
  &:nth-last-child(#{$limit}):first-child {
    @content;
  }
}

/// This quantity-query mixin will only select the last of `$limit` items. It
/// will not if there is not as many items as you set in `$limit`.
///
/// @content [Write the style you want to apply to the children, and it will be
/// added within the @content directive]
///
/// @param {Integer} $limit - If the quantity of child elements is equal to
/// limit, the last of those elements is selected.
@mixin last-of($limit) {
  &:nth-of-type(#{$limit}):nth-last-of-type(1) {
    @content;
  }
}

/// This quantity-query mixin will select every items if there is at least `$num`
/// items. It will not if there is not as much as item as you set in `$num`.
///
/// @content [Write the style you want to apply to the children, and it will be
/// added within the @content directive]
///
/// @param {Integer} $num - If the number of child elements is equal to or
/// greater than this number, then all will be selected.
@mixin at-least($num) {
  $selector: &;
  $child: nth(nth($selector, -1), -1);

  &:nth-last-child(n + #{$num}),
  &:nth-last-child(n + #{$num}) ~ #{$child} {
    @content;
  }
}

/// This quantity-query mixin will select every items if there is at most `$num`
/// items. It will not if there is not as much as item as you set in `$num`.
///
/// @content [Write the style you want to apply to the children, and it will be
/// added within the @content directive]
///
/// @param {Integer} $num - If the number of child elements is equal to or
/// less than this number, then all will be selected.
@mixin at-most($num) {
  $selector: &;
  $child: nth(nth($selector, -1), -1);

  &:nth-last-child(-n + #{$num}):first-child,
  &:nth-last-child(-n + #{$num}):first-child ~ #{$child} {
    @content;
  }
}

/// This quantity-query mixin will select every items there is between `$min`
/// and `$max` items. If the quantity of child elements is less than the $min
/// or $greater than the $max, none will be selected. If the quantity is in
/// range, all will be selected.
///
/// @content [Write the style you want to apply to the children, and it will be
/// added within the @content directive]
///
/// @param {Integer} $min - The minimum number of children
/// @param {Integer} $max - The maximum number of children
@mixin in-between($min, $max) {
  $selector: &;
  $child: nth(nth($selector, -1), -1);

  &:nth-last-child(n + #{$min}):nth-last-child(-n + #{$max}):first-child,
  &:nth-last-child(n + #{$min}):nth-last-child(-n + #{$max}):first-child ~ #{$child} {
    @content;
  }
}

/// Select the first exact child element.
///
/// @content [Write the style you want to apply to the children, and it will be
/// added within the @content directive]
@mixin first-child {
  &:first-of-type {
    @content;
  }
}

/// Select the last exact child element.
///
/// @content [Write the style you want to apply to the children, and it will be
/// added within the @content directive]
@mixin last-child {
  &:last-of-type {
    @content;
  }
}

/// Select all evenly numbered child elements.
///
/// @content [Write the style you want to apply to the children, and it will be
/// added within the @content directive]
@mixin even {
  &:nth-child(even) {
    @content;
  }
}

/// Select all odd numbered child elements.
///
/// @content [Write the style you want to apply to the children, and it will be
/// added within the @content directive]
@mixin odd {
  &:nth-child(odd) {
    @content;
  }
}

/// Select only the first and last child element.
///
/// @content [Write the style you want to apply to the children, and it will be
/// added within the @content directive]
@mixin first-last {
  &:first-child,
  &:last-child {
    @content;
  }
}

/// Will only select the child if it is unique. If it has any sibling elements
/// then none will be selected.
///
/// @content [Write the style you want to apply to the children, and it will be
/// added within the @content directive]
/// @alias only
@mixin unique {
  &:only-child {
    @content;
  }
}

/// Will only select the child if it is unique. If it has any sibling elements
/// then none will be selected.
///
/// @content [Write the style you want to apply to the children, and it will be
/// added within the @content directive]
@mixin only {
  &:only-child {
    @content;
  }
}

/// Will only select children if they are not unique. Meaning if there is at
/// least 2 children, the style is applied.
///
/// @content [Write the style you want to apply to the children, and it will be
/// added within the @content directive]
@mixin not-unique {
  &:not(:only-child) {
    @content;
  }
}

/// Uses box-shadow to give an element a depth effect based on Google's
/// Material Design principles.
///
/// @link https://material.io/design/environment/light-shadows.html
/// @link https://material.io/design/environment/elevation.html
///
/// @param {Number} $level - Depth level (Must be between 0 and 5, inclusive).
///
/// @group Utilities
/// @require {function} top-shadow
/// @require {function} bottom-shadow
/// @throw Invalid $level value.
@mixin depth-level($level) {
  @if type-of($level) != 'number' or $level > 5 {
    @error 'Invalid $level of [ #{inspect($level)} ] used in the mixin ' +
      ' [ depth-level ]. Value must be a number between 0 and 5 inclusive.';
  } @else if $level < 1 {
    box-shadow: none;
  } @else {
    box-shadow: bottom-shadow($level), top-shadow($level);
  }
}

/// Apply a background image with a version that is scaled to 2x for Retina and
/// other HiDPI displays.
///
/// @param {URL} $img-name - File path for the image. Must either be a
/// quoted string or inside a function to be read correctly.
/// @param {Length-Percentage} $bg-width - Width component of the background-size
/// property value for the image.
/// @param {Length-Percentage} $bg-height [$bg-width] - Height component of the
/// background-size property value for the image.
/// @param {String} $img-2x-suffix [$image-2x-suffix|'@2x']- The suffix that is
/// appended to the end of image name to designate that it is the 2x version for
/// HiDPI displays. Must be a quoted string to be ready correctly.
/// @param {Map} $extra-hidpi-properties [null] - You can pass this argument
/// a map of property: value pairs that will be added to the HiDPI/Retina
/// media query.
///
/// @group Utilities
/// @throw Value of $bg-width must not be null
/// @throw Invalid $bg-width or $bg-height data type
/// @throw Invalid $img filename
@mixin bg-image(
  $img-name,
  $bg-width,
  $bg-height: $bg-width,
  $img-2x-suffix:
    if(global-variable-exists(image-2x-suffix), $image-2x-suffix, '@2x'),
  $extra-hidpi-properties: null
) {
  $hidpi-img: $img-name;

  @if (
    not $extra-hidpi-properties or $extra-hidpi-properties == 'none' or
    $extra-hidpi-properties == 'no' or $extra-hidpi-properties == nil or
    $extra-hidpi-properties == 'n/a' or $extra-hidpi-properties == ' ' or
    $extra-hidpi-properties == () or $extra-hidpi-properties == ( )
  ) {
    $extra-hidpi-properties: null;
  }

  @if not $bg-width {
    @error 'You must enter an image width for the $bg-width parameter of the ' +
        '`bg-image` mixin.';
  } @else if (
    type-of($bg-width) != 'number' or
    ($bg-height and $bg-height != auto and type-of($bg-height) != 'number')
  ) {
    @error 'Invalid type for the dimensions used in the `bg-image` mixin.';
  } @else {
    $bg-width: if(
      type-of($bg-width) == 'number' and unitless($bg-width),
      $bg-width * 1px,
      $bg-width
    );
    $bg-height: if(
      type-of($bg-height) == 'number' and unitless($bg-height),
      $bg-height * 1px,
      $bg-height
    );
  }

  $size: if(
    not $bg-height or $bg-height == auto,
    $bg-width,
    $bg-width $bg-height
  );

  @if (
    str-index($img-name, '.png') or str-index($img-name, '.svg') or
    str-index($img-name, '.gif') or str-index($img-name, '.jpg') or
    str-index($img-name, '.jpx') or str-index($img-name, '.jp2') or
    str-index($img-name, '.j2c') or str-index($img-name, '.j2k') or
    str-index($img-name, '.jps') or str-index($img-name, '.ppm') or
    str-index($img-name, '.iff') or str-index($img-name, '.tdi') or
    str-index($img-name, '.dmc') or str-index($img-name, '.dc3') or
    str-index($img-name, '.dic') or str-index($img-name, '.mpo') or
    str-index($img-name, '.bmp') or str-index($img-name, '.pxr') or
    str-index($img-name, '.tga') or str-index($img-name, '.vda') or
    str-index($img-name, '.icb') or str-index($img-name, '.vst') or
    str-index($img-name, '.pcx') or str-index($img-name, '.jpf') or
    (not str-index($img-name, '.jpeg') and str-index($img-name, '.jpe')) or
    (not str-index($img-name, '.tiff') and str-index($img-name, '.tif'))
  ) {
    $hidpi-img: str-insert($img-name, $img-2x-suffix, str-length($img-name) - 3);
  } @else if (
    str-index($img-name, '.tiff') or
    str-index($img-name, '.jpeg') or
    str-index($img-name, '.webp')
  ) {
    $hidpi-img: str-insert($img-name, $img-2x-suffix, str-length($img-name) - 4);
  } @else if str-index($img-name, '.') {
    @warn 'You are using an unknown file type on the image you referenced in ' +
        'the `bg-image` mixin. Please ensure you are using a valid image file' +
        ' type. If you use an unknown file type with multiple `.` characters ' +
        'the `bg-image` mixin may not work correctly.';

    $hidpi-img: str-insert($img-name, $img-2x-suffix, str-index($img-name, '.'));
  } @else {
    @error 'The image you referenced in the `bg-image` mixin does not have a ' +
        'file extension. Please use the full image name including the ' +
        'image\'s file extension.';
  }

  // Normal sized image
  background-image: url(#{$img-name});

  // Scaled up version of the image for HiDPI displays
  @media only screen and (-webkit-min-device-pixel-ratio: 1.25),
         only screen and (min-device-pixel-ratio: 1.25),
         only screen and (min-resolution: 200dpi),
         only screen and (min-resolution: 1.25dppx) {
    background-image: url(#{$hidpi-img});
    background-size: $size;

    @if $extra-hidpi-properties {
      $key-list: map-keys($extra-hidpi-properties);
      @each $key in $key-list {
        #{$key}: map-get($extra-hidpi-properties, $key);
      }
    }
  }
}

/// Apply an SVG background image with a fall-back PNG version and a PNG version
/// that is scaled to 2x for Retina and other HiDPI displays.
///
/// @param {URL} $svg-img-name - File path for the image. The '.svg' file
/// extension is not required, but if it is included the string must either be
/// in quotes or inside a function to be read correctly.
/// @param {Length-Percentage} $bg-width - Width component of the
/// background-size property that sizes the image.
/// @param {Length-Percentage} $bg-height [null] - Height component of the
/// background-size property value for the image. If no height, or a height
/// of auto is entered, the background-size property will use one value syntax.
/// @param {String} $img-2x-suffix [$image-2x-suffix|'@2x']- The suffix that is
/// appended to the end of image name to designate that it is the 2x version for
/// HiDPI displays. Must be a quoted string to be read correctly.
/// @param {Map} $extra-hidpi-properties [null] - You can pass this argument
/// a map of property: value pairs that will be added to the HiDPI/Retina
/// media query since the mixin will be the only way to access it.
///
/// @group Utilities
/// @throw Value of $bg-width must not be null
/// @throw Invalid $bg-width or $bg-height data type
@mixin bg-image-svg(
  $svg-img-name,
  $bg-width,
  $bg-height: null,
  $img-2x-suffix:
    if(global-variable-exists(image-2x-suffix), $image-2x-suffix, '@2x'),
  $extra-hidpi-properties: null
) {
  $ret-png-img: null;

  @if (
    not $extra-hidpi-properties or $extra-hidpi-properties == 'none' or
    $extra-hidpi-properties == 'no' or $extra-hidpi-properties == nil or
    $extra-hidpi-properties == 'n/a' or $extra-hidpi-properties == ' ' or
    $extra-hidpi-properties == () or $extra-hidpi-properties == ( )
  ) {
    $extra-hidpi-properties: null;
  }

  @if not $bg-width {
    @error 'You must enter an image width for the $bg-width parameter of the ' +
        '`bg-image-svg` mixin.';
  } @else if (
    type-of($bg-width) != 'number' or
    ($bg-height and $bg-height != auto and type-of($bg-height) != 'number')
  ) {
    @error 'Invalid type for the dimensions used in the `bg-image-svg` mixin.';
  } @else {
    $bg-width: if(
      (type-of($bg-width) == 'number' and unitless($bg-width)),
      $bg-width * 1px,
      $bg-width
    );
    $bg-height: if(
      (type-of($bg-height) == 'number' and unitless($bg-height)),
      $bg-height * 1px,
      $bg-height
    );
  }

  @if not str-index(to-lower-case($svg-img-name), '.svg') {
    $svg-img-name: $svg-img-name + '.svg';
    $ret-png-img: $svg-img-name + $img-2x-suffix + '.png';
  }

  $size: if(
    not $bg-height or $bg-height == auto,
    $bg-width,
    $bg-width $bg-height
  );
  $png-img: str-slice($svg-img-name, 1, str-length($svg-img-name) - 4) + '.png';
  $ret-png-img: str-insert($png-img, $img-2x-suffix, str-length($png-img) - 3);

  // Normal sized PNG fallback image
  background: url(unquote($png-img));
  // SVG image with properties to ensure it overwrites PNG if SVG is supported
  background: url(#{$svg-img-name}), linear-gradient(transparent, transparent);

  // Scaled up version of the image for HiDPI displays
  @media only screen and (-webkit-min-device-pixel-ratio: 1.25),
         only screen and (min-device-pixel-ratio: 1.25),
         only screen and (min-resolution: 200dpi),
         only screen and (min-resolution: 1.25dppx) {
    background: url(#{$ret-png-img}); // 2x PNG fallback image
    background: url(#{$svg-img-name}), linear-gradient(transparent, transparent);
    background-size: $size;

    @if $extra-hidpi-properties {
      $key-list: map-keys($extra-hidpi-properties);
      @each $key in $key-list {
        #{$key}: map-get($extra-hidpi-properties, $key);
      }
    }
  }
}

/// Creates an inner box-shadow for only one side of an element.
///
/// @param {Keyword} $side [bottom] - Side the shadow is supposed to appear.
/// Can be `top`, `left`, `right` or `bottom`.
/// @param {Length} $size [20px] - Width for the target side.
/// @param {Color} $color [rgba($black, .3)] - Color of the shadow.
@mixin inner-side-shadow(
  $side: 'bottom',
  $size: 20px,
  $color: if(global-variable-exists(#{black}), rgba($black, .3), rgba(#000, .3))
) {
  @if unitless($size) {
    $size: $size * 1px;
  }

  $helper: round($size * .65);

  @if (
    to-lower-case($side) == 'top' or to-lower-case($side) == 't' or
    to-lower-case($side) == 'up' or to-lower-case($side) == 'u'
  ) {
    box-shadow: inset 0 $helper $size (-1) * $helper $color;
  } @else if to-lower-case($side) == 'left' or to-lower-case($side) == 'l' {
    box-shadow: inset $helper 0 $size (-1) * $helper $color;
  } @else if to-lower-case($side) == 'right' or to-lower-case($side) == 'r' {
    box-shadow: inset (-1) * $helper 0 $size (-1) * $helper $color;
  } @else if (
    to-lower-case($side) == 'bottom' or to-lower-case($side) == 'b' or
    to-lower-case($side) == 'btm' or to-lower-case($side) == 'down' or
    to-lower-case($side) == 'd'
  ) {
    box-shadow: inset 0 (-1) * $helper $size (-1) * $helper $color;
  } @else {
    @error 'Invalid side value of `#{inpsect($side)} for the ' +
        '`inner-side-shadow` mixin.';
  }
}

/// Block Element - Used with BEM (Block-Element-Modifier) naming convention
/// @content
///
/// @group Utilities
/// @param {String} $element - Element's name
@mixin elem($element) {
  &__#{$element} {
    @content;
  }
}

/// Block Modifier - Used with BEM (Block-Element-Modifier) naming convention
/// @content
///
/// @group Utilities
/// @param {String} $modifier - Modifier's name
@mixin mod($modifier) {
  &--#{$modifier} {
    @content;
  }
}

/// Applied to the parent element of an element that includes a 3-D animation.
///
/// @param {Length|Keyword} $perspective [500px] - The perspective value that
/// will effect the child element's 3-d animation.
/// @param {Keyword|Length Percentage|List} $p-origin [55% 50%] - The
/// perspecitve-origin value that will effect the child element's 3-d animation
/// The syntax for this property can be just an x-position which can be the
/// keyword, `left` (equal to a 0 value), `center` (equal to 50%), or `right`
/// (equal to 100%), or can be a length-percentage. It can be also be in an
/// x-position y-position 2-value format. The y-position value can be the
/// keyword, `top` (equal to 0), `center` (equal to 50%), or `bottom` (equal to
/// 100%), or can it can be a length-percentage. (Ex: `left bottom` or
/// `100% 50%` or `left 30%). This property also accepts the global values of
/// inherit, initial, and unset as valid.
/// @param {Length-Percentage} $width [null] - The width of the element.
/// @param {Number} $z-val [null] - Sets the z-value property if passed
/// @param {Length-Percentage} $height [$width] - The height of the element.
///
/// @group Animations
/// @group Utilities
/// @throw Invalid $perspective value
/// @throw Invalid $z-val value
@mixin animation-stage(
  $perspective: 500px,
  $p-origin: 55% 50%,
  $width: null,
  $z-val: null,
  $height: null
) {
  @if $height {
    height: $height;
  }

  @if (
    (type-of($perspective) == 'number' and $perspective > 0 and
    index('px' 'em' 'rem', unit($perspective)) != null) or
    $perspective == 'initial' or $perspective == 'inherit'
   ) {
    perspective: $perspective;
  }

  perspective-origin: $p-origin;

  @if $width {
    width: $width;
  }

  @if $z-val and type-of($z-val) == 'number' and unitless($z-val) {
    z-index: $z-val;
  }
}

/// Event wrapper
/// @author Harry Roberts
/// @link https://twitter.com/csswizardry/status/478938530342006784
/// @content
///
/// @param {Boolean} $self (false) - Whether or not to include current selector
@mixin on-event($self: false) {
  @if $self {
    &,
    &:link,
    &:visited,
    &:hover,
    &:focus,
    &:active {
      @content;
    }
  } @else {
    &:hover,
    &:focus,
    &:active {
      @content;
    }
  }
}

/// Takes a given property and a corresponding value and pairs it with a space
/// separated list of any vendor prefixes desired ("moz webkit" for "-moz- and
/// -webkit-"). If no list of prefixes is given then the '-webkit' and '-ms'
/// prefixes are applied to the selector.
@mixin prefix($property, $value, $vendors: ms webkit) {
  @if $vendors {
    @each $vendor in $vendors {
      #{'-' + $vendor + '-' + $property}: $value;
    }
  }

  #{$property}: $value;
}

/// Truncates a given field with ellipses by default.
///
/// @param {Length-Percentage} $max-width [100%] - The truncation boundary point
/// @param {Keyword} $overflow-type [ellipsis] - A text-overflow property value
///
/// @throw Invalid data type for $width
@mixin truncate($max-width: 100%, $overflow-type: ellipsis) {
  max-width: $max-width;
  overflow: hidden !important;
  text-overflow: $overflow-type;
  white-space: nowrap !important;
}

@mixin border-radius($radius: 5px) {
  @if $radius == 'circle' {
    $radius: 50%;
  }

  background-clip: padding-box; // Stops bg color from leaking outside the border
  border-radius: $radius;
}

@mixin fast-frames($animation-name, $property, $from, $to) {
  @at-root {
    @keyframes #{$animation-name} {
      0% {
        #{$property}: $from;
      }

      100% {
        #{$property}: $to;
      }
    }
  }
}

@mixin size($width, $height: $width) {
  height: $height;
  width: $width;
}

/// Sets all the length properties for the given dimension(s) at once for an
/// element that you want to remain at a fixed size.
@mixin fixed-length($length, $dimension: wh, $important-flag: false) {
  $imp: null;

  @if $important-flag {
    $imp: !important;
  }

  @if (to-lower-case(str-slice($dimension, 1, 2)) == 'wh') {
    height: $length $imp;
    min-height: $length $imp;
    max-height: $length $imp;
    max-width: $length $imp;
    min-width: $length $imp;
    width: $length $imp;
  } @else if to-lower-case(str-slice($dimension, 1, 1)) == 'h' {
    height: $length $imp;
    max-height: $length $imp;
    min-height: $length $imp;
  } @else if to-lower-case(str-slice($dimension, 1, 1)) == 'w' {
    max-width: $length $imp;
    min-width: $length $imp;
    width: $length $imp;
  } @else {
    @error '\'#{$dimension}\' is not a valid value for dimension in the ' +
      'fixed-length mixin. CTRL+F \'#{$dimension}\' to fix.';
  }
}

/// Applies the 'clearfix' hack
@mixin clearfix($clear-val: both) {
  &:after {
    clear: $clear-val;
    content: '';
    display: table;
  }

  @if $clear-val != 'both' and $clear-val != 'left' and $clear-val != 'right' {
    @error 'Sorry, but \'#{inspect($clear-val)}\' is not a valid value for ' +
        ' the clear property in the clearfix mixin.';
  }
}

/// Applies a fast custom scrollbar to the page, or to an internal element
/// within the page. The effect works only in webkit based browsers (Chrome,
/// Safari, Opera, etc.), but it will apply the custom foreground and background
/// color and a thin width to the scrollbar in Firefox.
///
/// @param {Length} $size - The height and width of the custom scrollbar
/// @param {Color|Gradient} $fg-color - The color of the foreground or 'handle'
/// of the scrollbar
/// @param {Color|Gradient} $bg-color [mix($fg-color, #000, 50%)] - The color
/// of the background of the scrollbar
/// @param {Lenth-Percentage} $radius [null] - The optional border radius
/// value of the scrollbar
/// @param {Boolean} $is-internal [false] - Pass a true value if the scrollbar
/// is inside of an element other than the body of the document
@mixin scrollbar(
  $size,
  $fg-color,
  $bg-color: mix($fg-color, #000, 50%),
  $radius: null,
  $is-internal: false
) {
  $ff-scroll-size: if($size < 15, thin, auto);

  @if $is-internal {
    & {
      scrollbar-color: $fg-color $bg-color; // Firefox 64+
      scrollbar-width: $ff-scroll-size; // Firefox 64+

      &::-webkit-scrollbar {
        height: $size;
        width: $size;

        &-track {
          background: $bg-color;

          @if $radius {
            border-radius: $radius;
          }
        }

        &-thumb {
          background: $fg-color;

          @if $radius {
            border-radius: $radius;
          }

          &:hover {
            background: mix(#000, $fg-color, 17.5%);
          }

          &:active {
            background: mix(#000, $fg-color, 35%);
            box-shadow: inset 1px 1px 3px rgba(mix(#fff, $fg-color, 30%), .5);
          }
        }
      }
    }
  } @else {
    html {
      scrollbar-color: $fg-color $bg-color; // Firefox 64+
      scrollbar-width: $ff-scroll-size; // Firefox 64+
    }

    ::-webkit-scrollbar {
      height: $size;
      width: $size;

      &-track {
        background: $bg-color;

        @if $radius {
          border-radius: $radius;
        }
      }

      &-thumb {
        background: $fg-color;

        @if $radius {
          border-radius: $radius;
        }

        &:hover {
          background: mix(#000, $fg-color, 17.5%);
        }

        &:active {
          background: mix(#000, $fg-color, 35%);
          box-shadow: inset 1px 1px 3px rgba(mix(#fff, $fg-color, 30%), .5);
        }
      }
    }
  }
}

/// Creates a menu icon 'hamburger' with a set width, height, number of bars,
/// and colors. The mixin uses the height of the icon and the weight of the bars
/// to determine spacing.
///
/// @param {Color} $color [$black] - Color to use for the icon.
/// @param {Color} $color-hover [$dark-gray] - Color to use when the icon is
/// hovered over.
/// @param {Length} $width [20px] - Width of the icon.
/// @param {Length} $height [16px] - Total height of the icon.
/// @param {Length} $weight [2px] - Height of individual bars in the icon.
/// @param {Number} $bars [3] - Number of bars in the icon.
///
/// @group Shapes
@mixin hamburger(
  $color: $black,
  $color-hover: $dark-gray,
  $width: 20px,
  $height: 16px,
  $weight: 2px,
  $bars: 3
) {
  // box-shadow CSS output
  $shadow: ();
  $hover-shadow: ();

  // Spacing between bars is calculated based on the total height of the icon
  // and the weight of each bar
  $spacing: ($height - ($weight * $bars)) / ($bars - 1);

  @if (unit($spacing) == 'px') {
    $spacing: floor($spacing);
  }

  @for $i from 2 through $bars {
    $offset: ($weight + $spacing) * ($i - 1);
    $shadow: append($shadow, 0 $offset 0 $color, comma);
  }

  // Icon container
  cursor: pointer;
  display: inline-block;
  height: $height;
  position: relative;
  vertical-align: middle;
  width: $width;

  // Icon bars
  &:after {
    background: $color;
    box-shadow: $shadow;
    content: '';
    display: block;
    height: $weight;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  // Hover state
  @if ($color-hover) {
    @for $i from 2 through $bars {
      $offset: ($weight + $spacing) * ($i - 1);
      $hover-shadow: append($hover-shadow, 0 $offset 0 $color-hover, comma);
    }

    &:hover:after {
      background: $color-hover;
      box-shadow: $hover-shadow;
    }
  }
}

/// Creates a little pointing label from an element using clip-path.
///
/// @param {Keyword} $direction [right] - Indicates the direction the label
/// will be pointing towards.
/// @param {Value|Color} $bg [#999} Any value that is valid for the background
/// shorthand property.
/// @param {Value} $width [5rem] - A length value setting the width
/// @param {Color} $fg-color [null] - Optional color value that, if passed,
/// sets the color property for the text in the label
/// @param {Value} $height [$width / 4] Length value that sets the height of the
/// label
/// @throw Invalid $direction value
@mixin pointing-label(
  $direction: right,
  $bg: #999,
  $width: 5rem,
  $fg-color: null,
  $height: $width / 4
) {
  background: $bg;
  background-clip: padding-box;

  @if (to-lower-case($direction) == 'right' or to-lower-case($direction) == 'r') {
    border-radius: 4px 0 0 4px;
    -webkit-clip-path:
      polygon(
        95% 0,
        95% 35%,
        100% 50%,
        95% 65%,
        95% 100%,
        0 100%,
        0 0
      );
    clip-path: polygon(95% 0, 95% 35%, 100% 50%, 95% 65%, 95% 100%, 0 100%, 0 0);
  } @else if
    (to-lower-case($direction) == 'left' or to-lower-case($direction) == 'l') {
    border-radius: 0 4px 4px 0;
    -webkit-clip-path:
      polygon(
        5% 0,
        5% 35%,
        0 50%,
        5% 65%,
        5% 100%,
        100% 100%,
        100% 0
      );
    clip-path: polygon(5% 0, 5% 35%, 0 50%, 5% 65%, 5% 100%, 100% 100%, 100% 0);
  } @else if (
    to-lower-case($direction) == 'up' or to-lower-case($direction) == 'u' or
    to-lower-case($direction) == 'top' or to-lower-case($direction) == 't'
  ) {
    border-radius: 0 0 4px 4px;
    -webkit-clip-path:
      polygon(
        55% 15%,
        50% 0,
        45% 15%,
        0 15%,
        0 100%,
        100% 100%,
        100% 15%
      );
    clip-path:
      polygon(
        55% 15%,
        50% 0,
        45% 15%,
        0 15%,
        0 100%,
        100% 100%,
        100% 15%
      );
  } @else if (
    to-lower-case($direction) == 'down' or to-lower-case($direction) == 'd' or
    to-lower-case($direction) == 'b' or to-lower-case($direction) == 'bottom'
  ) {
    border-radius: 4px 4px 0 0;
    -webkit-clip-path:
      polygon(
        55% 85%,
        50% 100%,
        45% 85%,
        0 85%,
        0 0,
        100% 0,
        100% 85%
      );
    clip-path: polygon(55% 85%, 50% 100%, 45% 85%, 0 85%, 0 0, 100% 0, 100% 85%);
  } @else {
    @error 'Invalid $direction value of `#{$direction}` passed to the ' +
        '`pointing-label` mixin.';
  }

  @if $fg-color {
    color: $fg-color;
  }

  height: $height;
  width: $width;
}

@mixin vert-align($pos: 50%) {
  @if $pos == middle or $pos == mid or $pos == center or $pos == c or $pos == 50 {
    $pos: 50%;
  }

  position: absolute;
  top: $pos;
  transform: translateY(-50%);
}

@mixin vertical-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@mixin absolute-center-block {
  @include vertical-center;

  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
}

@mixin flex-center($center-horiz: null, $center-vert: null) {
  @if $center-horiz == null and $center-vert == null {
    $center-horiz: true;
    $center-vert: true;
  }

  @if (
    $center-horiz == 't' or $center-horiz == 'horiz' or
    $center-horiz == 'h' or $center-horiz == 'horizontal' or
    $center-horiz == 'horizontally'
  ) {
    $center-horiz: true;
  }

  @if (
    $center-vert == 't' or $center-vert == 'vert' or $center-vert == 'v' or
    $center-vert == 'vertical' or $center-vert == 'vertically'
  ) {
    $center-vert: true;
  }

  @if (
    $center-horiz == 'vertically' or $center-horiz == 'vertical' or
    $center-horiz == 'vert' or $center-horiz == 'v' and
    ($center-vert == null or $center-vert == false)
  ) {
    $center-horiz: false;
    $center-vert: true;
  }

  @if (
    $center-horiz != true and $center-horiz != false and $center-horiz
  ) {
    @error 'Invalid $center-horiz value for the `flex-center` mixin. ' +
        'Must pass either `true` or `false`.';
  }

  @if ($center-vert != true and $center-vert != false and $center-vert) {
    @error 'Invalid $center-vert value for the `flex-center` mixin. ' +
        'Must pass either `true` or `false`.';
  }

  @if $center-vert {
    align-items: center;
  }

  display: flex;

  @if $center-horiz {
    justify-content: center;
  }
}

/// Nest a simple min-width media query within a selector or on its own.
/// @content Styles for screen widths equal to or larger than $threshold.
///
/// @param {Length|Resolution} $threshold - The minimum screen dimension for the
/// style.
@mixin min-width($threshold) {
  @media only screen and (min-width: $threshold) {
    @content;
  }
}

@mixin max-width($threshold) {
  @media only screen and (max-width: $threshold) {
    @content;
  }
}

@mixin min-to-max-width($min-threshold, $max-threshold) {
  @media only screen and (max-width: $max-threshold) and (min-width: $min-threshold) {
    @content;
  }
}

/// Uses a media query to apply the given styles to any Google Chrome versions
/// 29 and up.
///
/// @content Styles that target Chrome browsers version 29 and up.
///
/// @group Utilities
/// @alias chrome-only
@mixin only-chrome {
  @media only screen
         and (-webkit-min-device-pixel-ratio: 0)
         and (min-resolution: .001dpcm) {
    @content;
  }
}

/// Uses a media query to apply the given styles to Google Chrome versions 29+
///
/// @content Styles that target Chrome browsers version 29 and up.
///
/// @group Utilities
/// @alias only-chrome
@mixin chrome-only {
  @media only screen
         and (-webkit-min-device-pixel-ratio: 0)
         and (min-resolution: .001dpcm) {
    @content;
  }
}

/// Apply the given styles to MS Edge only by using an @supports query.
///
/// @content Styles that target MS Edge.
///
/// @group Utilities
/// @alias edge-only
@mixin only-edge {
  @supports (position: -ms-page) {
    @content;
  }
}

/// Apply the given styles to MS Edge only by using an @supports query.
///
/// @group Utilities
/// @alias only-edge
@mixin edge-only {
  @supports (position: -ms-page) {
    @content;
  }
}

/// Targets only HiDPI/Retina displays using a media query.
///
/// @content Styles that target HiDPI/Retina displays only
///
/// @group Utilities
/// @alias hidpi-only
/// @alias only-retina
/// @alias retina-only
@mixin only-hidpi() {
  @media only screen and (-webkit-min-device-pixel-ratio: 1.25),
         only screen and (min-device-pixel-ratio: 1.25),
         only screen and (min-resolution: 200dpi),
         only screen and (min-resolution: 1.25dppx) {
    @content;
  }
}

/// Targets only HiDPI/Retina displays using a media query.
///
/// @content Styles that target HiDPI/Retina displays only.
///
/// @group Utilities
/// @alias only-hidpi
/// @alias only-retina
/// @alias retina-only
@mixin hidpi-only() {
  @include only-hidpi() {
    @content;
  }
}

/// Targets only HiDPI/Retina displays using a media query.
///
/// @content Styles that target HiDPI/Retina displays only.
///
/// @group Utilities
/// @alias only-hidpi
/// @alias hidpi-only
/// @alias retina-only
@mixin only-retina() {
  @include only-hidpi() {
    @content;
  }
}

/// Targets only HiDPI/Retina displays using a media query.
///
/// @content Styles that target HiDPI/Retina displays only.
///
/// @group Utilities
/// @alias only-hidpi
/// @alias hidpi-only
/// @alias only-retina
@mixin retina-only() {
  @include only-hidpi() {
    @content;
  }
}

/// Uses @supports queries and a clever hack to apply the given styles to
/// either all version of Gecko based Mozilla browsers, only Quantam (Stylo)
/// Mozilla browsers, or only legacy (pre-Stylo) Mozilla browsers.
///
/// @param {Boolean|String} $only-legacy [null] - Pass nothing or null to target
/// all version of Gecko based Mozilla browsers. To target Quantam Mozilla
/// browsers, pass false, `quantam`, `new`, `stylo`, or `q`. To target Legacy
/// (pre-Stylo) Mozilla browsers, pass true, `legacy`, `old`, or `pre-stylo`.
///
/// @content Styles to apply to Gecko-based Mozilla browsers.
///
/// @group Utilities
/// @alias moz-only
@mixin only-moz($only-legacy: null) {
  @if (
    $only-legacy == false or $only-legacy == 'f' or $only-legacy == 'quantam' or
    $only-legacy == 'new' or $only-legacy == 'stylo' or $only-legacy == 'q'
  ) {
    @-moz-document url-prefix() {
      @supports (animation: calc(0s)) {
        @content;
      }
    }
  } @else if (
    $only-legacy == true or $only-legacy == 't' or $only-legacy == 'legacy' or
    $only-legacy == 'old' or $only-legacy == 'pre-stylo'
  ) {
    @-moz-document url-prefix() {
      @supports not (animation: calc(0s)) {
        @content;
      }
    }
  } @else {
    @-moz-document url-prefix() {
      @content;
    }
    @if $only-legacy {
      @warn 'You have passed and incorrect argument to the `only-moz` mixin. ' +
          'Ignoring the argument and targeting all Gecko-based Mozilla ' +
          'browsers instead.';
    }
  }
}

/// Uses @supports queries and a clever hack to apply the given styles to
/// either all version of Gecko based Mozilla browsers, only Quantam (Stylo)
/// Mozilla browsers, or only legacy (pre-Stylo) Mozilla browsers.
///
/// @param {Boolean|String} $only-legacy [null] - Pass nothing or null to target
/// all version of Gecko based Mozilla browsers. To target Quantam Mozilla
/// browsers, pass false, `quantam`, `new`, `stylo`, or `q`. To target Legacy
/// (pre-Stylo) Mozilla browsers, pass true, `legacy`, `old`, or `pre-stylo`.
///
/// @content Styles to apply to Gecko-based Mozilla browsers.
///
/// @group Utilities
/// @alias only-moz
@mixin moz-only($only-legacy: null) {
  @include only-moz($only-legacy) {
    @content;
  }
}

/// Uses a media query to apply the given styles to the Safari browser,
/// versions 10.1 and up.
///
/// @content Styles that target Safari browsers.
///
/// @group Utilities
/// @alias safari-only
@mixin only-safari {
  @media not all and (min-resolution: .001dpcm) {
    @supports (-webkit-appearance: none) {
      @content;
    }
  }
}

/// Uses a media query to apply the given styles to the Safari browser,
/// versions 10.1 and up.
///
/// @content Styles that target Safari browsers.
///
/// @group Utilities
/// @alias only-safari
@mixin safari-only {
  @media not all and (min-resolution: .001dpcm) {
    @supports (-webkit-appearance: none) {
      @content;
    }
  }
}

/// Uses a media query to apply the given styles to any version of Google Chrome
/// and Apple Safari browsers.
///
/// @content Styles that target Chrome and Safari browsers.
///
/// @group Utilities
/// @alias webkit-only
@mixin only-webkit() {
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    @content;
  }
}

/// Uses a media query to apply the given styles to any version of Google Chrome
/// and Apple Safari browsers.
///
/// @content Styles that target Chrome and Safari browsers.
///
/// @group Utilities
/// @alias only-webkit
@mixin webkit-only() {
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    @content;
  }
}

/// Hide an element only visually, while leaving it available for screen
/// readers. Used in the hide-visually() mixin.
%visually-hide {
  border: 0;
  clip: rect(1px 1px 1px 1px); // IE 6-7
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/// Hide an element only visually, while leaving it available for screen readers.
///
/// @param {Boolean} $focusable [false] - If true, it will allow the element to
/// be focusable when navigated to via the keyboard.
///
/// @group Utilities
/// @require {placeholder} visually-hide
@mixin hide-visually($focusable: false) {
  @extend %visually-hide;

  @if ($focusable) {
    &:active,
    &:focus {
      clip: auto;
      -webkit-clip-path: none;
              clip-path: none;
      height: auto;
      margin: 0;
      overflow: visible;
      position: static;
      white-space: inherit;
      width: auto;
    }
  }
}

/// Reverses the effect of the `hide-visually()` mixin.
///
/// @group Utilities
@mixin show-visually {
  clip: auto;
  -webkit-clip-path: none;
          clip-path: none;
  height: auto;
  overflow: visible;
  position: static !important;
  white-space: normal;
  width: auto;
}

/// Adds a colored text outline to a font.
///
/// @param {Color} $color [#0a0a0a} - The outline color for the font.
/// @param {Boolean|String} $is-important - Mark the effect as important. This
/// should almost always be avoided.
///
/// @group Utilities
@mixin text-outline($color: #0a0a0a, $is-important: false) {
  @if ($is-important == true or $is-important == 't' or $is-important == 'imp'
      or $is-important == 'important' or $is-important == '!important') {
    $is-important: !important;
  } @else {
    $is-important: null;
  }

  text-shadow:
    -1px -1px 0 #{$color},
    1px -1px 0 #{$color},
    -1px 1px 0 #{$color},
    1px 1px 0 #{$color} $is-important;
}

@mixin make-links-white {
  &,
  &:link,
  &:visited {
    color: $g-color-white;
  }
}
