.group {
  @include clearfix;
}

.flex-center { @include flex-center; }

.margin-centered {
  margin-left: auto !important;
  margin-right: auto !important;
}

.reset {
  font: inherit;
  margin: 0;
  padding: 0;
}

[hidden],
.is-hidden {
  display: none !important;
}
