$g-font-primary:
  Roboto, Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif,
  'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

$g-font-heading:
  Lato, Oxygen, 'Open Sans', 'Lucida Grande', Tahoma, Verdana, sans-serif;

// Primary Color palette
$g-color-black        : #000;
$g-color-off-black    : #414042; // Non-colored heading text and panel bg's
$g-color-text-primary : #6d6e71; // Paragraph text and panel bg's
$g-color-bg-gray      : #6d6e71;
$g-color-brand-shaded : #223254;
$g-color-brand        : #2a3c68;
$g-color-brand-light  : #4fa2d9;
$g-color-brand-tinted : #8ed8f8;
$g-color-brand-faded  : #def3fd;
$g-color-pale-navy    : #ededf6;
$g-color-off-white    : #f1f2f2;
$g-color-white        : #fff;

// Expaded color palette variables - use sparingly
$g-color-error           : #d43045;
$g-color-pink            : #f3c1c8;
$g-color-purple          : #5d3b97;
$g-color-yellow          : #f7c01c;
$g-color-yellow-tinted   : #fce6a3;
$g-color-confirm         : #366952;
$g-color-green-tinted    : #b0ccbf;
$g-color-lime            : #96cb69;
$g-color-lime-tinted     : #d5eac3;
$g-color-table-footers   : #a29490;
$g-color-tan             : #d4d0c8;
$g-color-white-silver    : #c8ccd4;
$g-color-panel-accent    : #c4c6c8;
$g-color-border          : #bcbec0;
$g-color-eggshell        : #fbf4ec;
$g-color-off-white-shaded: #f8f9f9;
$g-color-hover-shade     : rgba($g-color-yellow-tinted, 0.18);
$g-color-dark-overlay    : rgba($g-color-brand, 0.8);
$g-color-bg-modal        : rgba(79, 162, 217, 0.35);
$g-color-sidebar-scrollbar-thumb: #888;
$g-color-sidebar-scrollbar-thumb-hover: #555;

$white: $g-color-white;
$black: $g-color-black;

$g-font-sizes: (
  xxxlg: 1.875rem, // 30px
  xxlg : 1.625rem, // 26px
  xlg  : 1.5rem,   // 24px
  lg   : 1.25rem,  // 20px
  md   : 1.125rem, // 18px
  base : 1rem,     // 16px
  sm   : 0.875rem,  // 14px
  xsm  : 0.75rem,   // 12px
  xxsm : 0.625rem   // 10px
);

// Report all #z-index values here
$g-z-index: (
  'aside-date' : 8,
  'site-header': 9,
  'page-header': 7
);

// Query Screen Sizes
$l-bp-monitor-uhd     : 240em; // 3840 x 2160 Screen
$l-bp-monitor-uw      : 215em; // 3440 x 1440 Screen
$l-bp-monitor-qhd     : 160em; // 2560 x 1440 Screen
$l-bp-monitor-hd      : 120em; // 1920 x 1080 Screen (#1 monitor resolution)
$l-bp-monitor-xlg     : 105em; // 1680 x 1050 Screen
$l-bp-monitor-lg      : 100em; // 1600 x 900 Screen (#5 monitor resolution)
$l-bp-monitor-md      : 90em; // 1440 x 900 Screen (#3 monitor resolution)
$l-bp-monitor-sm      : 85.375em; // 1366 x 768 Screen (#2 monitor resolution)
$l-bp-content-max     : 75em; // 1200px - Normal maximum width for content
$l-bp-tablet-landscape: 64em; // 1024 x 768 Screen
$l-bp-tablet          : 48em; // 768 x 1024 Screen (#1 tablet resolution)

$c-site-header-horiz-padding: 4%;
$c-site-header-height: 5.5rem;
$c-main-nav-color-transition: color 275ms ease-out;
$c-main-nav-clamp-between-2-8px: max(2px, min(8px, 0.375vw));
