@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local('Roboto'),
    local('Roboto-Regular'),
    url(fonts/Roboto%20Regular%20V2.woff2) format('woff2'),
    url(fonts/Roboto%20Regular%20V2.woff) format('woff'),
    url(fonts/Roboto%20Regular%20V2.ttf) format('truetype');
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src:
    local('Roboto Italic'),
    local('Roboto-Italic'),
    url(fonts/Roboto%20Italic%20V2.woff2) format('woff2'),
    url(fonts/Roboto%20Italic%20V2.woff) format('woff'),
    url(fonts/Roboto%20Italic%20V2.ttf) format('truetype');
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    local('Roboto Bold'),
    local('Roboto-Bold'),
    url(fonts/Roboto%20Bold%20V2.woff2) format('woff2'),
    url(fonts/Roboto%20Bold%20V2.woff) format('woff'),
    url(fonts/Roboto%20Bold%20V2.ttf) format('truetype');
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local('Lato Regular'),
    local('Lato-Regular'),
    url(fonts/Lato%20Regular.woff2) format('woff2'),
    url(fonts/Lato%20Regular.woff) format('woff'),
    url(fonts/Lato%20Regular.ttf) format('truetype');
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    local('Lato Bold'),
    local('Lato-Bold'),
    url(fonts/Lato%20Bold.woff2) format('woff2'),
    url(fonts/Lato%20Bold.woff) format('woff'),
    url(fonts/Lato%20Bold.ttf) format('truetype');
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src:
    local('Lato Black'),
    local('Lato-Black'),
    url(fonts/Lato-Black.woff2) format('woff2'),
    url(fonts/Lato-Black.woff) format('woff'),
    url(fonts/Lato-Black.ttf) format('truetype');
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: 'jll_hand_regular';
  font-display: block;
  src:
    url(fonts/JLL-Hand.eot?#ie) format('embedded-opentype'),
    url(fonts/JLL-Hand.woff) format('woff');
}
