@charset "UTF-8";

@font-face {
  font-family: 'jll_hand_regular';
  font-display: block;
  src:
    url(fonts/jll-hand/JLL-Hand.eot);
  src:
    url(fonts/jll-hand/JLL-Hand.eot?#ie) format('embedded-opentype'),
    url(fonts/jll-hand/JLL-Hand.woff) format('woff');
}
