/**
 * overview-print.scss
 * @version 4.0.0 07/10/20
 * Designed for PinPoint
 * @author Stephen M Irving
 */

@import 'vendor/sizzle/sizzle';
@import 'helpers/variables';
@import 'font-faces';
@import 'vendor/sizzle/normalize';

/////////////////////
/* #GENERAL STYLES */
/////////////////////

h1,
h2,
h3 {
  color: $g-color-brand;
  font-family: $g-font-heading;
  font-weight: 900;
}

h1 {
  font-size: 3.25em;
  margin: 0.5em 0;
}

h2 {
  font-size: 2em;
  margin: 0 0 0.2em;
}

h3 {
  font-size: 1.75em;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
  max-height: 100%;
  max-width: 100%;
  text-align: right;
  vertical-align: middle;
  width: 960px;
}

thead {
  display: table-header-group;
}

th {
  font-weight: 700;
}

thead th {
  font-family: $g-font-heading;
}

td,
.avpv-cell {
  border-bottom: 0.75pt solid $g-color-border;
}

tfoot {
  display: table-footer-group;
  font-style: italic;
}

.is-hidden {
  display: none !important;
}

%clearfix {
  &:after {
    clear: both;
    content: '';
    display: table;
  }
}

.page {
  @extend %clearfix;

  @include size(100vw, 100vh);

  &--fnl {
    position: relative;
  }

  &__inlay {
    @extend %clearfix;

    @include size(100%);

    overflow: hidden;
    padding: 2em 3.5em;
  }
}

.footer {
  align-items: center;
  background: $g-color-off-black;
  bottom: 1em;
  color: $white;
  display: flex;
  height: $c-footer-height;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 49;

  &__cr {
    font-size: 0.875em;
    font-style: italic;
    text-align: center;
    width: 100%;

    &:before {
      display: inline-block;
      font-style: normal;
      left: -2px;
      font-size: 1.0625em;
      position: relative;
      content: '\00A9'; // Copyright symbol
    }
  }
}

.img-wrapper {
  align-items: center;
  display: flex;
  height: 100%;
  left: $g-size-off-margin-inlay;
  position: absolute;
}

// Large AB logo with "Experience Measurement" [ab-logo-em--white.png]
.img-ab-white {
  display: block;
  margin: 0 auto;
  width: 65%;
}

.img-jll {
  // JLL logo in top right corner of final page
  background: url('../../img/logo-jll-reversed.svg') center / contain no-repeat;
  position: absolute;
  right: $g-size-off-margin-inlay;
  top: 2em;
  height: 50%;
  width: 12%;
}

// JLL logo in top left of cover page
.img-jll-white {
  position: absolute;
  left: $g-size-off-margin-inlay;
  width: 180pt;
}

.img-jll-white-sm {
  // JLL logo in bottom right of page footers
  display: inline-block;
  height: 50%;
}

%element-overlay-and-border {
  background: padding-box $g-color-black-overlay;
  border: 0.25rem solid $g-color-white;
  border-radius: 15px;
}

.img-pp-wrapper {
  @extend %element-overlay-and-border;

  height: 72%;
  padding: 1em 0;
  width: 23%;
}

.img-pp {
  @include size(100%);

  background: url('../../img/logo-primary-reversed-lg.png') center / contain
    no-repeat;
}

.img-pp-white {
  height: 45%;
  margin: -6px 0 0 12px;
}

.pg-break {
  @extend %clearfix;

  margin: 0.5em 0;
  text-align: center;
  width: 100%;

  &__txt {
    font: 700 1em font-stack('monospace');
  }
}

.pg-divider {
  width: 100%;
}

.bleed {
  background: $g-color-off-black;
  bottom: 0;
  color: $white;
  font-family: 700 0.5em font-stack('monospace');
  height: 1em;
  left: 0;
  position: fixed;
  text-align: center;
  width: 100%;
}

////////////////////////////////
/* #COVER PAGES (#cvr & #fnl) */
////////////////////////////////

.cvr-bg,
.cvr-bg-overlay,
.cvr-bg-fnl,
.cvr-content-area {
  height: calc(100% - #{$c-footer-height} - 0.6875em);
  position: absolute;
}

%cvr-img {
  width: 100%;
  z-index: get-val($g-z-index, cvr-bg);
}

.cvr-bg {
  @extend %cvr-img;

  background: url('../../img/stock-center-lapse.jpg') right / contain no-repeat
    $white;
}

.cvr-bg-overlay {
  background: url('../../img/paint-over-red.png') right / cover no-repeat;
  top: 0;
  width: 100%;
}

.cvr-bg-fnl {
  @extend %cvr-img;

  background: url('../../img/bg-black-paint@wide.jpg') center / cover no-repeat
    border-box $g-color-white;
  width: 100%;
  z-index: get-val($g-z-index, cvr-bg);
}

.cvr-content-area {
  &--cvr {
    left: $g-size-off-margin-inlay-sm;
    padding: 4em 1em 2em;
    position: relative;
    text-align: left;
    width: 55%;
  }

  // TODO: ADD BACK IN IF JLL DECIDES THEY WANT A CONTACT AREA ON FINAL PAGE
  // &--fnl {
  //   padding: 1em;
  //   float: right;
  //   position: static;
  //   text-align: center;
  //   width: 40%;
  // }
  //
  // &__container {
  //   position: relative;
  //   height: 100%;
  // }
}

.cvr-header {
  margin-top: 180pt;
}

.cvr-heading {
  color: $g-color-white;

  &__main {
    display: block;
    font-size: 0.925em;
    line-height: 1.2;
  }

  &__sub {
    display: block;
    font-size: 0.625em;
    margin-top: 1em;

    &:after {
      content: '\00AE'; // Registered symbol
      display: inline-block;
      font-size: 0.75em;
      font-weight: 400;
      left: -2px;
      position: relative;
      top: -10px;
    }
  }
}

.cvr-date {
  color: $g-color-white;
  font-size: 1.825em;
  position: absolute;
  bottom: $g-size-off-margin-inlay-sm;
}

.cvr-logos {
  position: absolute;
  height: 105pt;
  width: 100%;

  &--cvr {
    align-items: center;
    display: flex;
    height: 150pt;
    justify-content: center;
    top: 0;
  }
}

.cvr-fnl-ty {
  position: absolute;
  // TODO: Change back to sm inlay if JLL decides they want a contact area
  left: $g-size-off-margin-inlay;
  top: 30%;

  &__txt {
    color: $g-color-white;
    // TODO: Change back to 11em if JLL decides they want a contact area
    font: 15em $g-font-handwritten;
    margin: 0;
  }
}

/*
 TODO: ADD BACK IN IF JLL DECIDES THEY WANT A CONTACT AREA ON LAST PAGE
.address-box {
  @extend %element-overlay-and-border;

  margin: -1em auto 0;
  padding: 10% 0;
  position: absolute;
  right: $g-size-off-margin-inlay-sm;
  top: 25%;
}

.address {
  color: $g-color-white;
  font-size: 1.25em;
  font-style: normal;
  line-height: 1.23;
  margin: 0 0 5em;

  &--street,
  &__name {
    font-size: 1.25em;
    font-style: normal;
    font-weight: 700;
    line-height: 1.25;
  }

  &--street {
    font-family: $g-font-heading;
    font-size: .9375em;
    line-height: 1.6;
    margin: 0;
    text-transform: uppercase;
  }

  // &__title {
  //   font-style: italic;
  // }

  &__email {
    @include on-event(true) {
      color: $g-color-brand-light;
    }
  }
}
 END OF TEMPORARILY REMOVED AREA */

//////////////////////////////////
/* GENERAL REPORT STYLES (#rep) */
//////////////////////////////////

.report-container,
.tile,
.kpi-tile-content {
  line-height: 1.2;
  width: 100%;
}

.tile-header-title {
  text-transform: uppercase;
}

.kpi-table,
.avpv-table,
.ttzc-table {
  border: 1.5pt solid $g-color-border;

  &-wrap {
    width: 960px;
  }
}

.kpi-table,
.avpv-table {
  text-align: center;
}

.kpi-thead,
.avpv-thead,
.ttzc-thead {
  background-color: $g-color-brand;
  border-bottom: 2.25pt solid $g-color-border;
  color: $white;
  font: 1.125em $g-font-heading;
}

.avpv-tbody .avpv-row,
.ttzc-row {
  @include even {
    background: $g-color-light-purple;
  }
}

.cell-empty {
  color: transparent !important;
}

.rowhead {
  border-bottom: 0.75pt solid $g-color-border;
}

.indent {
  color: tint($black, 20%);
  font-size: 0.875em;
  padding-left: 1em !important;
}

.avpv-table svg {
  opacity: 0.77;
}

//////////////////////////
/* VISITOR ORIGIN (#vo) */
//////////////////////////

.no-comp-width {
  float: left;
  width: 65% !important;

  &.map-wrap {
    height: $c-iframe-height;
  }
}

.cell-vo {
  border: 0;
}

.cell-vo-hr {
  border-top-color: $g-color-border;
  margin: 0 auto;
  padding: 0;
  width: 55%;
}

.map-wrap,
.map-wrap-left,
.map-wrap-right,
.map-wrap-full {
  position: relative;
  height: $c-iframe-height;
}

.map-iframe {
  border: 3pt solid $g-color-brand;
  left: 0;
  position: absolute;
  top: 0;
}

.map-wrap--vo-left,
.map-wrap-right,
.map-iframe--vo-left,
.map-iframe--vo-right,
.map-label-left,
.map-label-right {
  width: 470px;
}

.map-wrap-left,
.map-iframe--vp,
.map-label-vp,
.no-comp-width,
.no-comp-width > .map-iframe {
  width: 627px;
}

.map-iframe--full,
.map-wrap-full {
  width: 960px;
}

.map-label,
.map-label-left,
.map-label-right,
.map-label-vp {
  font-variant: small-caps;
  margin: 0 auto;
  text-align: center;
}

.map-label-vp,
.map-label-right {
  @extend %clearfix;
}

.map-wrap--vo-left,
.vo-tile-top .map-label-left {
  float: left;
}

.map-wrap-right,
.vo-tile-top .map-label-right {
  float: right;
}

.swal-overlay {
  background: $g-color-bg-modal;
}

.swap-modal {
  border: 3px solid $g-color-brand;
  border-radius: 15px;
}

.swal-title {
  font: 700 2rem $g-font-heading;
}

.swal-text {
  line-height: 1.4;
  text-align: center;
}

.swal-button {
  background-color: $g-color-brand-light;
  box-shadow: 1px 5px 5px $g-color-text-primary;
  color: #fff;
  font: 700 1rem $g-font-heading;
  position: relative;
  transition: $c-btn-transition-all;

  &:active {
    background-color: shade($g-color-brand, 16%);
    box-shadow: inset 0 0 5px tint($g-color-brand, 30%),
      1px 1px 3px 1px $g-color-bg-gray;
    top: 2px;
  }

  &:not([disabled]):hover {
    background-color: $g-color-brand;
  }
}

///////////////////////////////////////
/* KEY PERFORMANCE INDICATORS (#kpi) */
///////////////////////////////////////

.kpi-header {
  padding: 0.675em 0;
  max-width: 120px;
}

.kpi-table .limit-width {
  max-width: 9rem;
  margin: 0 auto;
}

.age-row {
  vertical-align: top;
}

.avg-age {
  font-weight: 700;
}

.title-col {
  height: 1.5em;
  line-height: 1.5em;
}

.div-cell {
  margin-bottom: 0.3125em;
}

td.age-groups:not(.kpi-index) > .div-cell:not(.avg-age) {
  text-align: left;
}

.kpi-cell {
  border: 0.75pt solid $g-color-border;
  font-weight: 700;
  height: 60px;

  @include first {
    background: $g-color-light-purple;
    box-shadow: inset 15px 0 23px -15px rgba(42, 60, 104, 0.2);
    font-family: $g-font-heading;
    padding-left: 0.5em;
    text-align: left;
    width: 12.25rem;
  }

  & > .chart-container {
    transform: scale(0.85);
  }
}

.kpi-header:nth-child(4),
.kpi-index {
  width: 9%;
}

.kpi-row {
  &:nth-child(1),
  &:nth-child(2),
  &:nth-child(6) {
    > .kpi-cell {
      height: 50px;
    }
  }

  &:nth-child(3) {
    .kpi-cell:not(:first-child) {
      padding: 0;
    }

    .progressbar-text {
      left: -45% !important;
      top: 39% !important;
      width: 120% !important;
    }
  }

  &:nth-child(7) > .kpi-cell {
    height: 80px;
  }
}

.age-groups {
  text-align: center;
  padding-top: 0.375em;
}

// .not-app,
// .kpi-index,
// .kpi-row:first-child .kpi-cell:not(:first-child),
// .kpi-row:nth-child(5) .kpi-cell:not(:first-child) {
//   font-size: 1.125em;
// }

// Spacer classes to imitate the spacing of the visualizations
.h-bar-fill-outer {
  @include size(100%);

  margin: 0.1875em auto;
  padding: 0;
}

th.age-groups .millennials,
th.age-groups .genx,
th.age-groups .babyboomers,
td.age-groups .avg-age,
.kpi-index .millennials > .h-bar-fill-outer,
.kpi-index .genx > .h-bar-fill-outer,
.kpi-index .babyboomers > .h-bar-fill-outer {
  margin-top: 0.75em;
}

.kpi-index .avg-age {
  margin-top: 0.325em;
}

.h-bar-fill-inner {
  margin: 0 auto;
}

.icon-container {
  float: left;
  height: 100%;
  margin-right: 0.5em;
  position: relative;
  vertical-align: middle;
  width: 25px;
}

%kpi-icon {
  @include size(25px);
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  vertical-align: middle;
}

.kpi-icon-pop {
  @extend %kpi-icon;

  background: url('../../img/icon-population@2x.png') 0% 0% / 25px 25px;
}

.kpi-icon-traffic {
  @extend %kpi-icon;

  background: url('../../img/icon-traffic@2x.png') 0% 0% / 25px 25px;
}

.kpi-icon-car {
  @extend %kpi-icon;

  background: url('../../img/icon-car@2x.png') 0% 0% / 25px 25px;
}

.kpi-icon-age {
  @extend %kpi-icon;

  background: url('../../img/icon-age@2x.png') 0% 0% / 25px 25px;
}

.kpi-icon-income {
  @extend %kpi-icon;

  background: url('../../img/icon-income@2x.png') 0% 0% / 25px 25px;
}

.kpi-icon-dwell {
  @extend %kpi-icon;

  background: url('../../img/icon-dwell@2x.png') 0% 0% / 25px 25px;
}

.kpi-icon-college {
  @extend %kpi-icon;

  background: url('../../img/icon-college@2x.png') 0% 0% / 25px 25px;
}

.kpi-icon-diversity {
  @extend %kpi-icon;

  background: url('../../img/icon-diversity@2x.png') 0% 0% / 25px 25px;
}

.kpi-row-header {
  align-items: center;
  display: flex;
  height: 100%;
}

th.kpi-cell {
  color: $g-color-brand;

  @include inner-side-shadow(left, 23px, rgba(tint($g-color-brand, 10%), 0.2));
}

//////////////////////////////////////////
/* ACTUAL VS POTENTIAL VISITORS (#avpv) */
//////////////////////////////////////////

%first-column {
  text-align: left;
  padding-left: 0.75em;
}

.avpv-header,
.avpv-cell {
  @include first {
    @extend %first-column;
  }
}

.avpv-header {
  padding: 3pt 1.5pt;

  &-top {
    border-bottom: 0;
    font-size: 1.125em;
    padding-bottom: 1.25pt;
  }

  &-sub {
    font-size: 11pt;
  }
}

.avpv-cell {
  padding: 1.125pt 1.5pt;
}

.avpv-header-top:nth-child(2),
.avpv-header-top:nth-child(3),
.avpv-header-top:nth-child(4),
.avpv-header-sub:nth-child(2),
.avpv-header-sub:nth-child(6),
.avpv-header-sub:nth-child(8),
.avpv-header:last-child,
.avpv-cell:nth-child(2),
.avpv-cell:nth-child(6),
.avpv-cell:nth-child(8),
.avpv-cell:last-child {
  border-left: 0.75pt solid $g-color-border;
}

.avpv-table .cell-empty {
  border-right: 0.75pt solid $g-color-border;
}

.avpv-header-sub:nth-child(5),
.avpv-cell:nth-child(5) {
  max-width: 8.5rem;
}

.avpv-header-sub:nth-child(7),
.graph-cell {
  min-width: 10rem;
}

.avpv-header-sub:nth-child(7) {
  padding-right: 2.3%;
  text-align: right;
}

.graph-cell {
  padding-right: 5%;
}

.avpv-header > .bench-name {
  max-width: 99pt;
  margin: 0 auto;
}

///////////////////////////////
/* TOP TEN ZIP CODES (#ttzc) */
///////////////////////////////

.ttzc-table {
  text-align: center;
}

%last-column {
  padding-right: 0.875em;
  text-align: right;
}

.ttzc-header,
.ttzc-cell {
  padding: 0.7em 0.625rem;
}

.ttzc-rank {
  @extend %first-column;
}

.ttzc-popgrow {
  @extend %last-column;
}

.ttzc-tfoot {
  background: $g-color-brown;
  font-size: 1.0625em;
  font-weight: 700;
}

.ttzc-avgs {
  font-style: normal;
  font-variant: small-caps;
  letter-spacing: 0.6pt;
}

///////////////////////////////
/* #VISITOR PENETRATION (#vp) */
////////////////////////////////

.map-wrap-left,
.map-label-vp {
  float: left;
}

.table-vo {
  border: 0;
  text-align: center;
  width: 100%;

  &-wrap {
    @extend %clearfix;

    float: right;
    margin: 0 auto;
    overflow: visible;
    padding: 0 0 0 20px;
    vertical-align: top;
    width: 34.5%;
  }

  &-top-text {
    // .table-vo-top-text
    font: {
      size: 1.25rem;
      weight: 700;
    }
    margin: -0.1875rem 0 1.25rem;
    min-height: 5rem;
    padding-left: 0.625rem;
    width: 100%;
  }
}

////////////////////////
/* DEFINITIONS (#def) */
////////////////////////

.def-heading {
  text-transform: uppercase;
}

.def-ulist {
  list-style: none;
  font-size: 1.125em;
  margin-left: 0;
  padding-left: 2em;
  text-indent: -1em;

  &__item {
    text-align: justify;

    &:before {
      color: shade($g-color-brand, 15%);
      content: '›';
      display: inline-block;
      font-size: 2em;
      font-weight: 700;
      line-height: 0.875;
      position: relative;
      top: 5px;
    }

    > strong {
      padding-left: 1em;
    }
  }
}

///////////////////////////////////
/* DATA VISUALIZATIONS (#charts) */
///////////////////////////////////

// Darken the backround trail for all the charts
svg > path:first-child {
  stroke: $g-color-chart-trail;
}

.rad-wrap {
  @include size(68px); // This is the size of the radial

  margin: 0 auto;
  padding: 0;
  position: relative;
}

.rad-wrap-lg {
  @include size(95px);

  margin: 0 auto;
  padding: 0;
  position: relative;

  > .progressbar-text {
    font-size: 1.625em !important;
    left: 48% !important;
  }
}

.h-bar-wrap {
  display: inline-block;
  height: 25px; // Sets the height of the horizontal bar graph
  max-height: 24%;
  max-width: 100%;
  width: 80px; // Sets the width of the horizontal bar graph

  > .progressbar-text {
    font-weight: 700 !important;
    left: 5.5em !important;
    text-align: center;
    top: -1.375em !important;
  }
}

.h-bar-mc-wrap {
  cursor: default;
  height: 1em; // This is the height of the horizontal, multicolored bar graphs
  margin: -1.75pt 10% 0;
  max-height: 50%;
  width: 6.25em; // This is the width of the horizontal, multicolored bar graphs

  > .progressbar-text {
    font-size: 1em !important;
    left: 6em !important;
    top: -1.125em !important;
  }
}

.bar-wrap {
  height: 92px; // This is the width of the bar due to rotation
  max-height: 92px;
  margin: 0;
  position: relative;
  transform: rotate(-90deg);
  width: 76px; // This is the height of the bar due to rotation
  max-width: 82.6%; // This is the max-height of the bar. 76/92 = 82.6%
}

.cell-vo .bar-wrap > .progressbar-text {
  font-size: 1.25em !important;
  left: -170% !important; // This sets the bottom position
}

.chart-container {
  @include size(100%);
  display: flex;
  align-items: center;
  justify-content: center;

  @include ie-only {
    justify-content: flex-start;
  }
}

.h-bar-container,
.h-bar-mc-container {
  @include size(100%);
}

.h-bar-container {
  display: flex;
  justify-content: center;
  margin-left: -10%;
}

.chart-heading {
  background: inherit;
  color: $g-color-brand;
  font-size: 1.5em;
  font-weight: 700;
  padding: 2.1875rem 0.3125rem 0.625rem;
}

.chart-label {
  margin: 0 auto;
  width: 7rem;
}

.bar-vo-data,
.bar-vp-data,
.rad-vo-data {
  height: 9.6875rem;
}

.bar-vo-title {
  font: {
    size: 1.125em;
    weight: 700;
  }
}

.row-vo:nth-child(2) {
  height: 0.5rem;
}

.unavail-msg {
  font-size: 0.85em;
  font-variant: small-caps;
  margin: 0 auto;

  &--sm {
    font-size: 0.7em;
  }

  &--mc-bars {
    font-size: 0.75em;
    padding-right: 5%;
    text-align: right;
  }
}

/////////////////////////////////
/* SCREEN ONLY STYLES (#print) */
/////////////////////////////////

@media only screen {
  .page:not(.page--cvr):not(.page--fnl),
  .pg-break,
  .report-container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .avpv-table,
  .kpi-table,
  .ttzc-table {
    &,
    &-wrap {
      width: 100%;
    }
  }

  .vo-tile-top,
  .vo-tile-sub > .tile-sub-wrap,
  .bav-tile,
  .vp-tile {
    > .tile-header,
    > .tile-content {
      width: 960px;
      margin: 0 auto;
    }
  }

  .cell-vo .bar-wrap > .progressbar-text {
    left: -200% !important; // This sets the bottom position
  }
}

////////////////////////////////
/* PRINT ONLY STYLES (#print) */
////////////////////////////////

@media print {
  html,
  body {
    font-size: 10.5pt;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
    height: 100%;
    width: 100%;
  }

  // Page break settings
  header,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    page-break-after: avoid;
    break-after: avoid;
    page-break-inside: avoid;
  }

  table {
    page-break-inside: auto;
  }

  tr,
  th,
  td {
    page-break-after: auto;
    page-break-inside: avoid;
  }

  iframe {
    page-break-inside: avoid;
  }

  .no-print,
  .swal-overlay,
  .swal-modal {
    display: none !important;
  }

  .pg-break {
    page-break-after: always;
    page-break-before: always;
  }

  %page-break-settings {
    page-break-after: always;
    page-break-inside: avoid;
  }

  .page {
    @extend %page-break-settings;

    &--cvr {
      page-break-before: avoid;
      break-before: avoid;
      page-break-after: always;
    }

    &--report,
    &--def {
      page-break-after: always;
      page-break-before: always;
    }

    &--fnl {
      page-break-after: avoid;
      break-after: avoid;
      page-break-before: always;
    }

    &__inlay {
      @extend %page-break-settings;
    }
  }

  .footer__cr {
    font-size: 8.25pt;
  }

  .fnl-subheading {
    font-size: 15.75pt;
  }

  //////////////////////////////
  /* REPORT PRINT-ONLY STYLES */
  //////////////////////////////

  .kpi-thead {
    font-size: 12pt !important;
  }

  .kpi-row:nth-child(3) .progressbar-text {
    font-size: 1.095em !important;
  }

  .kpi-table-wrap {
    transform: scaleY(0.95) translateY(-16pt);
  }

  //////////////////////////////

  @page {
    margin: 0;
    size: landscape;
  }
}
