html,
body,
#map {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.blurInfo {
  background: rgba(255, 255, 255, .75);
  border-radius: 20px;
  border: 2px solid #2a3c68;
  color: #2a3c68;
  font-family: monospace;
  font-size: 1.25em;
  padding: 10px;
  position: absolute;
  right: 8px;
  text-transform: uppercase;
  top: 8px;
  width: 200px;
}

.blurInfo > p > span {
  background: #fff;
  border-radius: 8px;
  padding: 0 5px;
  position: absolute;
  right: 20px;
}

.blurInfo input[type='range'] {
  width: 100%;
  display: block;
}

#valueControl {
  position: absolute;
  right: 24px;
}

@print {
  .blurInfo {
    background: rgba(255, 255, 255, .8);
    padding: 2px 10px 10px;
  }

  #blurControl {
    display: none;
  }
}
