///
// PinPoint Stylesheet Base
// @version 1.15.2 12/16/2019
// For PinPoint version 3.1.1
// @author Stephen M Irving
///

///////////////////////////////////////////////////
// #VARIABLES /////////////////////////////////////
///////////////////////////////////////////////////

$g-font-primary:
  Roboto, 'Source Sans Pro', 'Helvetica Neue', HelveticaNeue, Arial,
  -apple-system, 'Segoe UI', BlinkMacSystemFont, sans-serif,
  'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

$g-font-heading:
  Lato, Oxygen, 'Open Sans', 'Lucida Grande', Tahoma, Verdana, sans-serif;

$g-font-icons: 'A5_iOS7Icons';

$g-font-sizes: (
  xxxlg: 1.875rem, // 30px
  xxlg : 1.625rem, // 26px
  xlg  : 1.5rem,   // 24px
  lg   : 1.25rem,  // 20px
  md   : 1.125rem, // 18px
  base : 1rem,     // 16px
  sm   : .875rem,  // 14px
  xsm  : .75rem,   // 12px
  xxsm : .625rem   // 10px
);

$c-icon-size: 24px;
$c-icon-size-sm: 18px;

// Custom #color #palette variables
$g-color-black        : #000;
$g-color-off-black    : #414042; // Non-colored heading text and panel bg's
$g-color-text-primary : #6d6e71; // Paragraph text and panel bg's
$g-color-bg-gray      : #6d6e71;
$g-color-brand        : #a11d27; // Colored backgrounds and heading text
$g-color-brand-light  : #d51f27;
$g-color-brand-tinted : #e75a60;
$g-color-brand-shading: #f1dddf;
$g-color-off-white    : #f1f2f2;
$g-color-white        : #fff;

// Expaded color palette variables - use sparingly
$g-color-error           : #d43045;
$g-color-pink            : #f3c1c8;
$g-color-purple          : #5d3b97;
$g-color-yellow          : #f7c01c;
$g-color-yellow-tinted   : #fce6a3;
$g-color-cream           : #ecd8c0;
$g-color-confirm         : #58b86b;
$g-color-green-tinted    : #b0ccbf;
$g-color-lime            : #96cb69;
$g-color-lime-tinted     : #d5eac3;
$g-color-blue-tinted     : #d8eff5;
$g-color-table-footers   : #a29490;
$g-color-tan             : #d4d0c8;
$g-color-bg-gray-light   : #a7a9ac;
$g-color-border          : #bcbec0;
$g-color-white-silver    : #c8ccd4;
$g-color-panel-shading   : #c4c6c8;
$g-color-row-shading     : #f8f9f9;
$g-color-off-white-shaded: #f8f9f9;
$g-color-eggshell        : #fbf4ec;
$g-color-bg-modal        : rgba(63, 63, 63, .6);
$g-color-black-overlay   : rgba(17, 17, 17, .7);
$g-color-hover-shade     : rgba($g-color-blue-tinted, .5);

$white: #fff;
$black: #000;

// Report all #z-index values here
$g-z-index: (
  list-panel-psuedo: 4,
  site-nav         : 9,
  nav-drop-content : 10,
  loading-screen   : 99
);

$l-tile-gutters: (
  'xlg': 1.6%,
  'lg': 1.4%,
  'md': 1%,
  'sm': .75%
);

// Query Screen Sizes
$l-bp-monitor-uhd     : 240em; // 3840 x 2160 Screen
$l-bp-monitor-uw      : 215em; // 3440 x 1440 Screen
$l-bp-monitor-qhd     : 160em; // 2560 x 1440 Screen
$l-bp-monitor-hd      : 120em; // 1920 x 1080 Screen (#1 monitor resolution)
$l-bp-monitor-xlg     : 105em; // 1680 x 1050 Screen
$l-bp-monitor-lg      : 100em; // 1600 x 900 Screen (#5 monitor resolution)
$l-bp-monitor-md      : 90em; // 1440 x 900 Screen (#3 monitor resolution)
$l-bp-monitor-sm      : 85.375em; // 1366 x 768 Screen (#2 monitor resolution)
$l-bp-content-max     : 75em; // 1200px - Normal maximum width for content
$l-bp-tablet-landscape: 64em; // 1024 x 768 Screen
$l-bp-tablet          : 48em; // 768 x 1024 Screen (#1 tablet resolution)

$c-input-height: 1.875rem;
$c-input-padding: 0 2.25rem 0 .75rem;

$c-btn-transition-all: all .8s, color 1.1s, box-shadow 50ms linear;
$c-btn-transition-color:
  background-color .35s ease-out,
  border-color .35s ease-out,
  color .35s ease-out;

$c-link-transition-color: color .25s ease-out;

$c-accordion-transition-defaults: .23s ease-out .15s;
$c-accordion-slide-top-height: 5em;
$c-accordion-slide-text-margins: 1rem;

$c-field-shadow-inlay: inset 1px 1px 2px rgba($g-color-bg-gray, .3);

$rem-base: 16; // Used by unit conversion mixins
$asset-base-path: '../..'; // Used by asset function
$image-2x-suffix: '@2x'; // Used by bg-image and bg-image-svg mixins

///////////////////////////////////////////////////
// #FUNCTIONS /////////////////////////////////////
///////////////////////////////////////////////////

/// Asset URL builder.
/// @access private
///
/// @param {String} $type - Asset type, matching folder name.
/// @param {String} $file - Asset file name, including extension
///
/// @return {String} A file location leading to the asset.
/// @require {variable} $asset-base-path
@function asset($type, $file) {
  $asset-path: if(
    global-variable-exists(asset-base-path),
    $asset-base-path,
    '../..'
  );

  @return unquote($asset-path + '/' + $type + '/' + $file);
}

/// Image asset helper.
/// @access public
///
/// @param {String} $file - Asset file name, including extension.
/// @return {String} A file location leading to the asset.
///
/// @require {function} asset
@function image($file) {
  @return asset('img', $file);
}

/// Checks whether `$functions` exist in global scope.
/// @access public
///
/// @param {ArgList} $functions - A list of functions to check for.
/// @return {Boolean} Whether or not there are missing dependencies.
@function missing-dependencies($functions...) {
  $missing-dependencies: ();

  @each $function in $functions {
    @if not function-exists($function) {
      $missing-dependencies: append($missing-dependencies, $function, comma);
    }
  }

  @if length($missing-dependencies) > 0 {
    @error 'You have unmet dependencies! The following functions are ' +
        'required and have not been imported: #{inspect($missing-dependencies)}.';
  }

  @return length($missing-dependencies) > 0;
}

/// Strips a numeric value of its unit and returns a unitless number
@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}

/// Returns the truthiness of `$value`.
/// @access public
///
/// @param {*} $value - A value to check.
/// @return {Boolean} Returns true if `value` has truthiness.
@function is-true($value) {
  @return if(
    $value == null,
    false,
    $value and $value != '' and $value != () and value != (())
  );
}

/// Checks if a value is an absolute length.
/// @access public
///
/// @param {*} $value - A value to be checked.
/// @return {Boolean} True if $value is an absolute length, false if it is not.
@function is-absolute-length($value) {
  @return (
    type-of($value) == 'number' and
    index('cm' 'mm' 'in' 'px' 'pt' 'pc', unit($value)) != null
  );
}

/// Checks if a value is an angle.
/// @access public
///
/// @param {*} $value - A value to be checked.
/// @return {Boolean} True if $value is an angle, false if it is not.
@function is-angle($value) {
  @return (
    type-of($value) == 'number' and
    index('deg' 'rad' 'grad' 'turn', unit($value)) != null
  );
}

/// Checks if a value is a duration.
/// @access public
///
/// @param {*} $value - A value to be checked.
/// @return {Boolean} True if $value is a duration, false if it is not.
///
/// @alias is-time
@function is-duration($value) {
  @return type-of($value) == 'number' and index('ms' 's', unit($value)) != null;
}

/// Checks if a value is a floating point (decimal) number.
/// @access public
///
/// @param {*} $value - A value to be checked.
/// @return {Boolean} True if $value is a float, false if it is not.
@function is-float($value) {
  @return type-of($value) == 'number' and round($value) != $value;
}

/// Checks if a value is a frequency.
/// @access public
///
/// @param {*} $value - A value to be checked.
/// @return {Boolean} True if $value is a frequency, false if it is not.
@function is-frequency($value) {
  @return (
    type-of($value) == 'number' and index('Hz' 'kHz', unit($value)) != null
  );
}

/// Checks if a value is an integer.
/// @access public
///
/// @param {*} $value - A value to be checked.
/// @return {Boolean} True if $value is an integer, false if it is not.
@function is-integer($value) {
  @return type-of($value) == 'number' and round($value) == $value;
}

/// Checks if a value is a length.
/// @access public
///
/// @param {*} $value - A value to be checked.
/// @return {Boolean} True if $value is a length, false if it is not.
///
/// @require {function} is-relative-length
/// @require {function} is-absolute-length
@function is-length($value) {
  @return is-relative-length($value) or is-absolute-length($value);
}

/// Checks if a value is a number.
/// @access public
///
/// @param {*} $value - A value to be checked.
/// @return {Boolean} True if $value is a number, false if it is not.
@function is-number($value) {
  @return type-of($value) == 'number';
}

/// Checks if a value is a percentage.
/// @access public
///
/// @param {*} $value - A value to be checked.
/// @return {Boolean} True if $value is a percentage, false if it is not.
@function is-percentage($value) {
  @return type-of($value) == 'number' and unit($value) == '%';
}

/// Checks if a value is a position.
/// @access public
///
/// @param {*} $value - A value to be checked.
/// @return {Boolean} True if $value is a position, false if it is not.
///
/// @require {function} is-length
/// @require {function} is-percentage
@function is-position($value) {
  @return (
    is-length($value) or is-percentage($value) or
    index('top' 'right' 'bottom' 'left' 'center', $value) != null
  );
}

/// Checks if a value is a relative length.
/// @access public
///
/// @param {*} $value - A value to be checked.
/// @return {Boolean} True if $value is a relative length, false if it is not.
@function is-relative-length($value) {
  @return (
    type-of($value) == 'number' and
    index(
      'em' 'ex' 'ch' 'rem' '%' 'vw' 'vh' 'vmin' 'vmax',
      unit($value)
    ) != null
  );
}

/// Checks if a value is a resolution.
/// @access public
///
/// @param {*} $value - A value to be checked.
/// @return {Boolean} True if $value is a resolution, false if it is not.
@function is-resolution($value) {
  @return (
    type-of($value) == 'number' and
    index('dpi' 'dpcm' 'dppx', unit($value)) != null
  );
}

/// Checks if a value is a time.
/// @access public
///
/// @param {*} $value - A value to be checked.
/// @return {Boolean} True if $value is a time, false if it is not.
///
/// @alias is-duration
@function is-time($value) {
  @return type-of($value) == 'number' and index('ms' 's', unit($value)) != null;
}

/// Converts values into REM units.
/// @access public
///
/// @param {Length-Percentage} $values - Values to convert to REM units.
/// @param {Number} $base [null] - The base font-size.
/// @return {Length} The values in REMs.
///
/// @require {function} strip-unit
@function conv-to-rem($values, $base: null) {
  $rem-values: ();
  $count: length($values);

  // If no base is defined, defer to the $base-font-size variable. If that does
  // not exist, default to 16
  @if (not $base) {
    $base: if(global-variable-exists(base-font-size), $base-font-size, 16);
  }

  // If the base font size is a %, then multiply it by 16px
  // This is because 100% font size = 16px in most all browsers
  @if (unit($base) == '%') {
    $base: ($base / 100%) * 16px;
  }

  // Using rem as base allows correct scaling
  @if (unit($base) == 'rem') {
    $base: strip-unit($base) * 16px;
  }

  @if ($count == 1) {
    @return px-to-rem($values, $base);
  }

  @for $i from 1 through $count {
    $rem-values: append($rem-values, px-to-rem(nth($values, $i), $base));
  }

  @return $rem-values;
}

/// Converts a pixel value to matching rem value. *Any* value passed, regardless
/// of unit, is assumed to be a pixel value. By default, the base pixel value
/// used to calculate the rem value is taken from the `$base-font-size` variable.
/// @access private
///
/// @param {Number} $value - Pixel value to convert.
/// @param {Number} $base [null] - Base for pixel conversion.
/// @return {Number} A number in rems, calculated based on the given value and
/// the base pixel value. rem values are passed through as is.
///
/// @require {function} strip-unit
@function px-to-rem($value, $base: null) {
  @if type-of($value) != 'number' {
    @error inspect($value) + ', which is not a number, was passed ' +
        'to conv-to-rem().';
  }

  // Transform em into rem if someone hands over 'em's
  @if unit($value) == 'em' {
    $value: strip-unit($value) * 1rem;
  }

  // Calculate rem if units for $value is not rem or em
  @if unit($value) != 'rem' {
    $value: strip-unit($value) / strip-unit($base) * 1rem;
  }

  // Eliminate units for 0rem
  @if $value == 0rem {
    $value: 0;
  }

  @return $value;
}

/// Converts a pixel value into em units.
/// @access public
///
/// @param {Length-Percentage} $pixels - A value to convert to em units.
/// @param {Number} $base-context [null] - The contextual base font-size.
/// @return {Length} The values in em.
///
/// @require {function} strip-unit
/// @throw Invalid data type or units for $pixels
@function conv-to-em($pixels, $base-context: null) {
  @if (
    type-of($pixels) != 'number' or
    (type-of($pixels) == 'number' and
    not unitless($pixels) and unit($pixels) != 'px')
  ) {
    @error 'Invalid value of (#{inspect($pixels)}) passed to conv-to-em(). ' +
        'Value of $pixels must be number in px units.';
  }

  // If no base is defined, defer to the $base-font-size variable. If that does
  // not exist, default to 16
  @if not $base-context {
    $base-context: if(
      global-variable-exists(base-font-size),
      $base-font-size,
      16
    );
  }

  @if unitless($pixels) {
    $pixels: $pixels * 1px;
  }

  @if unitless($base-context) {
    $base-context: $base-context * 1px;
  }

  @return $pixels / $base-context * 1em;
}

/// Converts a rem value into pixel units.
/// @access public
///
/// @param {Length} $rems - Values in REM's.
/// @param {Number} $base - The base font-size.
/// @return {Length} The values in pixels (px).
@function conv-to-px($rems, $base: null) {
  $px-vals: ();

  // If no base is defined, defer to the $base-font-size variable. If that does
  // not exist, default to 16
  @if not $base {
    $base: if($base-font-size, $base-font-size, 16);
  }

  // If the base font size is a %, then multiply it by 16px
  // This is because 100% font size = 16px in most all browsers
  @if unit($base) == '%' {
    $base: ($base / 100%) * 16px;
  }

  @each $val in $rems {
    $val-in-pixels: strip-unit($val) * $base-font-size * 1px;
    $px-vals: append($px-vals, $val-in-pixels);
  }

  @if length($px-vals) == 1 {
    @return nth($px-vals, 1);
  } @else {
    @return $px-vals;
  }
}

/// Takes a given number value and returns that value multipled by pi.
/// @access public
///
/// @param {Number} $number [1] - The given number. Can take any number,
/// unitless or with any unit.
/// @return {Number} - The new value.
///
/// @throw Invalid $number unit type.
@function pi($number: 1) {
  $pi: if(global-variable-exists('pi'), $pi, 3.1415926536);

  @if type-of($number) != 'number' {
    @error 'Value of $number for pi() must be a valid number.';
  }

  @return $number * $pi;
}

/// Takes a given $angle in either turns (turn), degrees (deg), gradians (grad),
/// or radian (rad) units, and converts that angle into an alternate unit type
/// defined by $conversion-unit,
///
/// @param {Angle} $angle - An angle value. Can be in turn, deg, grad, or rad
/// units.
/// @param {String} $conversion-unit
/// @return {Angle} The converted angle.
///
/// @require {function} is-angle
/// @require {function} strip-unit
/// @require {function} pi
/// @require {function} missing-dependencies
@function conv-angle($angle, $conv-unit) {
  $_: missing-dependencies('is-angle', 'strip-unit', 'pi');
  $start-unit: unit($angle);
  $divide-supported: if(function-exists('divide'), true, false);

  @if not is-angle($angle) {
    @error 'Value of $angle in conv-angle() must be a valid angle.';
  }

  @if $conv-unit == 'turn' or $conv-unit == 'turns' or $conv-unit == 't' {
    $conv-unit: turn;
  } @else if (
    $conv-unit == 'degrees' or $conv-unit == 'degree' or
    $conv-unit == 'deg' or $conv-unit == 'degs' or $conv-unit == 'd'
  ) {
    $conv-unit: deg;
  } @else if (
    $conv-unit == 'radians' or $conv-unit == 'radian' or $conv-unit == 'rads' or
    $conv-unit == 'rad' or $conv-unit == 'r'
  ) {
    $conv-unit: rad;
  } @else if (
    $conv-unit == 'gradians' or $conv-unit == 'gradian' or
    $conv-unit == 'grads' or $conv-unit == 'grad' or $conv-unit == 'g'
  ) {
    $conv-unit: grad;
  }

  @if unit($angle) == $conv-unit {
    @return $angle;
  }

  $angle: strip-unit($angle);

  @if $start-unit == 'turn' {
    @if $conv-unit == 'deg' {
      $angle: $angle * 360deg;
    } @else if $conv-unit == 'rad' {
      $angle: $angle * pi(2rad);
    } @else if $conv-unit == 'grad' {
      $angle: $angle * 400grad;
    }
  } @else if $start-unit == 'deg' {
    @if $conv-unit == 'turn' {
      $angle: if(
        $divide-supported,
        divide($angle, 360) * 1turn,
        ($angle / 360) * 1turn
      );
    } @else if $conv-unit == 'rad' {
      $angle: if(
        $divide-supported,
        $angle * divide(pi(), 180) * 1rad,
        $angle * (pi() / 180) * 1rad
      );
    } @else if $conv-unit == 'grad' {
      $angle: if(
        $divide-supported,
        $angle * divide(200, 180) * 1grad,
        $angle * (200 / 180) * 1grad
      );
    }
  } @else if $start-unit == 'rad' {
    @if $conv-unit == 'turn' {
      $angle: if(
        $divide-supported,
        divide($angle, pi(2)) * 1turn,
        ($angle / pi(2)) * 1turn
      );
    } @else if $conv-unit == 'deg' {
      $angle: if(
        $divide-supported,
        $angle * divide(180, pi()) * 1deg,
        $angle * (180 / pi()) * 1deg
      );
    } @else if $conv-unit == 'grad' {
      $angle: if(
        $divide-supported,
        $angle * divide(200, pi()) * 1grad,
        $angle * (200 / pi()) * 1grad
      );
    }
  } @else if $start-unit == 'grad' {
    @if $conv-unit == 'turn' {
      $angle: if(
        $divide-supported,
        divide($angle, 400) * 1turn,
        $angle / 400 * 1turn
      );
    } @else if $conv-unit == 'deg' {
      $angle: if(
        $divide-supported,
        $angle * divide(180, 200) * 1deg,
        $angle * (180 / 200) * 1deg
      );
    } @else if $conv-unit == 'rad' {
      $angle: if(
        $divide-supported,
        $angle * divide(pi(), 200) * 1rad,
        $angle * (pi() / 200) * 1rad
      );
    }
  }

  @return $angle;
}

/// Clamp `$number` between `$min` and `$max`
/// @access public
///
/// @param {Number} $number - The number to clamp.
/// @param {Number} $min - The minimum value.
/// @param {Number} $max - The maximum value.
/// @return {Number} If number is within the limits, returns the number, if it
/// is below the limit, it will return the min, if it is above the max, it will
/// return the max.
@function clamp($number, $min, $max) {
  @return min(max($number, $min), $max);
}

/// Takes the summation of a range of numbers on an itaratee. Used in the `pow`
/// function that takes a number to a given power.
/// @access private
///
/// @param {Number} $itaratee
/// @param {Number} $input
/// @param {Number} $initial [0]
/// @param {Number} $limit [100]
///
/// @return {Number} The result of the operation
@function summation($iteratee, $input, $initial: 0, $limit: 100) {
  $sum: 0;

  @for $index from $initial to $limit {
    $sum: $sum + call($iteratee, $input, $index);
  }

  @return $sum;
}

/// Complete an exponentiation. Used for the `pow` function that takes a number
/// to a given power.
/// @access private
///
/// @param {Number} $value
/// @return {Number} The result of the operation.
///
/// @require {function} summation
@function exp($value) {
  @return summation('exp-maclaurin', $value, 0, 100);
}

/// Takes a number to the given power.
/// @access public
///
/// @param {Number} $number - A number, the base of the operation
/// @param {Number} $exponent - The exponent taking the $number to its power
/// @return {Number} The result of the operation
///
/// @require {function} exp
/// @require {function} ln
@function pow($number, $exponent) {
  @if (round($exponent) != $exponent) {
    @return exp($exponent * ln($number));
  }

  $value: 1;

  @if ($exponent > 0) {
    @for $i from 1 through $exponent {
      $value: $value * $number;
    }
  } @else if ($exponent < 0) {
    @for $i from 1 through $exponent {
      $value: $value / $number;
    }
  }

  @return $value;
}

/// Fixes a number to a fixed number of decimal places.
/// @access public
///
/// @param {Number} $num - The number to format.
/// @param {Integer} $digits [2] - Number of digits to leave after the decimal.
/// @return {Number} The fixed digit number.
///
/// @require {function} pow
/// @throw $digits precision too high (if greater than 10).
@function to-fixed($num, $digits: 2) {
  $sass-precision: 10;

  @if ($digits > $sass-precision) {
    @warn 'Sass numbers only support up to #{inspect($sass-precision)} digits' +
        ' of precision after the decimal point. You have attempted to set the' +
        ' precision to `#{inspect($digits)}` in the `to-fixed` function. The ' +
        'number of digits after the decimal point was reduced from your ' +
        'requested precision to the maximum of 10.';
    $digits: 10;
  }

  $pow: pow(10, $digits);
  @return round($num * $pow) / $pow;
}

/// Given a key, safely return the corresponding value from a map.
///
/// @param {Map} $map - Map to retrieve a value from.
/// @param {String} $key - Name of the map key.
///
/// @return {List} - Found value.
/// @throw $key not available in $map
/// @throw $map is not a valid map
@function get-val($map, $key) {
  @if type-of($map) == 'map' or (type-of($map) == 'list' and length($map) == 0) {
    @if map-has-key($map, $key) {
      @return map-get($map, $key);
    } @else {
      @error 'Key: `#{inspect($key)}` is not available in `#{inspect($map)}`';
    }
  } @else {
    @error '`#{inspect($map)}` is not a valid map';
  }
}

/// Incrementally lighten a color in a more effective way than with lighten()
/// @access public
/// @param {Color} $color - color to tint
/// @param {Number} $percentage - Percentage of white in the returned color
/// @return {Color} - The lightened color
@function tint($color, $percentage) {
  @return mix(#fff, $color, $percentage);
}

/// Incrementally darken a color in a more effective way than with darken()
/// @access public
/// @param {Color} $color - Color to shade
/// @param {Number} $percentage - Percentage of black in the returned color
/// @return {Color} - The darkened color
@function shade($color, $percentage) {
  @return mix(#000, $color, $percentage);
}

/// Helper function, mix black with a given opacity level.000
/// @access public
///
/// @param {Number} $opacity [1] - An opacity level between either 0 and 1
/// or 0% and 100%, inclusive.
/// @return {Color} The black color at the given opacity level.
///
/// @throw Invalid data type for $opacity
/// @throw Invalid unit type for $opacity
/// @throw $opacity value out of range
@function black($opacity: 1) {
  @if type-of($opacity) != 'number' {
    @error 'Invalid data type passed to black(). Opacity must be a number.';
  }

  @if not unitless($opacity) and unit($opacity) != '%' {
    @error 'Invalid opacity unit type of [#{inspect(unit($opacity))}] passed' +
        ' to black(). Opacity must be a unitless decimal or a percentage.';
  }

  @if (
    (unit($opacity) == '%' and ($opacity < 0% or $opacity > 100%)) or
    (unitless($opacity) and ($opacity < 0 or $opacity > 1))
  ) {
    @error 'Invalid opacity level of (#{inspect($opacity)}) passed to black().';
  }

  @if unit($opacity) == '%' {
    $opacity: $opacity / 100%;
  }

  @if unit($opacity) == '%' {
    $opacity: $opacity / 100%;
  }

  @if $opacity == 1 {
    @return #000;
  } @else if $opacity == 0 {
    @return transparent;
  } @else {
    @return rgba(#000, $opacity);
  }
}

/// Helper function, mix white with a given opacity level.
/// @access public
///
/// @param {Number} $opacity [1] - An opacity level between either 0 and 1
/// or 0% and 100%, inclusive.
/// @return {Color} The white color at the given opacity level.
///
/// @throw Invalid data type for $opacity.
/// @throw Invalid unit type for $opacity.
/// @throw $opacity value out of range.
@function white($opacity: 1) {
  @if type-of($opacity) != 'number' {
    @error 'Invalid data type passed to white(). Opacity must be a number.';
  }

  @if not unitless($opacity) and unit($opacity) != '%' {
    @error 'Invalid opacity unit type of [#{inspect(unit($opacity))}] passed' +
        ' to white(). Opacity must be a unitless decimal or a percentage.';
  }

  @if (
    (unit($opacity) == '%' and ($opacity < 0% or $opacity > 100%)) or
    (unitless($opacity) and ($opacity < 0 or $opacity > 1))
  ) {
    @error 'Invalid opacity level of (#{inspect($opacity)}) passed to white().';
  }

  @if unit($opacity) == '%' {
    $opacity: $opacity / 100%;
  }

  @if $opacity == 1 {
    @return #fff;
  } @else {
    @return rgba(#fff, $opacity);
  }
}

/// Computes a top-shadow for a card effect.
/// @param {Number} $depth - depth level
/// @return {List} Computed Values for the top-shadow
@function top-shadow($depth) {
  $primary-offset: nth(1.5 3 10 14 19, $depth) * 1px;
  $blur: nth(1.5 3 10 14 19, $depth) * 4px;
  $color: rgba(#000, nth(.12 .16 .19 .25 .3, $depth));

  @return 0 $primary-offset $blur $color;
}

/// Computes a bottom-shadow for a card effect.
/// @param {Number} $depth - depth level
/// @return {List} Computed values for the bottom-shadow
@function bottom-shadow($depth) {
  $primary-offset: nth(1.5 3 6 10 15, $depth) * 1px;
  $blur: nth(1 3 3 5 6, $depth) * 4px;
  $color: rgba(#000, nth(.24 .23 .23 .22 .22, $depth));

  @return 0 $primary-offset $blur $color;
}

/// Takes a character or a string representation for the name of a character
/// and returns the CSS entity code for that character.
/// @access public
///
/// @example char('&') and char('amp') both return '\0026'
/// @example char('trademark') and char('tm') both return '\2122'
///
/// @param {String} $char - The character (if it is available on a standard
/// keyboard), name of the character, or an abbreviated name for the character,
/// being converted into a CSS entity code.
/// @return {String} - The code for the desired character.
///
/// @throw Value of $char not a valid string.
/// @throw Value of $char does not correspond to a known CSS entity code.
@function entity($char) {
  @if type-of($char) != 'string' {
    @error 'Value of $char must be of type "string" in entity().';
  }

  $entity: '\0020'; // Default entity, the code for a blank space
  $char: to-lower-case($char);

  @if $char == '&' or str-slice($char, 1, 3) == 'amp' {
    $entity: '\0026'; // Ampersand: &
  } @else if str-slice($char, 1, 4) == 'copy' or $char == 'cr' {
    $entity: '\00A9'; // Copyright: ©
  } @else if str-slice($char, 1, 3) == 'reg' or $char == 'rtm' {
    $entity: '\00AE'; // Registered: ®
  } @else if str-slice($char, 1, 5) == 'trade' or $char == 'tm' {
    $entity: '\2122'; // Trademark: ™
  } @else if $char == '$' or $char == 'dollar' or $char == 'dlr' {
    $entity: '\0024'; // Dollar: $
  } @else if $char == 'cents' or $char == 'cent' {
    $entity: '\00A2'; // Cents: ¢
  } @else if str-slice($char, 1, 4) == 'euro' or $char == 'eu' {
    $entity: '\20AC'; // Euro: €
  } @else if str-slice($char, 1, 5) == 'pound' or $char == 'gbp' {
    $entity: '\00A3'; // British Pound: £
  } @else if $char == 'yen' {
    $entity: '\00A5'; // Japanese Yen ¥
  } @else if $char == 'rupee' {
    $entity: '\20B9'; // Indian Rupee ₹
  } @else if $char == 'peso' {
    $entity: '\20B1'; // Mexican Peso ₱
  } @else if $char == 'currency' or $char == 'curr' {
    $entity: '\00A4'; // Universal currency symbol ¤
  } @else if (
    $char == 'open-quote' or $char == 'openquote' or $char == 'oquote' or
    $char == 'o-quote' or $char == 'oq' or $char == 'o"' or $char == 'o\''
  ) {
    $entity: '\201C'; // Open double quote: “
  } @else if (
    $char == 'close-quote' or $char == 'closed-quote' or
    $char == 'closequote' or $char == 'closedquote' or $char == 'cquote' or
    $char == 'c-quote' or $char == 'cq' or $char == 'c"' or $char == 'c\''
  ) {
    $entity: '\201D'; // Close double quote: ”
  } @else if (
    $char == 'ldaq' or $char == 'left-double-angle-quote' or
    $char == 'left-double-angle' or $char == 'ldang'
  ) {
    $entity: '\00AB'; // Left-pointing double-angle quation mark: «
  } @else if (
    $char == 'rdaq' or $char == 'right-double-angle-quote' or
    $char == 'rdang' or $char == 'right-double-angle'
  ) {
    $entity: '\00BB'; // Right-pointing double-angle quation mark: »
  } @else if (
    str-slice($char, 1, 4) == 'apos' or $char == '\'' or $char == 'aps'
  ) {
    $entity: '\2019'; // Apostrophe: ’
  } @else if (
    $char == '-' or $char == 'ndash' or
    $char == 'endash' or $char == 'nd'
  ) {
    $entity: '\2013'; // En dash: –
  } @else if (
    $char == '--' or $char == 'mdash' or
    $char == 'emdash' or $char == 'md'
  ) {
    $entity: '\2014'; // Em dash: —
  } @else if (
    $char == '...' or str-slice($char, 1, 5) == 'ellip' or
    str-slice($char, 1, 4) == 'elip'
  ) {
    $entity: '\2026'; // Ellipsis: …
  } @else if (
    $char == '>' or $char == 'greater-than' or $char == 'greaterthan' or
    $char == 'greater-then' or $char == 'greaterthen'
  ) {
    $entity: '\003E'; // Greater than symbol: >
  } @else if (
    $char == '<' or $char == 'less-than' or $char == 'lessthan' or
    $char == 'less-then' or $char == 'less-then'
  ) {
    $entity: '\003C'; // Less than symbol: <
  } @else if (
    $char == '^!' or $char == 'inverted-exclamation' or
    $char == 'inverted!' or $char == 'invert!' or $char == 'inv!'
  ) {
    $entity: '\00A1'; // Inverted exclamation mark ¡
  } @else if (
    $char == 'account-of' or $char == 'accountof' or $char == 'accof' or
    $char == 'account' or $char == 'acc'
  ) {
    $entity: '\2100'; // Account Of: ℀
  } @else if str-slice($char, 1, 7) == 'address' {
    $entity: '\2101'; // Addressed to the subject of: ℁
  } @else if $char == 'degree' or $char == 'degrees' or $char == 'deg' {
    $entity: '\00B0'; // Degrees: °
  } @else if (
    $char == 'degrees-celcius' or $char == 'degree-celcius' or
    $char == 'degreescelcius' or $char == 'degreecelcius' or
    $char == 'celcius' or $char == 'degcel' or $char == 'deg-cel' or
    $char == 'degree-c' or $char == 'degrees-c' or $char == 'deg-c' or
    $char == 'degc'
  ) {
    $entity: '\2103'; // Degrees Celcius: ℃
  } @else if (
    $char == 'degrees-farenheit' or $char == 'degree-farenheit' or
    $char == 'degreesfarenheit' or $char == 'degreefarenheit' or
    $char == 'farenheit' or $char == 'faren' or $char == 'degfar' or
    $char == 'deg-far' or $char == 'deg-faren' or $char == 'deg-f' or
    $char == 'degree-f' or $char == 'degrees-f' or $char == 'degf'
  ) {
    $entity: '\2109'; // Degrees Celcius: ℉
  } @else if $char == 'infinity' or $char == 'inf' {
    $entity: '\221E'; // Infinity: ∞
  } @else if (
    $char == 'small-triangle--up' or $char == 'sm-tri--up' or
    $char == 'smalltriangleup' or  $char == 'small-triangle-up' or
    $char == 'smtriup' or $char == 'triangleupsmall' or
    $char == 'triangle-up-small' or $char == 'triupsm' or
    $char == 'uptrianglesmall' or $char == 'up-triangle-small' or
    $char == 'uptrism'
  ) {
    $entity: '\25B2'; // Small Triangle - Up: ▴
  } @else if (
    $char == 'small-triangle--down' or $char == 'sm-tri--down' or
    $char == 'smalltriangledown' or $char == 'small-triangle-down' or
    $char == 'smtridown' or $char == 'triangledownsmall' or
    $char == 'triangle-down-small' or $char == 'trismdown' or
    $char == 'downtrianglesmall' or $char == 'down-triangle-small' or
    $char == 'downtrism'
  ) {
    $entity: '\25BE'; // Small Triangle - Down: ▾
  } @else if (
    $char == 'small-triangle--left' or $char == 'sm-tri--left' or
    $char == 'smalltriangleleft' or $char == 'small-triangle-left' or
    $char == 'smtrileft' or $char == 'triangleleftsmall' or
    $char == 'triangle-left-small' or $char == 'trileftsm' or
    $char == 'lefttrianglesmall' or $char == 'left-triangle-small' or
    $char == 'lefttrism'
  ) {
    $entity: '\25C2'; // Small Triangle - Left: ◂
  } @else if (
    $char == 'small-triangle--right' or $char == 'sm-tri--right' or
    $char == 'smalltriangleup' or $char == 'small-triangle-up' or
    $char == 'smtriup' or $char == 'triangleupsmall' or
    $char == 'triangle-up-small' or $char == 'triupsm' or
    $char == 'uptrianglesmall' or $char == 'up-triangle-small' or
    $char == 'uptrism'
  ) {
    $entity: '\25B8'; // Small Triangle - Right: ▸
  } @else if $char == 'nbsp' or $char == 'nobreakspace' {
    $entity: '\00A0'; // Non-breaking space
  } @else if $char != ' ' {
    @error 'You must enter a valid character or string for $char in entity(),' +
        ' one that corresponds with a CSS entity character.';
  }

  @return $entity;
}


///////////////////////////////////////////////////
// #MIXINS ////////////////////////////////////////
///////////////////////////////////////////////////

@mixin first($num: 1) {
  @if $num == 1 {
    &:first-child {
      @content;
    }
  } @else {
    &:nth-child(-n + #{$num}) {
      @content;
    }
  }
}

/// Select all children from the last to `$num`.
///
/// @content [Write the style you want to apply to the children, and it will be
/// added within the @content directive]
///
/// @param {Integer} $num - All child elements counted from the last to this
/// number will be selected.
@mixin last($num: 1) {
  @if $num == 1 {
    &:last-child {
      @content;
    }
  } @else {
    &:nth-last-child(-n + #{$num}) {
      @content;
    }
  }
}

/// Select all children after the first to `$num`.
///
/// @content [Write the style you want to apply to the children, and it will be
/// added within the @content directive]
///
/// @param {Integer} $num - After the first child elements of this quantity, all
/// children are selected.
@mixin after-first($num) {
  &:nth-child(n + #{$num + 1}) {
    @content;
  }
}

/// Select all children before `$num` from the last.
///
/// @content [Write the style you want to apply to the children, and it will be
/// added within the @content directive]
///
/// @param {Integer} $num - This number back from the last child element will
/// be selected.
@mixin from-end($num) {
  &:nth-last-child(#{$num}) {
    @content;
  }
}

/// Select all children between `$first` and `$last`.
///
/// @content [Write the style you want to apply to the children, and it will be
/// added within the @content directive]
///
/// @param {Integer} $first - The first child element that will be selected,
/// counted from the start. This child element and all others up to and
/// including $last are selected.
/// @param {Integer} $last - The last child element that will be selected,
// counted from the start. This child element and all before it up to and
/// including $first are selected.
@mixin between($first, $last) {
  &:nth-child(n + #{$first}):nth-child(-n + #{$last}) {
    @content;
  }
}

/// Select all evenly numbered children between `$first` and `$last`.
///
/// @content [Write the style you want to apply to the children, and it will be
/// added within the @content directive]
///
/// @param {Integer} $first - The first child element of the selection range,
/// counted from the start. Will only be selected if it is evenly numbered.
/// @param {Integer} $last - The last child element of the selection range,
/// counted from the start. WIll only be selected if it is evenly numbered.
@mixin even-between($first, $last) {
  &:nth-child(even):nth-child(n + #{$first}):nth-child(-n + #{$last}) {
    @content;
  }
}

/// Select all odd children between `$first` and `$last`.
///
/// @content [Write the style you want to apply to the children, and it will be
/// added within the @content directive]
///
/// @param {Integer} $first - The first child element of the selection range,
/// counted from the start. Will only be selected if it is an odd number.
/// @param {Integer} $last - The last child element of the selection range,
/// counted from the start. WIll only be selected if it is an odd number.
@mixin odd-between($first, $last) {
  &:nth-child(odd):nth-child(n + #{$first}):nth-child(-n + #{$last}) {
    @content;
  }
}

/// Select all `$num` children between `$first` and `$last`.
///
/// @content [Write the style you want to apply to the children, and it will be
/// added within the @content directive]
///
/// @param {Integer} $num - Select every $num items for the range set by $first
/// and $last parameters.
/// @param {Integer} $first - The starting number for the selection range,
/// counted from the start.
/// @param {Integer} $last - The ending number for the selection range, counted
/// from the start.
@mixin n-between($num, $first, $last) {
  &:nth-child(#{$num}n):nth-child(n + #{$first}):nth-child(-n + #{$last}) {
    @content;
  }
}

/// Select all children but `$num`.
///
/// @content [Write the style you want to apply to the children, and it will be
/// added within the @content directive]
///
/// @param {Integer} $num - All child elements are selected except for $num.
@mixin all-but($num) {
  &:not(:nth-child(#{$num})) {
    @content;
  }
}

/// Select children each `$num`.
///
/// @content [Write the style you want to apply to the children, and it will be
/// added within the @content directive]
///
/// @param {Integer} $num - Every $num child elements is selected.
/// @alias every
@mixin each($num) {
  &:nth-child(#{$num}n) {
    @content;
  }
}

/// Select children each `$num`.
///
/// @content [Write the style you want to apply to the children, and it will be
/// added within the @content directive]
///
/// @param {Integer} $num - Every $num child elements is selected.
@mixin every($num) {
  &:nth-child(#{$num}n) {
    @content;
  }
}

/// Select the `$num` child from the start and the `$num` child from the last.
///
/// @content [Write the style you want to apply to the children, and it will be
/// added within the @content directive]
///
/// @param {Integer} $num - The child element that is $num from the start, as
/// well as the child element that is $num from the end, will be selected.
@mixin from-first-last($num) {
  &:nth-child(#{$num}),
  &:nth-last-child(#{$num}) {
    @content;
  }
}

/// Select the item in the middle of `$num` child. Only works with odd number
/// chain.
///
/// @content [Write the style you want to apply to the children, and it will be
/// added within the @content directive]
///
/// @param {Integer} $num - Count $num child elements from the start and the
/// middle element of that selection range will be selected.
@mixin middle($num) {
  &:nth-child(#{round($num / 2)}) {
    @content;
  }
}

/// Select all children between the `$num` first and the `$num` last.
///
/// @content [Write the style you want to apply to the children, and it will be
/// added within the @content directive]
///
/// @param {Integer} $num - Count $num children from the start and from the end
/// and all other child elements except for those will be selected.
@mixin all-but-first-last($num) {
  &:nth-child(n + #{$num}):nth-last-child(n + #{$num}) {
    @content;
  }
}

/// This quantity-query mixin will only select the first of `$limit` items. It
/// wwill not work if the quantity of child elements is different than `$limit`.
///
/// @content [Write the style you want to apply to the children, and it will be
/// added within the @content directive]
///
/// @param {Integer} $limit - If the quantity of child elements is equal to
/// limit, the first of those elements is selected.
@mixin first-of($limit) {
  &:nth-last-child(#{$limit}):first-child {
    @content;
  }
}

/// This quantity-query mixin will only select the last of `$limit` items. It
/// will not if there is not as many items as you set in `$limit`.
///
/// @content [Write the style you want to apply to the children, and it will be
/// added within the @content directive]
///
/// @param {Integer} $limit - If the quantity of child elements is equal to
/// limit, the last of those elements is selected.
@mixin last-of($limit) {
  &:nth-of-type(#{$limit}):nth-last-of-type(1) {
    @content;
  }
}

/// This quantity-query mixin will select every items if there is at least `$num`
/// items. It will not if there is not as much as item as you set in `$num`.
///
/// @content [Write the style you want to apply to the children, and it will be
/// added within the @content directive]
///
/// @param {Integer} $num - If the number of child elements is equal to or
/// greater than this number, then all will be selected.
@mixin at-least($num) {
  $selector: &;
  $child: nth(nth($selector, -1), -1);

  &:nth-last-child(n + #{$num}),
  &:nth-last-child(n + #{$num}) ~ #{$child} {
    @content;
  }
}

/// This quantity-query mixin will select every items if there is at most `$num`
/// items. It will not if there is not as much as item as you set in `$num`.
///
/// @content [Write the style you want to apply to the children, and it will be
/// added within the @content directive]
///
/// @param {Integer} $num - If the number of child elements is equal to or
/// less than this number, then all will be selected.
@mixin at-most($num) {
  $selector: &;
  $child: nth(nth($selector, -1), -1);

  &:nth-last-child(-n + #{$num}):first-child,
  &:nth-last-child(-n + #{$num}):first-child ~ #{$child} {
    @content;
  }
}

/// This quantity-query mixin will select every items there is between `$min`
/// and `$max` items. If the quantity of child elements is less than the $min
/// or $greater than the $max, none will be selected. If the quantity is in
/// range, all will be selected.
///
/// @content [Write the style you want to apply to the children, and it will be
/// added within the @content directive]
///
/// @param {Integer} $min - The minimum number of children
/// @param {Integer} $max - The maximum number of children
@mixin in-between($min, $max) {
  $selector: &;
  $child: nth(nth($selector, -1), -1);

  &:nth-last-child(n + #{$min}):nth-last-child(-n + #{$max}):first-child,
  &:nth-last-child(n + #{$min}):nth-last-child(-n + #{$max}):first-child ~ #{$child} {
    @content;
  }
}

/// Select the first exact child element.
///
/// @content [Write the style you want to apply to the children, and it will be
/// added within the @content directive]
@mixin first-child {
  &:first-of-type {
    @content;
  }
}

/// Select the last exact child element.
///
/// @content [Write the style you want to apply to the children, and it will be
/// added within the @content directive]
@mixin last-child {
  &:last-of-type {
    @content;
  }
}

/// Select all evenly numbered child elements.
///
/// @content [Write the style you want to apply to the children, and it will be
/// added within the @content directive]
@mixin even {
  &:nth-child(even) {
    @content;
  }
}

/// Select all odd numbered child elements.
///
/// @content [Write the style you want to apply to the children, and it will be
/// added within the @content directive]
@mixin odd {
  &:nth-child(odd) {
    @content;
  }
}

/// Select only the first and last child element.
///
/// @content [Write the style you want to apply to the children, and it will be
/// added within the @content directive]
@mixin first-last {
  &:first-child,
  &:last-child {
    @content;
  }
}

/// Will only select the child if it is unique. If it has any sibling elements
/// then none will be selected.
///
/// @content [Write the style you want to apply to the children, and it will be
/// added within the @content directive]
/// @alias only
@mixin unique {
  &:only-child {
    @content;
  }
}

/// Will only select the child if it is unique. If it has any sibling elements
/// then none will be selected.
///
/// @content [Write the style you want to apply to the children, and it will be
/// added within the @content directive]
@mixin only {
  &:only-child {
    @content;
  }
}

/// Will only select children if they are not unique. Meaning if there is at
/// least 2 children, the style is applied.
///
/// @content [Write the style you want to apply to the children, and it will be
/// added within the @content directive]
@mixin not-unique {
  &:not(:only-child) {
    @content;
  }
}

/// Uses box-shadow to give an element a depth effect based on Google's
/// Material Design principles.
///
/// @link https://material.io/design/environment/light-shadows.html
/// @link https://material.io/design/environment/elevation.html
///
/// @param {Number} $level - Depth level (Must be between 0 and 5, inclusive).
///
/// @group Utilities
/// @require {function} top-shadow
/// @require {function} bottom-shadow
/// @throw Invalid $level value.
@mixin depth-level($level) {
  @if type-of($level) != 'number' or $level > 5 {
    @error 'Invalid $level of [ #{inspect($level)} ] used in the mixin ' +
      ' [ depth-level ]. Value must be a number between 0 and 5 inclusive.';
  } @else if $level < 1 {
    box-shadow: none;
  } @else {
    box-shadow: bottom-shadow($level), top-shadow($level);
  }
}

/// Apply a background image with a version that is scaled to 2x for Retina and
/// other HiDPI displays.
///
/// @param {URL} $img-name - File path for the image. Must either be a
/// quoted string or inside a function to be read correctly.
/// @param {Length-Percentage} $bg-width - Width component of the background-size
/// property value for the image.
/// @param {Length-Percentage} $bg-height [$bg-width] - Height component of the
/// background-size property value for the image.
/// @param {String} $img-2x-suffix [$image-2x-suffix|'@2x']- The suffix that is
/// appended to the end of image name to designate that it is the 2x version for
/// HiDPI displays. Must be a quoted string to be ready correctly.
/// @param {Map} $extra-hidpi-properties [null] - You can pass this argument
/// a map of property: value pairs that will be added to the HiDPI/Retina
/// media query.
///
/// @group Utilities
/// @throw Value of $bg-width must not be null
/// @throw Invalid $bg-width or $bg-height data type
/// @throw Invalid $img filename
@mixin bg-image(
  $img-name,
  $bg-width,
  $bg-height: $bg-width,
  $img-2x-suffix:
    if(global-variable-exists(image-2x-suffix), $image-2x-suffix, '@2x'),
  $extra-hidpi-properties: null
) {
  $hidpi-img: $img-name;

  @if (
    not $extra-hidpi-properties or $extra-hidpi-properties == 'none' or
    $extra-hidpi-properties == 'no' or $extra-hidpi-properties == nil or
    $extra-hidpi-properties == 'n/a' or $extra-hidpi-properties == ' ' or
    $extra-hidpi-properties == () or $extra-hidpi-properties == ( )
  ) {
    $extra-hidpi-properties: null;
  }

  @if not $bg-width {
    @error 'You must enter an image width for the $bg-width parameter of the ' +
        '`bg-image` mixin.';
  } @else if (
    type-of($bg-width) != 'number' or
    ($bg-height and $bg-height != auto and type-of($bg-height) != 'number')
  ) {
    @error 'Invalid type for the dimensions used in the `bg-image` mixin.';
  } @else {
    $bg-width: if(
      type-of($bg-width) == 'number' and unitless($bg-width),
      $bg-width * 1px,
      $bg-width
    );
    $bg-height: if(
      type-of($bg-height) == 'number' and unitless($bg-height),
      $bg-height * 1px,
      $bg-height
    );
  }

  $size: if(
    not $bg-height or $bg-height == auto,
    $bg-width,
    $bg-width $bg-height
  );

  @if (
    str-index($img-name, '.png') or str-index($img-name, '.svg') or
    str-index($img-name, '.gif') or str-index($img-name, '.jpg') or
    str-index($img-name, '.jpx') or str-index($img-name, '.jp2') or
    str-index($img-name, '.j2c') or str-index($img-name, '.j2k') or
    str-index($img-name, '.jps') or str-index($img-name, '.ppm') or
    str-index($img-name, '.iff') or str-index($img-name, '.tdi') or
    str-index($img-name, '.dmc') or str-index($img-name, '.dc3') or
    str-index($img-name, '.dic') or str-index($img-name, '.mpo') or
    str-index($img-name, '.bmp') or str-index($img-name, '.pxr') or
    str-index($img-name, '.tga') or str-index($img-name, '.vda') or
    str-index($img-name, '.icb') or str-index($img-name, '.vst') or
    str-index($img-name, '.pcx') or str-index($img-name, '.jpf') or
    (not str-index($img-name, '.jpeg') and str-index($img-name, '.jpe')) or
    (not str-index($img-name, '.tiff') and str-index($img-name, '.tif'))
  ) {
    $hidpi-img: str-insert($img-name, $img-2x-suffix, str-length($img-name) - 3);
  } @else if (
    str-index($img-name, '.tiff') or
    str-index($img-name, '.jpeg') or
    str-index($img-name, '.webp')
  ) {
    $hidpi-img: str-insert($img-name, $img-2x-suffix, str-length($img-name) - 4);
  } @else if str-index($img-name, '.') {
    @warn 'You are using an unknown file type on the image you referenced in ' +
        'the `bg-image` mixin. Please ensure you are using a valid image file' +
        ' type. If you use an unknown file type with multiple `.` characters ' +
        'the `bg-image` mixin may not work correctly.';

    $hidpi-img: str-insert($img-name, $img-2x-suffix, str-index($img-name, '.'));
  } @else {
    @error 'The image you referenced in the `bg-image` mixin does not have a ' +
        'file extension. Please use the full image name including the ' +
        'image\'s file extension.';
  }

  // Normal sized image
  background-image: url(#{$img-name});

  // Scaled up version of the image for HiDPI displays
  @media only screen and (-webkit-min-device-pixel-ratio: 1.25),
         only screen and (min-device-pixel-ratio: 1.25),
         only screen and (min-resolution: 200dpi),
         only screen and (min-resolution: 1.25dppx) {
    background-image: url(#{$hidpi-img});
    background-size: $size;

    @if $extra-hidpi-properties {
      $key-list: map-keys($extra-hidpi-properties);
      @each $key in $key-list {
        #{$key}: map-get($extra-hidpi-properties, $key);
      }
    }
  }
}

/// Apply an SVG background image with a fall-back PNG version and a PNG version
/// that is scaled to 2x for Retina and other HiDPI displays.
///
/// @param {URL} $svg-img-name - File path for the image. The '.svg' file
/// extension is not required, but if it is included the string must either be
/// in quotes or inside a function to be read correctly.
/// @param {Length-Percentage} $bg-width - Width component of the
/// background-size property that sizes the image.
/// @param {Length-Percentage} $bg-height [null] - Height component of the
/// background-size property value for the image. If no height, or a height
/// of auto is entered, the background-size property will use one value syntax.
/// @param {String} $img-2x-suffix [$image-2x-suffix|'@2x']- The suffix that is
/// appended to the end of image name to designate that it is the 2x version for
/// HiDPI displays. Must be a quoted string to be read correctly.
/// @param {Map} $extra-hidpi-properties [null] - You can pass this argument
/// a map of property: value pairs that will be added to the HiDPI/Retina
/// media query since the mixin will be the only way to access it.
///
/// @group Utilities
/// @throw Value of $bg-width must not be null
/// @throw Invalid $bg-width or $bg-height data type
@mixin bg-image-svg(
  $svg-img-name,
  $bg-width,
  $bg-height: null,
  $img-2x-suffix:
    if(global-variable-exists(image-2x-suffix), $image-2x-suffix, '@2x'),
  $extra-hidpi-properties: null
) {
  $ret-png-img: null;

  @if (
    not $extra-hidpi-properties or $extra-hidpi-properties == 'none' or
    $extra-hidpi-properties == 'no' or $extra-hidpi-properties == nil or
    $extra-hidpi-properties == 'n/a' or $extra-hidpi-properties == ' ' or
    $extra-hidpi-properties == () or $extra-hidpi-properties == ( )
  ) {
    $extra-hidpi-properties: null;
  }

  @if not $bg-width {
    @error 'You must enter an image width for the $bg-width parameter of the ' +
        '`bg-image-svg` mixin.';
  } @else if (
    type-of($bg-width) != 'number' or
    ($bg-height and $bg-height != auto and type-of($bg-height) != 'number')
  ) {
    @error 'Invalid type for the dimensions used in the `bg-image-svg` mixin.';
  } @else {
    $bg-width: if(
      (type-of($bg-width) == 'number' and unitless($bg-width)),
      $bg-width * 1px,
      $bg-width
    );
    $bg-height: if(
      (type-of($bg-height) == 'number' and unitless($bg-height)),
      $bg-height * 1px,
      $bg-height
    );
  }

  @if not str-index(to-lower-case($svg-img-name), '.svg') {
    $svg-img-name: $svg-img-name + '.svg';
    $ret-png-img: $svg-img-name + $img-2x-suffix + '.png';
  }

  $size: if(
    not $bg-height or $bg-height == auto,
    $bg-width,
    $bg-width $bg-height
  );
  $png-img: str-slice($svg-img-name, 1, str-length($svg-img-name) - 4) + '.png';
  $ret-png-img: str-insert($png-img, $img-2x-suffix, str-length($png-img) - 3);

  // Normal sized PNG fallback image
  background: url(unquote($png-img));
  // SVG image with properties to ensure it overwrites PNG if SVG is supported
  background: url(#{$svg-img-name}), linear-gradient(transparent, transparent);

  // Scaled up version of the image for HiDPI displays
  @media only screen and (-webkit-min-device-pixel-ratio: 1.25),
         only screen and (min-device-pixel-ratio: 1.25),
         only screen and (min-resolution: 200dpi),
         only screen and (min-resolution: 1.25dppx) {
    background: url(#{$ret-png-img}); // 2x PNG fallback image
    background: url(#{$svg-img-name}), linear-gradient(transparent, transparent);
    background-size: $size;

    @if $extra-hidpi-properties {
      $key-list: map-keys($extra-hidpi-properties);
      @each $key in $key-list {
        #{$key}: map-get($extra-hidpi-properties, $key);
      }
    }
  }
}

/// Block Element - Used with BEM (Block-Element-Modifier) naming convention
/// @content
///
/// @group Utilities
/// @param {String} $element - Element's name
@mixin elem($element) {
  &__#{$element} {
    @content;
  }
}

/// Block Modifier - Used with BEM (Block-Element-Modifier) naming convention
/// @content
///
/// @group Utilities
/// @param {String} $modifier - Modifier's name
@mixin mod($modifier) {
  &--#{$modifier} {
    @content;
  }
}

/// Creates an inner box-shadow for only one side of an element.
///
/// @param {Keyword} $side [bottom] - Side the shadow is supposed to appear.
/// Can be `top`, `left`, `right` or `bottom`.
/// @param {Length} $size [20px] - Width for the target side.
/// @param {Color} $color [rgba($black, .3)] - Color of the shadow.
@mixin inner-side-shadow(
  $side: 'bottom',
  $size: 20px,
  $color: if(global-variable-exists(#{black}), rgba($black, .3), rgba(#000, .3))
) {
  @if unitless($size) {
    $size: $size * 1px;
  }

  $helper: round($size * .65);

  @if (
    to-lower-case($side) == 'top' or to-lower-case($side) == 't' or
    to-lower-case($side) == 'up' or to-lower-case($side) == 'u'
  ) {
    box-shadow: inset 0 $helper $size (-1) * $helper $color;
  } @else if to-lower-case($side) == 'left' or to-lower-case($side) == 'l' {
    box-shadow: inset $helper 0 $size (-1) * $helper $color;
  } @else if to-lower-case($side) == 'right' or to-lower-case($side) == 'r' {
    box-shadow: inset (-1) * $helper 0 $size (-1) * $helper $color;
  } @else if (
    to-lower-case($side) == 'bottom' or to-lower-case($side) == 'b' or
    to-lower-case($side) == 'btm' or to-lower-case($side) == 'down' or
    to-lower-case($side) == 'd'
  ) {
    box-shadow: inset 0 (-1) * $helper $size (-1) * $helper $color;
  } @else {
    @error 'Invalid side value of `#{inpsect($side)} for the ' +
        '`inner-side-shadow` mixin.';
  }
}

/// Applied to the parent element of an element that includes a 3-D animation.
///
/// @param {Length|Keyword} $perspective [500px] - The perspective value that
/// will effect the child element's 3-d animation.
/// @param {Keyword|Length Percentage|List} $p-origin [55% 50%] - The
/// perspecitve-origin value that will effect the child element's 3-d animation
/// The syntax for this property can be just an x-position which can be the
/// keyword, `left` (equal to a 0 value), `center` (equal to 50%), or `right`
/// (equal to 100%), or can be a length-percentage. It can be also be in an
/// x-position y-position 2-value format. The y-position value can be the
/// keyword, `top` (equal to 0), `center` (equal to 50%), or `bottom` (equal to
/// 100%), or can it can be a length-percentage. (Ex: `left bottom` or
/// `100% 50%` or `left 30%). This property also accepts the global values of
/// inherit, initial, and unset as valid.
/// @param {Length-Percentage} $width [null] - The width of the element.
/// @param {Number} $z-val [null] - Sets the z-value property if passed
/// @param {Length-Percentage} $height [$width] - The height of the element.
///
/// @group Animations
/// @group Utilities
/// @throw Invalid $perspective value
/// @throw Invalid $z-val value
@mixin animation-stage(
  $perspective: 500px,
  $p-origin: 55% 50%,
  $width: null,
  $z-val: null,
  $height: null
) {
  @if $height {
    height: $height;
  }

  @if (
    (type-of($perspective) == 'number' and $perspective > 0 and
    index('px' 'em' 'rem', unit($perspective)) != null) or
    $perspective == 'initial' or $perspective == 'inherit'
   ) {
    perspective: $perspective;
  }

  perspective-origin: $p-origin;

  @if $width {
    width: $width;
  }

  @if $z-val and type-of($z-val) == 'number' and unitless($z-val) {
    z-index: $z-val;
  }
}

/// Event wrapper
/// @author Harry Roberts
/// @link https://twitter.com/csswizardry/status/478938530342006784
/// @content
///
/// @param {Boolean} $self (false) - Whether or not to include current selector
@mixin on-event($self: false) {
  @if $self {
    &,
    &:link,
    &:visited,
    &:hover,
    &:focus,
    &:active {
      @content;
    }
  } @else {
    &:hover,
    &:focus,
    &:active {
      @content;
    }
  }
}

/// Takes a given property and a corresponding value and pairs it with a space
/// separated list of any vendor prefixes desired ("moz webkit" for "-moz- and
/// -webkit-"). If no list of prefixes is given then the '-webkit' and '-ms'
/// prefixes are applied to the selector.
@mixin prefix($property, $value, $vendors: ms webkit) {
  @if $vendors {
    @each $vendor in $vendors {
      #{'-' + $vendor + '-' + $property}: $value;
    }
  }

  #{$property}: $value;
}

/// Truncates a given field with ellipses by default.
///
/// @param {Length-Percentage} $max-width [100%] - The truncation boundary point
/// @param {Keyword} $overflow-type [ellipsis] - A text-overflow property value
///
/// @throw Invalid data type for $width
@mixin truncate($max-width: 100%, $overflow-type: ellipsis) {
  max-width: $max-width;
  overflow: hidden !important;
  text-overflow: $overflow-type;
  white-space: nowrap !important;
}

@mixin border-radius($radius: 5px) {
  @if $radius == 'circle' {
    $radius: 50%;
  }

  background-clip: padding-box; // Stops bg color from leaking outside the border
  border-radius: $radius;
}

@mixin fast-frames($animation-name, $property, $from, $to) {
  @at-root {
    @keyframes #{$animation-name} {
      0% {
        #{$property}: $from;
      }

      100% {
        #{$property}: $to;
      }
    }
  }
}

@mixin size($width, $height: $width) {
  height: $height;
  width: $width;
}

/// Sets all the length properties for the given dimension(s) at once for an
/// element that you want to remain at a fixed size.
@mixin fixed-length($length, $dimension: wh, $important-flag: false) {
  $imp: null;

  @if $important-flag {
    $imp: !important;
  }

  @if (to-lower-case(str-slice($dimension, 1, 2)) == 'wh') {
    height: $length $imp;
    min-height: $length $imp;
    max-height: $length $imp;
    max-width: $length $imp;
    min-width: $length $imp;
    width: $length $imp;
  } @else if to-lower-case(str-slice($dimension, 1, 1)) == 'h' {
    height: $length $imp;
    max-height: $length $imp;
    min-height: $length $imp;
  } @else if to-lower-case(str-slice($dimension, 1, 1)) == 'w' {
    max-width: $length $imp;
    min-width: $length $imp;
    width: $length $imp;
  } @else {
    @error '\'#{$dimension}\' is not a valid value for dimension in the ' +
      'fixed-length mixin. CTRL+F \'#{$dimension}\' to fix.';
  }
}

/// Applies the 'clearfix' hack
@mixin clearfix($clear-val: both) {
  &:after {
    clear: $clear-val;
    content: '';
    display: table;
  }

  @if $clear-val != 'both' and $clear-val != 'left' and $clear-val != 'right' {
    @error 'Sorry, but \'#{inspect($clear-val)}\' is not a valid value for ' +
        ' the clear property in the clearfix mixin.';
  }
}

/// Applies a fast custom scrollbar to the page, or to an internal element
/// within the page. The effect works only in webkit based browsers (Chrome,
/// Safari, Opera, etc.), but it will apply the custom foreground and background
/// color and a thin width to the scrollbar in Firefox.
///
/// @param {Length} $size - The height and width of the custom scrollbar
/// @param {Color|Gradient} $fg-color - The color of the foreground or 'handle'
/// of the scrollbar
/// @param {Color|Gradient} $bg-color [mix($fg-color, #000, 50%)] - The color
/// of the background of the scrollbar
/// @param {Lenth-Percentage} $radius [null] - The optional border radius
/// value of the scrollbar
/// @param {Boolean} $is-internal [false] - Pass a true value if the scrollbar
/// is inside of an element other than the body of the document
@mixin scrollbar(
  $size,
  $fg-color,
  $bg-color: mix($fg-color, #000, 50%),
  $radius: null,
  $is-internal: false
) {
  $ff-scroll-size: if($size < 15, thin, auto);

  @if $is-internal {
    & {
      scrollbar-color: $fg-color $bg-color; // Firefox 64+
      scrollbar-width: $ff-scroll-size; // Firefox 64+

      &::-webkit-scrollbar {
        height: $size;
        width: $size;

        &-track {
          background: $bg-color;

          @if $radius {
            border-radius: $radius;
          }
        }

        &-thumb {
          background: $fg-color;

          @if $radius {
            border-radius: $radius;
          }

          &:hover {
            background: mix(#000, $fg-color, 17.25%);
          }

          &:active {
            background: mix(#000, $fg-color, 35%);
            box-shadow: inset 1px 1px 3px rgba(mix(#fff, $fg-color, 30%), .5);
          }
        }
      }
    }
  } @else {
    html {
      scrollbar-color: $fg-color $bg-color; // Firefox 64+
      scrollbar-width: $ff-scroll-size; // Firefox 64+
    }

    ::-webkit-scrollbar {
      height: $size;
      width: $size;

      &-track {
        background: $bg-color;

        @if $radius {
          border-radius: $radius;
        }
      }

      &-thumb {
        background: $fg-color;

        @if $radius {
          border-radius: $radius;
        }

        &:hover {
          background: mix(#000, $fg-color, 17.5%);
        }

        &:active {
          background: mix(#000, $fg-color, 35%);
          box-shadow: inset 1px 1px 3px rgba(mix(#fff, $fg-color, 30%), .5);
        }
      }
    }
  }
}

/// Creates a little pointing label from an element using clip-path
///
/// @param {Keyword} $direction [right] - Indicates the direction the label
/// will be pointing towards.
/// @param {Value|Color} $bg [#999} Any value that is valid for the background
/// shorthand property.
/// @param {Value} $width [5rem] - A length value setting the width
/// @param {Color} $fg-color [null] - Optional color value that, if passed,
/// sets the color property for the text in the label
/// @param {Value} $height [$width / 4] Length value that sets the height of the
/// label
/// @throw Invalid $direction value
@mixin pointing-label(
  $direction: right,
  $bg: #999,
  $width: 5rem,
  $fg-color: null,
  $height: $width / 4
) {
  background: $bg;
  background-clip: padding-box;

  @if (to-lower-case($direction) == 'right' or to-lower-case($direction) == 'r') {
    border-radius: 4px 0 0 4px;
    -webkit-clip-path:
      polygon(
        95% 0,
        95% 35%,
        100% 50%,
        95% 65%,
        95% 100%,
        0 100%,
        0 0
      );
    clip-path: polygon(95% 0, 95% 35%, 100% 50%, 95% 65%, 95% 100%, 0 100%, 0 0);
  } @else if
    (to-lower-case($direction) == 'left' or to-lower-case($direction) == 'l') {
    border-radius: 0 4px 4px 0;
    -webkit-clip-path:
      polygon(
        5% 0,
        5% 35%,
        0 50%,
        5% 65%,
        5% 100%,
        100% 100%,
        100% 0
      );
    clip-path: polygon(5% 0, 5% 35%, 0 50%, 5% 65%, 5% 100%, 100% 100%, 100% 0);
  } @else if (
    to-lower-case($direction) == 'up' or to-lower-case($direction) == 'u' or
    to-lower-case($direction) == 'top' or to-lower-case($direction) == 't'
  ) {
    border-radius: 0 0 4px 4px;
    -webkit-clip-path:
      polygon(
        55% 15%,
        50% 0,
        45% 15%,
        0 15%,
        0 100%,
        100% 100%,
        100% 15%
      );
    clip-path:
      polygon(
        55% 15%,
        50% 0,
        45% 15%,
        0 15%,
        0 100%,
        100% 100%,
        100% 15%
      );
  } @else if (
    to-lower-case($direction) == 'down' or to-lower-case($direction) == 'd' or
    to-lower-case($direction) == 'b' or to-lower-case($direction) == 'bottom'
  ) {
    border-radius: 4px 4px 0 0;
    -webkit-clip-path:
      polygon(
        55% 85%,
        50% 100%,
        45% 85%,
        0 85%,
        0 0,
        100% 0,
        100% 85%
      );
    clip-path: polygon(55% 85%, 50% 100%, 45% 85%, 0 85%, 0 0, 100% 0, 100% 85%);
  } @else {
    @error 'Invalid $direction value of `#{$direction}` passed to the ' +
        '`pointing-label` mixin.';
  }

  @if $fg-color {
    color: $fg-color;
  }

  height: $height;
  width: $width;
}

@mixin vert-align($pos: 50%) {
  @if $pos == middle or $pos == mid or $pos == center or $pos == c or $pos == 50 {
    $pos: 50%;
  }

  position: absolute;
  top: $pos;
  transform: translateY(-50%);
}

@mixin vertical-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@mixin absolute-center-block {
  @include vertical-center;

  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
}

@mixin flex-center($center-horiz: null, $center-vert: null) {
  @if $center-horiz == null and $center-vert == null {
    $center-horiz: true;
    $center-vert: true;
  }

  @if (
    $center-horiz == 't' or $center-horiz == 'horiz' or
    $center-horiz == 'h' or $center-horiz == 'horizontal' or
    $center-horiz == 'horizontally'
  ) {
    $center-horiz: true;
  }

  @if (
    $center-vert == 't' or $center-vert == 'vert' or $center-vert == 'v' or
    $center-vert == 'vertical' or $center-vert == 'vertically'
  ) {
    $center-vert: true;
  }

  @if (
    $center-horiz == 'vertically' or $center-horiz == 'vertical' or
    $center-horiz == 'vert' or $center-horiz == 'v' and
    ($center-vert == null or $center-vert == false)
  ) {
    $center-horiz: false;
    $center-vert: true;
  }

  @if (
    $center-horiz != true and $center-horiz != false and $center-horiz
  ) {
    @error 'Invalid $center-horiz value for the `flex-center` mixin. ' +
        'Must pass either `true` or `false`.';
  }

  @if ($center-vert != true and $center-vert != false and $center-vert) {
    @error 'Invalid $center-vert value for the `flex-center` mixin. ' +
        'Must pass either `true` or `false`.';
  }

  @if $center-vert {
    align-items: center;
  }

  display: flex;

  @if $center-horiz {
    justify-content: center;
  }
}

/// Nest a simple min-width media query within a selector or on its own.
/// @content Styles for screen widths equal to or larger than $threshold.
///
/// @param {Length|Resolution} $threshold - The minimum screen dimension for the
/// style.
@mixin min-width($threshold) {
  @media only screen and (min-width: $threshold) {
    @content;
  }
}

@mixin max-width($threshold) {
  @media only screen and (max-width: $threshold) {
    @content;
  }
}

@mixin min-to-max-width($min-threshold, $max-threshold) {
  @media only screen and (max-width: $max-threshold) and (min-width: $min-threshold) {
    @content;
  }
}

/// Uses a media query to apply the given styles to any Google Chrome versions
/// 29 and up.
///
/// @content Styles that target Chrome browsers version 29 and up.
///
/// @group Utilities
/// @alias chrome-only
@mixin only-chrome {
  @media only screen
         and (-webkit-min-device-pixel-ratio: 0)
         and (min-resolution: .001dpcm) {
    @content;
  }
}

/// Uses a media query to apply the given styles to any Google Chrome versions
/// 29 and up.
///
/// @content Styles that target Chrome browsers version 29 and up.
///
/// @group Utilities
/// @alias only-chrome
@mixin chrome-only {
  @media only screen
         and (-webkit-min-device-pixel-ratio: 0)
         and (min-resolution: .001dpcm) {
    @content;
  }
}

/// Apply the given styles to MS Edge only by using an @supports query.
///
/// @content Styles that target MS Edge.
///
/// @group Utilities
/// @alias edge-only
@mixin only-edge {
  @supports (position: -ms-page) {
    @content;
  }
}

/// Apply the given styles to MS Edge only by using an @supports query.
///
/// @group Utilities
/// @alias only-edge
@mixin edge-only {
  @supports (position: -ms-page) {
    @content;
  }
}

/// Targets only HiDPI/Retina displays using a media query.
///
/// @content Styles that target HiDPI/Retina displays only
///
/// @group Utilities
/// @alias hidpi-only
/// @alias only-retina
/// @alias retina-only
@mixin only-hidpi() {
  @media only screen and (-webkit-min-device-pixel-ratio: 1.25),
         only screen and (min-device-pixel-ratio: 1.25),
         only screen and (min-resolution: 200dpi),
         only screen and (min-resolution: 1.25dppx) {
    @content;
  }
}

/// Targets only HiDPI/Retina displays using a media query.
///
/// @content Styles that target HiDPI/Retina displays only.
///
/// @group Utilities
/// @alias only-hidpi
/// @alias only-retina
/// @alias retina-only
@mixin hidpi-only() {
  @include only-hidpi() {
    @content;
  }
}

/// Targets only HiDPI/Retina displays using a media query.
///
/// @content Styles that target HiDPI/Retina displays only.
///
/// @group Utilities
/// @alias only-hidpi
/// @alias hidpi-only
/// @alias retina-only
@mixin only-retina() {
  @include only-hidpi() {
    @content;
  }
}

/// Targets only HiDPI/Retina displays using a media query.
///
/// @content Styles that target HiDPI/Retina displays only.
///
/// @group Utilities
/// @alias only-hidpi
/// @alias hidpi-only
/// @alias only-retina
@mixin retina-only() {
  @include only-hidpi() {
    @content;
  }
}

/// Uses @supports queries and a clever hack to apply the given styles to
/// either all version of Gecko based Mozilla browsers, only Quantam (Stylo)
/// Mozilla browsers, or only legacy (pre-Stylo) Mozilla browsers.
///
/// @param {Boolean|String} $only-legacy [null] - Pass nothing or null to target
/// all version of Gecko based Mozilla browsers. To target Quantam Mozilla
/// browsers, pass false, `quantam`, `new`, `stylo`, or `q`. To target Legacy
/// (pre-Stylo) Mozilla browsers, pass true, `legacy`, `old`, or `pre-stylo`.
///
/// @content Styles to apply to Gecko-based Mozilla browsers.
///
/// @group Utilities
/// @alias moz-only
@mixin only-moz($only-legacy: null) {
  @if (
    $only-legacy == false or $only-legacy == 'f' or $only-legacy == 'quantam' or
    $only-legacy == 'new' or $only-legacy == 'stylo' or $only-legacy == 'q'
  ) {
    @-moz-document url-prefix() {
      @supports (animation: calc(0s)) {
        @content;
      }
    }
  } @else if (
    $only-legacy == true or $only-legacy == 't' or $only-legacy == 'legacy' or
    $only-legacy == 'old' or $only-legacy == 'pre-stylo'
  ) {
    @-moz-document url-prefix() {
      @supports not (animation: calc(0s)) {
        @content;
      }
    }
  } @else {
    @-moz-document url-prefix() {
      @content;
    }
    @if $only-legacy {
      @warn 'You have passed and incorrect argument to the `only-moz` mixin. ' +
          'Ignoring the argument and targeting all Gecko-based Mozilla ' +
          'browsers instead.';
    }
  }
}

/// Uses @supports queries and a clever hack to apply the given styles to
/// either all version of Gecko based Mozilla browsers, only Quantam (Stylo)
/// Mozilla browsers, or only legacy (pre-Stylo) Mozilla browsers.
///
/// @param {Boolean|String} $only-legacy [null] - Pass nothing or null to target
/// all version of Gecko based Mozilla browsers. To target Quantam Mozilla
/// browsers, pass false, `quantam`, `new`, `stylo`, or `q`. To target Legacy
/// (pre-Stylo) Mozilla browsers, pass true, `legacy`, `old`, or `pre-stylo`.
///
/// @content Styles to apply to Gecko-based Mozilla browsers.
///
/// @group Utilities
/// @alias only-moz
@mixin moz-only($only-legacy: null) {
  @include only-moz($only-legacy) {
    @content;
  }
}

/// Uses a media query to apply the given styles to the Safari browser,
/// versions 10.1 and up.
///
/// @content Styles that target Safari browsers.
///
/// @group Utilities
/// @alias safari-only
@mixin only-safari {
  @media not all and (min-resolution:.001dpcm) {
    @supports (-webkit-appearance: none) {
      @content;
    }
  }
}

/// Uses a media query to apply the given styles to the Safari browser,
/// versions 10.1 and up.
///
/// @content Styles that target Safari browsers.
///
/// @group Utilities
/// @alias only-safari
@mixin safari-only {
  @media not all and (min-resolution:.001dpcm) {
    @supports (-webkit-appearance: none) {
      @content;
    }
  }
}

/// Uses a media query to apply the given styles to any version of Google Chrome
/// and Apple Safari browsers.
///
/// @content Styles that target Chrome and Safari browsers.
///
/// @group Utilities
/// @alias webkit-only
@mixin only-webkit() {
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    @content;
  }
}

/// Uses a media query to apply the given styles to any version of Google Chrome
/// and Apple Safari browsers.
///
/// @content Styles that target Chrome and Safari browsers.
///
/// @group Utilities
/// @alias only-webkit
@mixin webkit-only() {
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    @content;
  }
}

// End of helper mixins

@mixin icon($char) {
  content: quote($char);
  display: block;
  position: absolute;
}

///////////////////////////////////////////////////
// START OF COMPILED STYLESHEET ///////////////////
///////////////////////////////////////////////////

///////////////////////////////////////////////////
// #FONT-FACE DECLARATIONS ////////////////////////
///////////////////////////////////////////////////

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local('Roboto'),
    local('Roboto-Regular'),
    url(fonts/Roboto%20Regular%20V2.woff2) format('woff2'),
    url(fonts/Roboto%20Regular%20V2.woff) format('woff'),
    url(fonts/Roboto%20Regular%20V2.ttf) format('truetype');
  unicode-range: u+000-5ff;
}

@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src:
    local('Roboto Italic'),
    local('Roboto-Italic'),
    url(fonts/Roboto%20Italic%20V2.woff2) format('woff2'),
    url(fonts/Roboto%20Italic%20V2.woff) format('woff'),
    url(fonts/Roboto%20Italic%20V2.ttf) format('truetype');
  unicode-range: u+000-5ff;
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    local('Roboto Bold'),
    local('Roboto-Bold'),
    url(fonts/Roboto%20Bold%20V2.woff2) format('woff2'),
    url(fonts/Roboto%20Bold%20V2.woff) format('woff'),
    url(fonts/Roboto%20Bold%20V2.ttf) format('truetype');
  unicode-range: u+000-5ff;
}

@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local('Lato Regular'),
    local('Lato-Regular'),
    url(fonts/Lato%20Regular.woff2) format('woff2'),
    url(fonts/Lato%20Regular.woff) format('woff'),
    url(fonts/Lato%20Regular.ttf) format('truetype');
  unicode-range: u+000-5ff;
}

@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    local('Lato Bold'),
    local('Lato-Bold'),
    url(fonts/Lato%20Bold.woff2) format('woff2'),
    url(fonts/Lato%20Bold.woff) format('woff'),
    url(fonts/Lato%20Bold.ttf) format('truetype');
  unicode-range: u+000-5ff;
}

@font-face {
  font-family: 'A5_iOS7Icons';
  font-display: block;
  src:
    url(icons/A5_iOS7Icons.woff) format('woff'),
    url(icons/A5_iOS7Icons.ttf) format('truetype');
}

///////////////////////////////////////////////////
// #BASE-STYLES ///////////////////////////////////
///////////////////////////////////////////////////

html {
  font-family: sans-serif;
  scroll-behavior: smooth;
}

body {
  color: $g-color-off-black;
  font-family: $g-font-primary;
  line-height: 1.2;
  text-rendering: optimizeSpeed;
}

p,
li > span,
.iOS7LocalText,
.small-label {
  color: $g-color-text-primary;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.2;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

fieldset {
  border: 0;
  margin: 0;
  padding: .35em .75em .625em;
}

iframe,
img,
svg,
video {
  vertical-align: middle;
}

main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
th {
  font-family: $g-font-heading;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

%link-base-style {
  color: $g-color-brand-light;
  cursor: pointer;
  text-decoration: none !important;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;

  &,
  &:link,
  &:visited,
  &:hover,
  &:focus,
  &:active,
  &.iOS7LocalLink {
    @extend %link-base-style;
  }
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

small {
  color: $white;
  font-size: 80%;
}

table {
  border-collapse: collapse;
  font-variant-numeric: tabular-nums;
  font-size: get-val($g-font-sizes, sm);
}

th {
  background: $g-color-brand;
  border-left: 0;
  border-right: 0;
  color: $g-color-white;
  font-weight: 400;
  padding: 1.5rem 2px 1.5rem 0;
}

td {
  padding: .25rem 2px .25rem 0;
}

textarea {
  background: padding-box $g-color-off-white;
  border: 1px solid $g-color-border;
  border-radius: 10px;
  color: $g-color-off-black;
  overflow-y: auto;
  padding: .5rem .75rem !important;
  resize: none;
  vertical-align: top;

  &:focus {
    border-color: $g-color-brand-light;
  }
}

img { border-style: none; }

b,
strong {
  font-weight: bolder;
}

svg:not(:root) { overflow: hidden; }
svg:not([fill]) { fill: currentColor; }

ul {
  color: $g-color-brand-light;
  list-style: disc inside;
}

[type='checkbox'],
[type='radio'] {
  box-sizing: border-box;
  padding: 0;
}

[type='search'] { -webkit-appearance: textfield; }
[type='search']::-webkit-search-decoration { -webkit-appearance: none; }

select {
  outline: 0;
  overflow: hidden;
  text: {
    indent: .01px;
    overflow: '';
  }

  option {
    background: $g-color-off-white;
    padding: 0 .75rem 1px;
  }

  &::-ms-expand {
    display: none;
  }

  &[multiple] {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .5);
    color: inherit;
  }

  &:not([multiple]) > option {
    font-size: .875em;
  }
}

// stylelint-disable
input::-webkit-input-placeholder    { font-style: italic; }
input:-ms-input-placeholder         { font-style: italic; }
input::-ms-input-placeholder        { font-style: italic; }
input::placeholder                  { font-style: italic; }
textarea::-webkit-input-placeholder { font-style: italic; }
textarea:-ms-input-placeholder      { font-style: italic; }
textarea::-ms-input-placeholder     { font-style: italic; }
textarea::placeholder               { font-style: italic; }
// stylelint-enable

a:focus,
button:focus,
input:not([type='checkbox']):focus,
select:focus,
textarea:focus {
  outline: {
    color: transparent;
    style: none;
  }
}

///////////////////////////////////////////////////
// #HELPER CLASSES ////////////////////////////////
///////////////////////////////////////////////////

/// Applies the float clearing 'clearfix' hack, but as an @extend placeholder
%clearfix {
  &:after {
    clear: both;
    content: '';
    display: table;
  }
}

.group,
.clearfix {
  @extend %clearfix;
}

.flex-center { @include flex-center; }

.margin-centered {
  margin-left: auto !important;
  margin-right: auto !important;
}

.margin-top-20 { margin-top: 20px !important; }

.reset {
  font: inherit;
  margin: 0;
  padding: 0;
}

[hidden],
.is-hidden {
  display: none !important;
}

// .th2 and .td2 are legacy utility classes used in some old report tables
.th2,
.td2,
.transparent {
  color: transparent !important;
}

.unfloat { float: none !important; }
