@import 'rfs';
@import 'tt-base';

body {
  background-color: $g-color-off-white;
}

// Styles to add start here

@mixin make-nav-dropdowns-visible {
  opacity: 1 !important;
  visibility: visible !important;
  z-index: get-val($g-z-index, flyout-menu) !important;
}

$c-site-header-horiz-padding: 4%;
$c-site-header-height: 6.5rem;
$c-main-nav-color-transition: color 0.275s ease-out;
$c-main-nav-clamp-between-2-8px: max(2px, min(8px, 0.375vw));
$c-main-nav-active-bg-opacity: 0.95;
$c-main-nav-acct-dd-content-bg: rgba($g-color-white, 0.975);
$l-bp-hamburger: 50em;

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin make-links-white {
  &,
  &:link,
  &:visited {
    color: $g-color-white;
  }
}

%site-header-footer {
  box-sizing: border-box;
  left: 0;
  padding: 0 $c-site-header-horiz-padding;
  position: fixed;
  width: 100vw;
  z-index: get-val($g-z-index, site-nav);
}

%site-header-footer-logo-wrap {
  box-sizing: border-box;
  float: left;
  height: 100%;
  min-width: 6.75rem;
  width: 15%;
}

%site-header-footer-logo-link {
  @include flex-center(vertical);

  height: 100%;
}

%site-nav-section-list {
  @include size(100%);

  box-sizing: border-box;
  display: flex;

  @include max-width($l-bp-hamburger) {
    display: none;
    visibility: hidden;
  }
}

%btn-reset {
  -webkit-appearance: none;
     -moz-appearance: none;
  border: 0;
  box-sizing: border-box;
}

.site-header {
  @extend %site-header-footer;

  background: $g-color-brand;
  top: 0;
  height: $c-site-header-height;

  @include max-width($l-bp-hamburger) {
    height: 11.25vw;
  }

  &__logo-wrapper {
    @extend %site-header-footer-logo-wrap;
  }

  &__logo-link {
    @extend %site-header-footer-logo-link;
  }

  &__logo {
    width: 100%;
  }
}

 %main-nav-link-styles {
  @include flex-center(vertical);

  color: $g-color-white;
  cursor: pointer;
  font: 700 calc(0.6875rem + 0.75vw) $g-font-heading;
  flex-flow: row nowrap;
  height: 100%;
  text-transform: uppercase;

  &:not(.main-nav__drop-btn--acct):hover,
  &:not(.main-nav__drop-btn--acct):focus {
    background-color: shade($g-color-brand, 3.5%);
    color: $g-color-brand-tinted;

    > .main-nav__drop-content {
      background-color:
        rgba(shade($g-color-brand, 3.5%), $c-main-nav-active-bg-opacity);
    }
  }

  &:not(.main-nav__drop-btn--acct):active {
    background-color: shade($g-color-brand, 7%);
    color: $g-color-brand-light;

    > .main-nav__drop-content {
      background-color:
        rgba(shade($g-color-brand, 7%), $c-main-nav-active-bg-opacity);
    }
  }
}

@mixin nav-padding {
  padding: 0 0.5vw 1px;
  padding: 0 $c-main-nav-clamp-between-2-8px;
}

%main-nav-link-padding {
  @include nav-padding;

  @include min-width($l-bp-tablet-landscape) {
    padding-left: 1vw;
    padding-right: 1vw;
  }
}

%main-nav-button-transition {
  transition:
    $c-main-nav-color-transition,
    background-color 0.25s ease-out,
    padding 0.13s linear 5ms
}

%main-nav-drop-state-visible {
  @include make-nav-dropdowns-visible;
}

.main-nav {
  box-sizing: border-box;
  float: right;
  height: 100%;
  min-width: 50%;
  overflow: hidden;
  transition: min-width 125ms linear 5ms;

  @include min-width($l-bp-monitor-uw) {
    min-width: 40%;
  }

  &__section-list { // <ul class="main-nav__section-list">
    @extend %site-nav-section-list;

    justify-content: space-between;
  }

  &__section { // <li class="main-nav__section">
    box-sizing: border-box;
    letter-spacing: 1.3px;

    @include min-width($l-bp-content-max) { font-size: 1.25rem; }

    &--acct {
      margin-left: calc(0.38vw + 0.34375rem);
    }

    & > &-link { // <a class="main-nav__section-link">
      @extend %main-nav-link-styles;
      @extend %main-nav-link-padding;
      @extend %main-nav-button-transition;
    }
  }

   &__drop-content { // ul class="main-nav__drop-content
    @extend %main-nav-link-padding;

    background: border-box rgba($g-color-brand, 0.925);
    box-shadow:
      0 15px 24px rgba(tint($g-color-brand, 10%), 0.22),
      0 19px 76px rgba(tint($g-color-brand, 10%), 0.3);
    box-sizing: border-box;
    opacity: 0;
    padding-bottom: 0.2em;
    position: absolute;
    margin: 0.625rem 0.5vw 0;
    margin: 0.625rem $c-main-nav-clamp-between-2-8px 0;
    text-align: right;
    transition-duration: 95ms;
    transition-property: background-color, opacity;
    transition-timing-function: ease-out;
    transform: translate3d(-64.5% , 100%, 0);
    visibility: hidden;

    @include min-width($l-bp-tablet-landscape) {
      margin: 0.625rem 1vw 0;
    }

    &:hover,
    &:focus {
      transition-duration: 1s, 0.6s;
    }

    // focus-within is alone so that hover/focus aren't ignored by old browsers
    &:focus-within {
      transition-duration: 1s, 0.6s;
    }

    &--acct {
      border-radius: 0 0 0.75rem 0.75rem;
      border: 2px solid $g-color-brand-light;
      border-top-width: 1px;
      margin-top: 0;
      right: 0;
      text-align: center;
      transform: translate3d(-50%, 82%, 0);

      @include min-width($l-bp-tablet-landscape) {
        transform: translate3d(-48.5%, 82%, 0);
      }

      @include min-width($l-bp-content-max) {
        transform: translate3d(-47.5%, 82%, 0);
      }

      @include min-width($l-bp-monitor-qhd + 0.0625em) {
        transform: translate3d(-45%, 82%, 0);
      }

      &:hover,
      &:focus {
        background-color: $c-main-nav-acct-dd-content-bg;
      }

      &:focus-within {
        background-color: $c-main-nav-acct-dd-content-bg;
      }
    }
  }

  &__drop-btn { // <button class="main-nav__drop-btn">
    @extend %main-nav-link-styles;
    @extend %main-nav-link-padding;

    background: none;
    font-weight: 700;

    &:hover,
    &:focus {
      > .main-nav__drop-content {
        @extend %main-nav-drop-state-visible;
      }

      .main-nav__drop-section {
        line-height: 1.45
      }
    }

    &:focus-within {
      > .main-nav__drop-content {
        @include make-nav-dropdowns-visible;
      }

      .main-nav__drop-section {
        line-height: 1.45
      }
    }

    &--acct { // <button class="main-nav__drop-btn--acct>
      > span {
        @extend %main-nav-button-transition;

        @include flex-center(vertical);

        border: 0.12em solid $g-color-brand-tinted;
        border-radius: 1rem;
        box-sizing: border-box;
        line-height: 100%;
        padding: 0.2em 0.4em 0.2em 0.6em;

        &:after {
          content: entity('small-triangle--down');
          display: inline-block;
          font-size: 1.25em;
          left: 0.125em;
          position: relative;
          transition: transform 0.35s ease-out;
        }
      }

      &:hover > span,
      &:focus > span {
        background-color: $g-color-brand-light;
        border-color: $g-color-brand-light;
        color: $g-color-white;

        &:after {
          transform: rotate(-180deg);
        }
      }

      &:focus-within > span {
        background-color: $g-color-brand-light;
        border-color: $g-color-brand-light;
        color: $g-color-white;

        &:after {
          transform: rotate(-180deg);
        }
      }

      &:active > span {
        background-color: shade($g-color-brand-light, 5%);
        border-color: shade($g-color-brand-light, 5%);
      }

      &:hover > .main-nav__drop-content,
      &:focus > .main-nav__drop-content {
        background-color: $c-main-nav-acct-dd-content-bg;
      }

      &:focus-within > .main-nav__drop-content {
        background-color: $c-main-nav-acct-dd-content-bg;
      }
    }

    &:hover .main-nav__drop-link,
    &:focus .main-nav__drop-link {
      color: rgba($g-color-white, 1);
    }

    &:focus-within .main-nav__drop-link {
      color: rgba($g-color-white, 1);
    }

    &--acct:hover .main-nav__drop-link,
    &--acct:focus .main-nav__drop-link {
      color: rgba($g-color-brand, 1);
    }

    &--acct:focus-within .main-nav__drop-link {
      color: rgba($g-color-brand, 1);
    }
  }

  &__drop-section { // <li class="main-nav__drop-section">
    display: block;
    font: 700 calc(0.5rem + 0.6vw)/0 $g-font-heading;
    letter-spacing: 0.125ch;
    transition: line-height 0.35s ease-out;
    transform: translateZ(0);

    > .main-nav__drop-link {
      color: rgba($g-color-brand-tinted, 0);
      text-transform: none;
      transition: $c-main-nav-color-transition;
    }

    &:hover > .main-nav__drop-link,
    > .main-nav__drop-link:focus {
      color: $g-color-white;
    }

    &--acct:hover > .main-nav__drop-link,
    > .main-nav__drop-link:focus {
      color: $g-color-brand;
    }

    > .main-nav__drop-link:hover,
    > .main-nav__drop-link:focus {
      color: $g-color-brand-tinted;
    }

    > .main-nav__drop-link:active {
      color: shade($g-color-brand-tinted, 12%);
    }

    &--acct {
      > .main-nav__drop-link:hover,
      > .main-nav__drop-link:focus {
        color: $g-color-brand-light;
      }

      > .main-nav__drop-link:active {
        color: shade($g-color-brand-light, 12%);
      }
    }
  }

  &__menu-btn {
    $lv-inset-color: shade($g-color-brand, 12%);

    @extend %btn-reset;

    background:
      url('../img/hamburger.svg')
      center
      no-repeat
      $lv-inset-color;
    border-radius: 1em;
    color: $g-color-white;
    cursor: pointer;
    display: none;
    height: 60%;
    position: absolute;
    right: 4%;
    top: 50%;
    transform: translateY(-50%);
    width: 4rem;

    @include max-width($l-bp-hamburger) {
      display: block;
    }

    &:hover,
    &:focus {
      box-shadow: inset 2px 4px 99px 9px rgba($lv-inset-color, 0.15);
    }

    // TODO: Fix this and focus-visible or remove
    &:-moz-focusring {
      border: 1px solid $g-color-brand-light;
    }

    &:focus-visible {
      border: 1px solid $g-color-brand-light;
    }

    &:active {
      animation-play-state: running;
      border: 0;
    }

    &--esc {
      position: static;
      height: 3.375rem;
    }
  }

  &__flyout-menu {
    align-items: center;
    background: $g-color-brand;
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;
    justify-content: space-around;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity 0.5s ease-out;
    visibility: hidden;
    width: 100vw;
    z-index: -1;
  }

  &__flyout-section {
    &:last-child {
      width: 100%;
    }

    &--esc {
      align-self: flex-end;
      margin: 2.5% 4% 0 0;
    }
  }

  &__flyout-link {
    @include make-links-white;

    font-size: 1.375rem;
    font-size: calc(1rem + 0.5vh);

    &:hover,
    &:focus {

    }

    &--esc {
      background: shade($g-color-brand, 25%);
      border-radius: 1rem;
      cursor: pointer;
      font-size: 2em;
      font-variant: small-caps;
      font-weight: 700;
      min-height: 2.75rem;
      width: 4rem;

      &:hover,
      &:focus {
        // color: $g-color-brand-shading;
      }
    }

    &--doc {
      font-size: 1em;
      font-size: calc(0.75em + 0.5vh);
    }
  }

  &__flyout-doc-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  &__flyout-doc-item {

  }

  .is-active {
    > .main-nav__section-link,
    > .main-nav__drop-btn {
      color: tint($g-color-brand-tinted, 35%);

      &:hover,
      &:focus {
        cursor: default;
      }
    }

    > .main-nav__drop-btn > span {
       border-color: $g-color-yellow-tinted;
    }
  }
}

.site-footer {
  @extend %site-header-footer;

  background: $g-color-off-black;
  bottom: 0;
  height: $c-site-header-height * 0.75;
  transition: height 0.45s ease-out;

  @include max-width($l-bp-hamburger) {
    height: 1rem;
  }

  &__logo-wrapper {
    @extend %site-header-footer-logo-wrap;

    max-width: 7.5%;
    min-width: 5.25rem;

    @include max-width($l-bp-hamburger) {
      display: none;
      visibility: hidden;
    }
  }

  &__logo-link {
    @extend %site-header-footer-logo-link;
  }

  &__logo {
    max-width: 100%;
  }

  &__legal-container {
    @include flex-center(vertical);

    flex-flow: row nowrap;
    float: right;
    font: calc(0.425rem + 0.375vw) $g-font-heading;
    height: 100%;
    justify-content: flex-end;
    min-width: 80%;
    overflow: hidden;

    @include min-width($l-bp-content-max) {
      min-width: 60%;
    }
  }

  &__cr-msg {
    font-size: 95%;
    margin-left: 1em;
    text-transform: uppercase;
    white-space: nowrap;

    &:before {
      content: '//';
      position: relative;
      left: -4px;
    }
  }

  &__company-link {
    @include make-links-white;
  }
}

.footer-nav {
  font-weight: 700;
  width: 100%;

  @include max-width($l-bp-hamburger) {
    display: none;
  }

  &__doc-list {
    @extend %site-nav-section-list;

    justify-content: space-around;
  }

  &__doc-item {
    box-sizing: border-box;
    margin: 0 0.5em;
  }

  &__doc-link {
    @include make-links-white;

    letter-spacing: 1px;
    text-transform: uppercase;
    transition: $c-main-nav-color-transition;

    &:hover,
    &:focus {
      color: $g-color-brand-tinted;
    }

    &:active {
      color: shade($g-color-brand-tinted, 12%);
    }
  }
}

.is-open {
  @extend %main-nav-drop-state-visible;
}

////////////////////////////////////////////////////////////////
// End of nav styles, rest are just for prototype, do not add //
////////////////////////////////////////////////////////////////

.main-content {
  height: 99999px;
}

.options-panel {
  align-items: center;
  background: $g-color-white;
  border-bottom: 2px solid $g-color-brand;
  box-sizing: border-box;
  display: none; // TODO: Delete this
  // display: flex;
  height: 3.5rem;
  justify-content: space-evenly;
  position: fixed;
  left: 0;
  top: $c-site-header-height;
  width: 100%;

  &__label {
    font-style: italic;
  }
}

// Highlight design. TODO: Delete once design work completed
// * { background-color: rgba(255, 0, 0, 0.2); }
// * * { background-color: rgba(0, 255, 0, 0.2); }
// * * * { background-color: rgba(0, 0, 255, 0.2); }
// * * * * { background-color: rgba(255, 0, 255, 0.2); }
// * * * * * { background-color: rgba(0, 255, 255, 0.2); }
// * * * * * * { background-color: rgba(255, 255, 0, 0.2); }
// * * * * * * * { background-color: rgba(255, 0, 0, 0.2); }
// * * * * * * * * { background-color: rgba(0, 255, 0, 0.2); }
// * * * * * * * * * { background-color: rgba(0, 0, 255, 0.2); }
