<section class="tile covid-map-tile">
	<header>
		<h2 class="covid-heading">Babbage Retail Recovery Map</h2>
		<h3>Percent staying at home</h3>
	</header>
	<div class="tile-content">
		<div class="map-wrap map-wrap--covid">
			<iframe class="map-iframe"
				src="https://trutradereview.alexanderbabbage.com/covid.html?centers={Centerid}">
			</iframe>
		</div>
	</div>
</section>
