@charset "UTF-8";
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Roboto"), local("Roboto-Regular"), url(fonts/Roboto%20Regular%20V2.woff2) format("woff2"), url(fonts/Roboto%20Regular%20V2.woff) format("woff"), url(fonts/Roboto%20Regular%20V2.ttf) format("truetype");
  unicode-range: u+000-5ff;
}
@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local("Roboto Italic"), local("Roboto-Italic"), url(fonts/Roboto%20Italic%20V2.woff2) format("woff2"), url(fonts/Roboto%20Italic%20V2.woff) format("woff"), url(fonts/Roboto%20Italic%20V2.ttf) format("truetype");
  unicode-range: u+000-5ff;
}
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Roboto Bold"), local("Roboto-Bold"), url(fonts/Roboto%20Bold%20V2.woff2) format("woff2"), url(fonts/Roboto%20Bold%20V2.woff) format("woff"), url(fonts/Roboto%20Bold%20V2.ttf) format("truetype");
  unicode-range: u+000-5ff;
}
@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Lato Regular"), local("Lato-Regular"), url(fonts/Lato%20Regular.woff2) format("woff2"), url(fonts/Lato%20Regular.woff) format("woff"), url(fonts/Lato%20Regular.ttf) format("truetype");
  unicode-range: u+000-5ff;
}
@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Lato Bold"), local("Lato-Bold"), url(fonts/Lato%20Bold.woff2) format("woff2"), url(fonts/Lato%20Bold.woff) format("woff"), url(fonts/Lato%20Bold.ttf) format("truetype");
  unicode-range: u+000-5ff;
}
@font-face {
  font-family: "A5_iOS7Icons";
  font-display: block;
  src: url(icons/A5_iOS7Icons.woff) format("woff"), url(icons/A5_iOS7Icons.ttf) format("truetype");
}
html {
  font-family: sans-serif;
  scroll-behavior: smooth;
}

body {
  color: #414042;
  font-family: Roboto, "Source Sans Pro", "Helvetica Neue", HelveticaNeue, Arial, -apple-system, "Segoe UI", BlinkMacSystemFont, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.2;
  text-rendering: optimizeSpeed;
}

p,
li > span,
.iOS7LocalText,
.small-label {
  color: #6d6e71;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.2;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0.35em 0.75em 0.625em;
}

iframe,
img,
svg,
video {
  vertical-align: middle;
}

main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
th {
  font-family: Lato, Oxygen, "Open Sans", "Lucida Grande", Tahoma, Verdana, sans-serif;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

a, a:link, a:visited, a:hover, a:focus, a:active, a.iOS7LocalLink {
  color: #4fa2d9;
  cursor: pointer;
  text-decoration: none !important;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

small {
  color: #fff;
  font-size: 80%;
}

table {
  border-collapse: collapse;
  font-size: 0.875rem;
  font-variant-numeric: tabular-nums;
}

th {
  background: #2a3c68;
  border-left: 0;
  border-right: 0;
  color: #fff;
  font-weight: 400;
  padding: 1.5rem 2px 1.5rem 0;
}

td {
  padding: 0.25rem 2px 0.25rem 0;
}

textarea {
  background: padding-box #f1f2f2;
  border: 1px solid #bcbec0;
  border-radius: 10px;
  color: #414042;
  overflow-y: auto;
  padding: 0.5rem 0.75rem !important;
  resize: none;
  vertical-align: top;
}
textarea:focus {
  border-color: #4fa2d9;
}

img {
  border-style: none;
}

b,
strong {
  font-weight: bolder;
}

svg:not(:root) {
  overflow: hidden;
}

svg:not([fill]) {
  fill: currentColor;
}

ul {
  color: #4fa2d9;
  list-style: disc inside;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=search] {
  -webkit-appearance: textfield;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

select {
  outline: 0;
  overflow: hidden;
  text-indent: 0.01px;
  text-overflow: "";
}
select option {
  background: #f1f2f2;
  padding: 0 0.75rem 1px;
}
select::-ms-expand {
  display: none;
}
select[multiple] {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
  color: inherit;
}
select:not([multiple]) > option {
  font-size: 0.875em;
}

input::-webkit-input-placeholder {
  font-style: italic;
}

input:-ms-input-placeholder {
  font-style: italic;
}

input::-ms-input-placeholder {
  font-style: italic;
}

input::placeholder {
  font-style: italic;
}

textarea::-webkit-input-placeholder {
  font-style: italic;
}

textarea:-ms-input-placeholder {
  font-style: italic;
}

textarea::-ms-input-placeholder {
  font-style: italic;
}

textarea::placeholder {
  font-style: italic;
}

a:focus,
button:focus,
input:not([type=checkbox]):focus,
select:focus,
textarea:focus {
  outline-color: transparent;
  outline-style: none;
}

.clearfix:after,
.group:after {
  clear: both;
  content: "";
  display: table;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.margin-centered {
  margin-left: auto !important;
  margin-right: auto !important;
}

.margin-top-20 {
  margin-top: 20px !important;
}

.reset {
  font: inherit;
  margin: 0;
  padding: 0;
}

[hidden],
.is-hidden {
  display: none !important;
}

.th2,
.td2,
.transparent {
  color: transparent !important;
}

.unfloat {
  float: none !important;
}

body {
  background-color: #f1f2f2;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-footer, .site-header {
  box-sizing: border-box;
  left: 0;
  padding: 0 4%;
  position: fixed;
  width: 100vw;
  z-index: 9;
}

.site-footer__logo-wrapper, .site-header__logo-wrapper {
  box-sizing: border-box;
  float: left;
  height: 100%;
  min-width: 6.75rem;
  width: 15%;
}

.site-footer__logo-link, .site-header__logo-link {
  align-items: center;
  display: flex;
  height: 100%;
}

.footer-nav__doc-list, .main-nav__section-list {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
}
@media only screen and (max-width: 50em) {
  .footer-nav__doc-list, .main-nav__section-list {
    display: none;
    visibility: hidden;
  }
}

.main-nav__menu-btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 0;
  box-sizing: border-box;
}

.site-header {
  background: #2a3c68;
  top: 0;
  height: 5.5rem;
}
@media only screen and (max-width: 50em) {
  .site-header {
    height: 11.25vw;
  }
}
.site-header__logo {
  width: 100%;
}

.main-nav__drop-btn, .main-nav__section > .main-nav__section-link {
  align-items: center;
  display: flex;
  color: #fff;
  cursor: pointer;
  font: 700 calc(0.6875rem + 0.75vw) Lato, Oxygen, "Open Sans", "Lucida Grande", Tahoma, Verdana, sans-serif;
  flex-flow: row nowrap;
  height: 100%;
  text-transform: uppercase;
}
.main-nav__drop-btn:not(.main-nav__drop-btn--acct):hover, .main-nav__section > .main-nav__section-link:not(.main-nav__drop-btn--acct):hover, .main-nav__drop-btn:not(.main-nav__drop-btn--acct):focus, .main-nav__section > .main-nav__section-link:not(.main-nav__drop-btn--acct):focus {
  background-color: #293a64;
  color: #8ed8f8;
}
.main-nav__drop-btn:not(.main-nav__drop-btn--acct):hover > .main-nav__drop-content, .main-nav__section > .main-nav__section-link:not(.main-nav__drop-btn--acct):hover > .main-nav__drop-content, .main-nav__drop-btn:not(.main-nav__drop-btn--acct):focus > .main-nav__drop-content, .main-nav__section > .main-nav__section-link:not(.main-nav__drop-btn--acct):focus > .main-nav__drop-content {
  background-color: rgba(41, 58, 100, 0.95);
}
.main-nav__drop-btn:not(.main-nav__drop-btn--acct):active, .main-nav__section > .main-nav__section-link:not(.main-nav__drop-btn--acct):active {
  background-color: #273861;
  color: #4fa2d9;
}
.main-nav__drop-btn:not(.main-nav__drop-btn--acct):active > .main-nav__drop-content, .main-nav__section > .main-nav__section-link:not(.main-nav__drop-btn--acct):active > .main-nav__drop-content {
  background-color: rgba(39, 56, 97, 0.95);
}

.main-nav__drop-btn, .main-nav__drop-content, .main-nav__section > .main-nav__section-link {
  padding: 0 0.5vw 1px;
  padding: 0 max(2px, min(8px, 0.375vw));
}
@media only screen and (min-width: 64em) {
  .main-nav__drop-btn, .main-nav__drop-content, .main-nav__section > .main-nav__section-link {
    padding-left: 1vw;
    padding-right: 1vw;
  }
}

.main-nav__drop-btn--acct > span, .main-nav__section > .main-nav__section-link {
  transition: color 0.275s ease-out, background-color 0.25s ease-out, padding 0.13s linear 5ms;
}

.is-open, .main-nav__drop-btn:hover > .main-nav__drop-content, .main-nav__drop-btn:focus > .main-nav__drop-content {
  opacity: 1 !important;
  visibility: visible !important;
  z-index: 99 !important;
}

.main-nav {
  box-sizing: border-box;
  float: right;
  height: 100%;
  min-width: 50%;
  overflow: hidden;
  transition: min-width 125ms linear 5ms;
}
@media only screen and (min-width: 215em) {
  .main-nav {
    min-width: 40%;
  }
}
.main-nav__section-list {
  justify-content: space-between;
}
.main-nav__section {
  box-sizing: border-box;
  letter-spacing: 1.3px;
}
@media only screen and (min-width: 75em) {
  .main-nav__section {
    font-size: 1.25rem;
  }
}
.main-nav__section--acct {
  margin-left: calc(0.38vw + 0.34375rem);
}
.main-nav__drop-content {
  background: border-box rgba(42, 60, 104, 0.925);
  box-shadow: 0 15px 24px rgba(63, 80, 119, 0.22), 0 19px 76px rgba(63, 80, 119, 0.3);
  box-sizing: border-box;
  opacity: 0;
  padding-bottom: 0.2em;
  position: absolute;
  margin: 0.625rem 0.5vw 0;
  margin: 0.625rem max(2px, min(8px, 0.375vw)) 0;
  text-align: right;
  transition-duration: 95ms;
  transition-property: background-color, opacity;
  transition-timing-function: ease-out;
  transform: translate3d(-64.5%, 100%, 0);
  visibility: hidden;
}
@media only screen and (min-width: 64em) {
  .main-nav__drop-content {
    margin: 0.625rem 1vw 0;
  }
}
.main-nav__drop-content:hover, .main-nav__drop-content:focus {
  transition-duration: 1s, 0.6s;
}
.main-nav__drop-content:focus-within {
  transition-duration: 1s, 0.6s;
}
.main-nav__drop-content--acct {
  border-radius: 0 0 0.75rem 0.75rem;
  border: 2px solid #4fa2d9;
  border-top-width: 1px;
  margin-top: 0;
  right: 0;
  text-align: center;
  transform: translate3d(-50%, 82%, 0);
}
@media only screen and (min-width: 64em) {
  .main-nav__drop-content--acct {
    transform: translate3d(-48.5%, 82%, 0);
  }
}
@media only screen and (min-width: 75em) {
  .main-nav__drop-content--acct {
    transform: translate3d(-47.5%, 82%, 0);
  }
}
@media only screen and (min-width: 160.0625em) {
  .main-nav__drop-content--acct {
    transform: translate3d(-45%, 82%, 0);
  }
}
.main-nav__drop-content--acct:hover, .main-nav__drop-content--acct:focus {
  background-color: rgba(255, 255, 255, 0.975);
}
.main-nav__drop-content--acct:focus-within {
  background-color: rgba(255, 255, 255, 0.975);
}
.main-nav__drop-btn {
  background: none;
  font-weight: 700;
}
.main-nav__drop-btn:hover .main-nav__drop-section, .main-nav__drop-btn:focus .main-nav__drop-section {
  line-height: 1.45;
}
.main-nav__drop-btn:focus-within > .main-nav__drop-content {
  opacity: 1 !important;
  visibility: visible !important;
  z-index: 99 !important;
}
.main-nav__drop-btn:focus-within .main-nav__drop-section {
  line-height: 1.45;
}
.main-nav__drop-btn--acct > span {
  align-items: center;
  display: flex;
  border: 0.12em solid #8ed8f8;
  border-radius: 1rem;
  box-sizing: border-box;
  line-height: 100%;
  padding: 0.2em 0.4em 0.2em 0.6em;
}
.main-nav__drop-btn--acct > span:after {
  content: "▾";
  display: inline-block;
  font-size: 1.25em;
  left: 0.125em;
  position: relative;
  transition: transform 0.35s ease-out;
}
.main-nav__drop-btn--acct:hover > span, .main-nav__drop-btn--acct:focus > span {
  background-color: #4fa2d9;
  border-color: #4fa2d9;
  color: #fff;
}
.main-nav__drop-btn--acct:hover > span:after, .main-nav__drop-btn--acct:focus > span:after {
  transform: rotate(-180deg);
}
.main-nav__drop-btn--acct:focus-within > span {
  background-color: #4fa2d9;
  border-color: #4fa2d9;
  color: #fff;
}
.main-nav__drop-btn--acct:focus-within > span:after {
  transform: rotate(-180deg);
}
.main-nav__drop-btn--acct:active > span {
  background-color: #4b9ace;
  border-color: #4b9ace;
}
.main-nav__drop-btn--acct:hover > .main-nav__drop-content, .main-nav__drop-btn--acct:focus > .main-nav__drop-content {
  background-color: rgba(255, 255, 255, 0.975);
}
.main-nav__drop-btn--acct:focus-within > .main-nav__drop-content {
  background-color: rgba(255, 255, 255, 0.975);
}
.main-nav__drop-btn:hover .main-nav__drop-link, .main-nav__drop-btn:focus .main-nav__drop-link {
  color: white;
}
.main-nav__drop-btn:focus-within .main-nav__drop-link {
  color: white;
}
.main-nav__drop-btn--acct:hover .main-nav__drop-link, .main-nav__drop-btn--acct:focus .main-nav__drop-link {
  color: #2a3c68;
}
.main-nav__drop-btn--acct:focus-within .main-nav__drop-link {
  color: #2a3c68;
}
.main-nav__drop-section {
  display: block;
  font: 700 calc(0.5rem + 0.6vw)/0 Lato, Oxygen, "Open Sans", "Lucida Grande", Tahoma, Verdana, sans-serif;
  letter-spacing: 0.125ch;
  transition: line-height 0.35s ease-out;
  transform: translateZ(0);
}
.main-nav__drop-section > .main-nav__drop-link {
  color: rgba(142, 216, 248, 0);
  text-transform: none;
  transition: color 0.275s ease-out;
}
.main-nav__drop-section:hover > .main-nav__drop-link,
.main-nav__drop-section > .main-nav__drop-link:focus {
  color: #fff;
}
.main-nav__drop-section--acct:hover > .main-nav__drop-link,
.main-nav__drop-section > .main-nav__drop-link:focus {
  color: #2a3c68;
}
.main-nav__drop-section > .main-nav__drop-link:hover,
.main-nav__drop-section > .main-nav__drop-link:focus {
  color: #8ed8f8;
}
.main-nav__drop-section > .main-nav__drop-link:active {
  color: #7dbeda;
}
.main-nav__drop-section--acct > .main-nav__drop-link:hover,
.main-nav__drop-section--acct > .main-nav__drop-link:focus {
  color: #4fa2d9;
}
.main-nav__drop-section--acct > .main-nav__drop-link:active {
  color: #468fbf;
}
.main-nav__menu-btn {
  background: url(../img/hamburger.svg) center no-repeat #25355c;
  border-radius: 1em;
  color: #fff;
  cursor: pointer;
  display: none;
  height: 60%;
  position: absolute;
  right: 4%;
  top: 50%;
  transform: translateY(-50%);
  width: 4rem;
}
@media only screen and (max-width: 50em) {
  .main-nav__menu-btn {
    display: block;
  }
}
.main-nav__menu-btn:hover, .main-nav__menu-btn:focus {
  box-shadow: inset 2px 4px 99px 9px rgba(37, 53, 92, 0.15);
}
.main-nav__menu-btn:-moz-focusring {
  border: 1px solid #4fa2d9;
}
.main-nav__menu-btn:focus-visible {
  border: 1px solid #4fa2d9;
}
.main-nav__menu-btn:active {
  animation-play-state: running;
  border: 0;
}
.main-nav__menu-btn--esc {
  position: static;
  height: 3.375rem;
}
.main-nav__flyout-menu {
  align-items: center;
  background: #2a3c68;
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
  justify-content: space-around;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: opacity 0.5s ease-out;
  visibility: hidden;
  width: 100vw;
  z-index: -1;
}
.main-nav__flyout-section:last-child {
  width: 100%;
}
.main-nav__flyout-section--esc {
  align-self: flex-end;
  margin: 2.5% 4% 0 0;
}
.main-nav__flyout-link {
  font-size: 1.375rem;
  font-size: calc(1rem + 0.5vh);
}
.main-nav__flyout-link, .main-nav__flyout-link:link, .main-nav__flyout-link:visited {
  color: #fff;
}
.main-nav__flyout-link--esc {
  background: #202d4e;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 2em;
  font-variant: small-caps;
  font-weight: 700;
  min-height: 2.75rem;
  width: 4rem;
}
.main-nav__flyout-link--doc {
  font-size: 1em;
  font-size: calc(0.75em + 0.5vh);
}
.main-nav__flyout-doc-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.main-nav .is-active > .main-nav__section-link,
.main-nav .is-active > .main-nav__drop-btn {
  color: #b6e6fa;
}
.main-nav .is-active > .main-nav__section-link:hover, .main-nav .is-active > .main-nav__section-link:focus,
.main-nav .is-active > .main-nav__drop-btn:hover,
.main-nav .is-active > .main-nav__drop-btn:focus {
  cursor: default;
}
.main-nav .is-active > .main-nav__drop-btn > span {
  border-color: #fce6a3;
}

.site-footer {
  background: #414042;
  bottom: 0;
  height: 4.125rem;
  transition: height 0.45s ease-out;
}
@media only screen and (max-width: 50em) {
  .site-footer {
    height: 1rem;
  }
}
.site-footer__logo-wrapper {
  min-width: 5.25rem;
  width: 7.5%;
}
@media only screen and (max-width: 50em) {
  .site-footer__logo-wrapper {
    display: none;
    visibility: hidden;
  }
}
.site-footer__logo {
  width: 100%;
}
.site-footer__legal-container {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  float: right;
  font: 700 calc(0.425rem + 0.375vw) Lato, Oxygen, "Open Sans", "Lucida Grande", Tahoma, Verdana, sans-serif;
  height: 100%;
  justify-content: flex-end;
  min-width: 80%;
  overflow: hidden;
}
@media only screen and (min-width: 75em) {
  .site-footer__legal-container {
    min-width: 60%;
  }
}
.site-footer__cr-msg {
  font-size: 95%;
  font-weight: 400;
  margin-left: 1em;
  white-space: nowrap;
}
.site-footer__cr-msg:before {
  content: "//";
  position: relative;
  left: -4px;
}
.site-footer__company-link, .site-footer__company-link:link, .site-footer__company-link:visited {
  color: #fff;
}

.footer-nav {
  width: 100%;
}
@media only screen and (max-width: 50em) {
  .footer-nav {
    display: none;
  }
}
.footer-nav__doc-list {
  justify-content: space-around;
}
.footer-nav__doc-item {
  box-sizing: border-box;
  margin: 0 0.5em;
}
.footer-nav__doc-link {
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: color 0.275s ease-out;
}
.footer-nav__doc-link, .footer-nav__doc-link:link, .footer-nav__doc-link:visited {
  color: #fff;
}
.footer-nav__doc-link:hover, .footer-nav__doc-link:focus {
  color: #8ed8f8;
}
.footer-nav__doc-link:active {
  color: #7dbeda;
}

.main-content {
  height: 99999px;
}

.options-panel {
  align-items: center;
  background: #fff;
  border-bottom: 2px solid #2a3c68;
  box-sizing: border-box;
  display: none;
  height: 3.5rem;
  justify-content: space-evenly;
  position: fixed;
  left: 0;
  top: 5.5rem;
  width: 100%;
}
.options-panel__label {
  font-style: italic;
}

/*# sourceMappingURL=tt-nav.css.map */
