@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
    url('fonts/Roboto Regular V2.woff2') format('woff2'),
    url('fonts/Roboto Regular V2.woff') format('woff'),
    url('fonts/Roboto Regular V2.ttf') format('truetype');
  font-display: swap;
  unicode-range: U+0020-007F, U+00A9, U+00AB, U+00AE, U+00BB;
}

@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Italic'), local('Roboto-Italic'),
    url('fonts/Roboto Italic V2.woff2') format('woff2'),
    url('fonts/Roboto Italic V2.woff') format('woff'),
    url('fonts/Roboto Italic V2.ttf') format('truetype');
  font-display: swap;
  unicode-range: U+0020-007F;
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'),
    url('fonts/Roboto Bold V2.woff2') format('woff2'),
    url('fonts/Roboto Bold V2.woff') format('woff'),
    url('fonts/Roboto Bold V2.ttf') format('truetype');
  font-display: swap;
  unicode-range: U+0020-007F, U+00A9, U+00AB, U+00AE, U+00BB;
}

@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'),
    url('fonts/Lato Regular.woff2') format('woff2'),
    url('fonts/Lato Regular.woff') format('woff'),
    url('fonts/Lato Regular.ttf') format('truetype');
  font-display: swap;
  unicode-range: U+0020-007F, U+00A9, U+00AB, U+00AE, U+00BB;
}

@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'),
    url('fonts/Lato Bold.woff2') format('woff2'),
    url('fonts/Lato Bold.woff') format('woff'),
    url('fonts/Lato Bold.ttf') format('truetype');
  font-display: swap;
  unicode-range: U+0020-007F, U+00A9, U+00AB, U+00AE, U+00BB;
}

@font-face {
  font-family: 'A5_iOS7Icons';
  src: url('icons/A5_iOS7Icons.woff') format('woff'),
    url('icons/A5_iOS7Icons.ttf') format('truetype');
  font-display: block;
}

html {
  cursor: default;
  font-family: sans-serif;
  line-height: 1.2;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}

body {
  color: #414042;
  font-family: Roboto, Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  text-rendering: optimizeSpeed;
}

p,
li > span,
.iOS7LocalText,
.small-label {
  color: #6d6e71;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.2;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0.35em 0.75em 0.625em;
}

iframe,
img,
svg,
video {
  vertical-align: middle;
}

main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
th {
  font-family: Lato, Oxygen, 'Open Sans', 'Lucida Grande', Tahoma, Verdana,
    sans-serif;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

a,
a:visited,
a:hover,
a:focus,
a:active,
a.iOS7LocalLink,
.iOS7LocalLink {
  color: #4fa2d9;
  cursor: pointer;
  text-decoration: none !important;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

small {
  color: #fff;
  font-size: 80%;
}

table {
  border-collapse: collapse;
  font-size: 0.875rem;
  font-variant-numeric: tabular-nums;
}

th {
  background: #2a3c68;
  border-left: 0;
  border-right: 0;
  color: #fff;
  font-weight: 400;
  padding: 1.5rem 2px 1.5rem 0;
}

td {
  padding: 0.25rem 2px 0.25rem 0;
}

textarea {
  background: padding-box #f1f2f2;
  border: 1px solid #bcbec0;
  border-radius: 10px;
  color: #414042;
  overflow-y: auto;
  padding: 0.5rem 0.75rem !important;
  resize: none;
  vertical-align: top;
}
textarea:focus {
  border-color: #4fa2d9;
}

img {
  border-style: none;
}

b,
strong {
  font-weight: bolder;
}

code {
  background: #fff;
  font-family: monospace, monospace;
  font-size: 1em;
  letter-spacing: 1.3px;
}

svg:not(:root) {
  overflow: hidden;
}

svg:not([fill]) {
  fill: currentColor;
}

ul {
  color: #4fa2d9;
  list-style: disc inside;
}

[type='checkbox'],
[type='radio'] {
  box-sizing: border-box;
  padding: 0;
}

[type='search'] {
  -webkit-appearance: textfield;
}

[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

select {
  overflow: hidden;
  text-indent: 0.01px;
  text-overflow: '';
}
select option {
  background: #f1f2f2;
  padding: 0 0.75rem 1px;
}
select[multiple] {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
  color: inherit;
}
select:not([multiple]) > option {
  font-size: 0.875em;
}

::-webkit-input-placeholder {
  font-style: italic;
}

::placeholder {
  font-style: italic;
}

button:focus,
input:not([type='checkbox']):focus,
select:focus,
textarea:focus {
  outline: 0;
}

.clearfix:after,
.group:after {
  clear: both;
  content: '';
  display: table;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.h-pos-center {
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}

.margin-centered {
  margin-left: auto !important;
  margin-right: auto !important;
}

.margin-top-20 {
  margin-top: 20px !important;
}

.margin-left-25 {
  margin-left: 25px !important;
}

.italic {
  font-style: italic;
}

.reset {
  font: inherit;
  margin: 0;
  padding: 0;
}

.is-hidden {
  display: none !important;
}

.is-weakly-hidden {
  display: none;
}

.is-visually-hidden {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.is-invisible {
  opacity: 0 !important;
  visibility: hidden !important;
}

.th2,
.td2,
.transparent {
  color: transparent !important;
}

.unfloat {
  float: none !important;
}

.no-text-transform {
  text-transform: none !important;
}

.welcome-txt-wrapper {
  display: inline-block;
  margin-top: 1.5625rem;
}

.iOS7LocalPage {
  background: #f1f2f2;
  color: #6d6e71;
}

.iOS7LocalHeading {
  font: 700 1rem/1.2 Lato, Oxygen, 'Open Sans', 'Lucida Grande', Tahoma, Verdana,
    sans-serif;
}

.iOS7LocalGroup {
  border: 1px solid #141d32;
  border-radius: 0;
  font-size: 0.875rem;
  margin-bottom: 2px;
  margin-top: 2px;
  padding: 0.5rem;
}

.iOS7LocalGroupLabel {
  background: #2a3c68;
  border: 1px solid #141d32;
  color: #fff;
  font-size: 0.875rem;
  margin-left: -0.5625rem;
  margin-right: -0.5625rem;
  padding: 0.5rem;
  width: 100%;
}

.iOS7LocalUILock {
  background: #000;
  opacity: 0.5;
}

.iOS7LocalGrid {
  border: 2px solid #bcbec0;
  margin-bottom: 1rem;
  max-width: 100% !important;
}

.iOS7LocalGridHeader {
  height: 3.5rem !important;
  max-height: 3.5rem !important;
  min-height: 3.5rem !important;
  background: #2a3c68;
  color: #fff;
  font-size: 0.875rem;
  padding: 0 0.875rem;
  text-align: right;
}
.iOS7LocalGridHeader span,
.iOS7LocalGridHeader .iOS7LocalLink {
  color: #fff;
  display: inline-block;
  font-size: 1em;
  padding: 0;
}
.iOS7LocalGridHeader table {
  border: 0 !important;
  margin: 0;
  padding: 0;
}
.iOS7LocalGridHeader table td {
  border: 0 !important;
  padding: 2px;
  text-align: right;
}

.iOS7LocalGridFooter {
  background: #fff;
  border: 0 !important;
  color: #6d6e71;
  padding: 0 0.875rem;
  text-align: right;
}

.iOS7LocalGridFooter .iOS7LocalLink,
.iOS7LocalGridFooter span {
  font-size: 0.875rem;
}

.iOS7LocalGridSummaryData,
.iOS7LocalGridSummaryLabel {
  background: #fff;
  cursor: default;
  padding-bottom: 1rem;
}

.iOS7LocalGridSummaryLabel {
  color: #6d6e71;
  font-weight: 700;
  text-align: left !important;
}

.iOS7LocalGridQBE {
  background: #2a3c68;
  border-bottom: 1px solid #141d32;
  cursor: default;
  font-size: 1rem;
  padding: 0.875rem;
}

.iOS7LocalGridDataHeader {
  background: #2a3c68;
  color: #fff;
  font-weight: 700;
  padding: 0.5rem 0.875rem;
}

.iOS7LocalGridDataError {
  color: #d43045;
  font: 700 1.25em Lato, Oxygen, 'Open Sans', 'Lucida Grande', Tahoma, Verdana,
    sans-serif;
  letter-spacing: 1.49px;
  padding-top: 2em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.iOS7LocalGridData,
.iOS7LocalGridRowHeader {
  background: #fff;
  cursor: default;
  padding: 0.875rem;
}

.iOS7LocalGridDataAlt {
  background: #ededf6;
  cursor: default;
  padding: 0.875rem;
}

.iOS7LocalGridRowSelected .iOS7LocalGridData,
.iOS7LocalGridRowSelected .iOS7LocalGridDataAlt {
  background: #223053;
  color: #f1f2f2;
}

.iOS7LocalGridFormData,
.iOS7LocalGridFormLabel {
  border-top: 1px solid #141d32;
  padding: 0.375rem;
}

.iOS7LocalGridFormLabel {
  font-size: 0.875rem;
  font-weight: 700;
}

tr:nth-child(1) > .iOS7LocalGridFormData,
tr:nth-child(1) > .iOS7LocalGridFormDataError,
tr:nth-child(1) > .iOS7LocalGridFormLabel {
  border-top: 0;
}

.iOS7LocalDialogLabel {
  color: #fff;
  display: block;
  font-size: 1rem;
  padding: 0.375rem;
}
.help-tile .iOS7LocalDialogLabel,
.profile-tile .iOS7LocalDialogLabel {
  color: #6d6e71;
}

.input-label {
  color: #6d6e71;
  line-height: 1.4;
  font-size: 1.125em;
  font-weight: 700;
}

.iOS7LocalDialogRSSeparator {
  border-top: 1px solid #0d121f;
  line-height: 0.375rem;
  margin-top: 0.375rem;
}

.buttonTT,
.buttonTT2 {
  box-shadow: 1px 5px 5px #6d6e71;
  box-sizing: border-box;
  cursor: pointer;
  letter-spacing: 0.08em;
  margin: 0.5rem;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
  transform: translateZ(0);
  transition: all 0.5s, color 0.65s, box-shadow 50ms linear;
  vertical-align: middle;
}

.buttonTT {
  background: #fff;
  border: 2px solid #2a3c68;
  border-radius: 14px;
  color: #2a3c68;
  font: 700 1rem/1.2 Lato, Oxygen, 'Open Sans', 'Lucida Grande', Tahoma, Verdana,
    sans-serif;
  padding: 0.5rem 0.875rem;
  text-transform: uppercase;
}
.buttonTT:focus {
  border: 2px dashed #2473a8;
  transition-delay: 0.3s;
}
.buttonTT:focus-visible {
  background: #4fa2d9;
  border: 2px solid #4fa2d9 !important;
  color: #fff;
  text-shadow: none;
}
.buttonTTHover {
  background: #4fa2d9;
  border: 2px solid #4fa2d9 !important;
  color: #fff;
  text-shadow: none;
}
.buttonTTPressed {
  background: #2473a8;
  border-color: #2473a8;
  box-shadow: inset 0 0 5px #a3ceeb, 1px 1px 2px #6d6e71;
  color: #fff;
  top: 2px;
}
.buttonTTDisabled {
  background: rgba(160, 161, 163, 0.5);
  border-color: #db5263;
  color: #2a3c68;
  opacity: 0.6;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.2),
    0 1px 0 rgba(255, 255, 255, 0.2);
  transition: none;
}

.buttonTT2 {
  background: #def3fd;
  border: 2px solid #4fa2d9;
  border-radius: 20px;
  color: #2a3c68;
  font: 700 0.8125rem/1.2 Lato, Oxygen, 'Open Sans', 'Lucida Grande', Tahoma,
    Verdana, sans-serif;
  padding: 0.5rem 1rem;
}

.buttonTT2:focus {
  border: 2px dashed #2c8bc9;
  transition-delay: 0.3s;
}

.buttonTT2:focus-visible {
  background: #4fa2d9;
  border: 2px solid #4fa2d9 !important;
  color: #fff;
}

.buttonTTHover2,
.btn-setdate:hover {
  background: #4fa2d9;
  border: 2px solid #4fa2d9 !important;
  color: #fff;
}

.buttonTTPressed2,
.btn-setdate:active {
  background: #2c8bc9;
  border-color: #2c8bc9;
  box-shadow: inset 0 0 5px #a3ceeb, 1px 1px 2px #6d6e71;
  color: #fff;
  top: 2px;
}

.buttonTTDisabled2 {
  background: #b1bec5;
  border-color: #64adde;
  color: #354670;
  opacity: 0.7;
  transition: none;
}

.iOS7LocalButton {
  background: padding-box #fff;
  border: 2px solid #2a3c68;
  border-radius: 14px;
  color: #2a3c68;
  cursor: pointer;
  font: 700 1rem/1.2 Lato, Oxygen, 'Open Sans', 'Lucida Grande', Tahoma, Verdana,
    sans-serif;
  margin: 2px;
  padding: 0.5rem 0.875rem;
  text-transform: uppercase;
  transition: background-color 0.35s ease-out, border-color 0.35s ease-out,
    color 0.35s ease-out;
  vertical-align: middle;
}

.iOS7LocalPanelHeader .A5ControlBarItem > .iOS7LocalButton,
.iOS7LocalPanelFooter .A5ControlBarItem > .iOS7LocalButton {
  color: #fff;
}
.iOS7LocalPanelHeader .A5ControlBarItem > .iOS7LocalButton:hover,
.iOS7LocalPanelHeader .A5ControlBarItem > .iOS7LocalButton:focus,
.iOS7LocalPanelFooter .A5ControlBarItem > .iOS7LocalButton:hover,
.iOS7LocalPanelFooter .A5ControlBarItem > .iOS7LocalButton:focus {
  color: #8ed8f8 !important;
}
.iOS7LocalPanelHeader .A5ControlBarItem > .iOS7LocalButton.active-nav,
.iOS7LocalPanelFooter .A5ControlBarItem > .iOS7LocalButton.active-nav {
  color: #8ad2f1 !important;
}
.iOS7LocalPanelHeader .A5ControlBarItem > .iOS7LocalButton.active-nav:hover,
.iOS7LocalPanelHeader .A5ControlBarItem > .iOS7LocalButton.active-nav:focus,
.iOS7LocalPanelFooter .A5ControlBarItem > .iOS7LocalButton.active-nav:hover,
.iOS7LocalPanelFooter .A5ControlBarItem > .iOS7LocalButton.active-nav:focus {
  color: #4fa2d9 !important;
  cursor: default;
}

.iOS7LocalPanelHeader .A5ControlBarItem > .iOS7LocalButton {
  font-size: 1.125rem;
  letter-spacing: 1.25px;
  margin-top: 1.25rem;
}

.iOS7LocalPanelFooter
  .A5ControlBarLineContentBefore
  .A5ControlBarItem:not(:nth-child(1)) {
  position: relative;
  top: -8px;
}

.nav-btn-signout {
  background: url(../../img/icon-signout.png);
  display: block;
  height: 32px;
  margin: 0 42px 0 15px;
  position: relative;
  top: 19px;
  width: 40px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.25),
  only screen and (min-device-pixel-ratio: 1.25),
  only screen and (min-resolution: 200dpi),
  only screen and (min-resolution: 1.25dppx) {
  .nav-btn-signout {
    background: url(../../img/icon-signout@2x.png) 0% 0%/40px 32px;
  }
}
.nav-btn-signout:hover {
  background: url(../../img/icon-signout--hover.png);
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.25),
  only screen and (min-device-pixel-ratio: 1.25),
  only screen and (min-resolution: 200dpi),
  only screen and (min-resolution: 1.25dppx) {
  .nav-btn-signout:hover {
    background: url(../../img/icon-signout--hover@2x.png) 0% 0%/40px 32px;
  }
}

.iOS7LocalButtonCopy {
  background: padding-box #fff;
  border: 1px solid #6d6e71;
  border-radius: 8px;
  color: #bcbec0;
  font: 1rem/1.2 Lato, Oxygen, 'Open Sans', 'Lucida Grande', Tahoma, Verdana,
    sans-serif;
  text-transform: uppercase;
}

.iOS7LocalButtonPressed {
  border: 1px solid rgba(79, 162, 217, 0.2);
  color: rgba(79, 162, 217, 0.2);
}

.iOS7LocalButtonLeft,
.iOS7LocalButtonRight {
  background: transparent;
  border: 0;
  color: #4fa2d9;
  font-size: 1rem;
  margin: 2px;
  padding: 0.375rem 0.625rem;
  position: relative;
  vertical-align: middle;
}

.iOS7LocalButtonLeft {
  padding-left: 2rem;
}

.iOS7LocalButtonRight {
  padding-right: 2rem;
}

.iOS7LocalButtonLeftPressed,
.iOS7LocalButtonRightPressed {
  color: rgba(79, 162, 217, 0.2);
}

.iOS7LocalButtonLeft:after,
.iOS7LocalButtonRight:after,
.iOS7LocalMenuItemCascade:after {
  display: block;
  font-family: 'A5_iOS7Icons';
  font-size: 1.5rem;
  margin-top: -0.875rem;
  position: absolute;
  top: 50%;
}

.iOS7LocalButtonLeft:after {
  content: 'a';
  left: 0.25rem;
}

.iOS7LocalButtonRight:after {
  content: 'b';
  right: 0.25rem;
}

.iOS7LocalButtonDisabled {
  border-color: rgba(109, 110, 113, 0.25);
  color: rgba(109, 110, 113, 0.25);
}

.iOS7LocalEdit {
  background: padding-box #f1f2f2;
  border: 1px solid #bcbec0;
  border-radius: 10px;
  color: #6d6e71;
  font-size: 1.125rem;
  padding: 0 0.75rem;
}

.iOS7LocalGridForm .iOS7LocalEdit,
.iOS7LocalGridForm .iOS7LocalEditBG {
  background: transparent;
  border: 0;
  margin: 0;
}

input.iOS7LocalEditError,
select.iOS7LocalEditError,
textarea.iOS7LocalEditError {
  border-color: #d43045;
  color: #d43045;
}

input.iOS7LocalEditWatermark,
select.iOS7LocalEditWatermark,
textarea.iOS7LocalEditWatermark {
  color: #a7a8aa;
  font-style: italic;
}

input.iOS7LocalEditWatermark.iOS7LocalEditError,
select.iOS7LocalEditWatermark.iOS7LocalEditError,
textarea.iOS7LocalEditWatermark.iOS7LocalEditError {
  color: #da4f61;
}

.iOS7LocalEditRound {
  background-clip: padding-box;
  border-radius: 24px;
  padding: 0.375rem 0.8125rem;
}

.iOS7LocalList {
  background-clip: padding-box;
  border-radius: 3px;
  border: 1px solid #0d121f;
}
.iOS7LocalListItem {
  background: #f1f2f2;
  border-bottom: 1px solid #0d121f;
  color: #414042;
  cursor: default;
  font-size: 1rem;
  padding: 0.875rem 0.5rem;
}
.iOS7LocalListItem:nth-child(even) {
  background: #ededf6;
}
.iOS7LocalListItem:hover,
.iOS7LocalListItem:focus {
  background: #4fa2d9;
  color: #fff;
  cursor: pointer;
}
.iOS7LocalListItemSelected,
.iOS7LocalListItem:active {
  background: #2a3c68 !important;
  box-shadow: inset 0 0 5px #637ec0;
  color: #fff !important;
}

.iOS7LocalListTitle,
.iOS7LocalListHeader {
  background: #2a3c68;
  border-bottom: 1px solid #141d32;
  color: #fff;
  font-weight: 700;
}

.iOS7LocalListTitle {
  padding: 0.5rem 0.875rem;
}

.iOS7LocalListSeparator {
  background: #2a3c68;
  border-bottom: 1px solid #141d32;
  height: 0.5rem;
}

.iOS7LocalListHeader {
  color: #fff;
  padding: 0 0.875rem;
  position: relative;
}

.iOS7LocalListHeader:not([style*='display:none']) ~ div:after,
.iOS7LocalListHeader:not([style*='display:none']) ~ div:before {
  content: '';
  display: block;
  left: 0;
  width: 100%;
  z-index: 4;
}

.iOS7LocalListHeader:not([style*='display:none']) ~ div:after {
  background: rgba(0, 0, 0, 0.05);
  height: 1px;
  position: absolute;
  top: 0;
}

.iOS7LocalListHeader:not([style*='display:none']) ~ div:before {
  background: rgba(0, 0, 0, 0.025);
  height: 2px;
  position: absolute;
  top: 1px;
}

.iOS7LocalListHeaderItem {
  color: #fff;
  cursor: default;
  display: inline-block;
  font-weight: 700;
  padding: 0.875rem;
  text-decoration: none;
}

.iOS7LocalListHeaderItemResizeOverlay {
  background: rgba(109, 110, 113, 0.3);
}

.iOS7LocalListGroupNav {
  background: padding-box rgba(109, 110, 113, 0.3);
  border-radius: 4px;
  color: #414042;
  cursor: default;
  opacity: 0.5;
  padding: 0.25rem;
}

.iOS7LocalListGroupNavFocus {
  opacity: 1;
}

.iOS7LocalListItemLabelMain {
  font-weight: 700;
}

.iOS7LocalListItemLabelSub {
  font-size: 0.875rem;
}

.iOS7LocalListItemLabelContext {
  color: #4fa2d9;
  font-size: 0.875rem;
}

.iOS7LocalListItemLabelDetail {
  background: padding-box #ededf6;
  border-radius: 4px;
  color: #2a3c68;
  font-size: 0.875rem;
  padding: 0.125rem 0.625rem;
}

.iOS7LocalListItemContent {
  color: #babbbc;
  font-size: 0.875rem;
}

.iOS7LocalListNavPrev {
  background: rgba(42, 60, 104, 0.9);
  border-bottom: 1px solid #141d32;
  cursor: default;
  font-weight: 700;
  padding: 0.875rem;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 4;
}

.iOS7LocalListNavPrev:after {
  background: rgba(0, 0, 0, 0.05);
  bottom: -0.1875rem;
  content: '';
  display: block;
  height: 0.1875rem;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 4;
}

.iOS7LocalListNavNext {
  background: rgba(42, 60, 104, 0.9);
  border-top: 1px solid #141d32;
  bottom: 0;
  cursor: default;
  font-weight: 700;
  padding: 0.875rem;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 4;
}

.iOS7LocalListNavNext:after {
  background: rgba(0, 0, 0, 0.05);
  content: '';
  display: block;
  height: 0.1875rem;
  left: 0;
  position: absolute;
  top: -0.1875rem;
  width: 100%;
  z-index: 4;
}

.iOS7LocalListNavPressed {
  color: #4fa2d9;
}

.iOS7LocalControlGroupRow {
  border-top: 1px solid #141d32;
  padding: 0.375rem;
}

.iOS7LocalControlGroupRowFirst {
  border-top: 0;
}

.iOS7LocalControlGroup .iOS7LocalDialogLabel {
  padding: 1rem;
}

.iOS7LocalControlGroup .iOS7LocalEdit,
.iOS7LocalControlGroup .iOS7LocalEditBG {
  background: transparent;
  border: 0;
  margin: 0;
}

.label-pick-tool {
  color: #2a3c68;
  font: 700 1.25rem Lato, Oxygen, 'Open Sans', 'Lucida Grande', Tahoma, Verdana,
    sans-serif;
}

.iOS7LocalWin {
  background: padding-box rgba(241, 242, 242, 0.9);
  border: 2px solid #2a3c68;
  border-radius: 6px;
  font: 1rem/1.2 Roboto, Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.iOS7LocalWinInner {
  background-clip: padding-box;
  border-radius: 6px;
  overflow: hidden;
}

.iOS7LocalWinBBar,
.iOS7LocalWinBody,
.iOS7LocalWinFooter,
.iOS7LocalWinHeader,
.iOS7LocalWinTBar,
.iOS7LocalWinTitle,
.iOS7LocalDDWinBBar,
.iOS7LocalDDWinBody,
.iOS7LocalDDWinFooter,
.iOS7LocalDDWinHeader,
.iOS7LocalDDWinTBar,
.iOS7LocalDDWinTitle {
  padding: 0.375rem;
}

.iOS7LocalWinButtons {
  border-top: 1px solid #05080d;
  font-size: 0;
  text-align: center;
}

.iOS7LocalWinResizer {
  color: #000;
}

.iOS7LocalWinButtons .iOS7LocalButton {
  border: 0;
  border-radius: 0;
  border-right: 1px solid #05080d;
  margin: 0;
  padding: 0.625rem;
}

.iOS7LocalWinButtons .iOS7LocalButton:first-child {
  border-left: 1px solid #05080d;
}

.iOS7LocalWinButtons .iOS7LocalButtonPressed {
  background: #3e3d3f;
  color: #4fa2d9;
}

.iOS7LocalWinPointerUp {
  border-color: transparent transparent rgba(42, 60, 104, 0.85);
  border-style: solid;
  border-width: 0 10px 10px;
  height: 0;
  left: 50%;
  margin-left: -0.625rem;
  top: -0.625rem;
  width: 0;
}

.iOS7LocalDDWin {
  background: padding-box #2a3c68;
  border: 1px solid #141d32;
  border-radius: 6px;
}

.iOS7LocalDDWinInner {
  background-clip: padding-box;
  border-radius: 6px;
  overflow: hidden;
}

.iOS7LocalDDWinButtons {
  border-top: 1px solid #141d32;
  text-align: center;
}

.iOS7LocalDDWinResizer {
  color: #05080d;
}

.iOS7LocalDDWinButtons .iOS7LocalButton {
  border: 0;
  border-radius: 0;
  border-right: 1px solid #141d32;
  margin: 0;
  padding: 0.625rem;
}

.iOS7LocalDDWinButtons .iOS7LocalButton:first-child {
  border-left: 1px solid #141d32;
}

.iOS7LocalDDWinButtons .iOS7LocalButtonPressed {
  color: rgba(79, 162, 217, 0.5);
}

.iOS7LocalDDWinPointerDown,
.iOS7LocalMenuPointerDown,
.iOS7LocalDDWinPointerUp,
.iOS7LocalMenuPointerUp,
.iOS7LocalDDWinPointerLeft,
.iOS7LocalMenuPointerLeft,
.iOS7LocalDDWinPointerRight,
.iOS7LocalMenuPointerRight {
  height: 0;
  width: 0;
  border-style: solid;
}

.iOS7LocalDDWinPointerDown:after,
.iOS7LocalMenuPointerDown:after,
.iOS7LocalDDWinPointerUp:after,
.iOS7LocalMenuPointerUp:after,
.iOS7LocalDDWinPointerLeft:after,
.iOS7LocalMenuPointerLeft:after,
.iOS7LocalDDWinPointerRight:after,
.iOS7LocalMenuPointerRight:after {
  height: 0;
  width: 0;
  border-style: solid;
  content: '';
  display: block;
  position: absolute;
}

.iOS7LocalDDWinPointerDown,
.iOS7LocalMenuPointerDown {
  border-color: #141d32 transparent;
  border-width: 10px 10px 0;
  bottom: -0.625rem;
  left: 50%;
  margin-left: -0.625rem;
}
.iOS7LocalDDWinPointerDown:after,
.iOS7LocalMenuPointerDown:after {
  border-color: #2a3c68 transparent;
  border-width: 10px 10px 0;
  bottom: 1px;
  left: 50%;
  margin-left: -0.625rem;
}

.iOS7LocalDDWinPointerUp,
.iOS7LocalMenuPointerUp {
  border-color: #141d32 transparent;
  border-width: 0 10px 10px;
  left: 50%;
  margin-left: -0.625rem;
  top: -0.625rem;
}
.iOS7LocalDDWinPointerUp:after,
.iOS7LocalMenuPointerUp:after {
  border-color: #2a3c68 transparent;
  border-width: 0 10px 10px;
  left: 50%;
  margin-left: -0.625rem;
  top: 1px;
}

.iOS7LocalDDWinPointerLeft,
.iOS7LocalMenuPointerLeft {
  border-color: transparent #141d32;
  border-width: 10px 10px 10px 0;
  left: -0.625rem;
  margin-top: -0.625rem;
  top: 50%;
}
.iOS7LocalDDWinPointerLeft:after,
.iOS7LocalMenuPointerLeft:after {
  border-color: transparent #2a3c68;
  border-width: 10px 10px 10px 0;
  left: 1px;
  margin-top: -0.625rem;
  top: 50%;
}

.iOS7LocalDDWinPointerRight,
.iOS7LocalMenuPointerRight {
  border-color: transparent #141d32;
  border-width: 10px 0 10px 10px;
  margin-top: -0.625rem;
  right: -0.625rem;
  top: 50%;
}
.iOS7LocalDDWinPointerRight:after,
.iOS7LocalMenuPointerRight:after {
  border-color: transparent #2a3c68;
  border-width: 10px 0 10px 10px;
  margin-top: -0.625rem;
  right: 1px;
  top: 50%;
}

.iOS7LocalMenu {
  background: padding-box #2a3c68;
  border: 1px solid #bcbec0;
  border-radius: 6px;
  font-size: 1rem;
}

.iOS7LocalMenuInner {
  border-radius: 6px;
  overflow: hidden;
  padding: 0.5em;
}

.iOS7LocalMenuItem {
  border-bottom: 1px solid #bcbec0;
  color: #4fa2d9;
  cursor: default;
  font-size: 1rem;
  padding: 0 0.5em 0 0;
  white-space: nowrap;
}

.iOS7LocalMenuItem > span {
  padding: 0.875em;
}

.iOS7LocalMenuItemSelected {
  background: #4fa2d9;
  color: rgba(42, 60, 104, 0.5);
}

.iOS7LocalMenuItemDisabled {
  color: rgba(200, 204, 212, 0.6);
}

.iOS7LocalMenuItemCascade {
  padding-right: 1.875rem;
  position: relative;
}
.iOS7LocalMenuItemCascade:after {
  content: 'b';
  right: 0;
}

.iOS7LocalMenuTitle {
  border-bottom: 1px solid #141d32;
  color: #d4d5d5;
  font: 700 0.75rem/1.2 Lato, Oxygen, 'Open Sans', 'Lucida Grande', Tahoma,
    Verdana, sans-serif;
  padding: 0.5rem 0.875rem;
}

.iOS7LocalMenuSeparator {
  height: 2px;
}

.iOS7LocalCtrlBarSepH {
  border-left: 1px solid #141d32;
  width: 0;
}

.iOS7LocalCtrlBarSepV {
  border-top: 1px solid #141d32;
  height: 0;
}

.iOS7LocalCtrlBarDis {
  background: rgba(42, 60, 104, 0.9);
  margin: -1px;
  padding: 8px;
}

.iOS7LocalPanelCard {
  background: #f1f2f2;
  border-right: 1px solid #000;
  color: #6d6e71;
}

.iOS7LocalPanelHeader {
  background: #414042;
  border-bottom: 1px solid #000;
  font-size: 1.125rem;
  font-weight: 400;
}
.iOS7LocalPanelHeader:last-of-type {
  border-bottom: 1px solid #2a3c68;
}

.iOS7LocalPanelFooter {
  background: #000;
  border-top: 2px solid #414042;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0.5rem;
}

.iOS7LocalPanelFooter .iOS7LocalHeading,
.iOS7LocalPanelHeader .iOS7LocalHeading {
  font: 1.125rem/1.2 Lato, Oxygen, 'Open Sans', 'Lucida Grande', Tahoma, Verdana,
    sans-serif;
  padding: 0.125rem;
}

.iOS7LocalPanelFooter .iOS7LocalText,
.iOS7LocalPanelHeader .iOS7LocalText {
  font-size: 1rem;
  font-weight: 700;
  padding: 0.375rem;
}

.iOS7LocalPanelNavInd {
  font-size: 0;
  padding: 0.125rem;
}

.iOS7LocalPanelNavIndButton {
  height: 0.625rem;
  width: 0.625rem;
  background: padding-box #000;
  border-radius: 5px;
  display: inline-block;
  margin: 2px;
}

.iOS7LocalPanelNavIndButtonSelected {
  background: #4fa2d9;
}

.iOS7LocalCtrlBarDis .iOS7LocalButton,
.iOS7LocalCtrlBarDis .iOS7LocalButtonLeft,
.iOS7LocalCtrlBarDis .iOS7LocalButtonRight,
.iOS7LocalPanelFooter .iOS7LocalButton,
.iOS7LocalPanelFooter .iOS7LocalButtonLeft,
.iOS7LocalPanelFooter .iOS7LocalButtonRight,
.iOS7LocalPanelHeader .iOS7LocalButton,
.iOS7LocalPanelHeader .iOS7LocalButtonLeft,
.iOS7LocalPanelHeader .iOS7LocalButtonRight {
  background: transparent;
  border: 0;
  font-size: 0.75rem;
  margin: 0;
}

.iOS7LocalPanelBody {
  scroll-behavior: smooth;
}
.iOS7LocalPanelCard > .iOS7LocalPanelBody {
  position: relative;
}
.iOS7LocalPanelCard > .iOS7LocalPanelBody:after,
.iOS7LocalPanelCard > .iOS7LocalPanelBody:before {
  content: '';
  display: block;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 4;
}
.iOS7LocalPanelCard > .iOS7LocalPanelBody:after {
  background: rgba(0, 0, 0, 0.05);
  height: 1px;
  top: 0;
}
.iOS7LocalPanelCard > .iOS7LocalPanelBody:before {
  background: rgba(0, 0, 0, 0.025);
  height: 2px;
  top: 1px;
}
.iOS7LocalPanelBody .iOS7LocalPanelHeader {
  border-color: #2a3c68;
}

#OVERVIEW_BUILD\.R1\.PANEL\.0\.PANEL\.0\.BODY {
  overflow-x: hidden !important;
}

#CHARTS_BUILD\.R1\.PANEL\.0\.PANEL\.0\.BODY {
  overflow: hidden !important;
  position: fixed;
}

.iOS7LocalAppBar {
  padding: 0;
  text-align: center;
}
.iOS7LocalAppBar .iOS7LocalButton {
  border: 0;
  border-radius: 0;
  color: rgba(109, 110, 113, 0.5);
  padding: 0.875rem;
}
.iOS7LocalAppBar .iOS7LocalButtonPressed {
  color: #4fa2d9;
}

.chartButtonList {
  border: 2px solid #bcbec0;
  color: #bcbec0;
}

.iOS7LocalIcon,
.iOS7LocalIconBtn,
.iOS7LocalIconSm {
  height: 24px;
  width: 24px;
  cursor: default;
  display: inline-block;
  font-family: 'A5_iOS7Icons';
  font-size: 22px;
  font-style: normal;
  position: relative;
  text-transform: none;
}

.iOS7LocalIconSm {
  height: 18px;
  width: 18px;
  color: #fff;
  font-size: 16px;
}

.iOS7LocalIconBtn {
  padding: 0.625rem;
}

.iOS7LocalIconDisabled {
  opacity: 0.5;
}

.iOS7LocalIconLeft:after {
  content: 'a';
  display: block;
  position: absolute;
}

.iOS7LocalIconRight:after {
  content: 'b';
  display: block;
  position: absolute;
}

.iOS7Local:after {
  content: 'd';
  display: block;
  position: absolute;
}

.iOS7LocalIconDown:after {
  content: 'c';
  display: block;
  position: absolute;
}

.iOS7LocalIconClose:after {
  content: 'e';
  display: block;
  position: absolute;
}

.iOS7LocalIconResizeThumb:after {
  content: 'f';
  display: block;
  position: absolute;
}

.iOS7LocalIconRadio:after {
  content: 'g';
  display: block;
  position: absolute;
}

.iOS7LocalIconCheck:after {
  content: 'h';
  display: block;
  position: absolute;
}

.iOS7LocalIconAdd:after {
  content: 'i';
  display: block;
  position: absolute;
}

.iOS7LocalIconRemove:after {
  content: 'j';
  display: block;
  position: absolute;
}

.iOS7LocalIconUndo:after {
  content: 'k';
  display: block;
  position: absolute;
}

.iOS7LocalIconRedo:after {
  content: 'l';
  display: block;
  position: absolute;
}

.iOS7LocalIconEdit:after {
  content: 'm';
  display: block;
  position: absolute;
}

.iOS7LocalIconCancel:after {
  content: 'n';
  display: block;
  position: absolute;
}

.iOS7LocalIconDelete:after {
  content: 'o';
  display: block;
  position: absolute;
}

.iOS7LocalIconCancelEdit:after {
  content: 'p';
  display: block;
  position: absolute;
}

.iOS7LocalIconNew:after {
  content: 'q';
  display: block;
  position: absolute;
}

.iOS7LocalIconCancelNew:after {
  content: 'r';
  display: block;
  position: absolute;
}

.iOS7LocalIconSave:after {
  content: 's';
  display: block;
  position: absolute;
}

.iOS7LocalIconLoad:after {
  content: 't';
  display: block;
  position: absolute;
}

.iOS7LocalIconSaveAndEnter:after {
  content: 'u';
  display: block;
  position: absolute;
}

.iOS7LocalIconRefresh:after {
  content: 'v';
  display: block;
  position: absolute;
}

.iOS7LocalIconSearch:after {
  content: 'w';
  display: block;
  position: absolute;
}

.iOS7LocalIconFilter:after {
  content: 'x';
  display: block;
  position: absolute;
}

.iOS7LocalIconFirst:after {
  content: 'y';
  display: block;
  position: absolute;
}

.iOS7LocalIconLast:after {
  content: 'z';
  display: block;
  position: absolute;
}

.iOS7LocalIconInfo:after {
  content: 'A';
  display: block;
  position: absolute;
}

.iOS7LocalIconHelp:after {
  content: 'B';
  display: block;
  position: absolute;
}

.iOS7LocalIconError:after {
  content: 'C';
  display: block;
  position: absolute;
}

.iOS7LocalIconWarning:after {
  content: 'D';
  display: block;
  position: absolute;
}

.iOS7LocalIconMenu:after {
  content: 'E';
  display: block;
  position: absolute;
}

.icon-excel,
.icon-print {
  height: 60px !important;
  width: 60px !important;
  cursor: pointer;
  display: block;
}
.icon-excel--img,
.icon-print--img {
  background: center no-repeat #fff;
}
.icon-excel .fg,
.icon-print .fg {
  fill: #4fa2d9;
}
.icon-excel .bg,
.icon-print .bg {
  fill: #2a3c68;
}
.icon-excel:hover .fg,
.icon-print:hover .fg {
  fill: #2a3c68;
}
.icon-excel:hover .bg,
.icon-print:hover .bg {
  fill: #4fa2d9;
}

.icon-excel--img {
  background-image: url(../../img/icon-excel.png);
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.25),
  only screen and (min-device-pixel-ratio: 1.25),
  only screen and (min-resolution: 200dpi),
  only screen and (min-resolution: 1.25dppx) {
  .icon-excel--img {
    background-image: url(../../img/icon-excel@2x.png);
  }
}
.icon-excel--img:hover {
  background-image: url(../../img/icon-excel-reversed.png);
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.25),
  only screen and (min-device-pixel-ratio: 1.25),
  only screen and (min-resolution: 200dpi),
  only screen and (min-resolution: 1.25dppx) {
  .icon-excel--img:hover {
    background-image: url(../../img/icon-excel-reversed@2x.png);
  }
}

.icon-print--img {
  background-image: url(../../img/icon-print.png);
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.25),
  only screen and (min-device-pixel-ratio: 1.25),
  only screen and (min-resolution: 200dpi),
  only screen and (min-resolution: 1.25dppx) {
  .icon-print--img {
    background-image: url(../../img/icon-print@2x.png);
  }
}
.icon-print--img:hover {
  background-image: url(../../img/icon-print-reversed.png);
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.25),
  only screen and (min-device-pixel-ratio: 1.25),
  only screen and (min-resolution: 200dpi),
  only screen and (min-resolution: 1.25dppx) {
  .icon-print--img:hover {
    background-image: url(../../img/icon-print-reversed@2x.png);
  }
}

.help-tile,
.profile-tile,
.report-tile,
.chart-tile,
.login-tile,
.tile {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19);
  background: padding-box #fff;
  border: 2px solid #bcbec0;
  border-radius: 15px;
}

.help-tile {
  margin: 0 auto;
}

.profile-tile {
  margin: 25px;
  padding-bottom: 20px;
}

.report-tile,
.chart-tile {
  margin: 3.125rem 5%;
}

.login-tile {
  height: 588px;
  left: 50%;
  position: absolute;
  text-align: center;
  top: 45%;
  transform: translate(-50%, -50%);
  width: 500px;
}

.btn-wrapper {
  text-align: center;
  width: 100%;
}

.help-btn-wrapper {
  display: flex;
  justify-content: center;
  margin: 0 25px;
}

.primary-dropdown,
.advanced-dropdown,
.competitors-dropdown {
  color: #6d6e71;
  margin-top: 0.875rem;
}

.primary-dropdown,
.competitors-dropdown,
.nav-dropdown {
  background: url('img/icon-form-dropdown-show.png') right no-repeat padding-box
    #f1f2f2;
}
.primary-dropdown.is-open,
.competitors-dropdown.is-open,
.nav-dropdown.is-open {
  background-image: url('img/icon-form-dropdown-hide.png') !important;
}

.advanced-dropdown {
  background: url('img/icon-form-show.png') right no-repeat padding-box #f1f2f2;
  cursor: pointer;
  margin: 0 0 0.5rem 0;
}
.advanced-dropdown.is-open {
  background-image: url('img/icon-form-hide.png') !important;
}

.primary-dropdown,
.competitors-dropdown,
.search-dropdown,
.nav-dropdown {
  margin: 0 auto;
  min-width: 18.25rem;
}

.advanced-dropdown,
.competitors-dropdown {
  max-width: 295px;
  min-width: 295px;
  width: 295px;
}

.primary-dropdown,
.advanced-dropdown,
.competitors-dropdown,
.search-dropdown,
.nav-dropdown {
  max-width: 100%;
  overflow: hidden !important;
  text-overflow: ellipsis;
  white-space: nowrap !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid #bcbec0;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.125rem;
  height: 1.875rem;
  line-height: 1.875rem;
  padding: 0 2.5rem 0 0.75rem;
  text-align: left;
}

@-moz-document url-prefix('') {
  .primary-dropdown,
  .advanced-dropdown,
  .competitors-dropdown,
  .search-dropdown,
  .nav-dropdown {
    line-height: 1.75rem;
  }
}
.primary-dropdown:focus,
.advanced-dropdown:focus,
.competitors-dropdown:focus,
.search-dropdown:focus,
.nav-dropdown:focus {
  background-clip: border-box;
  border-color: #4fa2d9;
}

.nav-dropdown,
.search-dropdown {
  box-shadow: inset 1px 1px 2px rgba(109, 110, 113, 0.3);
  color: #414042;
  word-spacing: -1.25px;
}

.nav-dropdown:focus,
.search-dropdown:focus,
.primary-dropdown:focus {
  border-width: 2px;
}

.search-dropdown--covid,
.nav-dropdown--covid {
  width: 20vw !important;
}

.search-dropdown {
  background: url('img/icon-form-dropdown-search.png') right no-repeat
    padding-box #f1f2f2;
  cursor: text;
}

.nav-dropdown-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 1.5rem;
  max-width: 15%;
}
.nav-dropdown-wrapper--covid {
  max-width: 32.5%;
}

.radio-no-comp-label {
  cursor: pointer;
  display: inline-block;
  height: 1.875rem;
  left: -2.375rem;
  line-height: 1.875rem;
  position: relative;
}

.dashboard-heading {
  background: #c4c6c8;
  border-bottom: 1px solid #000;
  color: #4fa2d9;
  display: inline-block;
  font: 700 1.25rem/3.125rem Lato, Oxygen, 'Open Sans', 'Lucida Grande', Tahoma,
    Verdana, sans-serif;
  height: 3.125rem;
  text-align: center;
  width: 19.3125rem;
}

label[for$='FOCUSONELOCATION']:before {
  bottom: -3px !important;
  left: -20px !important;
  position: relative !important;
}

.sidebar-control-container {
  border: 0;
  box-sizing: border-box;
  height: 70%;
  height: calc(100vh - 230px);
  max-width: 310px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0 0 0.5rem 0;
  scrollbar-color: #f1f2f2 #888;
  scrollbar-width: thin;
}
.sidebar-control-container::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}
.sidebar-control-container::-webkit-scrollbar-track {
  background: #f1f2f2;
}
.sidebar-control-container::-webkit-scrollbar-thumb {
  background: #888;
}
.sidebar-control-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.sidebar-control-list {
  background-clip: padding-box;
  border-radius: 10px 5px 5px 10px;
  border: 1px solid #bcbec0;
  font-size: 1.125rem;
  margin-right: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
  text-indent: 0.5rem;
}

@-moz-document url-prefix('') {
  .sidebar-control-list {
    border-radius: 10px 0 0 10px;
  }
}
.sidebar-control-list option {
  max-width: 100%;
  overflow: hidden !important;
  text-overflow: ellipsis;
  white-space: nowrap !important;
  padding-left: 0.5625rem;
  padding-right: 0.375rem !important;
}

.sidebar-control-radios {
  background: #6d6e71;
  color: #fff;
  font-size: 1rem;
  line-height: 1.25;
  position: relative;
  left: 0.75rem;
  top: -2px;
}

.sidebar-control-radio-wrapper,
.sidebar-control-radio-wrapper-chart-adv {
  margin-left: 0.375rem;
}
.sidebar-control-radio-wrapper input,
.sidebar-control-radio-wrapper-chart-adv input {
  margin-left: 0.4375rem;
}

.sidebar-control-radio-wrapper {
  padding: 2px 4px;
}

.sidebar-control-radio-wrapper-chart-adv {
  padding: 0.625rem 0 0 0.375rem;
}

.sidebar-control-dd-wrapper {
  margin: 0.5rem 0 0 0.375rem;
  max-width: 295px;
  width: 100% !important;
}

.name-and-download-text {
  color: #4fa2d9;
  font-size: 1.1875rem;
  font-weight: 700;
  margin-top: 0.9375rem;
  white-space: nowrap;
}

.account-form-headers {
  color: #6d6e71;
  font-size: 1.375rem;
  font-weight: 700;
}

.account-pw-field,
.account-form-data,
.primary-input {
  background: padding-box #f1f2f2;
  border: 1px solid #bcbec0;
  border-radius: 10px;
  color: #6d6e71;
  font-size: 1.125rem;
  height: 1.875rem;
  line-height: 1.875rem;
  padding: 0 0.75rem;
}

@-moz-document url-prefix('') {
  .account-pw-field,
  .account-form-data,
  .primary-input {
    line-height: 1.75rem;
  }
}
.account-pw-field:focus,
.account-form-data:focus,
.primary-input:focus {
  border-color: #4fa2d9;
}
.account-pw-field::selection,
.account-form-data::selection,
.primary-input::selection {
  background: rgba(79, 162, 217, 0.5);
  color: #000;
}
.account-pw-field::-moz-selection,
.account-form-data::-moz-selection,
.primary-input::-moz-selection {
  background: rgba(79, 162, 217, 0.5);
  color: #000;
}

.account-form-data {
  width: 100%;
}

.primary-input {
  margin: 0 25px;
  width: 100%;
}

.help-tile .primary-dropdown,
.help-tile .primary-input,
.help-tile .iOS7LocalEdit {
  display: block !important;
  margin: 0 auto !important;
  width: 90% !important;
}

.dashboard-note {
  color: #6d6e71;
  font-size: 0.875rem;
  font-style: italic;
  text-align: center;
  text-transform: uppercase;
}

.popup-headers {
  color: #4fa2d9;
}

.header-nav-logo {
  background: url(../../img/logo-down-sprite.png) -1px -93px no-repeat;
  height: 70px;
  margin-left: 50px;
  width: 250px;
}

.footer-nav-logo {
  background: url(../../img/logo-down-sprite.png) -88px -165px no-repeat;
  display: block;
  height: 30px;
  margin: 0 16px 0 50px;
  width: 79px;
}

.report-loading-wrapper {
  height: 100%;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0;
}

.report-loading-text {
  color: #4fa2d9;
  font-weight: 700;
  padding: 0.625rem;
}

.report-header > span,
.chart-header > span {
  font-size: 0.95em;
  font-variant: small-caps;
  font-weight: 400;
}

.report-header {
  color: #4fa2d9;
  font: 700 1.375rem/1.2 Lato, Oxygen, 'Open Sans', 'Lucida Grande', Tahoma,
    Verdana, sans-serif;
  margin-top: 0.9375rem;
}
.report-header > span {
  color: #468fbf;
}
.report-header > span > span {
  font-size: 0.75em;
}

.chart-header {
  color: #4fa2d9;
  font: 700 1.375rem/1.2 Lato, Oxygen, 'Open Sans', 'Lucida Grande', Tahoma,
    Verdana, sans-serif;
  padding: 8px 0 0 8px;
  text-align: left;
}
.chart-header > span {
  color: #2c8bc9;
}
.chart-header > span > span {
  font-size: 0.75em;
}

.report-tile {
  min-height: 37rem;
  min-width: 25rem;
  overflow-x: auto;
  padding: 0 1.625rem 1.25rem;
  width: 90%;
}
.report-tile--zcom {
  float: left;
  width: auto;
}
.report-tile-inner {
  box-sizing: border-box;
  width: 100%;
}
.report-tile:not(#REPORTS_BUILD\.V\.R1\.CONTAINER_MCOMP):not(#REPORTS_BUILD\.V\.R1\.CONTAINER_DRAWDEMO)
  > div:first-child,
.report-tile > div:first-child > div:first-child > table {
  width: 100%;
}

.zcom-form-pcent {
  color: #fff !important;
  left: -2px;
  position: relative;
  top: 2px;
}

#REPORTS_BUILD\.V\.R1\.CONTAINER_COMPOVER {
  min-height: 25rem;
}

.record-count,
.record-count-chart {
  color: #6d6e71;
  font-size: 1.125rem;
  font-style: italic;
}

.record-count-chart {
  margin: 0 0 0 0.5rem;
}

textarea,
.brand-scrollbar,
.sidebar-control-list,
.report-tile,
.table-wrapper,
.pick-tool-content-wrapper,
.chart-grid-wrapper > div,
.report-tile > div div {
  scrollbar-color: #2a3c68 #4fa2d9;
  scrollbar-width: thin;
}
textarea::-webkit-scrollbar,
.brand-scrollbar::-webkit-scrollbar,
.sidebar-control-list::-webkit-scrollbar,
.report-tile::-webkit-scrollbar,
.table-wrapper::-webkit-scrollbar,
.pick-tool-content-wrapper::-webkit-scrollbar,
.chart-grid-wrapper > div::-webkit-scrollbar,
.report-tile > div div::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}
textarea::-webkit-scrollbar-track,
.brand-scrollbar::-webkit-scrollbar-track,
.sidebar-control-list::-webkit-scrollbar-track,
.report-tile::-webkit-scrollbar-track,
.table-wrapper::-webkit-scrollbar-track,
.pick-tool-content-wrapper::-webkit-scrollbar-track,
.chart-grid-wrapper > div::-webkit-scrollbar-track,
.report-tile > div div::-webkit-scrollbar-track {
  background: padding-box #2a3c68;
  border: 1px solid #bcbec0;
  border-radius: 8px;
}
textarea::-webkit-scrollbar-thumb,
.brand-scrollbar::-webkit-scrollbar-thumb,
.sidebar-control-list::-webkit-scrollbar-thumb,
.report-tile::-webkit-scrollbar-thumb,
.table-wrapper::-webkit-scrollbar-thumb,
.pick-tool-content-wrapper::-webkit-scrollbar-thumb,
.chart-grid-wrapper > div::-webkit-scrollbar-thumb,
.report-tile > div div::-webkit-scrollbar-thumb {
  background: padding-box linear-gradient(to bottom, #4fa2d9, #8ed8f8);
  border-radius: 8px;
  box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.25),
    inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}
textarea::-webkit-scrollbar-thumb:hover,
.brand-scrollbar::-webkit-scrollbar-thumb:hover,
.sidebar-control-list::-webkit-scrollbar-thumb:hover,
.report-tile::-webkit-scrollbar-thumb:hover,
.table-wrapper::-webkit-scrollbar-thumb:hover,
.pick-tool-content-wrapper::-webkit-scrollbar-thumb:hover,
.chart-grid-wrapper > div::-webkit-scrollbar-thumb:hover,
.report-tile > div div::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, #fce6a3, #f1dddf);
}
textarea::-webkit-scrollbar-thumb:active,
.brand-scrollbar::-webkit-scrollbar-thumb:active,
.sidebar-control-list::-webkit-scrollbar-thumb:active,
.report-tile::-webkit-scrollbar-thumb:active,
.table-wrapper::-webkit-scrollbar-thumb:active,
.pick-tool-content-wrapper::-webkit-scrollbar-thumb:active,
.chart-grid-wrapper > div::-webkit-scrollbar-thumb:active,
.report-tile > div div::-webkit-scrollbar-thumb:active {
  background: linear-gradient(to bottom, #f7c01c, #f90);
}

.iOS7LocalGrid th,
.iOS7LocalGrid td {
  border-top: 1px solid #bcbec0 !important;
  padding: 0.75rem 1rem;
  text-align: right;
}

.iOS7LocalGrid tbody + tbody {
  border-bottom: 1px solid #bcbec0;
}

.iOS7LocalGrid td:first-child,
.iOS7LocalGrid th:first-child {
  padding-left: 1rem !important;
  padding-right: 0 !important;
  text-align: left;
}

.iOS7LocalGridSummaryData {
  padding: 0;
  text-align: right !important;
}

.iOS7LocalGrid tbody tr:not(.iOS7LocalGridFooter):hover {
  color: #4fa2d9 !important;
}

.iOS7LocalGridFooter,
.iOS7LocalGridNav,
.iOS7LocalGridSummaryData {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.iOS7LocalGridNav .iOS7LocalLink,
.iOS7LocalGridFooter .iOS7LocalLink {
  color: #4fa2d9 !important;
  text-decoration: none !important;
}

span .iOS7LocalGridNav {
  font-size: 0.875rem;
  padding: 0;
}

.iOS7LocalGrid th:last-child,
.iOS7LocalGrid td:last-child,
.iOS7LocalGridSummaryData td:last-child,
.iOS7LocalGridSummaryData:last-child {
  padding-right: 1rem !important;
}

.report-tile .iOS7LocalGrid {
  width: 100%;
}
.report-tile .iOS7LocalGrid .iOS7LocalGridSummaryData {
  padding: 0.75rem 1rem !important;
}

.chart-grid-wrapper {
  height: 439px;
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  padding: 0;
}
.chart-grid-wrapper--lg {
  height: 488px;
}
.chart-grid-wrapper > div {
  overflow-x: hidden !important;
}
.chart-grid-wrapper .iOS7LocalGrid {
  border: 0;
  width: 100%;
}
.chart-grid-wrapper .iOS7LocalGrid th,
.chart-grid-wrapper .iOS7LocalGrid td {
  border: 0 !important;
  white-space: normal !important;
  word-wrap: normal !important;
}
.chart-grid-wrapper .iOS7LocalGrid th:first-child,
.chart-grid-wrapper .iOS7LocalGrid td:not(.iOS7LocalGridFooter):first-child {
  border-left: 2px solid #bcbec0 !important;
  text-align: left !important;
}
.chart-grid-wrapper .iOS7LocalGrid th:last-child,
.chart-grid-wrapper .iOS7LocalGrid td:not(.iOS7LocalGridFooter):last-child {
  border-right: 2px solid #bcbec0 !important;
}
.chart-grid-wrapper .iOS7LocalGrid tbody:last-of-type {
  border-bottom-width: 2px;
}
.chart-grid-wrapper .iOS7LocalGridFooter,
.chart-grid-wrapper .iOS7LocalGridHeader {
  position: -webkit-sticky;
  position: sticky;
}
.chart-grid-wrapper .iOS7LocalGridFooter {
  font-size: 1rem;
  top: 0;
  white-space: nowrap;
}
.chart-grid-wrapper .iOS7LocalGridHeader {
  top: 48px;
}
.chart-grid-wrapper .iOS7LocalGridSummaryData {
  padding: 0.75rem 1rem !important;
}

.report-tile form[id*='SEARCH'] > .iOS7LocalGrid {
  max-width: 500px !important;
  min-width: 380px;
  width: 30%;
}

.sm-link,
.sm-link:link,
.sm-link:visited {
  color: #4fa2d9;
  font: 1em/1.2 Roboto, Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.sm-link:focus,
.sm-link:hover {
  color: #3b7aa3;
}

.sm-link:active {
  color: #2f6182;
}

.lg-link {
  font: 700 1.5em/1.2 Lato, Oxygen, 'Open Sans', 'Lucida Grande', Tahoma,
    Verdana, sans-serif;
  transition: color 0.25s ease-out;
}
.lg-link,
.lg-link:link,
.lg-link:visited {
  color: #2a3c68;
}
.lg-link:focus,
.lg-link:hover {
  color: #4fa2d9;
}
.lg-link:active {
  color: #3b7aa3;
}

.overview-table-col-wrappers {
  overflow: visible !important;
  position: relative;
  top: -1.875rem;
}

.icon-dbl-down {
  height: 64px;
  width: 64px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url(../../img/logo-down-sprite.png) -253px -93px;
  border: 0;
  cursor: pointer;
  display: block;
  position: relative;
  transition: top 0.15s, outline-width 0s 1s;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.25),
  only screen and (min-device-pixel-ratio: 1.25),
  only screen and (min-resolution: 200dpi),
  only screen and (min-resolution: 1.25dppx) {
  .icon-dbl-down {
    background: url(../../img/icon-double-down@2x.png) 0% 0%/64px 64px;
  }
}
.icon-dbl-down:-moz-focusring {
  outline: 2px dashed #2a3c68;
  outline-offset: 3px;
}
.icon-dbl-down:focus-visible {
  outline: 2px dashed #2a3c68;
  outline-offset: 3px;
}
.icon-dbl-down:hover {
  top: -2px;
}
.icon-dbl-down:active {
  top: 4px;
}

.top-nav {
  align-items: center;
  display: flex;
  justify-content: center;
  background: #fff;
  box-shadow: inset 4px 4px 8px rgba(65, 64, 66, 0.3);
  box-sizing: border-box;
  border-color: #bcbec0;
  border-style: solid;
  border-width: 0 0 2px;
  height: 6.25rem;
  padding: 0;
  z-index: 9;
}

.data-msg {
  color: #6d6e71;
  font-family: Lato, Oxygen, 'Open Sans', 'Lucida Grande', Tahoma, Verdana,
    sans-serif;
  text-align: center;
  text-transform: uppercase;
}

.data-msg--covid {
  color: #414042;
  text-align: center;
}
.data-msg--covid > p {
  color: inherit;
  line-height: 1.3333333;
}
.data-msg--covid code {
  font-weight: 700;
  white-space: nowrap;
}

.para-covid-def {
  margin: 0.5em 0;
}
.para-covid-def:first-of-type {
  margin: 1em 0 0.5em;
}

.covid-chart-container {
  width: 100%;
}

.covid-heading {
  color: #4fa2d9;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.5;
}

.swal-overlay {
  background: rgba(79, 162, 217, 0.35);
}

.swal-modal {
  border: 2px solid #bcbec0;
  border-radius: 15px;
}

.swal-title {
  font: 700 2rem Lato, Oxygen, 'Open Sans', 'Lucida Grande', Tahoma, Verdana,
    sans-serif;
}

.swal-text {
  line-height: 1.4;
}

.swal-button {
  background-color: #4fa2d9;
  box-shadow: 1px 5px 5px #6d6e71;
  color: #fff;
  font: 700 1rem Lato, Oxygen, 'Open Sans', 'Lucida Grande', Tahoma, Verdana,
    sans-serif;
  position: relative;
  transition: all 0.5s, color 0.65s, box-shadow 50ms linear;
}
.swal-button:active {
  background-color: #233257;
  box-shadow: inset 0 0 5px #6a7795, 1px 1px 2px #6d6e71;
  top: 2px;
}
.swal-button:not([disabled]):hover {
  background-color: #2a3c68;
}

.login-img-head {
  background: url(../../img/logo-down-sprite.png) -1px -1px;
  height: 90px;
  margin: 2em auto;
  width: 320px;
}

.login-img-foot {
  background: url(../../img/logo-down-sprite.png) -1px -165px;
  height: 30px;
  width: 17%;
}

.login-email,
.login-pw {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: right no-repeat padding-box #f1f2f2;
  border-radius: 12px;
  border: 1px solid #bcbec0;
  box-shadow: inset 1px 1px 2px rgba(109, 110, 113, 0.3);
  box-sizing: border-box;
  color: #414042;
  font-size: 1.25rem;
  height: 1.875rem;
  line-height: 1.875rem;
  margin-left: 25px;
  padding: 0 2.5rem 0 0.75rem;
  text-overflow: '';
  white-space: nowrap;
  width: 450px;
}
.login-email {
  background-image: url('img/icon-form-user.png');
}
.login-pw {
  background-image: url('img/icon-form-password.png');
}
.login-email:focus,
.login-pw:focus {
  border-color: #4fa2d9;
}
.login-email:-webkit-autofill,
.login-email:-webkit-autofill:hover,
.login-email:-webkit-autofill:focus,
.login-pw:-webkit-autofill,
.login-pw:-webkit-autofill:hover,
.login-pw:-webkit-autofill:focus {
  box-shadow: 0 0 0px 1000px #f1f2f2 inset;
  -webkit-text-fill-color: #414042;
  transition: background-color 9999s ease-in-out;
}
.login-email:-webkit-autofill,
.login-pw:-webkit-autofill {
  border: 1px solid #bcbec0;
}
.login-email:-webkit-autofill:focus,
.login-pw:-webkit-autofill:focus {
  border-color: #4fa2d9;
}

.tile {
  box-sizing: border-box;
  margin: 2.125rem auto;
  overflow: hidden;
  padding: 0.75% 1.6%;
  scrollbar-color: #2a3c68 #4fa2d9;
  scrollbar-width: thin;
  width: 88vw;
}
@media only screen and (min-width: 215em) {
  .tile {
    width: 60vw;
  }
}
@media only screen and (max-width: 40.625em) {
  .tile {
    overflow-x: auto;
  }
}
.tile::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}
.tile::-webkit-scrollbar-track {
  background: rgba(79, 162, 217, 0.5);
  border-radius: 5px;
  box-shadow: inset 0 0 5px #efeff7;
}
.tile::-webkit-scrollbar-thumb {
  background: rgba(42, 60, 104, 0.5);
  border-radius: 5px;
}
.tile::-webkit-scrollbar-thumb:hover {
  background: rgba(35, 50, 86, 0.8);
}
.tile::-webkit-scrollbar-thumb:active {
  background: rgba(27, 39, 68, 0.9);
  box-shadow: inset 0 0 5px #efeff7;
}
.tile-header {
  color: #2a3c68;
  font-family: Lato, Oxygen, 'Open Sans', 'Lucida Grande', Tahoma, Verdana,
    sans-serif;
  margin-bottom: 15px;
}
.tile-header-title {
  font-size: 2.5em;
  margin: 0;
  padding: 0;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
}
.tile-content {
  height: 99%;
  margin: 0 auto;
}
.tile-content:after {
  clear: both;
  content: '';
  display: table;
}
@media only screen and (max-width: 66.5625em) {
  .tile-content {
    max-height: 42.25rem;
    overflow: hidden;
  }
}
.tile-sub-wrap {
  height: 100%;
  width: 100%;
  border: 0;
  margin: 0;
  padding: 0;
}

.kpi-table-wrap,
.avpv-table-wrap,
.ttzc-table-wrap {
  border: 2px solid #bcbec0;
  margin: 0 auto;
  text-align: center;
}

.kpi-table,
.avpv-table,
.ttzc-table {
  box-sizing: border-box;
  cursor: default;
  margin: 0 auto;
  width: 100%;
}

.avpv-table,
.ttzc-table {
  font-size: 1em;
}
@media only screen and (min-width: 120em) {
  .avpv-table,
  .ttzc-table {
    font-size: 1.0625em;
  }
}

.avpv-thead,
.kpi-thead,
.ttzc-thead {
  border-bottom: 2px solid #bcbec0;
  color: #fff;
}

.kpi-cell,
.avpv-cell,
.ttzc-cell {
  color: #414042;
  font-variant-numeric: tabular-nums;
  text-align: center;
}

.cell-empty {
  color: transparent;
}

.map-wrap,
.map-wrap-left,
.map-wrap-right,
.map-wrap-full {
  border: 1px solid #bcbec0;
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  height: 42rem;
  position: relative;
}

.map-wrap-left,
.map-label-vp {
  float: left;
  width: 70%;
}

.map-wrap-right {
  float: right;
  margin-left: 1.6%;
  width: 49%;
}

.map-wrap,
.map-label-left,
.map-label-right {
  display: inline-block;
  width: 49%;
}

.map-label-right {
  float: right;
}

.map-iframe {
  height: 97.8%;
  width: 98.2%;
  border: 2px solid #bcbec0;
  box-sizing: border-box;
  left: 0;
  margin: 0.9%;
  position: absolute;
  top: 0;
}
.map-iframe--vp {
  height: 97%;
}
.map-iframe--full {
  height: 96.5%;
  margin: 0.75% 0.9%;
}

@media only screen and (max-width: 73em) {
  .map-wrap,
  .map-wrap-right {
    width: 47%;
  }
}

.map-label,
.map-label-left,
.map-label-right,
.map-label-vp {
  font-variant: small-caps;
  margin: 0 auto;
  text-align: center;
}

.map-label-vp:after,
.map-label-right:after {
  clear: both;
  content: '';
  display: table;
}

.bench-name,
.comp-name {
  margin: 0 auto;
  max-width: 10rem;
}

.indent {
  color: #5b595c;
  padding-left: 1.25rem !important;
}

.bold {
  font-weight: 700 !important;
}

.nav-label {
  background: padding-box #4fa2d9;
  border-radius: 10px;
  color: #fff;
  cursor: help;
  display: block;
  height: 24px;
  line-height: 1.5;
  margin: 0 0 0.75rem;
  text-align: center;
  width: 8rem;
}

.label-inner-txt {
  font-size: 17px;
  margin-left: -3px;
}

@supports (not (clip-path: polygon(0 0, 0 0, 0 0))) and
  (not (-webkit-clip-path: polygon(0 0, 0 0, 0 0))) {
  .nav-label {
    border-radius: 10px;
    margin: 0 0.5rem 0 0;
    padding: 0 0.625rem 0 0.9375rem;
    width: auto;
  }
  .label-inner-txt {
    margin: 0;
  }
}

.site-footer-cr,
.site-footer-hidden-link {
  color: #fff !important;
  font: 0.875rem/1.2 Lato, Oxygen, 'Open Sans', 'Lucida Grande', Tahoma, Verdana,
    sans-serif;
}

.site-footer-cr {
  margin-right: 68px;
  position: relative;
  top: -2px;
}

.site-footer-hidden-link {
  cursor: default !important;
}

.kpi-header,
.ttzc-header {
  font-size: 1.25rem;
  font-weight: 400;
  text-align: center;
}

.kpi-header {
  padding: 1.5em 0;
}

.kpi-header:first-child,
.avpv-header:first-child,
.avpv-cell:first-child,
.ttzc-header:first-child,
.ttzc-rank {
  padding-left: 0.875rem;
  text-align: left;
}

.kpi-tile {
  padding: 0.75% 1.6% 1.4%;
}
@media only screen and (max-width: 98em) {
  .kpi-tile {
    overflow-x: auto;
  }
}
@media only screen and (max-width: 119.9375em) {
  .kpi-tile {
    min-height: 58rem;
  }
}
@media only screen and (min-width: 160em) {
  .kpi-tile {
    min-height: 59rem;
  }
}
.kpi-tile-content {
  margin: 0 auto;
}

.kpi-table {
  min-width: 56rem;
}

.age-row {
  vertical-align: top;
}

.avg-age {
  margin-top: 0.625rem;
}

.title-col {
  height: 1.5625rem;
  line-height: 1.5625rem;
  margin-top: 0.625rem;
  padding: 0;
}

.div-cell {
  margin-bottom: 0.3125rem;
  padding: 0;
}

.kpi-cell {
  border: 1px solid #bcbec0;
  box-sizing: border-box;
  font-size: 1.5em;
  font-weight: 700;
  max-width: 18.5rem;
  min-width: 17rem;
  padding: 0;
  vertical-align: middle;
}
.kpi-cell:first-child {
  box-shadow: inset 15px 0 23px -15px rgba(42, 60, 104, 0.25);
  background: #ededf6;
  color: #2a3c68;
  font: 700 1rem/1.2 Roboto, Arial, -apple-system, BlinkMacSystemFont,
    'Segoe UI', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  padding-left: 0.5rem;
  text-align: left;
}

.kpi-index {
  min-width: 6rem;
  width: 9%;
}

.kpi-table--less-two-layout .kpi-index {
  width: 18%;
}

.kpi-header:first-child,
.kpi-cell:first-child {
  max-width: 9rem;
  min-width: 8.875rem;
}

.kpi-row:first-child > .kpi-cell,
.kpi-row:nth-child(2) > .kpi-cell,
.kpi-row:nth-child(6) > .kpi-cell {
  height: 4.25rem;
}

.kpi-row:nth-child(4) > .kpi-cell,
.kpi-row:nth-child(5) > .kpi-cell,
.kpi-row:nth-child(8) > .kpi-cell {
  height: 6.25rem;
}

.kpi-row:nth-child(3) > .kpi-cell {
  height: 7.25rem;
}

.age-row > .kpi-cell {
  height: 12.16667rem;
}

.icon-container {
  float: left;
  height: 100%;
  margin-right: 0.5rem;
  position: relative;
  vertical-align: middle;
  width: 25px;
}

.kpi-icon-pop,
.kpi-icon-traffic,
.kpi-icon-car,
.kpi-icon-age,
.kpi-icon-income,
.kpi-icon-dwell,
.kpi-icon-college,
.kpi-icon-diversity {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  height: 25px;
  vertical-align: middle;
  width: 25px;
}

.kpi-icon-pop {
  background: url(../../img/kpi-sprite.png) -55px -1px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.25),
  only screen and (min-device-pixel-ratio: 1.25),
  only screen and (min-resolution: 200dpi),
  only screen and (min-resolution: 1.25dppx) {
  .kpi-icon-pop {
    background: url(../../img/icon-population@2x.png) 0% 0%/25px 25px;
  }
}

.kpi-icon-traffic {
  background: url(../../img/icon-traffic.png);
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.25),
  only screen and (min-device-pixel-ratio: 1.25),
  only screen and (min-resolution: 200dpi),
  only screen and (min-resolution: 1.25dppx) {
  .kpi-icon-traffic {
    background: url(../../img/icon-traffic@2x.png) 0% 0%/25px 25px;
  }
}

.kpi-icon-car {
  background: url(../../img/kpi-sprite.png) -109px -1px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.25),
  only screen and (min-device-pixel-ratio: 1.25),
  only screen and (min-resolution: 200dpi),
  only screen and (min-resolution: 1.25dppx) {
  .kpi-icon-car {
    background: url(../../img/icon-car@2x.png) 0% 0%/25px 25px;
  }
}

.kpi-icon-age {
  background: url(../../img/kpi-sprite.png) -82px -1px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.25),
  only screen and (min-device-pixel-ratio: 1.25),
  only screen and (min-resolution: 200dpi),
  only screen and (min-resolution: 1.25dppx) {
  .kpi-icon-age {
    background: url(../../img/icon-age@2x.png) 0% 0%/25px 25px;
  }
}

.kpi-icon-income {
  background: url(../../img/kpi-sprite.png) -28px -1px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.25),
  only screen and (min-device-pixel-ratio: 1.25),
  only screen and (min-resolution: 200dpi),
  only screen and (min-resolution: 1.25dppx) {
  .kpi-icon-income {
    background: url(../../img/icon-income@2x.png) 0% 0%/25px 25px;
  }
}

.kpi-icon-dwell {
  background: url(../../img/kpi-sprite.png) -1px -1px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.25),
  only screen and (min-device-pixel-ratio: 1.25),
  only screen and (min-resolution: 200dpi),
  only screen and (min-resolution: 1.25dppx) {
  .kpi-icon-dwell {
    background: url(../../img/icon-dwell@2x.png) 0% 0%/25px 25px;
  }
}

.kpi-icon-college {
  background: url(../../img/kpi-sprite.png) -136px -1px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.25),
  only screen and (min-device-pixel-ratio: 1.25),
  only screen and (min-resolution: 200dpi),
  only screen and (min-resolution: 1.25dppx) {
  .kpi-icon-college {
    background: url(../../img/icon-college@2x.png) 0% 0%/25px 25px;
  }
}

.kpi-icon-diversity {
  background: url(../../img/kpi-sprite.png) -163px -1px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.25),
  only screen and (min-device-pixel-ratio: 1.25),
  only screen and (min-resolution: 200dpi),
  only screen and (min-resolution: 1.25dppx) {
  .kpi-icon-diversity {
    background: url(../../img/icon-diversity@2x.png) 0% 0%/25px 25px;
  }
}

.kpi-row-header {
  align-items: center;
  display: flex;
  height: 100%;
  padding: 0;
}

.avpv-tile {
  overflow-x: auto;
  padding: 0.75% 1.6% 1.4%;
}

.avpv-table {
  min-width: 56rem;
}

.avpv-header {
  border: 0;
}
.avpv-header-top {
  font-size: 1.875rem;
  font-weight: 700;
  padding: 1rem 0 0.5rem;
}
.avpv-header-sub {
  font-size: 1.0625rem;
  padding: 0 0 0.625rem;
}
.avpv-header-sub:nth-child(7) {
  padding-right: 2.3%;
  text-align: right;
}

.avpv-tbody .avpv-row:nth-child(even) {
  background: #ededf6;
}

.avpv-cell {
  padding: 0.25em 0.8125rem;
  width: auto;
}
.avpv-cell:first-child {
  background: inherit;
  font: inherit;
}
.avpv-cell:first-child[scope='row']:not(.indent) {
  font-weight: 700;
}

.avpv-header:nth-child(7),
.graph-cell {
  box-sizing: border-box;
  min-width: 13rem;
}

.graph-cell {
  color: transparent;
  padding: 0;
}

.avpv-header:first-child,
.avpv-cell:first-child {
  width: 11.25rem;
}

.avpv-header-top:nth-child(2),
.avpv-header-top:nth-child(3),
.avpv-header-top:nth-child(4),
.avpv-header-sub:nth-child(2),
.avpv-header-sub:nth-child(6),
.avpv-header-sub:nth-child(8),
.avpv-header:last-child,
.avpv-cell:nth-child(2),
.avpv-cell:nth-child(6),
.avpv-cell:nth-child(8),
.avpv-cell:last-child {
  border-left: 1px solid #bcbec0;
}

.avpv-header-sub:nth-child(5),
.avpv-cell:nth-child(5) {
  max-width: 8.5rem;
  min-width: 6.875rem;
}

.avpv-table .cell-empty {
  border-right: 1px solid #bcbec0;
}

.ttzc-tile {
  padding-bottom: 25px;
}
@media only screen and (max-width: 80em) {
  .ttzc-tile {
    overflow-x: auto;
  }
}

.ttzc-table {
  min-width: 53.1875rem;
}
.ttzc-table--zcom {
  table-layout: fixed;
}

.ttzc-header,
.ttzc-cell {
  box-sizing: border-box;
  max-width: 17.25em;
  min-width: 6em;
}

.ttzc-cell {
  padding: 0.625rem;
}

.ttzc-tbody > .ttzc-row:nth-child(even) {
  background: #ededf6;
}

.ttzc-tbody > .ttzc-row:not(:last-child) {
  border-bottom: 1px solid #bcbec0;
}

.ttzc-tbody .ttzc-row:hover {
  background: #4fa2d9;
}
.ttzc-tbody .ttzc-row:hover > .ttzc-cell {
  color: #fff;
}

.ttzc-header {
  padding: 1em 0;
  position: relative;
  white-space: nowrap;
}
.ttzc-header--zcom {
  font-size: 1rem;
}

.ttzc-rank {
  padding-right: 0;
  width: 60px;
}
.ttzc-rank--zcom {
  width: 4.5rem;
}

.ttzc-popgrow {
  padding-left: 0;
  padding-right: 0.875rem;
  text-align: right;
}

.table-sort-header {
  cursor: pointer;
  transition: background-color 0.4s ease-out;
}
.table-sort-header:not(:last-child):after,
.table-sort-header:last-child:before {
  border-color: #fff transparent;
  border-style: solid;
  border-width: 0 0.4em 0.4em;
  content: '';
  opacity: 0.5;
  position: absolute;
  top: 45%;
  visibility: hidden;
}
.table-sort-header:not(:last-child):after {
  float: right;
  right: 2%;
  transform: rotate(-90deg);
}
.table-sort-header:last-child:before {
  float: left;
  left: 2%;
  transform: rotate(90deg);
}
.table-sort-header:hover {
  background: #33446e;
}
.table-sort-header:hover:after,
.table-sort-header:hover:before {
  visibility: visible;
}
.table-sort-header:active {
  background: #26375f;
}

.table-sort-asc:hover:after,
.table-sort-asc:hover:before,
.table-sort-desc:hover:after,
.table-sort-desc:hover:before {
  opacity: 1;
  transform: rotate(0);
}

.table-sort-asc:not(:last-child):after,
.table-sort-asc:last-child:before {
  border-width: 0 0.4em 0.4em;
}

.table-sort-desc:not(:last-child):after,
.table-sort-desc:last-child:before {
  border-width: 0.4em 0.4em 0;
}

.vo-tile-top {
  margin-bottom: 3.5rem;
}
@media only screen and (max-width: 74em) {
  .vo-tile-top {
    overflow-x: auto;
  }
}

.vo-nc-layout {
  margin-bottom: 2.125rem;
}

@media only screen and (max-width: 67em) {
  .vp-tile {
    overflow-x: auto;
  }
}

.table-vo {
  border: 0;
  text-align: center;
  width: 100%;
}
.table-vo-wrap {
  float: right;
  margin: 0 auto;
  overflow: visible;
  padding: 0;
  transition: transform 0.25s;
  vertical-align: top;
  width: 29.5%;
}
.table-vo-wrap:after {
  clear: both;
  content: '';
  display: table;
}
@media only screen and (max-width: 90.5625em) {
  .table-vo-wrap {
    position: relative;
  }
}
@media only screen and (max-width: 90.5625em) and (min-width: 73.4375em) {
  .table-vo-wrap {
    left: -15px;
    top: -35px;
    transform: scale(0.8);
  }
}
@media only screen and (max-width: 73.375em) and (min-width: 66.5em) {
  .table-vo-wrap {
    left: -22px;
    top: -45px;
    transform: scale(0.7);
  }
}
@media only screen and (max-width: 66.49em) and (min-width: 62.8125em) {
  .table-vo-wrap {
    left: -25px;
    top: -55px;
    transform: scale(0.65);
  }
}
@media only screen and (max-width: 62.75em) and (min-width: 45em) {
  .table-vo-wrap {
    left: -28px;
    top: -65px;
    transform: scale(0.6);
  }
}
@media only screen and (max-width: 45em) and (min-width: 40.625em) {
  .table-vo-wrap {
    left: -30px;
    top: -100px;
    transform: scale(0.55);
  }
}
@media only screen and (max-width: 40.5625em) {
  .table-vo-wrap {
    left: -33px;
    top: -115px;
    transform: scale(0.5);
  }
}
.table-vo-top-text {
  box-sizing: border-box;
  font-size: 1.25rem;
  font-weight: 700;
  margin: -3px 0 0;
  min-height: 4.875rem;
  padding-left: 0.625rem;
  width: 100%;
}
@media only screen and (max-width: 73.375em) {
  .table-vo-top-text {
    position: relative;
    right: -25px;
    text-align: center !important;
  }
}

.chart-heading {
  background: inherit;
  color: #2a3c68;
  font-size: 1.75em;
  font-weight: 700;
  padding: 0.75rem 0.5rem;
}

.chart-label {
  margin: 0 auto;
  width: 7rem;
}

.no-comp-width {
  width: 70% !important;
}

.rad-vo-data,
.bar-vo-data,
.bar-vp-data {
  color: transparent;
  height: 9.6875rem;
}

.bar-vo-title {
  font-size: 1.25em;
  font-weight: 700;
}

.row-vo:nth-child(2) {
  height: 0.5rem;
}

.cell-vo-hr {
  border-top-color: #bcbec0;
  margin: 0 auto;
  padding: 0;
  width: 55%;
}

.accordion-wrap {
  margin-bottom: 0.625rem;
}

.accordion,
.accordion__slide {
  border: 2px solid #2a3c68;
  box-sizing: border-box;
}

.accordion {
  background: padding-box #2a3c68;
  border: 2px solid #2a3c68;
  border-radius: 15px;
  box-sizing: border-box;
  height: 33.25em;
  line-height: 1.3;
  list-style: none;
  margin: 0 0 0.75rem;
  padding: 0;
  width: 100%;
}
.accordion__slide {
  background: padding-box #f8f9f9;
  border: 2px solid #2a3c68;
  box-sizing: border-box;
  cursor: pointer;
  float: left;
  height: 100%;
  overflow: hidden;
  transform: translateZ(0);
  transition: width 0.215s ease-out 0.12s;
  width: 14.2857%;
}
.accordion__slide-content {
  height: 100%;
  position: relative;
}
.accordion__slide-top {
  height: 5em;
  margin: 0 auto;
  padding: 0 0 0.75rem;
  position: relative;
  width: 96%;
}
.accordion__slide-heading {
  color: #2a3c68;
  font-size: 1.5em;
  margin: 0;
  padding: 0;
  position: absolute;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  width: 100%;
}
.accordion__slide-body {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 12;
  font-size: 1.25rem;
  overflow: hidden;
  overflow-wrap: break-word;
  padding: 0 1rem;
  text-align: left;
  text-overflow: ellipsis;
}
@media only screen and (max-width: 119.9375em) and (min-width: 105.0625em) {
  .accordion__slide-body {
    font-size: 1.1875rem;
  }
}
.accordion__slide-body > p {
  margin: 0;
}
.accordion__slide-instruct {
  bottom: 1.875rem;
  color: #4fa2d9;
  font-size: 1.125rem;
  font-variant: small-caps;
  letter-spacing: 0.15ch;
  position: absolute;
  right: 1rem;
  text-align: right;
}
.accordion__slide-img {
  height: 0;
  width: 0;
  background: center / contain no-repeat;
  border: 1px solid #2a3c68;
  clip-path: inset(100%);
  float: right;
  margin: 0;
  opacity: 0;
  transform: translateZ(0);
  transition: all 0s ease-out;
}
.accordion__slide-img--visorig {
  background-image: url(../../img/def-visorig.png);
}
.accordion__slide-img--visorigolap {
  background-image: url(../../img/def-visolap.png);
}
.accordion__slide-img--kpi {
  background-image: url(../../img/def-kpi.png);
}
.accordion__slide-img--avpv {
  background-image: url(../../img/def-avpv.png);
}
.accordion__slide-img--ttzc {
  background-image: url(../../img/def-ttzc.png);
}
.accordion__slide-img--hm {
  background-image: url(../../img/def-heatmap.jpg);
}
.accordion__slide-img--vispen {
  background-image: url(../../img/def-vispen.png);
}
.accordion__slide:focus,
.accordion__slide:hover {
  -webkit-filter: blur(0) !important;
  filter: blur(0) !important;
  width: 34% !important;
}
.accordion__slide:focus .accordion__slide-body,
.accordion__slide:hover .accordion__slide-body {
  display: block;
}
.accordion__slide:focus .accordion__slide-instruct,
.accordion__slide:hover .accordion__slide-instruct {
  display: none;
}
.accordion__slide:focus .accordion__slide-img,
.accordion__slide:hover .accordion__slide-img {
  height: 150px;
  width: 262px;
  clip-path: none;
  float: right;
  margin: 0 0.625rem 0.625rem;
  opacity: 1;
  transition-delay: 90ms;
  transition-duration: 0.31s;
}
.accordion__slide:focus .accordion__slide-img--ttzc,
.accordion__slide:hover .accordion__slide-img--ttzc {
  height: 126px;
}
.accordion__slide:first-child {
  border-radius: 15px 0 0 15px;
}
.accordion__slide:last-child {
  border-radius: 0 15px 15px 0;
}
.accordion:focus-within > .accordion__slide {
  width: 11%;
  -webkit-filter: blur(1px);
  filter: blur(1px);
}
.accordion:hover > .accordion__slide {
  width: 11%;
  -webkit-filter: blur(1px);
  filter: blur(1px);
}

@media only screen and (max-width: 105em) {
  .accordion {
    line-height: 1.2;
  }
  .accordion__slide-top {
    height: 4.5em;
    padding: 0 0 0.5rem;
    margin-top: 1em;
    transition: height 0.215s ease-out 0.12s, margin 0.215s ease-out 0.12s;
  }
  .accordion__slide-heading {
    font-size: 1.25em;
  }
  .accordion__slide-body {
    -webkit-line-clamp: 13;
    font-size: 1rem;
    padding: 0 0.75rem;
  }
  .accordion__slide-instruct {
    font-size: 1rem;
  }
  .accordion__slide:focus
    .accordion__slide-top
    .accordion__slide:hover
    .accordion__slide-top {
    height: 4em;
    margin: 0;
  }
  .accordion__slide:focus
    .accordion__slide-img
    .accordion__slide:hover
    .accordion__slide-img {
    height: 113px;
    width: 197px;
    background-size: contain;
  }
  .accordion__slide:focus
    .accordion__slide-img
    .accordion__slide:hover
    .accordion__slide-img--ttzc {
    height: 95px;
  }
}

@media only screen and (max-width: 64em) {
  .accordion__slide-top {
    height: 3.25em;
    padding: 0.25rem 0 0.5rem;
    line-height: 1.1;
  }
  .accordion__slide-heading {
    font-size: 1.0625em;
  }
  .accordion__slide-body {
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    padding: 0 0.5rem;
  }
  .accordion__slide-instruct {
    font-size: 0.875rem;
    left: 0;
    right: auto;
    text-align: center;
    width: 100%;
  }
  .accordion__slide:focus,
  .accordion__slide:hover {
    border-right-width: 1px;
    overflow: auto;
    scrollbar-face-color: rgba(42, 60, 104, 0.3);
    scrollbar-track-color: rgba(42, 60, 104, 0.2);
    scrollbar-color: rgba(42, 60, 104, 0.3) rgba(42, 60, 104, 0.2);
    scrollbar-width: thin;
  }
  .accordion__slide:focus::-webkit-scrollbar,
  .accordion__slide:hover::-webkit-scrollbar {
    height: 4px;
    width: 4px;
  }
  .accordion__slide:focus::-webkit-scrollbar-track,
  .accordion__slide:hover::-webkit-scrollbar-track {
    background: rgba(42, 60, 104, 0.5);
  }
  .accordion__slide:focus::-webkit-scrollbar-thumb,
  .accordion__slide:hover::-webkit-scrollbar-thumb {
    background: rgba(42, 60, 104, 0.6);
  }
  .accordion__slide:focus::-webkit-scrollbar-thumb:hover,
  .accordion__slide:hover::-webkit-scrollbar-thumb:hover {
    background: rgba(35, 50, 86, 0.67);
  }
  .accordion__slide:focus::-webkit-scrollbar-thumb:active,
  .accordion__slide:hover::-webkit-scrollbar-thumb:active {
    background: rgba(29, 42, 73, 0.75);
  }
  .accordion__slide:focus .accordion__slide-top,
  .accordion__slide:hover .accordion__slide-top {
    height: 2.875em;
  }
  .accordion__slide:focus .accordion__slide-img,
  .accordion__slide:hover .accordion__slide-img {
    height: 75px;
    width: 131px;
    background-size: contain;
  }
  .accordion__slide:focus .accordion__slide-img--ttzc,
  .accordion__slide:hover .accordion__slide-img--ttzc {
    height: 63px;
  }
}

.bav-tile {
  height: auto;
  min-height: 700px;
}

.wrapper-btn-row {
  display: flex;
  float: none;
  justify-content: center;
  margin: 0 auto -0.25rem;
}

.wrapper--export-cbx {
  margin-left: 30px;
}
.wrapper--export-cbx label {
  position: relative;
  top: -1px;
  left: 4px;
}

.wrapper--export-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rad-wrap,
.rad-wrap-lg,
.bar-wrap {
  margin: 0 auto;
  position: absolute;
}

.rad-wrap,
.rad-wrap-lg,
.h-bar-wrap,
.h-bar-mc-wrap {
  padding: 0;
  transform: translateZ(0);
}

.rad-wrap {
  height: 85px;
  width: 85px;
}

.rad-wrap-lg {
  height: 120px;
  width: 120px;
}

.bar-wrap {
  height: 115px;
  max-height: 115px;
  max-width: 82.6%;
  padding: 0;
  position: relative;
  transform: translateZ(0) rotate(-90deg);
  width: 95px;
}

.h-bar-wrap {
  height: 25px;
  max-height: 24%;
  max-width: 100%;
  width: 100px;
}

.h-bar-mc-wrap {
  cursor: default;
  height: 20px;
  width: 120px;
}
.avpv-table--full-layout .h-bar-mc-wrap {
  margin-left: 20%;
}
.avpv-table--less-one-layout .h-bar-mc-wrap {
  margin-left: 30%;
}
.avpv-table--less-two-layout .h-bar-mc-wrap {
  margin-left: 40%;
}

@media only screen and (max-width: 105em) {
  .avpv-table--full-layout .h-bar-mc-wrap {
    margin-left: 18%;
  }
  .avpv-table--less-one-layout .h-bar-mc-wrap {
    margin-left: 25%;
  }
  .avpv-table--less-two-layout .h-bar-mc-wrap {
    margin-left: 32%;
  }
}

@media only screen and (max-width: 90em) {
  .avpv-table--full-layout .h-bar-mc-wrap {
    margin-left: 13%;
  }
  .avpv-table--less-one-layout .h-bar-mc-wrap {
    margin-left: 18%;
  }
  .avpv-table--less-two-layout .h-bar-mc-wrap {
    margin-left: 23%;
  }
}

.chart-container {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.h-bar-container,
.h-bar-mc-container {
  height: 100%;
  width: 100%;
  padding: 0;
}

.h-bar-container {
  margin: 10px 0 5px 26.5%;
}

.kpi-table--less-two-layout .h-bar-container {
  margin-left: 38%;
}

.h-bar-fill-outer {
  height: 100%;
  width: 100%;
  margin: 10px auto 5px;
  padding: 0;
}

.h-bar-fill-inner {
  height: 25px;
  line-height: 25px;
  margin: 0 auto;
  padding: 0;
  width: 85px;
}

.unavail-msg {
  color: #414042 !important;
  font-size: 0.9em;
  font-variant: small-caps;
  margin: 0 auto;
}
.unavail-msg--sm {
  font-size: 0.7em;
}

.loading-screen {
  height: 100%;
  width: 100%;
  background: rgba(42, 60, 104, 0.8);
  cursor: wait;
  left: 0;
  overflow: visible;
  padding-top: 23vh;
  position: fixed;
  top: 0;
  z-index: 9999;
}
.loading-screen__display-area {
  background: rgba(17, 17, 17, 0.7);
  margin: 0 auto;
  padding: 1.875rem 0;
  text-align: center;
  width: 100%;
}
.loading-screen__logo {
  background: url(../../img/logo-down-sprite.png) -1px -93px;
  display: inline-block;
  height: 70px;
  width: 250px;
}
.loading-screen__msg {
  color: #4fa2d9;
  font-size: 1.375em;
  font-variant: small-caps;
  letter-spacing: 2px;
  text-align: center;
}
.loading-screen__spinner {
  height: 125px;
  width: 125px;
  animation: bounce-in 1.27s ease-in, color-spinner 1.6s linear 1.3s infinite;
  background-clip: padding-box;
  border-color: #2a3c68 #4fa2d9;
  border-radius: 50%;
  border-style: solid;
  border-width: 16px;
  margin: 2px auto;
  transform: translateZ(0);
}

.stop-anim {
  animation-play-state: paused;
}

.nav-loc-toggle-wrapper {
  margin: 0;
  z-index: 999;
}

.toggle {
  display: block;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.toggle__checkbox {
  display: none;
}
.toggle__label {
  box-sizing: border-box;
  display: block;
  font-size: 0.875rem;
  margin: 0 auto;
  transition: 0.35s ease-in;
}
.toggle__label:hover {
  cursor: pointer;
}
.toggle__checkbox,
.toggle__checkbox:before,
.toggle__checkbox:after,
.toggle__label,
.toggle__label:before,
.toggle__label:after,
.toggle__feature,
.toggle__feature:before,
.toggle__feature:after {
  transition: 0.22s ease-in;
}
.toggle__checkbox:before,
.toggle__checkbox:after,
.toggle__label:before,
.toggle__label:after,
.toggle__feature:before,
.toggle__feature:after {
  content: '';
  display: block;
}

.toggle--knob .toggle__label {
  background: #2a3c68;
  border: 1px solid #bcbec0;
  border-radius: 3em;
  box-shadow: inset 0 20px 40px -10px rgba(79, 162, 217, 0.35);
  color: #fff;
  font: 700 1.25em Lato, Oxygen, 'Open Sans', 'Lucida Grande', Tahoma, Verdana,
    sans-serif;
  height: 32px;
  position: relative;
  width: 100px;
}
.toggle--knob .toggle__label:before {
  height: 46px;
  width: 46px;
  background: #f8f9f9;
  border: 1px solid #bcbec0;
  border-radius: 50%;
  box-shadow: 0 4px 10px 0 #999, inset 0 10px 10px 8px rgba(248, 249, 249, 0.5),
    inset 0 0 8px 0px #333, inset 0 0 0 14px #f8f9f9;
  box-sizing: border-box;
  display: block;
  left: 60%;
  position: absolute;
  text-indent: -100%;
  top: 50%;
  transform: translateY(-50%);
}

.toggle--knob .toggle__feature {
  position: relative;
  display: block;
  overflow: hidden;
  height: 32px;
  text-shadow: 0 1px 2px #414042;
}
.toggle--knob .toggle__feature:before,
.toggle--knob .toggle__feature:after {
  position: absolute;
  top: 49%;
  transform: translateY(-50%);
}
.toggle--knob .toggle__feature:before {
  content: attr(data-label-on);
  left: 20%;
}
.toggle--knob .toggle__feature:after {
  content: attr(data-label-off);
  right: -60%;
}

.toggle--knob .toggle__checkbox:checked + .toggle__label {
  background: #4fa2d9;
  box-shadow: inset 0 20px 40px -10px rgba(126, 126, 126, 0.35);
}
.toggle--knob .toggle__checkbox:checked + .toggle__label:before {
  left: 0;
}
.toggle--knob
  .toggle__checkbox:checked
  + .toggle__label
  .toggle__feature:before {
  left: -60%;
}
.toggle--knob
  .toggle__checkbox:checked
  + .toggle__label
  .toggle__feature:after {
  right: 20%;
}

.icon-cal {
  height: 64px;
  width: 64px;
  background: url('https://assets.codepen.io/1157507/icon-calendarbtn.png')
    no-repeat;
  border: 0;
  cursor: pointer;
  display: inline-block;
  transition: background-image 0.35s ease-out;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.25),
  only screen and (min-device-pixel-ratio: 1.25),
  only screen and (min-resolution: 200dpi),
  only screen and (min-resolution: 1.25dppx) {
  .icon-cal {
    background: url('https://assets.codepen.io/1157507/icon-calbtn-2x.png') 0%
      0% / 64px 64px no-repeat;
  }
}
.icon-cal:hover {
  background: url('https://assets.codepen.io/1157507/icon-calendarbtn--open.png')
    no-repeat;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.25),
  only screen and (min-device-pixel-ratio: 1.25),
  only screen and (min-resolution: 200dpi),
  only screen and (min-resolution: 1.25dppx) {
  .icon-cal:hover {
    background: url('https://assets.codepen.io/1157507/icon-calbtn--open-2x.png')
      0% 0% / 64px 64px no-repeat;
  }
}
.icon-cal:focus {
  outline: 0;
}
.icon-cal:-moz-focusring {
  outline: 1px dashed #4fa2d9;
}
.icon-cal:focus-visible {
  outline: 1px dashed #4fa2d9;
}
.icon-cal:active {
  background: url('https://assets.codepen.io/1157507/icon-calendarbtn.png')
    no-repeat;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.25),
  only screen and (min-device-pixel-ratio: 1.25),
  only screen and (min-resolution: 200dpi),
  only screen and (min-resolution: 1.25dppx) {
  .icon-cal:active {
    background: url('https://assets.codepen.io/1157507/icon-calbtn-2x.png') 0%
      0% / 64px 64px no-repeat;
  }
}
.icon-cal__flyout {
  align-items: center;
  background: #f1f2f2;
  border-radius: 16px;
  border: 2px solid #4fa2d9;
  box-sizing: border-box;
  cursor: default;
  display: flex;
  flex-direction: column;
  left: -200%;
  opacity: 1;
  padding: 1rem 0 2.25rem;
  position: relative;
  top: 64px;
  transition: opacity 0.45s ease-out;
  visibility: visible;
  width: 320px;
  z-index: 999;
}
.icon-cal__flyout .btn-close-flyout {
  border: 2px solid #4fa2d9;
  border-radius: 8px 8px 0 0;
  bottom: -2px;
  color: #2a3c68;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.5;
  position: absolute;
  transition: background-color 0.35s ease-out, border-color 0.35s ease-out,
    color 0.35s ease-out;
}
.icon-cal__flyout .btn-close-flyout:hover,
.icon-cal__flyout .btn-close-flyout:focus {
  background: #fff;
  color: #4fa2d9;
}

.datepicker {
  background: url('https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png')
    96% 50% no-repeat #fff;
  border: 1px solid #bcbec0;
  border-radius: 10px;
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.125);
  box-sizing: border-box;
  color: #414042;
  display: block;
  font: 1.125em Roboto, Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  height: 2rem;
  margin: 0.5rem 0;
  padding: 0 10px;
  width: 180px;
}
.datepicker::-webkit-inner-spin-button {
  display: none;
}
.datepicker::-webkit-calendar-picker-indicator {
  opacity: 0;
  cursor: pointer;
}
.datepicker[type='text'] {
  cursor: pointer;
}

.datepicker-label {
  color: #414042;
  display: block;
  text-align: center;
}

.setdate-btn-wrap {
  margin: 0 0 0.75rem;
}

@keyframes bounce-in {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
    transform: translateY(-500px);
  }
  38% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateY(0);
  }
  55% {
    animation-timing-function: ease-in;
    transform: translateY(-65px);
  }
  72%,
  90%,
  100% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }
  81% {
    animation-timing-function: ease-in;
    transform: translateY(-28px);
  }
  95% {
    animation-timing-function: ease-in;
    transform: translateY(-8px);
  }
}

@keyframes wave {
  50% {
    transform: scale(0.9);
  }
}

@keyframes color-spinner {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 64em) {
  .iOS7LocalPanelHeader .A5ControlBarHorz .A5ControlBarItem > .iOS7LocalButton {
    font-size: 0.8125rem !important;
  }
  #OVERVIEW_BUILD\.V\.R1\.FOOTER_NAV\.CR {
    display: none;
  }
}

#clear_search,
#clear_search:hover {
  font-weight: 400 !important;
}

#IFRAME_states,
#IFRAME_compmarketshare {
  border: 0;
  min-height: 53rem;
  overflow: hidden !important;
  width: 100%;
}

@media only screen and (max-width: 82.5em) {
  .download-charts {
    display: none !important;
  }
}

@media only screen and (max-width: 77.5em) {
  .name-and-download-text {
    display: none !important;
  }
}
