<section class="tile kpi-tile" id="kpi_tile">
	<div class="kpi-tile-content">
		<header class="tile-header">
			<h2 class="tile-header-title">Key Performance Indicators</h2>
		</header>
		<div class="kpi-table-wrap">
			<table class="kpi-table" id="kpi_table">
				<thead class="kpi-thead">
					<tr class="kpi-row">
						<th class="kpi-header"></th>
						<th class="kpi-header" scope="col">
							<div class="limit-width">{MSA_Name}</div>
						</th>
						<th class="kpi-header" scope="col">
							<div class="limit-width">
								<span id="primary_location_name">{LOC_Name}</span>
							</div>
						</th>
						<th class="kpi-header kpi-index" scope="col">Index vs. MSA</th>
						<th class="kpi-header" scope="col">
							<div class="limit-width">{BMK_Name}</div>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr class="kpi-row">
						<th class="kpi-cell" scope="row">
							<div class="icon-container">
								<div class="kpi-icon-pop"></div>
							</div>
							<div class="kpi-row-header">TruTrade Population</div>
						</th>
						<td class="kpi-cell js-csv transparent">{MSA_PopulationIndex}</td>
						<td class="kpi-cell js-csv transparent">{LOC_PopulationIndex}</td>
						<td class="kpi-cell kpi-index">
							<span class="js-csv transparent" title="TruTrade Population Index">{IDX_PopulationIndex}</span>
						</td>
						<td class="kpi-cell js-csv transparent">{BMK_PopulationIndex}</td>
					</tr>
					<tr class="kpi-row">
						<th class="kpi-cell" scope="row">
							<div class="icon-container">
								<div class="kpi-icon-traffic"></div>
							</div>
							<div class="kpi-row-header">Estimated Visitor Traffic</div>
						</th>
						<td class="kpi-cell">
							<span title="Value not applicable">n/a</span>
						</td>
						<td class="kpi-cell js-csv transparent">{LOC_Penetration}</td>
						<td class="kpi-cell kpi-index">
							<span title="Value not applicable">n/a</span>
						</td>
						<td class="kpi-cell">n/a</td><!--Replace 'n/a' here when data exists-->
					</tr>
					<tr class="kpi-row">
						<th class="kpi-cell" scope="row">
							<div class="icon-container">
								<div class="kpi-icon-dwell"></div>
							</div>
							<div class="kpi-row-header">Average Dwell Time</div>
						</th>
						<td class="kpi-cell not-app"><span id="col1_val1" title="Value not applicable">n/a</span></td>
						<td class="kpi-cell" id="col2_val1">{LOC_AverageDwellTime}</td>
						<td class="kpi-cell kpi-index"><span title="Value not applicable">n/a</span></td>
						<td class="kpi-cell" id="col4_val1">{BMK_AverageDwellTime}</td>
					</tr>
					<tr class="kpi-row">
						<th class="kpi-cell" scope="row">
							<div class="icon-container">
								<div class="kpi-icon-college"></div>
							</div>
							<div class="kpi-row-header">College Degree<br>or Higher</div>
						</th>
						<td class="kpi-cell" id="col1_val2">{MSA_CollegeDegreeOrHigher}</td>
						<td class="kpi-cell" id="col2_val2">{LOC_CollegeDegreeOrHigher}</td>
						<td class="kpi-cell kpi-index"><span title="College Degree Index">{IDX_CollegeDegreeOrHigher}</span></td>
						<td class="kpi-cell" id="col4_val2">{BMK_CollegeDegreeOrHigher}</td>
					</tr>
					<tr class="kpi-row">
						<th class="kpi-cell" scope="row">
							<div class="icon-container">
								<div class="kpi-icon-income"></div>
							</div>
							<div class="kpi-row-header">Income $100k<br>or Higher</div>
						</th>
						<td class="kpi-cell" id="col1_val3">{MSA_Percent100K}</td>
						<td class="kpi-cell" id="col2_val3">{LOC_Percent100K}</td>
						<td class="kpi-cell kpi-index"><span title="Income $100k+ Index">{IDX_Percent100K}</span></td>
						<td class="kpi-cell" id="col4_val3">{BMK_Percent100K}</td>
					</tr>
					<tr class="kpi-row">
						<th class="kpi-cell" scope="row">
							<div class="icon-container">
								<div class="kpi-icon-income"></div>
							</div>
							<div class="kpi-row-header">Avg Household<br>Income</div>
						</th>
						<td class="kpi-cell js-usd transparent">{MSA_AverageHouseholdIncome}</td>
						<td class="kpi-cell js-usd transparent">{LOC_AverageHouseholdIncome}</td>
						<td class="kpi-cell kpi-index">
							<span title="Average Household Income Index">{IDX_AverageHouseholdIncome}</span>
						</td>
						<td class="kpi-cell js-usd transparent">{BMK_AverageHouseholdIncome}</td>
					</tr>
					<tr class="kpi-row age-row">
						<th class="kpi-cell age-groups" scope="row">
							<div class="icon-container">
								<div class="kpi-icon-age"></div>
							</div>
							<div class="div-cell title-col genz">Generation Z</div>
							<div class="div-cell title-col millennials">Millennials</div>
							<div class="div-cell title-col genx">Generation X</div>
							<div class="div-cell title-col babyboomers">Baby Booomers</div>
							<div class="div-cell title-col avg-age">Average Age</div>
						</th>
						<td class="kpi-cell age-groups">
							<div class="div-cell genz" id="col1_val4">{MSA_GenerationZ}</div>
							<div class="div-cell millennials" id="col1_val5">{MSA_MIllennials}</div>
							<div class="div-cell genx" id="col1_val6">{MSA_GenerationX}</div>
							<div class="div-cell babyboomers" id="col1_val7">{MSA_BabyBoomers}</div>
							<div class="div-cell avg-age">{MSA_AverageAge}</div>
						</td>
						<td class="kpi-cell age-groups">
							<div class="div-cell genz" id="col2_val4">{LOC_GenerationZ}</div>
							<div class="div-cell millennials" id="col2_val5">{LOC_MIllennials}</div>
							<div class="div-cell genx" id="col2_val6">{LOC_GenerationX}</div>
							<div class="div-cell babyboomers" id="col2_val7">{LOC_BabyBoomers}</div>
							<div class="div-cell avg-age">{LOC_AverageAge}</div>
						</td>
						<td class="kpi-cell age-groups kpi-index">
							<div class="div-cell genz">
								<div class="h-bar-fill-outer">
									<div class="h-bar-fill-inner">
										<span title="Generation Z Index">{IDX_GenerationZ}</span>
									</div>
								</div>
							</div>
							<div class="div-cell millennials">
								<div class="h-bar-fill-outer">
									<div class="h-bar-fill-inner">
										<span title="Millennials Index">{IDX_Millennials}</span>
									</div>
								</div>
							</div>
							<div class="div-cell genx">
								<div class="h-bar-fill-outer">
									<div class="h-bar-fill-inner">
										<span title="Generation X Index">{IDX_GenerationX}</span>
									</div>
								</div>
							</div>
							<div class="div-cell babyboomers">
								<div class="h-bar-fill-outer">
									<div class="h-bar-fill-inner">
										<span title="Baby Boomer Index">{IDX_BabyBoomers}</span>
									</div>
								</div>
							</div>
							<div class="div-cell avg-age">
								<span title="Average Age Index">{IDX_AverageAge}</span>
							</div>
						</td>
						<td class="kpi-cell age-groups">
							<div class="div-cell genz" id="col4_val4">{BMK_GenerationZ}</div>
							<div class="div-cell millennials" id="col4_val5">{BMK_MIllennials}</div>
							<div class="div-cell genx" id="col4_val6">{BMK_GenerationX}</div>
							<div class="div-cell babyboomers" id="col4_val7">{BMK_BabyBoomers}</div>
							<div class="div-cell avg-age">{BMK_AverageAge}</div>
						</td>
					</tr>
					<tr class="kpi-row">
						<th class="kpi-cell" scope="row">
							<div class="icon-container">
								<div class="kpi-icon-diversity"></div>
							</div>
							<div class="kpi-row-header">Racial/Ethnic<br>Diversity</div>
						</th>
						<td class="kpi-cell" id="col1_val8">{MSA_Diversity}</td>
						<td class="kpi-cell" id="col2_val8">{LOC_Diversity}</td>
						<td class="kpi-cell kpi-index"><span title="Diversity Index">{IDX_Diversity}</span></td>
						<td class="kpi-cell" id="col4_val8">{BMK_Diversity}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</section>
