<section class="tile ttzc-tile" id="ttzc_tile">
	<header class="tile-header">
		<h2 class="tile-header-title">Top Ten ZIP Codes</h2>
	</header>
	<div class="ttzc-table-wrap">
		<table class="ttzc-table" id="ttzc_table">
			<thead class="ttzc-thead">
				<tr class="ttzc-row">
					<th class="ttzc-header ttzc-rank" scope="col">Rank</th>
					<th class="ttzc-header ttzc-zip" scope="col">ZIP Code</th>
					<th class="ttzc-header ttzc-city" scope="col">City</th>
					<th class="ttzc-header ttzc-state" scope="col">State</th>
					<th class="ttzc-header ttzc-pcentvis" scope="col">Percent<br>Visits</th>
					<th class="ttzc-header ttzc-cumpcentvis" scope="col">Cumulative<br>Percent<br>Visits</th>
					<th class="ttzc-header ttzc-tothouse" scope="col">Total<br>Households</th>
					<th class="ttzc-header ttzc-totpop" scope="col">Total<br>Population</th>
					<th class="ttzc-header ttzc-avghouseinc" scope="col">Average<br>Household<br>Income</th>
					<th class="ttzc-header ttzc-popgrow" scope="col">Population<br>Growth</th>
				</tr>
			</thead>
			<tbody class="ttzc-tbody">
				{*root}
				<tr class="ttzc-row">
					<td class="ttzc-cell ttzc-rank">{Row}</td>
					<td class="ttzc-cell ttzc-zip">{Zip}</td>
					<td class="ttzc-cell ttzc-city">{CITY}</td>
					<td class="ttzc-cell ttzc-state">{STATE}</td>
					<td class="ttzc-cell ttzc-pcentvis">{PercentVisits}%</td>
					<td class="ttzc-cell ttzc-cumpcentvis">{CumulativeTotal}%</td>
					<td class="ttzc-cell ttzc-tothouse">{TOTHH_CY}</td>
					<td class="ttzc-cell ttzc-totpop">{TOTPOP_CY}</td>
					<td class="ttzc-cell ttzc-avghouseinc">{AverageIncome}</td>
					<td class="ttzc-cell ttzc-popgrow">{PopGrowth}%</td>
				</tr>
				{/*root}
			</tbody>
		</table>
	</div>
</section>
