<section class="tile vo-tile-top vo-default-layout" id="vo_tile">
	<header class="tile-header">
		<h2 class="tile-header-title">Visitor Origin</h2>
	</header>
	<div class="tile-content">
		<div class="map-wrap map-wrap--vo-left">
			<iframe class="map-iframe map-iframe--vo-left js-map"
				src="https://trutradedevelop.alexanderbabbage.com/andrew/trutrade/nodett3rokk/VisitorOrigin.html?GlobalID={CenterID}&Timeframe={YearOrMonth}&month={Timeframe}"
				width="470"
				height="660"
				allowfullscreen>
			</iframe>
		</div>
		<div class="map-wrap-right">
			<iframe class="map-iframe map-iframe--vo-right js-map"
				src="https://trutradedevelop.alexanderbabbage.com/andrew/trutrade/nodett3rokk/VisitorOrigin.html?GlobalID={CenterID2}&Timeframe={YearOrMonth}&month={Timeframe}"
				width="470"
				height="660"
				allowfullscreen>
			</iframe>
		</div>
		<div class="map-label-left">
			<small class="small-label">{LOC_Name} Visitor Origin</small>
		</div>
		<div class="map-label-right">
			<small class="small-label">{CMP_Name} Visitor Origin</small>
		</div>
	</div>
</section>
<section class="tile vo-tile-sub" id="vo_tile_sub">
	<div class="tile-sub-wrap">
		<header class="tile-header">
			<h2 class="tile-header-title">Visitor Origin Overlap</h2>
		</header>
		<div class="tile-content">
			<div class="map-wrap-full">
				<iframe class="map-iframe map-iframe--full js-map"
						src="https://trutradedevelop.alexanderbabbage.com/andrew/trutrade/nodett3rokk/compoverlay2.html?centerid={CenterID}&compid={CenterID2}&layerid3=3&layerid2=2&layerid4=4&month={Timeframe}&Timeframe={YearOrMonth}"
						width="960"
						height="660"
						allowfullscreen>
				</iframe>
			</div>
			<div class="map-label">
				<small class="small-label">Visitor Origin Overlap between {LOC_Name} and {CMP_Name}</small>
			</div>
		</div>
	</div>
</section>
