<section class="tile vo-tile-top vo-nbnc-layout" id="vo_tile">
	<header class="tile-header">
		<h2 class="tile-header-title">Visitor Origin</h2>
	</header>
	<div class="tile-content">
		<div class="map-wrap no-comp-width">
			<iframe class="map-iframe js-map"
				src="nodett3rokk/overviewmap5.html?centers={CenterID}&layerid=2"
				width="627"
				height="660"
				allowfullscreen>
			</iframe>
		</div>
		<div class="table-vo-wrap">
				<div class="table-vo-top-text">
					<span>See where actual visitors live rather than relying on potential
						visitors who live in the immediate vicinity</span>
				</div>
				<table class="table-vo">
					<thead class="thead-vo">
						<tr class="row-vo">
							<th class="cell-vo cell-vo-header chart-heading" scope="colgroup">Visitor Origin Population</th>
						</tr>
					</thead>
					<tbody class="tbody-vo">
						<tr class="row-vo">
							<td class="cell-vo bar-vo-data" id="vo_col1_val1">{LOC_PopulationIndex}</td>
						</tr>
						<tr class="row-vo">
							<td class="cell-vo"><hr class="cell-vo-hr"></td>
						</tr>
						<tr class="row-vo">
							<td class="cell-vo bar-vo-title">
								<div class="chart-label">{LOC_Name}</div>
							</td>
						</tr>
						<tr>
							<th class="cell-vo cell-vo-header chart-heading" scope="col">
								Visitor Penetration within 10 Miles
							</th>
						</tr>
						<tr class="row-vo">
							<td class="cell-vo rad-vo-data" id="vo_col1_val2">{LocPenetration10}</td>
						</tr>
						<tr class="row-vo">
							<td class="cell-vo"><hr class="cell-vo-hr"></td>
						</tr>
						<tr class="row-vo">
							<td class="cell-vo bar-vo-title">
								<div class="chart-label">{LOC_Name}</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		<div class="map-label-left no-comp-width">
			<small class="small-label">{LOC_Name} Visitor Origin</small>
		</div>
	</div>
</section>
