<section id="vp_tile" class="tile vp-tile">
	<header class="tile-header">
		<h2 class="tile-header-title">Visitor Penetration</h2>
	</header>
	<div class="tile-content">
		<div class="map-wrap-left">
			<iframe class="map-iframe map-iframe--vp js-map" src="nodett3rokk/overviewmap5.html?centers={CenterID}&layerid=4" width="627" height="660" allowfullscreen>
			</iframe>
		</div>
		<div class="table-vo-wrap">
				<div class="table-vo-top-text">
					<span>Darker green areas indicate ZIP Codes with more visitors per
						population to the location than areas in light green.</span>
				</div>
				<table id="vp_table" class="table-vo">
					<thead class="thead-vo">
						<tr class="row-vo">
							<th class="cell-vo cell-vo-header chart-heading" colspan="2" scope="colgroup">Visitor Penetration</th>
						</tr>
					</thead>
					<tbody class="tbody-vo">
						<tr class="row-vo">
							<td id="vp_col1_val1" class="cell-vo bar-vp-data">{LOC_Penetration}</td>
							<td id="vp_col2_val1" class="cell-vo bar-vp-data"><!--Insert data field here when available --></td>
						</tr>
						<tr class="row-vo">
							<td class="cell-vo"><hr class="cell-vo-hr"></td>
							<td class="cell-vo"><hr class="cell-vo-hr"></td>
						</tr>
						<tr class="row-vo">
							<td class="cell-vo bar-vo-title">
								<div class="chart-label">{LOC_Centername}</div>
							</td>
							<td class="cell-vo bar-vo-title">
								<div class="chart-label">{BMK_Centername}</div>
							</td>
						</tr>
						<tr>
							<th class="cell-vo cell-vo-header chart-heading" colspan="2" scope="colgroup">
								Visitor Penetration within 10 Miles
							</th>
						</tr>
						<tr class="row-vo">
							<td id="vp_col1_val2" class="cell-vo rad-vo-data">{LocPenetration10}</td>
							<td id="vp_col2_val2" class="cell-vo rad-vo-data"><!--Insert data field here when available --></td>
						</tr>
						<tr class="row-vo">
							<td class="cell-vo"><hr class="cell-vo-hr"></td>
							<td class="cell-vo"><hr class="cell-vo-hr"></td>
						</tr>
						<tr class="row-vo">
							<td class="cell-vo bar-vo-title">
								<div class="chart-label">{LOC_Centername}</div>
							</td>
							<td class="cell-vo bar-vo-title">
								<div class="chart-label">{BMK_Centername}</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		<div class="map-label-vp">
			<small class="small-label">{LOC_Centername} Penetration Map</small>
		</div>
	</div>
</section>
