<section id="zcom_tile" class="group report-tile report-tile--zcom">
	<div id="zcom_content" class="zcom-content">
		<header>
			<h2 class="report-header">ZIP Code Opportunity Matrix</h2>
		</header>
		<p class="record-count"><span id="zcom_record_count">0</span> Records</p>
		<div class="ttzc-table-wrap">
			<table id="zcom_table" class="ttzc-table ttzc-table--zcom">
				<thead class="ttzc-thead">
					<tr class="ttzc-row">
						<th class="ttzc-header ttzc-header--zcom ttzc-rank ttzc-rank--zcom" scope="col">Rank</th>
						<th class="ttzc-header ttzc-header--zcom ttzc-zip" scope="col">ZIP Code</th>
						<th class="ttzc-header ttzc-header--zcom ttzc-city" scope="col">City</th>
						<th class="ttzc-header ttzc-header--zcom ttzc-state" scope="col">State</th>
						<th class="ttzc-header ttzc-header--zcom ttzc-dist" scope="col">Distance<br><i>(miles)</i></th>
						<th class="ttzc-header ttzc-header--zcom ttzc-pcentvis" scope="col">Percent<br>Visits</th>
						<th class="ttzc-header ttzc-header--zcom ttzc-tothouse" scope="col">Total<br>Households</th>
						<th class="ttzc-header ttzc-header--zcom ttzc-totpop" scope="col">Total<br>Population</th>
						<th class="ttzc-header ttzc-header--zcom ttzc-avghouseinc" scope="col">Average<br>Household<br>Income</th>
						<th class="ttzc-header ttzc-header--zcom ttzc-popgrow" scope="col">Population<br>Growth</th>
					</tr>
				</thead>
				<tbody class="ttzc-tbody">
					{*root}
					<tr class="ttzc-row js-zcom-row">
						<td class="ttzc-cell ttzc-rank">{Row}</td>
						<td class="ttzc-cell ttzc-zip">{Zip}</td>
						<td class="ttzc-cell ttzc-city">{CITY}</td>
						<td class="ttzc-cell ttzc-state">{STATE}</td>
						<td class="ttzc-cell ttzc-dist">{Distance}</td>
						<td class="ttzc-cell ttzc-pcentvis">{PercentVisits}%</td>
						<td class="ttzc-cell ttzc-tothouse">{TOTHH_CY}</td>
						<td class="ttzc-cell ttzc-totpop">{TOTPOP_CY}</td>
						<td class="ttzc-cell ttzc-avghouseinc">{AverageIncome}</td>
						<td class="ttzc-cell ttzc-popgrow">{PopGrowth}%</td>
					</tr>
					{/*root}
				</tbody>
			</table>
		</div>
	</div>

	<div class="btn-wrapper">
		<div style="margin:25px auto 0">
			<div style="display:inline-block;margin-right:25px">
				<a class="icon-excel icon-excel--img"
					id="zcom_btn_excel"
					href="#"
					onclick="featureComingSoonErrMsg()"
					title="Export data in grid to Excel"
				><span class="is-visually-hidden">Export to Excel</span>
				</a>
			</div>
			<div style="display:inline-block">
				<a class="icon-print icon-print--img"
					href="#"
					rel="noopener noreferrer"
					target="_blank"
					onclick="prntZCOM(document.getElementById('zcom_content'),'TruTrade - ZIP Code Opportunity Matrix Report',1100)"
				><span class="is-visually-hidden">Export to Excel</span>
				</a>
			</div>
		</div>
	</div>
</section>
