html { box-sizing: border-box; }

* {
    box-sizing: inherit;
}

body {
    color: #6D6E71;
    overflow: hidden;
}

tr:nth-child(odd) {
    background: #F8F9F9 !important;
}

td {
    cursor: default;
    font-size: 14px;
    padding: 14px;
}

td:hover {
    font-weight: 700;
}

.table-wrapper {
    border-bottom: 2px solid #BCBEC0;
    min-height: 2200px;
    max-height: 2220px;
    overflow: auto;
    scrollbar-color: #F1DDDF #A11D27;
    scrollbar-width: thin;
    scrollbar-face-color: #F1DDDF;
    scrollbar-face-color: linear-gradient(to bottom, #F1DDDF, #EDC4C8);
    scrollbar-track-color: #A11D27;
    width: auto;
}

.table-wrapper::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}

.table-wrapper::-webkit-scrollbar-track {
    background: #A11D27;
    border: 1px solid #BCBEC0;
    border-radius: 10px;
}

.table-wrapper::-webkit-scrollbar-thumb {
    background: -webkit-linear-gradient(top, #F1DDDF, #EDC4C8);
    background: linear-gradient(to bottom, #F1DDDF, #EDC4C8);
    border-radius: 10px;
    box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .25), inset -2px -2px 2px rgba(0, 0, 0, .25);
}

.table-wrapper::-webkit-scrollbar-thumb:hover {
    background: -webkit-linear-gradient(top, #FCE6A3, #EFD483);
    background: linear-gradient(to bottom, #FCE6A3, #EFD483);
}

.table-wrapper::-webkit-scrollbar-thumb:active {
    background: -webkit-linear-gradient(top, #F7C01C, #FFFB47);
    background: linear-gradient(to bottom, #F7C01C, #FFFB47);
}

.iOS7LocalGridHeader {
    height: 75px !important;
    padding: 0 4px !important;
}

.iOS7LocalLink { cursor: default !important; }

.iOS7LocalGrid,
.btn-wrapper,
.wrapper {
    width: 100%;
}

.btn-wrapper { text-align: center; }

.fixed-head th {
    border-top: 2px solid #BCBEC0 !important;
    border-bottom: 2px solid #BCBEC0;
    position: -webkit-sticky;
    position: sticky;
    top: -2px;
    z-index: 999;
}

#cms_main {
    margin: 0 auto;
    text-align: center;
}

#centering_content {
    display: inline-block;
    margin: 0 auto;
    text-align: left;
    width: auto;
}
