body {
	background-color: #F1F2F2;
}

p {
	font-size: 14px;
	margin-left: 25px;
	text-align: justify;
	width: 450px;
}

.login-tile {
  height: 550px;
	left: 50%;
	position: absolute;
	text-align: center;
	top: 45%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 500px;
}

.innerWrapper {
	text-align: left;
	width: 499px;
}

.login-images {
	display: block;
	margin: 0 auto;
}

.logoText {
	color: #6D6E71;
	font-size: 12px;
	text-align: center;
}

.labelText {
	font-size: 18px;
	font-weight: 700;
	text-align: left;
}

.loginInputEmail, .loginInputPassword {
	-moz-appearance: none;
	-webkit-appearance: none;
	border-radius: 12px;
	border: 1px solid #BCBEC0;
	box-sizing: border-box;
	color: #6D6E71;
	font-size: 18px;
	height: 30px;
	line-height: 30px;
	margin-left: 25px;
	padding: 1px 36px 1px 12px;
	text-overflow: '';
	white-space: nowrap;
	width: 450px;
}

.loginInputEmail {
	background: url(css/iOS7Local/img/icon-form-user.png) right no-repeat padding-box #F1F2F2;
}

.loginInputPassword {
	background: url(css/iOS7Local/img/icon-form-password.png) right no-repeat padding-box #F1F2F2;
}

.txtDefault {
	text-align: left;
	font-size: 14px;
}

.buttonTT {
  font-size: 17px;
}

.buttonTT:hover {
	background: #414042;
  color: #FFF;
  text-shadow: none;
}

.buttonTT:active {
	box-shadow: inset 0 0 5px #7A797B, 1px 1px 3px 1px #6D6E71;
	background: #373637;
	border-color: #373637;
  color: #FFF;
  top: 2px;
}

.buttonTT:disabled {
	background: #A7A9AC;
	color: #3B3A3B;
	opacity: .7;
	text-shadow: 0 0 1px rgba(241, 242, 242, .2), 0 1px 0 rgba(241, 242, 242, .2);
}
