<form autocomplete="off" name="UX_PP_SecureLogin" id="UX_PP_SecureLogin" action="" method="post">
  <input name="UX_PP_SecureLogin_forminfo" type="hidden" id="UX_PP_SecureLogin_forminfo" value="aG56XvNpsXHZCzflza4J%2bjQYIH4QyCaPMaBK8s0x2%2b6P00JXq3FD0Mf3%2bHL7AlnJ">
  <div class="container">
    <img src="img/logo-primary-alt_white.png" class="login-images" width="281" height="133" alt="PinPoint Logo"><br>
    <div class="innerWrapper">
      <p>
        <label for="UserID" class="labelText">User ID / Email Address:</label><br>
      </p>
        <input class="loginInputEmail" name="Userid" id="Userid" type="text" autocomplete="username" autofocus><br>
      <p>
        <label for="Password" class="labelText">Password:</label><br>
      </p>
        <input class="loginInputPassword" name="Password" id="Password" type="password" autocomplete="password"><br>
    </div><!--/.innerWrapper-->
    <p>
      <input type="checkbox" id="logged" checked="checked">
      <label for="logged" class="txtDefault">Keep me logged in</label>
      <span class="checkmark"></span><br><br>
      By clicking "SIGN IN" and entering this site, you confirm that you have read the
      <a id="CP" class="sm-link" href="cookie-policy.html" hreflang="en" target="_blank" title="The PinPoint Cookie Policy">Cookie Policy</a>,
      <a id="PP" class="sm-link" href="privacy-policy.html" hreflang="en" target="_blank" title="The PinPoint Privacy Policy">Privacy Policy</a>, and
      <a class="sm-link" href="terms-of-use.html" hreflang="en" target="_blank" title="The PinPoint Terms of Use">Terms of Use</a>,
      that you understand them, and that you agree to be bound by them.
    </p>
    <br>
    <input name="submitbutton" id="UX_PP_SecureLogin_submitbutton" type="submit" class="buttonL" value="SIGN IN"><br><br>
    <input name="linkaction" id="linkaction" type="hidden">
    <a href="#" onclick="linkSubmit('lostpass'); return false;" class="forgetPasswordText" title="Recover a forgotten password">Forgot your password?</a><br><br><br>
    <table style="width:450px;text-align:center">
      <tr>
        <td style="width:100px;text-align:right">
          <img class="login-images" alt="JLL Logo" src="img/logo-secondary.png" width="67" height="30">
        </td>
        <td class="logoText">
          <em>Copyright &copy; <time>2019</time>, Alexander Babbage, Inc. All rights reserved.</em>
        </td>
      </tr>
    </table>
  </div>
</form>
