/* Print Report Style Type 5 - Top States Report */

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'),
    local('Roboto-Regular'),
    url('fonts/Roboto Regular V2.woff2') format('woff2'),
    url('fonts/Roboto Regular V2.woff') format('woff'),
    url('fonts/Roboto Regular V2.ttf') format('truetype');
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto Italic'),
    local('Roboto-Italic'),
    url('fonts/Roboto Italic V2.woff2') format('woff2'),
    url('fonts/Roboto Italic V2.woff') format('woff'),
    url('fonts/Roboto Italic V2.ttf') format('truetype');
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Roboto Bold'),
    local('Roboto-Bold'),
    url('fonts/Roboto Bold V2.woff2') format('woff2'),
    url('fonts/Roboto Bold V2.woff') format('woff'),
    url('fonts/Roboto Bold V2.ttf') format('truetype');
  unicode-range: U+000-5FF;
}

html {
  box-sizing: border-box;
}

* {
  box-shadow: none !important;
  box-sizing: inherit !important;
  text-shadow: none !important;
}

body {
  background: #fff;
  color: #000;
  font: 9pt/1.3 Roboto,
    Arial,
    'Segoe UI',
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
}

.record-count,
.search-heading,
.iOS7LocalGridFooter,
.iOS7LocalGridSeparator,
.img-wrapper,
.report-loading-text,
button,
img,
svg {
  display: none !important;
}

a,
a:active,
a:hover,
a:visited {
  color: #000 !important;
  cursor: default;
  text-decoration: none !important;
}

.iOS7LocalGrid {
  border-collapse: collapse;
  border: 1.5pt solid #aaa !important;
  max-height: 100%;
  max-width: 100%;
  overflow-y: visible;
  text-align: right;
  width: 100%;
}

.iOS7LocalGrid tbody tr:nth-child(odd) {
  background: #ededf6;
}

th,
td {
  border-color: #aaa;
  border-style: solid;
}

.iOS7LocalGridHeader {
  background: #2a3c68 !important;
  border-width: 1.5pt 0 2.25pt !important;
  color: #fff;
  font-size: 9.75pt;
  max-width: 90pt;
  overflow: hidden;
  padding: 10.5pt 3pt !important;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

td {
  border-width: .75pt 0 !important;
  padding: 4.5pt 0 !important;
}

th:first-child,
td:first-child {
  border-left-width: 1.5pt !important;
  padding-left: 4.5pt !important;
  padding-right: 0 !important;
  text-align: left !important;
}

th:last-child,
td:last-child {
  border-right-width: 1.5pt !important;
  padding-left: 0 !important;
  padding-right: 4.5pt !important;
}

.table-wrapper {
  max-height: 100% !important;
  max-width: 100% !important;
  overflow: visible !important;
}

@media print {
  html,
  body {
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
    height: auto !important;
    margin: 0 !important;
    overflow-x: hidden;
    overflow-y: visible;
    padding: 0 !important;
    width: 100%;
  }

  .report-header {
    font: 700 16.5pt/1.1 Georgia, Cambria, serif;
  }

  table {
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    max-height: 100%;
    max-width: 100%;
    -webkit-column-break-after: avoid;
    page-break-after: avoid;
    -webkit-break-after: avoid;
    break-after: avoid;
    page-break-inside: auto;
  }

  tbody,
  tr,
  td {
    page-break-inside: avoid;
  }

  tbody:last-of-type {
    -webkit-column-break-after: avoid;
    page-break-after: avoid;
    -webkit-break-after: avoid;
    break-after: avoid;
  }

  @page {
    margin: 1.7cm .85cm;
  }
  @page :first {
    margin: 1cm .85cm;
  }
}
