/* Print Report Style Type 4 - Market Comparison Report */

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'),
    local('Roboto-Regular'),
    url('fonts/Roboto Regular V2.woff2') format('woff2'),
    url('fonts/Roboto Regular V2.woff') format('woff'),
    url('fonts/Roboto Regular V2.ttf') format('truetype');
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto Italic'),
    local('Roboto-Italic'),
    url('fonts/Roboto Italic V2.woff2') format('woff2'),
    url('fonts/Roboto Italic V2.woff') format('woff'),
    url('fonts/Roboto Italic V2.ttf') format('truetype');
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Roboto Bold'),
    local('Roboto-Bold'),
    url('fonts/Roboto Bold V2.woff2') format('woff2'),
    url('fonts/Roboto Bold V2.woff') format('woff'),
    url('fonts/Roboto Bold V2.ttf') format('truetype');
  unicode-range: U+000-5FF;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-shadow: none !important;
  box-sizing: inherit !important;
  text-shadow: none !important;
}

body {
  background: #fff;
  color: #000;
  font: 9.6pt/1.3 Roboto,
    Arial,
    'Segoe UI',
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
}

.report-loading-text,
.iOS7LocalGridSeparator,
button,
img,
svg {
  display: none !important;
}

a,
a:active,
a:hover,
a:visited {
  cursor: default;
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border: 0;
  max-height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  text-align: right;
  width: 100%;
}

table:before,
table:after {
  content: ' ';
  display: table;
}

table:after {
  clear: right;
}

th,
td {
  border-color: #aaa;
  border-style: solid;
  text-align: right;
}

th {
  background: #4fa2d9 !important;
  border-width: 1.5pt 0 2.25pt !important;
  font-size: 10pt;
  font-weight: 700;
  height: 45pt;
  max-width: 90pt;
  overflow: hidden;
  padding: 0 3pt;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

td {
  border-width: .75pt 0 !important;
  padding: 2.25pt 3pt;
}

.td2,
.th2 {
  color: transparent !important;
}

div {
  display: inline-block !important;
  margin: 0;
  padding: 0;
}

table.divided-table {
  flex: 0 90 0;
  margin: 0;
}

div.divided-wrapper {
  -webkit-align-content: flex-start;
  align-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -moz-box-pack: start;
  justify-content: flex-start;
  max-height: 100% !important;
  max-width: 100% !important;
  margin: 0;
  padding: 0;
}

tbody tr:nth-child(odd) {
  background: #ededf6;
}

.bold {
  font-weight: 700;
  font-variant: small-caps;
}

.indent {
  text-indent: 7.5pt;
}

.first-col {
  border-left: 1.5pt solid #aaa;
  padding-left: 10.5pt;
  text-align: left;
}

.first-col td,
.first-col th {
  padding-left: 10.5pt;
  text-align: left;
}

.last-col {
  border-right: 1.5pt solid #aaa;
}

.last-col td,
.last-col th {
  padding-right: 10.5pt;
}

div.table-container {
  display: inline-block !important;
  margin: 0 -5.25pt 0 0 !important;
  max-height: 100% !important;
  padding: 0 !important;
  width: auto !important;
}

.A5CWLayout {
  width: auto !important;
}

.split-header {
  float: right;
  max-width: 121.5pt;
  text-align: right;
}

@media print {
  html,
  body {
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
    height: 98.5%;
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
  }

  .report-header {
    font: 700 16.5pt/1.1 Georgia, Cambria, serif;
  }

  table {
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    max-height: 100%;
    max-width: 100%;
    overflow-x: hidden;
    -webkit-column-break-after: avoid;
    page-break-after: avoid;
    -webkit-break-after: avoid;
    break-after: avoid;
    page-break-inside: auto;
  }

  tr,
  td {
    page-break-inside: avoid;
  }

  @page {
    size: landscape;
    margin: 1.7cm .75cm;
  }

  @page :first {
    margin: 1cm .85cm;
  }
}
