/* Print Report Style Type 2 - Top ZIP Codes Report */

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'),
    local('Roboto-Regular'),
    url('fonts/Roboto Regular V2.woff2') format('woff2'),
    url('fonts/Roboto Regular V2.woff') format('woff'),
    url('fonts/Roboto Regular V2.ttf') format('truetype');
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto Italic'),
    local('Roboto-Italic'),
    url('fonts/Roboto Italic V2.woff2') format('woff2'),
    url('fonts/Roboto Italic V2.woff') format('woff'),
    url('fonts/Roboto Italic V2.ttf') format('truetype');
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Roboto Bold'),
    local('Roboto-Bold'),
    url('fonts/Roboto Bold V2.woff2') format('woff2'),
    url('fonts/Roboto Bold V2.woff') format('woff'),
    url('fonts/Roboto Bold V2.ttf') format('truetype');
  unicode-range: U+000-5FF;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-shadow: none !important;
  box-sizing: inherit !important;
  text-shadow: none !important;
}

body {
  background: #fff;
  color: #000;
  font: 9.75pt/1.3 Roboto,
    Arial,
    'Segoe UI',
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
}

.record-count,
.search-heading,
.iOS7LocalGridFooter,
.iOS7LocalGridSeparator,
.report-loading-text,
div[style^='width:100%;text-align:center'],
button,
img,
svg {
  display: none !important;
}

a,
a:active,
a:hover,
a:visited {
  color: #000 !important;
  cursor: default;
  text-decoration: none !important;
}

table {
  border-collapse: collapse;
  border: 1.5pt solid #aaa !important;
  margin: 0 auto;
  max-height: 100%;
  max-width: 100%;
  text-align: right;
  width: 100%;
}

th,
td {
  border-color: #aaa;
  border-style: solid;
  text-align: right;
  white-space: nowrap;
  width: auto !important;
}

th {
  background: #2a3c68 !important;
  border-width: 1.5pt 0 2.25pt !important;
  color: #fff;
  cursor: default;
  font-size: 10.5pt;
  font-weight: 700;
  padding: 10.5pt 1.5pt;
}

td {
  border-width: .75pt 0 !important;
  padding: 5.25pt 1.5pt;
}

th:first-child,
td:first-child {
  border-left-width: 1.5pt !important;
  padding-left: 10.5pt !important;
  padding-right: 0 !important;
  text-align: left !important;
}

th:last-child,
td:last-child {
  border-right-width: 1.5pt !important;
  padding-right: 10.5pt !important;
}

.iOS7LocalGridDataAlt {
  background: #ededf6;
}

.report-header {
  padding-left: 4.5pt;
}

.report-header span {
  font-variant: small-caps;
}

@media print {
  html,
  body {
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
    height: 98.5%;
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
  }

  .report-header {
    font: 700 16.5pt/1.1 Georgia, Cambria, serif;
  }

  table {
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    max-height: 100%;
    max-width: 100%;
    -webkit-column-break-after: avoid;
    page-break-after: avoid;
    -webkit-break-after: avoid;
    break-after: avoid;
    page-break-inside: auto;
  }

  tbody,
  tr,
  td {
    page-break-inside: avoid;
  }

  tbody:last-of-type {
    -webkit-column-break-after: avoid;
    page-break-after: avoid;
    -webkit-break-after: avoid;
    break-after: avoid;
  }

  @page {
    margin: 1.7cm .75cm;
  }
  @page :first {
    margin: .85cm .75cm .8cm;
  }
}
