@import 'helpers/variables';
@import 'helpers/functions';
@import 'helpers/mixins';
@import 'base/font-face';
@import 'helpers/utilities';
@import 'vendor/html5-boilerplate/main';

@include scrollbar(1.5em, $g-color-brand, $g-color-off-black);

@include max-width(50em) {
  ::-webkit-scrollbar {
    height: 0.75em;
    width: 0.75em;
  }
}

header > hr {
  margin: 0 auto;
  width: 50%;
}

%site-header-footer {
  box-sizing: border-box;
  left: 0;
  padding: 0 $c-site-header-horiz-padding;
  position: fixed;
  width: 100vw;
  z-index: get-val($g-z-index, site-header);
}

%site-header-footer-logo-wrap {
  box-sizing: border-box;
  float: left;
  height: 100%;
  min-width: 6.75rem;
  width: 15%;
}

%site-header-footer-logo-link {
  @include flex-center(vertical);

  height: 100%;
}

%site-nav-section-list {
  @include size(100%);

  box-sizing: border-box;
  display: flex;

  @include max-width(50em) {
    display: none;
    visibility: hidden;
  }
}

%btn-reset {
  -webkit-appearance: none;
     -moz-appearance: none;
  border: 0;
  box-sizing: border-box;
}

.site-header {
  @extend %site-header-footer;

  background: $g-color-brand;
  top: 0;
  height: $c-site-header-height;

  @include max-width(50em) {
    height: 11.25vw;
  }

  &__logo-wrapper {
    @extend %site-header-footer-logo-wrap;
  }

  &__logo-link {
    @extend %site-header-footer-logo-link;
  }

  &__logo {
    width: 100%;
  }
}

.main-nav {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  height: 100%;
  min-width: 50%;
  overflow: hidden;
  transition: min-width 125ms linear 5ms;

  @include min-width($l-bp-monitor-uw) {
    min-width: 40%;
  }

  &__link { // <a class="main-nav__link">
    color: $g-color-white;
    cursor: pointer;
    font: 700 calc(0.6875rem + 0.75vw) $g-font-heading;
    letter-spacing: 0.05em;
    padding: 0 0.5vw 1px;
    padding: 0 $c-main-nav-clamp-between-2-8px;
    transition:
      $c-main-nav-color-transition,
      padding 0.13s linear 5ms;

    @include min-width($l-bp-tablet-landscape) {
      padding-left: 1vw;
      padding-right: 1vw;
    }

    &:visited {
      color: $g-color-white;
    }

    &:hover,
    &:focus {
      color: $g-color-brand-tinted;
    }

    &:focus {
      transition: padding 0.13s linear 5ms;
    }

    &:active {
      color: shade($g-color-brand-tinted, 15%);
    }
  }
}

%content-top-position {
  top: $c-site-header-height;

  @include max-width(50em) {
    top: 11.25vw;
  }
}

.content-container {
  @extend %content-top-position;

  height: 100vh;
  margin: 0 4%;
  position: relative;
}

.aside-date {
  background: rgba($g-color-brand-tinted, 0.15);
  float: left;
  height: 100vh;
  padding: 7vh 1rem 1rem;
  position: fixed;
  top: 0;
  width: 15%;
  z-index: get-val($g-z-index, 'aside-date');

  &__heading {
    margin: 7vh 0 0.67em;
    font-size: 1.75em;
    font-weight: 400;
    text-align: center;
  }
}

.date-nav {

  &__date-list { // <ul>
    font-size: 1.125em;
    line-height: 1.67;
    list-style: square;
    margin: 0;
    padding: 0 1.5rem;
  }

  &_date { // <li>

  }

  &__date-link { // <a>

    + span {
      font-style: italic;
    }
  }
}

.main-content {
  float: right;
  height: 100%;
  width: 80%;
  width: -webkit-calc(85% - 2rem);
  width: calc(85% - 2rem);
}

.page-header {
  background: $g-color-off-white;
  margin: 0;
  padding: 7vh 0 1.25rem;
  position: -webkit-sticky;
  position: sticky;
  top: 6.95vh;
  top: -webkit-calc(7vh - 4px);
  top: calc(7vh - 4px);
  z-index: get-val($g-z-index, 'page-header');

  &__title {
    margin: 0 0 0.67em;
    font-weight: 400;
    text-align: center;
  }
}

.changelog {
  margin: 0 3rem;

  &__post-title {

  }

  &__post-week {

  }

  &__post-meta {

    .fa {
      color: $g-color-brand;
    }
  }

  &__post-author {


  }

  &__post-date {

  }
}

.site-footer {
  @extend %site-header-footer;

  background: $g-color-off-black;
  bottom: 0;
  height: $c-site-header-height * 0.75;
  transition: height 0.45s ease-out;

  @include max-width(50em) {
    height: 1rem;
  }

  &__logo-wrapper {
    @extend %site-header-footer-logo-wrap;

    max-width: 7.5%;
    min-width: 5.25rem;

    @include max-width(50em) {
      display: none;
      visibility: hidden;
    }
  }

  &__logo-link {
    @extend %site-header-footer-logo-link;
  }

  &__logo {
    max-width: 100%;
  }

  &__legal-container {
    @include flex-center(vertical);

    flex-flow: row nowrap;
    float: right;
    font: calc(0.425rem + 0.375vw) $g-font-heading;
    height: 100%;
    justify-content: flex-end;
    min-width: 80%;
    overflow: hidden;

    @include min-width($l-bp-content-max) {
      min-width: 60%;
    }
  }

  &__cr-msg {
    font-size: 95%;
    margin-left: 1em;
    text-transform: uppercase;
    white-space: nowrap;

    &:before {
      content: '//';
      position: relative;
      left: -4px;
    }
  }

  &__company-link {
    @include make-links-white;
  }
}

.footer-nav {
  font-weight: 700;
  width: 100%;

  @include max-width(50em) {
    display: none;
  }

  &__doc-list {
    @extend %site-nav-section-list;

    justify-content: space-around;
  }

  &__doc-item {
    box-sizing: border-box;
    margin: 0 0.5em;
  }

  &__doc-link {
    @include make-links-white;

    letter-spacing: 1px;
    text-transform: uppercase;
    transition: $c-main-nav-color-transition;

    &:hover,
    &:focus {
      color: $g-color-brand-tinted;
    }

    &:active {
      color: shade($g-color-brand-tinted, 15%);
    }
  }
}

// Highlight design. TODO: Delete once design work completed
// * { background-color: rgba(255, 0, 0, 0.2); }
// * * { background-color: rgba(0, 255, 0, 0.2); }
// * * * { background-color: rgba(0, 0, 255, 0.2); }
// * * * * { background-color: rgba(255, 0, 255, 0.2); }
// * * * * * { background-color: rgba(0, 255, 255, 0.2); }
// * * * * * * { background-color: rgba(255, 255, 0, 0.2); }
// * * * * * * * { background-color: rgba(255, 0, 0, 0.2); }
// * * * * * * * * { background-color: rgba(0, 255, 0, 0.2); }
// * * * * * * * * * { background-color: rgba(0, 0, 255, 0.2); }
