/* Print Report Style Type 1 - All Standard Reports */

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local("Roboto"),
    local("Roboto-Regular"),
    url(css/iOS7Local/fonts/Roboto%20Regular%20V2.woff2) format("woff2"),
    url(css/iOS7Local/fonts/Roboto%20Regular%20V2.woff) format("woff"),
    url(css/iOS7Local/fonts/Roboto%20Regular%20V2.ttf) format("truetype");
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    local("Roboto Bold"),
    local("Roboto-Bold"),
    url(css/iOS7Local/fonts/Roboto%20Bold%20V2.woff2) format("woff2"),
    url(css/iOS7Local/fonts/Roboto%20Bold%20V2.woff) format("woff"),
    url(css/iOS7Local/fonts/Roboto%20Bold%20V2.ttf) format("truetype");
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    local("Lato Bold"),
    local("Lato-Bold"),
    url(css/iOS7Local/fonts/Lato%20Bold.woff2) format("woff2"),
    url(css/iOS7Local/fonts/Lato%20Bold.woff) format("woff"),
    url(css/iOS7Local/fonts/Lato%20Bold.ttf) format("truetype");
  unicode-range: U+000-5FF;
}

html {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 12pt;
  word-wrap: break-word;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  min-width: 0;
  padding: 0;
  text-shadow: none;
}

body {
  color: #000;
  font: 9.75pt/1.3
    Roboto,
    "Source Sans Pro",
    -apple-system,
    Ubuntu,
    "Segoe UI",
    BlinkMacSystemFont,
    "Helvetica Neue",
    Arial,
    sans-serif;
  height: 100%;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  width: 100%;
}

.record-count,
.search-heading,
.iOS7LocalGridFooter,
.iOS7LocalGridSeparator,
.report-loading-text,
div[style^="width:100%;text-align:center"],
button,
img,
svg {
  display: none !important;
}

a,
a:active,
a:hover,
a:visited {
  color: inherit;
  cursor: default;
  text-decoration: none !important;
}

.report-header {
  color: #222;
  font: 700 18pt
    Lato,
    Oxygen,
    "Open Sans",
    Montserrat,
    "PT Sans",
    Verdana,
    -apple-system,
    "Segoe UI",
    Ubuntu,
    BlinkMacSystemFont,
    sans-serif;
  margin: 0 0 9pt;
}

table {
  border-collapse: collapse;
  border: 1.5pt solid #aaa !important;
  margin: 0 auto;
  max-height: 100%;
  max-width: 100%;
  text-align: right;
  width: 100%;
}

th,
td {
  border-color: #aaa;
  border-style: solid;
  white-space: nowrap;
  width: auto !important;
}

th {
  background: #a11d27 !important;
  border-width: 1.5pt 0 2.25pt !important;
  color: #fff;
  font-size: 10.5pt;
  font-weight: 700;
  padding: 10.5pt 1.5pt;
}

th a span {
  font-variant: small-caps;
}

td {
  border-width: .75pt 0 !important;
  padding: 5.25pt 1.5pt;
}

th:first-child,
td:first-child {
  border-left-width: 1.5pt !important;
  max-width: 187.5pt;
  overflow: hidden;
  padding-left: 10.5pt !important;
  padding-right: 0 !important;
  text-align: left !important;
  text-overflow: ellipsis;
}

th:last-child,
td:last-child {
  border-right-width: 1.5pt !important;
  padding-right: 10.5pt !important;
}

.iOS7LocalGridDataAlt {
  background: #f8f9f9;
}

.iOS7LocalGridSummaryData,
.iOS7LocalGridSummaryLabel {
  border-top: 1.5pt solid #888 !important;
  font-size: 10.5pt;
}

.iOS7LocalGridSummaryLabel {
  font-weight: 700;
  letter-spacing: .6pt;
}

.iOS7LocalGridSummaryData {
  padding: 5.25pt 0 !important;
}

@media only screen {
  .report-header {
    margin: 20px auto;
    width: 90.9%;
  }

  .iOS7LocalGrid {
    width: 90%;
  }
}

@media print {
  html,
  body {
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
    height: 98.5%;
  }

  table {
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    -webkit-column-break-after: avoid;
    page-break-after: avoid;
    -webkit-break-after: avoid;
    break-after: avoid;
    page-break-inside: auto;
  }

  tbody,
  tr,
  td {
    page-break-inside: avoid;
  }

  .no-print { display: none !important; }

  tbody:last-of-type {
    -webkit-column-break-after: avoid;
    page-break-after: avoid;
    -webkit-break-after: avoid;
    break-after: avoid;
  }

  @page {
    margin: 1.7cm .75cm;
  }

  @page :first {
    margin: .85cm .75cm;
  }
}
