/* Print Report Style Type 3 - Draw Demographics Report */

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local("Roboto"),
    local("Roboto-Regular"),
    url(css/iOS7Local/fonts/Roboto%20Regular%20V2.woff2) format("woff2"),
    url(css/iOS7Local/fonts/Roboto%20Regular%20V2.woff) format("woff"),
    url(css/iOS7Local/fonts/Roboto%20Regular%20V2.ttf) format("truetype");
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    local("Roboto Bold"),
    local("Roboto-Bold"),
    url(css/iOS7Local/fonts/Roboto%20Bold%20V2.woff2) format("woff2"),
    url(css/iOS7Local/fonts/Roboto%20Bold%20V2.woff) format("woff"),
    url(css/iOS7Local/fonts/Roboto%20Bold%20V2.ttf) format("truetype");
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    local("Lato Bold"),
    local("Lato-Bold"),
    url(css/iOS7Local/fonts/Lato%20Bold.woff2) format("woff2"),
    url(css/iOS7Local/fonts/Lato%20Bold.woff) format("woff"),
    url(css/iOS7Local/fonts/Lato%20Bold.ttf) format("truetype");
  unicode-range: U+000-5FF;
}

html {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 12pt;
  word-wrap: break-word;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  min-width: 0;
  padding: 0;
  text-shadow: none;
}

body {
  color: #000;
  font: 9.75pt/1.2
    Roboto,
    "Source Sans Pro",
    -apple-system,
    Ubuntu,
    "Segoe UI",
    BlinkMacSystemFont,
    "Helvetica Neue",
    Arial,
    sans-serif;
  height: 100%;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  width: 100%;
}

.report-loading-text,
button,
img,
svg {
  display: none !important;
}

table {
  border-collapse: collapse;
  border: 0;
  max-height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  text-align: right;
  width: 100%;
}

th,
td {
  text-align: right;
  border-color: #aaa;
  border-style: solid;
}

th {
  background: #a11d27 !important;
  border-width: 1.5pt 0 2.25pt !important;
  color: #fff;
  font-size: 10.5pt;
  font-weight: 700;
  height: 45pt;
  max-width: 90pt;
  overflow: hidden;
  padding: 0 3pt;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

td {
  border-width: .75pt 0 !important;
  padding: 3pt;
}

.td2,
.th2 {
  color: transparent !important;
}

div {
  display: inline-block !important;
  margin: 0;
  padding: 0;
}

table.divided-table {
  flex: 0 90 0;
  margin: 0;
}

div.divided-wrapper {
  align-content: flex-start;
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  max-height: 100% !important;
  max-width: 100% !important;
  margin: 0;
  padding: 0;
}

table tbody tr:nth-child(odd) {
  background: #f8f9f9;
}

.bold { font-weight: 700; }

.indent { text-indent: 7.5pt; }

.first-col {
  border-left: .75pt solid #aaa;
  text-align: left;
}

.first-col td,
.first-col th {
  padding-left: 10.5pt;
  text-align: left;
}

.last-col {
  border-right: .75pt solid #aaa;
}

.last-col td,
.last-col th {
  padding-right: 10.5pt;
}

div.table-container {
  display: inline-block !important;
  margin: 0 -5.25pt 0 0 !important;
  max-height: 100% !important;
  padding: 0 !important;
  width: auto !important;
}

.report-header {
  color: #222;
  font: 700 18pt
    Lato,
    Oxygen,
    "Open Sans",
    Montserrat,
    "PT Sans",
    Verdana,
    -apple-system,
    "Segoe UI",
    Ubuntu,
    BlinkMacSystemFont,
    sans-serif;
  margin: 0 0 9pt;
}

.A5CWLayout { width: auto !important; }

@media only screen {
  body {
    padding: 20px;
  }
}

@media print {
  html,
  body {
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
    height: 98.5%;
    margin: 0 !important;
    overflow: hidden;
    padding: 0 !important;
  }

  table {
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
    -webkit-column-break-after: avoid;
    page-break-after: avoid;
    -webkit-break-after: avoid;
    break-after: avoid;
  }

  tr,
  td {
    page-break-inside: avoid;
  }

  @page {
    margin: 1.7cm .75cm;
  }

  @page :first {
    margin: .85cm .75cm;
  }
}
