@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  src:
    local('Roboto'),
    local('Roboto-Regular'),
    url('/css/fonts/Roboto Regular V2.woff2') format('woff2'),
    url('/css/fonts/Roboto Regular V2.woff') format('woff'),
    url('/css/fonts/Roboto Regular V2.ttf') format('truetype');
  font-display: swap;
  unicode-range: U+0020-007F, U+00A9, U+00AB, U+00AE, U+00BB;
}

@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 400;
  src:
    local('Roboto Italic'),
    local('Roboto-Italic'),
    url('/css/fonts/Roboto Italic V2.woff2') format('woff2'),
    url('/css/fonts/Roboto Italic V2.woff') format('woff'),
    url('/css/fonts/Roboto Italic V2.ttf') format('truetype');
  font-display: swap;
  unicode-range: U+0020-007F;
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  src:
    local('Roboto Bold'),
    local('Roboto-Bold'),
    url('/css/fonts/Roboto Bold V2.woff2') format('woff2'),
    url('/css/fonts/Roboto Bold V2.woff') format('woff'),
    url('/css/fonts/Roboto Bold V2.ttf') format('truetype');
  font-display: swap;
  unicode-range: U+0020-007F, U+00A9, U+00AB, U+00AE, U+00BB;
}

@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  src:
    local('Lato Regular'),
    local('Lato-Regular'),
    url('/css/fonts/Lato Regular.woff2') format('woff2'),
    url('/css/fonts/Lato Regular.woff') format('woff'),
    url('/css/fonts/Lato Regular.ttf') format('truetype');
  font-display: swap;
  unicode-range: U+0020-007F, U+00A9, U+00AB, U+00AE, U+00BB;
}

@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
  src:
    local('Lato Bold'),
    local('Lato-Bold'),
    url('/css/fonts/Lato Bold.woff2') format('woff2'),
    url('/css/fonts/Lato Bold.woff') format('woff'),
    url('/css/fonts/Lato Bold.ttf') format('truetype');
  font-display: swap;
  unicode-range: U+0020-007F, U+00A9, U+00AB, U+00AE, U+00BB;
}
