table{
border:2px solid #bcbec0;
border-right:0;
font-size:14px;
padding-bottom:16px;
text-align:left;
width:100%}
td{padding:4px 0 4px 16px}
th{padding:25px 0 25px 16px}
tr:nth-child(odd){background:#ededf6}
