table{
border:2px solid #bcbec0;
border-left:0;
font-size:14px;
text-align:right;
width:100%}
td{padding:4px 16px 4px 2px}
th{
border-left:0;
border-right:0;
padding:25px 16px 25px 2px}
tr:nth-child(odd){background:#ededf6}
