@import 'vendor/sizzle/sizzle';
@import 'helpers/variables';
@import 'helpers/placeholders';
@import 'helpers/mixins';

// ===================== Actual vs Potential Visitors ===================== \\

.avp-tile {
  height: auto;
  overflow-x: auto;
  padding: get-val($gutters, sm) get-val($gutters, xlg) get-val($gutters, lg);
}

.avpv-table {
  border: 2px solid $silver;
  cursor: default;
  margin: 0 auto;
  max-width: 2000px;
  min-width: 895px;
  width: 100%;

  &-wrap {
    margin: 0 auto;
    text-align: center;
    width: 100%;
  }
}

.avpv-thead {
  background-color: $darkBlue;
  border-bottom: 2px solid $silver;
  color: $white;
}

// Table head (th) cells
.avpv-header {

  &-top {
    font: 700 30px $latoFamily;
    border-bottom: 0;
    height: 40px;
  }

  &-sub {
    border-top: 0;
    height: 64px;
    font: 400 17px $latoFamily;
    padding-bottom: 10px;
  }

  &:first-child {
    @extend %first-column;
  }
}

.avpv-tbody {
  .avpv-row {
    &:nth-child(even) {
      background-color: $lightPurple;
    }
  }
}

.avpv-cell {
  color: $offBlack;
  padding: 8px 13px;
  text-align: center;
  width: 120px;


  &:first-child {
    @extend %first-column;
  }
}

.avpv-header-top:nth-child(2),
.avpv-header-top:nth-child(3),
.avpv-header-top:nth-child(4),
.avpv-header-sub:nth-child(2),
.avpv-header-sub:nth-child(6),
.avpv-header-sub:nth-child(8),
.avpv-header:last-child,
.avpv-cell:nth-child(2),
.avpv-cell:nth-child(6),
.avpv-cell:nth-child(8),
.avpv-cell:last-child {
  border-left: 1px solid $silver;
}

.avpv-header-sub:nth-child(5),
.avpv-cell:nth-child(5) {
  min-width: 110px;
}

.avpv-table .cell-empty {
  border-right: 1px solid $silver;
}

.avpv-header-sub:nth-child(7),
.graph-cell {
  min-width: 200px;
}

.avpv-header-sub:nth-child(7) {
  padding-left: 20px;
}

.avpv-cell:nth-child(7) {
  padding-left: 50px;

  @include max-width(1649px) {
    padding-left: 10px;
  }
}

.avpv-cell:first-child,
.avpv-header:first-child {
  min-width: 180px;
  width: 180px;
}
