@import 'vendor/sizzle/sizzle';
@import 'helpers/variables';
@import 'helpers/placeholders';
@import 'helpers/mixins';

//================================ All Tiles =================================\\

.tile {
  @include depth-level(4);
  background: padding-box $white;
  border-radius: 15px;
  border: 1px solid $silver;
  height: 800px;
  margin: 30px auto;
  padding: get-val($gutters, sm) get-val($gutters, xlg);
  scrollbar-face-color: $darkRed;
  scrollbar-track-color: tint($red, 10%);
  -webkit-transition: width 85ms;
          transition: width 85ms;
  width: 85vw;

  @include min-width(3440px) { width: 60vw; }

  &::-webkit-scrollbar {
    height: 8px;
    width: 8px;

    &-track {
      background: rgba($red, .5);
      border-radius: 5px;
      box-shadow: inset 0 0 5px tint($lightPurple, 10%);
    }

    &-thumb {
      background: rgba($darkRed, .5);
      border-radius: 5px;

      &:hover { background: darken(rgba($darkRed, .8), 5%); }

      &:active {
        background: darken(rgba($darkRed, .9), 10%);
        box-shadow: inset 0 0 5px tint($lightRed, 10%);
      }
    }
  }

  &-header {
    color: $darkRed;
    font-family: $latoFamily;
    margin-bottom: 15px;
    text-transform: uppercase;

    @include min-width(3440px) {
      text-align: center;
    }


    &-title {
      font-size: 2.5em;
      margin: 0;
      padding: 0;
      text-shadow: 6px 6px 18px rgba(0, 0, 0, .35);
    }
  }

  &-content {
    @extend %clearfix;
    height: 99%;
    margin: 0 auto;
  }

  &-sub-wrap {
    border: 0;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
  }
}

.cell-empty {
  color: transparent;
}

// Labels for dropdown selections
.bench-name,
.comp-name {
  width: 120px;
  margin: 0 auto;
  word-wrap: normal;
}

// Hidable competitor column
.comp-col {
  -webkit-transition: width .5s;
  transition: width .5s;
}

.rowhead {
  font-weight: 700;
}

// Indented row headers
.indent {
  color: lighten($offBlack, 10%);
  padding-left: 20px !important;
}

//======================= Actual vs Potential Visitors =======================\\

.avp-tile {
  height: auto;
  overflow-x: auto;
  padding: get-val($gutters, sm) get-val($gutters, xlg) get-val($gutters, lg);
}

.avpv-table {
  border: 2px solid $silver;
  cursor: default;
  margin: 0 auto;
  max-width: 2000px;
  min-width: 895px;
  width: 100%;

  &-wrap {
    margin: 0 auto;
    text-align: center;
    width: 100%;
  }
}

.avpv-thead {
  background-color: $darkRed;
  border-bottom: 2px solid $silver;
  color: $white;
}

// Table head (th) cells
.avpv-header {

  &-top {
    font: 700 30px $latoFamily;
    border-bottom: 0;
    height: 40px;
  }

  &-sub {
    border-top: 0;
    height: 64px;
    font: 400 17px $latoFamily;
    padding-bottom: 10px;
  }

  &:first-child {
    @extend %first-column;
  }
}

.avpv-tbody {
  .avpv-row {
    &:nth-child(even) {
      background-color: $offWhite;
    }
  }
}

.avpv-cell {
  color: $offBlack;
  padding: 8px 13px;
  text-align: center;
  width: 120px;


  &:first-child {
    @extend %first-column;
  }
}

.avpv-header-top:nth-child(2),
.avpv-header-top:nth-child(3),
.avpv-header-top:nth-child(4),
.avpv-header-sub:nth-child(2),
.avpv-header-sub:nth-child(6),
.avpv-header-sub:nth-child(8),
.avpv-header:last-child,
.avpv-cell:nth-child(2),
.avpv-cell:nth-child(6),
.avpv-cell:nth-child(8),
.avpv-cell:last-child {
  border-left: 1px solid $silver;
}

.avpv-header-sub:nth-child(5),
.avpv-cell:nth-child(5) {
  min-width: 110px;
}

.avpv-table .cell-empty {
  border-right: 1px solid $silver;
}

.avpv-header-sub:nth-child(7),
.graph-cell {
  min-width: 200px;
}

.avpv-header-sub:nth-child(7) {
  padding-left: 20px;
}

.avpv-cell:nth-child(7) {
  padding-left: 50px;

  @include max-width(1649px) {
    padding-left: 10px;
  }
}

.avpv-cell:first-child,
.avpv-header:first-child {
  min-width: 180px;
  width: 180px;
}

//=========================== Data Visualizations ============================\\

.h-bar-mc-wrap {
  cursor: default;
  height: 20px; // This is the height of the horizontal, multicolored bar graphs
  margin: 0;
  max-height: 50%;
  padding: 0;
  width: 120px; // This is the width of the horizontal, multicolored bar graphs
}

.h-bar-mc-container {
  @include size(100%);
  padding: 0;
  -webkit-transition: margin-left 80ms ease-in-out 20ms;
  transition: margin-left 80ms ease-in-out 20ms;
}

.h-bar-container {
  margin: 10px 0 5px 26.5%;
}

// Spacer classes to imitate the spacing of the visualizations
.h-bar-fill-outer {
  @include size(100%);
  margin: 10px auto 5px;
  padding: 0;
}

.h-bar-fill-inner {
  height: 25px;
  line-height: 25px;
  padding: 0;
  margin: 0 auto;
  width: 85px;
}
