@import 'vendor/sizzle/sizzle';
@import 'helpers/variables';
@import 'helpers/placeholders';
@import 'helpers/mixins';

//========================== Before/After Visit Tile =========================\\

.tile-content {
  height: 690px;
}

.bav-tile {
  height: auto;
  min-height: 700px;
}

.map {
  &-wrap-full {
    @include depth-level(1);
    border: 1px solid $silver;
    height: 97%;
    width: 100%;
  }

  &-iframe-full {
    border: 2px solid $silver;
    height: 95.75%;
    margin: .75% .7%;
    width: 98.2%;
  }
}
