@import 'vendor/sizzle/sizzle';
@import 'helpers/variables';
@import 'helpers/placeholders';
@import 'helpers/mixins';

//================================ All Tiles =================================\\

.tile {
  @include depth-level(4);
  background: padding-box $white;
  border-radius: 15px;
  border: 1px solid $silver;
  height: 800px;
  margin: 30px auto;
  padding: get-val($gutters, sm) get-val($gutters, xlg);
  scrollbar-face-color: $darkRed;
  scrollbar-track-color: tint($red, 10%);
  -webkit-transition: width 85ms;
          transition: width 85ms;
  width: 85vw;

  @include min-width(3440px) { width: 60vw; }

  &::-webkit-scrollbar {
    height: 8px;
    width: 8px;

    &-track {
      background: rgba($red, .5);
      border-radius: 5px;
      box-shadow: inset 0 0 5px tint($lightPurple, 10%);
    }

    &-thumb {
      background: rgba($darkRed, .5);
      border-radius: 5px;

      &:hover { background: darken(rgba($darkRed, .8), 5%); }

      &:active {
        background: darken(rgba($darkRed, .9), 10%);
        box-shadow: inset 0 0 5px tint($lightRed, 10%);
      }
    }
  }

  &-header {
    color: $darkRed;
    font-family: $latoFamily;
    margin-bottom: 15px;
    text-transform: uppercase;

    @include min-width(3440px) {
      text-align: center;
    }

    &-title {
      font-size: 2.5em;
      margin: 0;
      padding: 0;
      text-shadow: 6px 6px 18px rgba(0, 0, 0, .35);
    }
  }

  &-content {
    @extend %clearfix;
    height: 680px;
    margin: 0 auto;
  }
}

//========================== Before/After Visit Tile =========================\\

.bav-tile {
  height: auto;
  min-height: 700px;
}

.map {
  &-wrap-full {
    @include depth-level(1);
    border: 1px solid $silver;
    height: 90%;
    width: 100%;
  }

  &-iframe-full {
    border: 2px solid $silver;
    height: 95.75%;
    margin: .75% .7%;
    width: 98.2%;
  }
}
