@import 'vendor/sizzle/sizzle';
@import 'helpers/variables-pp';
@import '../../primary-style/trutrade/pp-style';

.accordion-wrap {
  margin-bottom: .625rem;
}

%accordion-box {
  border: 2px solid $g-color-brand;
  box-sizing: border-box;
}

.accordion {
  @extend %accordion-box;

  @include depth-level(2);

  background: padding-box $g-color-brand;
  border: 2px solid $g-color-brand;
  border-radius: 15px;
  box-sizing: border-box;
  height: 33.25em;
  line-height: 1.3;
  list-style: none;
  margin: 0 0 .75rem;
  padding: 0;
  width: 100%;

  &__slide {
    @extend %accordion-box;

    background: padding-box $g-color-off-white;
    border: 2px solid $g-color-brand;
    box-sizing: border-box;
    cursor: pointer;
    float: left;
    height: 100%;
    overflow: hidden;
    transition: width $c-accordion-transition-defaults;
    width: 14.2857%;

    &-content {
      height: 100%;
      position: relative;
    }

    &-top {
      height: $c-accordion-slide-top-height;
      margin: 0 auto;
      padding: 0 0 .75rem;
      position: relative;
      width: 96%;
    }

    &-heading {
      color: $g-color-brand;
      font-size: 1.5em;
      margin: 0;
      padding: 0;
      position: absolute;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, .25);
      top: 50%;
      transform: translateY(-50%);
      text-align: center;
      width: 100%;
    }

    &-body {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 12;
      font-size: get-val($g-font-sizes, lg);
      overflow: hidden;
      overflow-wrap: break-word;
      padding: 0 $c-accordion-slide-text-margins;
      text: {
        align: left;
        overflow: ellipsis;
      }

      @include min-to-max-width(105.0625em, 119.9375em) { font-size: 1.1875rem; }

      > p { margin: 0; }
    }

    &-instruct {
      bottom: 1.875rem;
      color: $g-color-brand-light;
      font: {
        size: get-val($g-font-sizes, md);
        variant: small-caps;
      }
      letter-spacing: .15ch;
      position: absolute;
      right: $c-accordion-slide-text-margins;
      text-align: right;

      @include only-ie {
        display: none;
        transition: none;
      }
    }

    &-img {
      @include size(0);
      background: center / contain no-repeat;
      border: 1px solid $g-color-brand;
      clip-path: inset(100%);
      float: right;
      margin: 0;
      opacity: 0;
      transition: all 0s ease-out;

      &--visorig { background-image: url(../../img/def-visorig.png); }

      &--visorigolap { background-image: url(../../img/def-visorig.png); }

      &--kpi { background-image: url(../../img/def-kpi.png); }

      &--avpv { background-image: url(../../img/def-avpv.png); }

      &--ttzc { background-image: url(../../img/def-ttzc.png); }

      &--hm { background-image: url(../../img/def-heatmap.png); }

      &--vispen { background-image: url(../../img/def-vispen.png); }
    }

    &:hover {
      -webkit-filter: blur(0) !important;
              filter: blur(0) !important;
      width: 34% !important;

      .accordion__slide-body { display: block; }
      .accordion__slide-instruct { display: none; }

      .accordion__slide-img {
        @include size(262px, 150px);
        clip-path: none;
        float: right;
        margin: 0 .625rem .625rem;
        opacity: 1;
        transition-delay: 90ms;
        transition-duration: .31s;

        &--ttzc { height: 128px; }
      }
    }

    &:first-child { border-radius: 15px 0 0 15px; }
    &:last-child { border-radius: 0 15px 15px 0; }
  }

  &:hover &__slide {
    width: 11%;
    -webkit-filter: blur(1px);
            filter: blur(1px);
  }
}

@include max-width($l-bp-monitor-xlg) {
  .accordion {
    line-height: 1.2;

    &__slide {
      &-top {
        height: $c-accordion-slide-top-height - .5em;
        padding: 0 0 .5rem;
        margin-top: 1em;
        transition:
          height $c-accordion-transition-defaults,
          margin $c-accordion-transition-defaults;
      }

      &-heading {
        font-size: 1.25em;
      }

      &-body {
        -webkit-line-clamp: 13;
        font-size: get-val($g-font-sizes, base);
        padding: 0 .75rem;
      }

      &-instruct {
        font-size: get-val($g-font-sizes, base);
      }

      &:hover &-top {
        height: $c-accordion-slide-top-height - 1em;
        margin: 0;
      }

      &:hover &-img {
        @include size(197px, 113px);
        background-size: contain;

        &--ttzc { height: 96px; }
      }
    }
  }
}

@include max-width($l-bp-tablet-landscape) {
  .accordion__slide {
    &-top {
      height: $c-accordion-slide-top-height - 1.75em;
      padding: .25rem 0 .5rem;
      line-height: 1.1;
    }

    &-heading { font-size: 1.0625em }

    &-body {
      -webkit-hyphens: auto;
          -ms-hyphens: auto;
              hyphens: auto;
      padding: 0 .5rem;
    }

    &-instruct {
      font-size: get-val($g-font-sizes, sm);
      left: 0;
      right: auto;
      text-align: center;
      width: 100%;
    }

    &:hover {
      border-right-width: 1px;
      overflow: auto;
      scrollbar-face-color: rgba($g-color-brand, .3);
      scrollbar-track-color: rgba($g-color-brand, .2);
      scrollbar-color: rgba($g-color-brand, .3) rgba($g-color-brand, .2);
      scrollbar-width: thin;

      &::-webkit-scrollbar {
        @include size(4px);

        &-track { background: rgba($g-color-brand, .5); }

        &-thumb {
          background: rgba($g-color-brand, .6);

          &:hover  { background: rgba(shade($g-color-brand, 17.5%), .67); }
          &:active { background: rgba(shade($g-color-brand, 30%), .75); }
        }
      }
    }

    &:hover &-top { height: $c-accordion-slide-top-height - 2.125em;}

    &:hover &-img {
      @include size(131px, 75px);
      background-size: contain;

      &--ttzc { height: 64px; }
    }
  }
}
