@import 'vendor/sizzle/sizzle';
@import 'helpers/variables';
@import 'helpers/placeholders';
@import 'helpers/mixins';

//================================ All Tiles =================================\\

.tile {
  @include depth-level(4);
  background: padding-box $white;
  border-radius: 15px;
  border: 1px solid $silver;
  margin: 30px auto;
  padding: get-val($gutters, sm) get-val($gutters, xlg);
  scrollbar-face-color: $darkRed;
  scrollbar-track-color: tint($red, 10%);
  -webkit-transition: width 85ms;
          transition: width 85ms;
  width: 85vw;

  @include min-width(3440px) { width: 60vw; }

  &::-webkit-scrollbar {
    height: 8px;
    width: 8px;

    &-track {
      background: rgba($red, .5);
      border-radius: 5px;
      box-shadow: inset 0 0 5px tint($lightPurple, 10%);
    }

    &-thumb {
      background: rgba($darkRed, .5);
      border-radius: 5px;

      &:hover { background: darken(rgba($darkRed, .8), 5%); }

      &:active {
        background: darken(rgba($darkRed, .9), 10%);
        box-shadow: inset 0 0 5px tint($lightRed, 10%);
      }
    }
  }

  &-header {
    color: $darkRed;
    font-family: $latoFamily;
    margin-bottom: 15px;
    text-transform: uppercase;

    @include min-width(3440px) {
      text-align: center;
    }


    &-title {
      font-size: 2.5em;
      margin: 0;
      padding: 0;
      text-shadow: 6px 6px 18px rgba(0, 0, 0, .35);
    }
  }

  &-content {
    @extend %clearfix;
    height: 99%;
    margin: 0 auto;
  }

  &-sub-wrap {
    border: 0;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
  }
}

.kpi-table {
  border: 2px solid $silver;
  cursor: default;
  margin: 0 auto 9px;
  max-width: 2000px;
  min-width: 895px;
  width: 100%;

  &-wrap {
    margin: 0 auto;
    text-align: center;
    width: 100%;
  }
}

.kpi-thead {
  background-color: $darkRed;
  border-bottom: 2px solid $silver;
  color: $white;
}

.cell-empty {
  color: transparent;
}

// Labels for dropdown selections
.bench-name,
.comp-name {
  width: 120px;
  margin: 0 auto;
  word-wrap: normal;
}

// Hidable competitor column
.comp-col {
  -webkit-transition: width .5s;
  transition: width .5s;
}

.rowhead {
  font-weight: 700;
}

// Indented row headers
.indent {
  color: lighten($offBlack, 10%);
  padding-left: 22px;
}

.kpi-header {
  @extend %header-columns;

  &:first-child {
    @extend %first-column;
  }
}

.kpi-tile {
  max-height: 965px;
  padding: get-val($gutters, sm) get-val($gutters, xlg) get-val($gutters, lg);

  @include max-width(1919px) {
    overflow-x: auto;
  }

  @include min-width(2560px) { height: 920px; }

  &-content {
    margin: 0 auto;
    max-width: 2000px;
  }
}

// Row containing the internal sub-rows of age demographics
.age-row {
  vertical-align: top;
}

// Last age demographic sub-row. Does not include a data visualization
.avg-age {
  margin-top: 10px;
}

// The column of row headers for the age demographic sub-rows
.title-col {
  height: 25px;
  line-height: 25px;
  margin-top: 10px;
  padding: 0;
}

// The cells that comprise the age demographic sub-rows, div instead of td
.div-cell {
  padding: 0;
  margin-bottom: 5px;
}

.kpi-cell {
  border: 1px solid $silver;
  color: $offBlack;
  height: 100px;
  min-width: 208px;
  padding: 5px;
  text-align: center;
  -webkit-transition: min-width .6s ease-in-out;
  transition: min-width .6s ease-in-out;

  &:first-child {
    @extend %first-column;
    background-color: $lightPurple;
  }

  &:nth-child(4) {
    font-size: 18px;
    font-weight: 700;
    min-width: 65px;
    max-width: 100px;
    width: 85px
  }
}

.kpi-header:first-child,
.kpi-cell:first-child {
  min-width: 142px;
}

.kpi-row:first-child .kpi-cell,
.kpi-row:nth-child(5) .kpi-cell {
  height: 60px;
}

.not-app,
.kpi-row .kpi-index,
.kpi-row:first-child .kpi-cell:not(:first-child),
.kpi-row:nth-child(5) .kpi-cell:not(:first-child) {
  font-size: 2em;
  font-weight: 700;
}

.countup-wrap {
  min-width: 130px;
}

.rad-wrap {
  @include size(85px); // This is the size of the radial
  margin: 0 auto;
  padding: 0;
  position: relative;
}

.bar-wrap {
  height: 115px; // This is the width of the bar due to rotation
  max-height: 115px;
  margin: 0 auto;
  padding: 0;
  position: relative;
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0, M12=1, M21=-1, M22=0, sizingMethod='auto expand')";
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=0, M12=1, M21=-1, M22=0,sizingMethod='auto expand');
  -moz-transform: matrix(0, -1, 1, 0, 0, 0);
  -webkit-transform: matrix(0, -1, 1, 0, 0, 0);
  transform: rotate(-90deg);
  width: 95px; // This is the height of the bar due to rotation
  max-width: 82.6%; // This is the max-height of the bar. 95/115 = 82.6%
}

.h-bar-wrap {
  height: 25px; // This is the height of the horizontal bar graph
  max-height: 24%;
  max-width: 100%;
  padding: 0;
  width: 100px; // This is the width of the horizontal bar graph
}

.chart-container {
  @include flex-center;
  @include flex-direction(row);
  @include flex-wrap;
  @include size(100%);
  margin: 0;
  padding: 0;
}

.h-bar-container {
  @include size(100%);
  margin: 10px 0 5px 26.5%;
  padding: 0;
  -webkit-transition: margin-left 80ms ease-in-out 20ms;
  transition: margin-left 80ms ease-in-out 20ms;
}

// Spacer classes to imitate the spacing of the visualizations
.h-bar-fill-outer {
  @include size(100%);
  margin: 10px auto 5px;
  padding: 0;
}

.h-bar-fill-inner {
  height: 25px;
  line-height: 25px;
  padding: 0;
  margin: 0 auto;
  width: 85px;
}
