@import 'vendor/sizzle/sizzle';
@import 'helpers/variables';
@import 'helpers/placeholders';
@import 'helpers/mixins';

//================================ Mockup Code ===============================\\

*,
*:before,
*:after {
  box-sizing: border-box;
}

*:focus {
  outline: 0;
  border: 1px solid $lightRed;
  box-shadow: inset 0 0 3px $offBlack;
}

html {
  @include no-select;
  font: 100% sans-serif;
}

body {
  background-color: $offWhite;
  color: $offBlack;
  font-family: $fontFamily;
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
}

.mockup-header {
  margin-top: 100px;
  text-align: center;
}

.nav {
  @include opacity(95);
  @include flex-center;
  background: $white;
  border-color: $darkRed;
  border-style: solid;
  border-width: 2px 0;
  box-shadow: inset 5px 5px 10px rgba($darkRed, .5);
  height: 8vh;
  left: 0;
  margin: 0;
  min-height: 50px;
  overflow: hidden;
  padding: 0;
  position: fixed;
  text-align: center;
  top: 0;
  white-space: nowrap;
  width: 100%;
  z-index: 999;
}

.nav-rest {
  background-color: mix($white, $darkRed, 50%);
  min-height: 50px;
  height: 8vh;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 998;
}

select:invalid {
  color: gray
}

.dropdown-wrapper {
  @include flex-center;
  margin: 0 10px;
  max-width: 30%;
}

.dropdown-select {
  @include fixed-length(30px, h);
  @include moz-only {
    text-indent: 5px;
  }
  @include truncate;
    -moz-appearance: none;
  -webkit-appearance: none;
  background: url(img/icon-form-ddown-show.png) right no-repeat padding-box $white;
  border-radius: 10px;
  border: 1px solid $silver;
  color: $offBlack;
  cursor: pointer;
  font-size: 18px;
  line-height: 30px;
  max-width: 99%;
  padding: 0 32px 0 0;
  text: {
    align: left;
    indent: 12px;
  }
  width: 350px;

  &.open {
    background-image: url(img/icon-form-ddown-hide.png);
  }
}

//================================ All Tiles =================================\\

.tile {
  @include depth-level(4);
  background: padding-box $white;
  border-radius: 15px;
  border: 1px solid $silver;
  height: 800px;
  margin: 30px auto;
  padding: get-val($gutters, sm) get-val($gutters, xlg);
  scrollbar-face-color: $darkRed;
  scrollbar-track-color: tint($red, 10%);
  -webkit-transition: width 85ms;
          transition: width 85ms;
  width: 85vw;

  @include min-width(3440px) { width: 60vw; }

  &::-webkit-scrollbar {
    height: 8px;
    width: 8px;

    &-track {
      background: rgba($red, .5);
      border-radius: 5px;
      box-shadow: inset 0 0 5px tint($lightPurple, 10%);
    }

    &-thumb {
      background: rgba($darkRed, .5);
      border-radius: 5px;

      &:hover { background: darken(rgba($darkRed, .8), 5%); }

      &:active {
        background: darken(rgba($darkRed, .9), 10%);
        box-shadow: inset 0 0 5px tint($lightRed, 10%);
      }
    }
  }

  &-header {
    color: $darkRed;
    font-family: $latoFamily;
    margin-bottom: 15px;
    text-transform: uppercase;

    @include min-width(3440px) {
      text-align: center;
    }

    &-title {
      font-size: 2.5em;
      margin: 0;
      padding: 0;
      text-shadow: 6px 6px 18px rgba(0, 0, 0, .35);
    }
  }

  &-content {
    @extend %clearfix;
    height: 99%;
    margin: 0 auto;

    @include max-width(1065px) {
      max-height: 675px;
      overflow: hidden;
    }
  }

  &-sub-wrap {
    border: 0;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
  }
}

.kpi-table,
.avpv-table,
.ttzc-table,
.def-table {
  border: 2px solid $silver;
  cursor: default;
  margin: 0 auto;
  max-width: 2000px;
  width: 100%;

  &-wrap {
    margin: 0 auto;
    text-align: center;
    width: 100%;
  }
}

.avpv-thead,
.kpi-thead,
.ttzc-thead {
  background-color: $darkRed;
  border-bottom: 2px solid $silver;
  color: $white;
}

// Table Body and Footer Cells
.kpi-cell,
.avpv-cell,
.ttzc-cell {
  color: $offBlack;
  text-align: center;
  width: 120px;
}

.cell-empty {
  color: transparent;
}

// Labels for dropdown selections
.bench-name,
.comp-name {
  width: 120px;
  margin: 0 auto;
  word-wrap: normal;
}

// Hidable competitor column
.comp-col {
  -webkit-transition: width .5s;
  transition: width .5s;
}

.rowhead {
  font-weight: 700;
}

// Indented row headers
.indent {
  color: lighten($offBlack, 10%);
  padding-left: 20px !important;
}

.nav-label {
  @include pointing-label(right, $red, 7.25rem, $white, 7rem / 4.5);
  @include flex-center;
  @include truncate;
  cursor: default;
  margin: 0 5px 0 0;
  text-align: center;
}

  .label-inner-txt {
    margin-left: -3px;
  }

  .ie-only-arrow {
    display: none;
  }

// Backup style because IE does not support clip-path
@include ie-only {
  .dropdown-select {
    background: $offWhite;
    border-radius: 5px 0 0 5px;
    padding: 0 0 0 8px;
  }

  .nav-label {
    border-radius: 10px;
    margin: 0 8px 0 0;
    padding: 0 10px 0 15px;
    width: auto;
  }

    .label-inner-txt {
      margin: 0;
    }

    .ie-only-arrow {
      display: inline;
      font-size: 1.5em;
      margin-top: -3px;
    }
}

// Back up for other browsers that do not support clip-path
@supports (not (clip-path: polygon(0 0, 0 0, 0 0))) and
          (not (-webkit-clip-path: polygon(0 0, 0 0, 0 0))) {

  .nav-label {
    border-radius: 10px;
    margin: 0 8px 0 0;
    padding: 0 10px 0 15px;
    width: auto;
  }

    .label-inner-txt {
      margin: 0;
    }

    .ie-only-arrow {
      display: inline;
    }
}

.nav-benchmark-name {
  @include fixed-length(30px, h);
  @include moz-only {
    text-indent: 5px;
  }
  @include truncate;
    -moz-appearance: none;
  -webkit-appearance: none;
  background: url(img/icon-form-benchmark.png) right no-repeat padding-box $white;
  box-shadow: inset 0 0 2px rgba($gray, .1);
  border: 1px solid $silver;
  border-radius: 10px;
  color: $offBlack;
  cursor: help;
  font-size: 18px;
  line-height: 30px;
  max-width: 100%;
  padding: 0 32px 0 0;
  text: {
    align: left;
    indent: 12px;
  }
  width: 350px;
}

.bench-placeholder-msg {
  color: $gray;
  font: {
    size: .875em;
    style: italic;
  }
  position: relative;
  top: -1px;
}

//======================= Actual vs Potential Visitors =======================\\

.avp-tile {
  height: auto;
  overflow-x: auto;
  padding: get-val($gutters, sm) get-val($gutters, xlg) get-val($gutters, lg);
}

.avpv-table {
  min-width: 895px;
}

// Table head (th) cells
.avpv-header {

  &-top {
    font: 700 30px $latoFamily;
    border-bottom: 0;
    height: 40px;
  }

  &-sub {
    border-top: 0;
    height: 64px;
    font: 400 17px $latoFamily;
    padding-bottom: 10px;
  }

  &:first-child {
    @extend %first-column;
  }
}

.avpv-tbody {
  .avpv-row {
    &:nth-child(even) {
      background-color: $offWhite;
    }
  }
}

.avpv-cell {
  padding: 8px 13px;

  &:first-child {
    @extend %first-column;
  }
}

.avpv-header-top:nth-child(2),
.avpv-header-top:nth-child(3),
.avpv-header-top:nth-child(4),
.avpv-header-sub:nth-child(2),
.avpv-header-sub:nth-child(6),
.avpv-header-sub:nth-child(8),
.avpv-header:last-child,
.avpv-cell:nth-child(2),
.avpv-cell:nth-child(6),
.avpv-cell:nth-child(8),
.avpv-cell:last-child {
  border-left: 1px solid $silver;
}

.avpv-header-sub:nth-child(5),
.avpv-cell:nth-child(5) {
  min-width: 110px;
}

.avpv-table .cell-empty {
  border-right: 1px solid $silver;
}

.avpv-header-sub:nth-child(7),
.graph-cell {
  min-width: 200px;
}

.avpv-header-sub:nth-child(7) {
  padding-left: 20px;
}

.avpv-cell:nth-child(7) {
  padding-left: 50px;

  @include max-width(1649px) {
    padding-left: 10px;
  }
}

.avpv-cell:first-child,
.avpv-header:first-child {
  min-width: 180px;
  width: 180px;
}

//======================== Key Performance Indicators ========================\\

.kpi-header {
  @extend %header-columns;

  &:first-child {
    @extend %first-column;
  }
}

.kpi-tile {
  height: auto;
  max-height: 965px;
  padding: get-val($gutters, sm) get-val($gutters, xlg) get-val($gutters, lg);

  @include max-width(1919px) {
    height: 905px;
    overflow-x: auto;
  }

  @include min-width(2560px) { height: 920px; }
}

.kpi-table {
  min-width: 895px;
}

// Row containing the internal sub-rows of age demographics
.age-row {
  vertical-align: top;
}

// Last age demographic sub-row. Does not include a data visualization
.avg-age {
  margin-top: 10px;
}

// The column of row headers for the age demographic sub-rows
.title-col {
  height: 25px;
  line-height: 25px;
  margin-top: 10px;
  padding: 0;
}

// The cells that comprise the age demographic sub-rows, div instead of td
.div-cell {
  padding: 0;
  margin-bottom: 5px;
}

.kpi-cell {
  border: 1px solid $silver;
  color: $offBlack;
  height: 100px;
  min-width: 208px;
  padding: 5px;
  text-align: center;
  -webkit-transition: min-width .6s ease-in-out;
  transition: min-width .6s ease-in-out;

  &:first-child {
    @extend %first-column;
    background-color: $offWhite;
  }

  &:nth-child(4) {
    font-size: 18px;
    font-weight: 700;
    max-width: 100px;
    min-width: 65px;
    width: 85px
  }
}

.kpi-header:first-child,
.kpi-cell:first-child {
  min-width: 142px;
}

.kpi-row:first-child .kpi-cell,
.kpi-row:nth-child(5) .kpi-cell {
  height: 60px;
}

.not-app,
.kpi-row .kpi-index,
.kpi-row:first-child .kpi-cell:not(:first-child),
.kpi-row:nth-child(5) .kpi-cell:not(:first-child) {
  font-size: 1.5em;
  font-weight: 700;
}

.countup-wrap {
  min-width: 130px;
}

//============================= Top Ten ZIP Codes ============================\\

.ttzc-tile {
  height: auto;
  padding-bottom: 25px;

  @include max-width(1279px) {
    overflow-x: auto;
  }
}

.ttzc-table {
  min-width: 851px;
}

.ttzc-cell {
  padding: 10px;

  &:first-child {
    @extend %first-column;
  }

  &:hover {
    font-weight: 700;
  }
}

.ttzc-tbody {

  .ttzc-row {

    &:nth-child(even) {
      background-color: $offWhite;
    }

    &:not(:last-child) {
      border-bottom: 1px solid $silver;
    }
  }

  .ttzc-row:hover {
    background-color: $red;

    .ttzc-cell {
      color: $white;
    }
  }
}

.ttzc-tfoot {
  background-color: $brown;
  font-weight: 700;

  &:hover {
    background-color: $darkRed;

    .ttzc-cell {
      color: $white;

      &:not(.ttzc-avgs):hover {
        color: $almond;
      }
    }
  }
}

.ttzc-header {
  @extend %header-columns;
  cursor: pointer;

  &:first-child {
    @extend %first-column;
  }
}

.ttzc-rank {
  @include fixed-length(50px, w);
}

.ttzc-popgrow {
  padding-right: 14px;
  text-align: right;
}

.ttzc-avgs {
  letter-spacing: 1px;
  font: {
    size: 1.05em;
    variant: small-caps;
  }
}

//======================== Visitor Origin/Penetration ========================\\

.vo-tile-top {
  margin-bottom: 3.5rem;

  @include max-width(1165px) { overflow-x: auto }
}

.vp-tile {
  @include max-width(1065px) { overflow-x: auto; }
}

.table {
  border: 0;
  -webkit-border-vertical-spacing: 0;
  -webkit-border-horizontal-spacing: 0;

  &-vo {
    @extend .table;
    text-align: center;
    width: 100%;

    &-wrap {
      @extend %clearfix;
      float: right;
      margin: 0 auto;
      overflow: visible;
      padding: 0;
      vertical-align: top;
      width: 29.5%;
      -webkit-transition: transform .25s;
      transition: transform .25s;

      @include min-to-max-width(1175px, 1449px) {
        @include transform(scale(.8));
        left: -15px;
        top: -35px;
        position: relative;
      }

      @include min-to-max-width(1064px, 1174px) {
        @include transform(scale(.7));
        left: -22px;
        top: -45px;
        position: relative;
      }

      @include min-to-max-width(1005px, 1063px) {
        @include transform(scale(.65));
        left: -25px;
        top: -55px;
        position: relative;
      }

      @include min-to-max-width(721px, 1004px) {
        @include transform(scale(.6));
        left: -28px;
        top: -65px;
        position: relative;
      }

      @include max-width(720px) {
        @include transform(scale(.55));
        left: -30px;
        top: -100px;
        position: relative;
      }
    }

    &-top-text {
      font: {
        size: 1.25rem;
        weight: 700;
      }
      margin: -3px 0 20px;
      min-height: conv-to-rem(80px);
      text-align: justify;
      padding-left: 10px;
      vertical-align: top;
      width: 100%;

      @include max-width(1174px) {
        text-align: center !important;
        position: relative;
        right: -25px;
      }
    }
  }
}

.chart-heading {
  font-size: 1.5em; // When default is 16px
  font-weight: 700;
  padding: 35px 5px 10px;
}

.chart-label {
  display: inline-block;
  width: 115px;
}

//============================ Definitions Tile ==============================\\

.def-tile {
  height: auto;

  @include max-width(800px) { overflow-x: auto; }
}

.def-table-wrap {
  margin-bottom: 10px;
}

.def-cell { min-width: 103px}

.def-heading {
  font: {
    family: $latoFamily;
    size: 1.5rem;
    weight: 700;
  }
  padding: 15px 20px 10px;
  text-align: left;
  -webkit-transition: all .2s;
          transition: all .2s;
  width: 33.33%;
}

.def-txt {
  font-size: 1rem;
  padding: 10px 20px;
  text-align: justify;
  -webkit-transition: all .2s;
          transition: all .2s;
  vertical-align: top;
  word-break: break-word;
  word-wrap: break-word;

  @include min-to-max-width(1024px, 1439px) {
    font-size: .75rem;
    padding: 6px 12px;

    @at-root {
      .def-heading {
        font-size: 1.25rem;
        padding: 8px 12px 6px;
      }

      .def-img {
        padding: 6px 12px 8px;
      }
    }
  }

  @include max-width(1023px) {
    font-size: .625rem;
    padding: 4px 9px;

    @at-root {
      .def-heading {
        font-size: 1rem;
        padding: 6px 9px 4px;
      }

      .def-img {
        padding: 4px 9px 6px;
      }
    }
  }
}

.def-img {
  padding: 10px 20px 15px;
  vertical-align: top;

  &-div {
    background: {
      clip: padding-box;
      origin: padding-box;
      position: center;
      repeat: no-repeat;
      size: 100% 100%;
    }
    border: 1px solid $offBlack;
    height: 155px;
    margin-top: 2px;
    -webkit-transition: all .3s;
            transition: all .3s;
    width: 180px;

    @include min-to-max-width(1280px, 1440px) { @include size(135px, 116px); }
    @include min-to-max-width(1024px, 1279px) { @include size(108px, 93px); }
    @include max-width(1023px) {
      @include size(54px, 47px);
      margin-top: 15%;
    }
  }
}

.img-ttzc { background-image: url(../img/ttzc.png); }
.img-befaft { background-image: url(../img/bef-aft.png); }
.img-bench { background-image: url(../img/benchmark.png); }
.img-vispen { background-image: url(../img/vis-pen.png); }
.img-visdem { background-image: url(../img/vis-dem.png); }
.img-visorig { background-image: url(../img/vis-pen.png); }

//========================== Before/After Visit Tile =========================\\

.bav-tile {
  min-height: 700px;
  height: auto;
}

//============================== Map Containers ==============================\\

.map {
  &-wrap {
    @extend %map-wrap;
    -webkit-transition: width .8s ease-out;
    transition: width .8s ease-out;
    width: 49%; // 70% with no comp;
    @include max-width(1165px) { width: 47% }

    &-right {
      @extend %map-wrap;
      display: inline-block;
      margin-left: get-val($gutters, xlg);
      width: 49%;
      @include max-width(1165px) { width: 47% }
    }

    &-left {
      @extend %map-wrap;
      width: 70%;
    }

    &-iframe {
      @include depth-level(1);
      border: 1px solid $silver;
      display: inline-block;
      height: 90%;
      width: 70%;
    }

    &-full {
      @include border-radius(10px);
      @include depth-level(1);
      border: 1px solid $silver;
      height: 90%;
      background: url(http://i.imgur.com/KvTSexI.png);
      width: 100%;
    }
  }

  &-iframe {
    &-vp {
      border: 2px solid $silver;
      height: 99%;
      width: 99%;
      margin: 5px;
    }
  }

  &-label {
    font-variant: small-caps;
    margin: 0 auto;
    text-align: center;

    &-left {
      @extend .map-label;
      display: inline-block;
      width: 49%;
    }

    &-right {
      @extend .map-label-left;
      @extend %clearfix;
      float: right;
    }

    &-vp {
      @extend .map-label;
      @extend %clearfix;
      float: left;
      width: 70%;
    }
  }
}

.bar-vo-data,
.bar-vp-data {
  height: conv-to-rem(155px);
}

.bar-vo-title {
  font: {
    size: 1.25em;
    weight: 700;
  }
}

.rad {
  &-vo {
    &-data {
      @extend .bar-vo-data;
    }
  }
}

.row {
  &-vo {

    &:nth-child(2) {
      height: 8px;
    }
  }
}

.cell {
  &-vo {

    &-hr {
      border-top-color: $silver;
      margin: 0 auto;
      padding: 0;
      width: 55%;
    }
  }
}

//=========================== Data Visualizations ============================\\

.rad-wrap {
  @include size(85px); // This is the size of the radial
  margin: 0 auto;
  padding: 0;
  position: relative;
}

.rad-wrap-lg {
  @include size(120px);
  margin: 0 auto;
  padding: 0;
  position: relative;
}

.bar-wrap {
  height: 115px; // This is the width of the bar due to rotation
  max-height: 115px;
  margin: 0 auto;
  padding: 0;
  position: relative;
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0, M12=1, M21=-1, M22=0, sizingMethod='auto expand')";
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=0, M12=1, M21=-1, M22=0,sizingMethod='auto expand');
  -moz-transform: matrix(0, -1, 1, 0, 0, 0);
  -webkit-transform: matrix(0, -1, 1, 0, 0, 0);
  transform: rotate(-90deg);
  width: 95px; // This is the height of the bar due to rotation
  max-width: 82.6%; // This is the max-height of the bar. 95/115 = 82.6%
}

.h-bar-wrap {
  height: 25px; // This is the height of the horizontal bar graph
  max-height: 24%;
  max-width: 100%;
  padding: 0;
  width: 100px; // This is the width of the horizontal bar graph
}

.h-bar-mc-wrap {
  cursor: default;
  height: 20px; // This is the height of the horizontal, multicolored bar graphs
  margin: 0;
  max-height: 50%;
  padding: 0;
  width: 120px; // This is the width of the horizontal, multicolored bar graphs
}

.chart-container {
  @include flex-center;
  @include size(100%);
  margin: 0;
  padding: 0;

  @include ie-only {
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}

.h-bar-container,
.h-bar-mc-container {
  @include size(100%);
  padding: 0;
  -webkit-transition: margin-left 80ms ease-in-out 20ms;
  transition: margin-left 80ms ease-in-out 20ms;
}

.h-bar-container {
  margin: 10px 0 5px 26.5%;
}

// Spacer classes to imitate the spacing of the visualizations
.h-bar-fill-outer {
  @include size(100%);
  margin: 10px auto 5px;
  padding: 0;
}

.h-bar-fill-inner {
  height: 25px;
  line-height: 25px;
  padding: 0;
  margin: 0 auto;
  width: 85px;
}
