@import 'vendor/sizzle/sizzle';
@import 'helpers/variables';
@import 'helpers/placeholders';
@import 'helpers/mixins';

//================================ All Tiles =================================\\

.tile {
  @include depth-level(4);
  background: padding-box $white;
  border-radius: 15px;
  border: 1px solid $silver;
  height: 800px;
  margin: 30px auto;
  padding: get-val($gutters, sm) get-val($gutters, xlg);
  scrollbar-face-color: $darkRed;
  scrollbar-track-color: tint($red, 10%);
  -webkit-transition: width 85ms;
          transition: width 85ms;
  width: 85vw;

  @include min-width(3440px) { width: 60vw; }

  &::-webkit-scrollbar {
    height: 8px;
    width: 8px;

    &-track {
      background: rgba($red, .5);
      border-radius: 5px;
      box-shadow: inset 0 0 5px tint($lightPurple, 10%);
    }

    &-thumb {
      background: rgba($darkRed, .5);
      border-radius: 5px;

      &:hover { background: darken(rgba($darkRed, .8), 5%); }

      &:active {
        background: darken(rgba($darkRed, .9), 10%);
        box-shadow: inset 0 0 5px tint($lightRed, 10%);
      }
    }
  }

  &-header {
    color: $darkRed;
    font-family: $latoFamily;
    margin-bottom: 15px;
    text-transform: uppercase;

    @include min-width(3440px) {
      text-align: center;
    }


    &-title {
      font-size: 2.5em;
      margin: 0;
      padding: 0;
      text-shadow: 6px 6px 18px rgba(0, 0, 0, .35);
    }
  }

  &-content {
    @extend %clearfix;
    height: 99%;
    margin: 0 auto;
  }

  &-sub-wrap {
    border: 0;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
  }
}

.cell-empty {
  color: transparent;
}

// Labels for dropdown selections
.bench-name,
.comp-name {
  width: 120px;
  margin: 0 auto;
  word-wrap: normal;
}

// Hidable competitor column
.comp-col {
  -webkit-transition: width .5s;
  transition: width .5s;
}

.rowhead {
  font-weight: 700;
}

// Indented row headers
.indent {
  color: lighten($offBlack, 10%);
  padding-left: 22px;
}

//============================= Top Ten ZIP Codes ============================\\

.ttzc-tile {
  height: auto;
  padding-bottom: 25px;

  @include max-width(1279px) {
    overflow-x: auto;
  }
}

.ttzc-table {
  border: 2px solid $silver;
  cursor: default;
  margin: 0 auto;
  max-width: 2000px;
  min-width: 851px;
  width: 100%;

  &-wrap {
    margin: 0 auto;
    text-align: center;
    width: 100%;
  }
}

.ttzc-thead {
  background-color: $darkRed;
  border-bottom: 2px solid $silver;
  color: $white;
}

.ttzc-cell {
  color: $offBlack;
  padding: 10px;
  text-align: center;
  width: 120px;

  &:first-child {
    @extend %first-column;
  }

  &:hover {
    font-weight: 700;
  }
}

.ttzc-tbody {

  .ttzc-row {

    &:nth-child(even) {
      background-color: $offWhite;
    }

    &:not(:last-child) {
      border-bottom: 1px solid $silver;
    }
  }

  .ttzc-row:hover {
    background-color: $red;

    .ttzc-cell {
      color: $white;
    }
  }
}

.ttzc-tfoot {
  background-color: $brown;
  font-weight: 700;

  &:hover {
    background-color: $darkRed;

    .ttzc-cell {
      color: $white;

      &:not(.ttzc-avgs):hover {
        color: $almond;
      }
    }
  }
}

.ttzc-header {
  @extend %header-columns;
  cursor: pointer;

  &:first-child {
    @extend %first-column;
  }
}

.ttzc-rank {
  @include fixed-length(50px, w);
}

.ttzc-popgrow {
  padding-right: 14px;
  text-align: right;
}

.ttzc-avgs {
  letter-spacing: 1px;
  font: {
    size: 1.05em;
    variant: small-caps;
  }
}
