@import 'vendor/sizzle/sizzle';
@import 'helpers/variables';
@import 'helpers/placeholders';
@import 'helpers/mixins';

//============================== Map Containers ==============================\\

.map {
  &-wrap {
    @include depth-level(1);
    border: 1px solid $silver;
    display: inline-block;
    height: 90%;
    -webkit-transition: width .8s ease-out;
    transition: width .8s ease-out;
    width: 49%; // 70% with no comp;
    @include max-width(1165px) { width: 47% }

    &-right {
      @include depth-level(1);
      border: 1px solid $silver;
      display: block;
      float: right;
      height: 90%;
      margin-left: get-val($gutters, xlg);
      width: 49%;
      @include max-width(1165px) { width: 47% }
    }

    &-left {
      @extend %map-wrap;
      float: left;
      width: 70%;
    }

    &-full {
      @include depth-level(1);
      border: 1px solid $silver;
      height: 90%;
      width: 100%;
    }
  }

  &-iframe {
    border: 2px solid $silver;
    height: 97.6%;
    margin: .7%;
    width: 98.2%;

    &-full {
      border: 2px solid $silver;
      height: 95.75%;
      margin: .75% .7%;
      width: 98.2%;
    }
  }

  &-label {
    font-variant: small-caps;
    margin: 0 auto;
    text-align: center;

    &-left {
      @extend .map-label;
      display: inline-block;
      width: 49%;
    }

    &-right {
      @extend .map-label-left;
      @extend %clearfix;
      float: right;
    }

    &-vp {
      @extend .map-label;
      @extend %clearfix;
      float: left;
      width: 70%;
    }
  }
}
