@import 'vendor/sizzle/sizzle';
@import 'helpers/variables';
@import 'helpers/placeholders';
@import 'helpers/mixins';

//================================ All Tiles =================================\\

.tile {
  @include depth-level(4);
  background: padding-box $white;
  border-radius: 15px;
  border: 1px solid $silver;
  height: 800px;
  margin: 1.5rem auto;
  padding: get-val($gutters, sm) get-val($gutters, xlg);
  scrollbar-face-color: $darkRed;
  scrollbar-track-color: $red;
  -webkit-transition: width 85ms;
          transition: width 85ms;
  width: 85vw;

  @include min-width(3440px) { width: 60vw; }

  &::-webkit-scrollbar {
    height: 8px;
    width: 8px;

    &-track {
      background: rgba($red, .5);
      border-radius: 5px;
      box-shadow: inset 0 0 5px lighten($lightPurple, 10%);
    }

    &-thumb {
      background: rgba($darkRed, .5);
      border-radius: 5px;

      &:hover { background: darken(rgba($darkRed, .8), 5%); }

      &:active {
        background: darken(rgba($darkRed, .9), 10%);
        box-shadow: inset 0 0 5px tint($lightRed, 10%);
      }
    }
  }

  &-header {
    color: $darkRed;
    font-family: $latoFamily;
    margin-bottom: 15px;
    text-transform: uppercase;

    @include min-width(3440px) {
      text-align: center;
    }


    &-title {
      font-size: 2.5em;
      margin: 0;
      padding: 0;
      text-shadow: 6px 6px 18px rgba(0, 0, 0, .35);
    }
  }

  &-content {
    @extend %clearfix;
    height: 99%;
    margin: 0 auto;
  }

  &-sub-wrap {
    border: 0;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
  }
}

.cell-empty {
  color: transparent;
}

// Labels for dropdown selections
.bench-name,
.comp-name {
  width: 120px;
  margin: 0 auto;
  word-wrap: normal;
}

// Hidable competitor column
.comp-col {
  -webkit-transition: width .4s;
  transition: width .4s;
}

.rowhead {
  font-weight: 700;
}

// Indented row headers
.indent {
  color: lighten($offBlack, 10%);
  padding-left: 22px;
}

//======================== Visitor Origin/Penetration ========================\\

.vo-tile-top {
  margin-bottom: 3.5rem;

  @include max-width(1165px) { overflow-x: auto }
}

.table {
  border: 0;
  -webkit-border-vertical-spacing: 0;
  -webkit-border-horizontal-spacing: 0;

  &-vo {
    @extend .table;
    text-align: center;
    width: 100%;

    &-wrap {
      @extend %clearfix;
      float: right;
      margin: 0 auto;
      overflow: visible;
      padding: 0;
      vertical-align: top;
      width: 29.5%;
      -webkit-transition: transform .25s;
      transition: transform .25s;

      @include min-to-max-width(903px, 1165px) {
        @include transform(scale(.75));
        left: -15px;
        margin-top: -30px;
        position: relative;
      }

      @include min-to-max-width(721px, 902px) {
        @include transform(scale(.66));
        left: -20px;
        margin-top: -35px;
        position: relative;
      }

      @include max-width(720px) {
        @include transform(scale(.53));
        left: -25px;
        margin-top: -40px;
        position: relative;
      }

      @include max-width(650px) {
        @include transform(scale(.5));
        left: -27px;
        margin-top: -56px;
        position: relative;
        @at-root {
          .tile {
            overflow-x: auto;
          }
        }
      }
    }

    &-top-text {
      font: {
        size: 1.25rem;
        weight: 700;
      }
      margin: -3px 0 0;
      min-height: conv-to-rem(80px);
      text-align: justify;
      padding-left: 10px;
      vertical-align: top;
      width: 100%;
    }
  }
}

.chart-heading {
  font-size: 1.5em; // When default is 16px
  font-weight: 700;
  padding: 10px 5px;
}

.chart-label {
  display: inline-block;
  width: 115px;
}

//============================== Map Containers ==============================\\

.map {
  &-wrap {
    @include depth-level(1);
    border: 1px solid $silver;
    display: inline-block;
    height: 90%;
    -webkit-transition: width .8s ease-out;
    transition: width .8s ease-out;
    width: 49%; // 70% with no comp;
    @include max-width(1165px) { width: 47% }

    &-right {
      @include depth-level(1);
      border: 1px solid $silver;
      display: block;
      float: right;
      height: 90%;
      margin-left: get-val($gutters, xlg);
      width: 49%;
      @include max-width(1165px) { width: 47% }
    }

    &-left {
      @extend %map-wrap;
      width: 70%;
    }

    &-full {
      @include depth-level(1);
      border: 1px solid $silver;
      height: 90%;
      width: 100%;
    }
  }

  &-iframe {
    border: 2px solid $silver;
    height: 97.6%;
    margin: .7%;
    width: 98.2%;

    &-full {
      border: 2px solid $silver;
      height: 95.75%;
      margin: .75% .7%;
      width: 98.2%;
    }
  }

  &-label {
    font-variant: small-caps;
    margin: 0 auto;
    text-align: center;

    &-left {
      @extend .map-label;
      display: inline-block;
      width: 49%;
    }

    &-right {
      @extend .map-label-left;
      @extend %clearfix;
      float: right;
    }

    &-vp {
      @extend .map-label;
      @extend %clearfix;
      float: left;
      width: 70%;
    }
  }
}

.bar-vo-data,
.bar-vp-data {
  height: conv-to-rem(155px);
}

.bar-vo-title {
  font: {
    size: 1.25em;
    weight: 700;
  }
}

.rad {
  &-vo {
    &-data {
      @extend .bar-vo-data;
    }
  }
}

.row {
  &-vo {

    &:nth-child(2) {
      height: 8px;
    }
  }
}

.cell {
  &-vo {

    &-hr {
      border-top-color: $silver;
      margin: 0 auto;
      padding: 0;
      width: 55%;
    }
  }
}

//=========================== Data Visualizations ============================\\

.rad-wrap-lg {
  @include size(120px);
  margin: 0 auto;
  padding: 0;
  position: relative;
}

.bar-wrap {
  height: 115px; // This is the width of the bar due to rotation
  max-height: 115px;
  margin: 0 auto;
  padding: 0;
  position: relative;
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0, M12=1, M21=-1, M22=0, sizingMethod='auto expand')";
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=0, M12=1, M21=-1, M22=0,sizingMethod='auto expand');
  -moz-transform: matrix(0, -1, 1, 0, 0, 0);
  -webkit-transform: matrix(0, -1, 1, 0, 0, 0);
  transform: rotate(-90deg);
  width: 95px; // This is the height of the bar due to rotation
  max-width: 82.6%; // This is the max-height of the bar. 95/115 = 82.6%
}

.chart-container {
  @include flex-center;
  @include flex-direction(row);
  @include flex-wrap;
  @include size(100%);
  margin: 0;
  padding: 0;
}
