@import 'vendor/sizzle/sizzle';
@import 'helpers/variables';
@import 'helpers/placeholders';
@import 'helpers/mixins';


.tile-header {
  color: $darkBlue;
  font-family: $latoFamily;
  margin-bottom: 15px;
  text-transform: uppercase;
}

@media only screen and (min-width: 3440px) {
  .tile-header {
    text-align: center;
  }
}

.tile-header-title {
  font-size: 2.5em;
  margin: 0;
  padding: 0;
  text-shadow: 6px 6px 18px rgba(0, 0, 0, .35);
}

.tile-content {
  height: 100%;
  margin: 0 auto;
}

.tile-sub-wrap {
  border: 0;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.cell-empty {
  color: transparent;
}

.bench-name,
.comp-name {
  width: 120px;
  margin: 0 auto;
  word-wrap: normal;
}

.table-vo {
  border: 0;
  text-align: center;
  width: 100%;
}

.table-vo-wrap {
  float: right;
  margin: 0 auto;
  overflow: visible;
  padding: 0;
  vertical-align: top;
  width: 29.5%;
  transition: transform .25s;
}

@media only screen and (max-width: 1165px) and (min-width: 903px) {
  .table-vo-wrap {
    transform: scale(.75);
    left: -15px;
    margin-top: -30px;
    position: relative;
  }
}

@media only screen and (max-width: 902px) and (min-width: 721px) {
  .table-vo-wrap {
    transform: scale(.66);
    left: -20px;
    margin-top: -35px;
    position: relative;
  }
}

@media only screen and (max-width: 720px) {
  .table-vo-wrap {
    transform: scale(.53);
    left: -25px;
    margin-top: -40px;
    position: relative;
  }
}

@media only screen and (max-width: 650px) {
  .table-vo-wrap {
    -ms-transform: scale(.5);
    -webkit-transform: scale(.5);
    transform: scale(.5);
    left: -27px;
    margin-top: -56px;
    position: relative;
  }

  .tile {
    overflow-x: auto;
  }
}

.table-vo-top-text {
  font-size: 1.125rem;
  font-weight: 700;
  margin: -3px 0 0;
  min-height: 4.875rem;
  text-align: justify;
  padding-left: 10px;
  vertical-align: top;
  width: 100%;
}

.chart-heading {
  font-size: 1.5em;
  font-weight: 700;
  padding: 13px 5px 10px;
}

.chart-label {
  display: inline-block;
  width: 115px;
}


.map {
  &-wrap-left {
    @include depth-level(1);

    border: 1px solid $silver;
    display: inline-block;
    float: left;
    height: 720px;
    max-height: 95%;
    width: 70%;
  }

  &-iframe-full {
    border: 2px solid $silver;
    height: 95.75%;
    margin: .75% .7%;
    width: 98.2%;
  }

  &-label {
    font-variant: small-caps;
    margin: 0 auto;
    text-align: center;

    &-vp {
      @extend .map-label;
      @extend %clearfix;

      float: left;
      width: 70%;
    }
  }
}
